<%- include('../cabecalhokaban'); %>

<div id="mobile" class="container">

<form action="/savekabanmorumbi" style="padding-left: 1%; padding-right: 1%;" method="post">
                <h2>Adicionar novo paciente Morumbi</h2> 
                <% if(id.length > 0) { %>
                    <% for(var i = 0; i < id.length; i++) {%>
                    <input type="hidden" name="idusuario" value="<%=id[i].id_usuario %>">     
                    <p hidden id="idunidade">  <%=id[i].unidade %>  
                <div>
					<div class="form-group">
						<label for="susfacil">SusFacil</label>
                        <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                    </div>
					<div class="form-group">
						<label for="prontuario">Prontuario</label>
                        <input type="text" name="prontuario" class="form-control" placeholder="Prontuario" required >
                    </div>
                    <div class="form-group">
						<label for="paciente">Nome Paciente</label>
                        <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                    </div>
					<div class="form-group">
						<label for="dn">Data de Nascimento</label>
                        <input type="text" id="dn" data-mask="00/00/0000" data-mask-selectonfocus="true" name="dn" class="form-control" placeholder="Data de Nascimento" required >
                    </div>
					<div class="form-group">
						<label for="dn">Idade</label>
                        <input   type="text" id="idade" name="idade" class="form-control" placeholder="Idade" >
                    </div>
					<div class="form-group">
						<label for="da">Data de Admissão</label>
                        <input type="text" id="da" data-mask="00/00/0000" data-mask-selectonfocus="true" name="da" class="form-control" placeholder="Data de Admissão" required >
                    </div>
					<div class="form-group">
                        <input readonly="readonly"  type="hidden" id="qtdi" name="qtdi" class="form-control" placeholder="Quantidade de dias Internados" >
                    </div>
					<div class="form-group">
						<label for="medico">Medico</label>
                        <input type="text" id="medico" name="medico" class="form-control" placeholder="Nome do Médico Responsalvel pelo paciente">
					</div>
					<div class="form-group">
						<label for="ECF" id="ecf3">ECF</label>
						<select  onchange="verificaecf(this.value)"  class="form-control" id="ecf2" name="ecf2" required>
							<option value="" disabled selected hidden>ECF</option>
							<option value="0">Não aplicado</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
						<input type="hidden" id="ecf"  name="ecf" class="form-control" placeholder="ECF">
					</div>
					<div class="form-group">
						<label for="spcit" id="spict2">Spict</label>
                        <input type="text" id="spict" name="spcit" class="form-control" placeholder="Spict">
					</div>
					<div class="form-group">
						<label for="setor">Setor</label>
                        <select class="form-control" id="setor" name="setor" required>
                            <option value="" disabled selected hidden>Setor</option>
							<option value="Enfermaria">Enfermaria</option>
							<option value="Sala de Emergência">Sala de Emergência</option>
							<option value="Observação">Observação</option>
                        </select>
                        <input type="hidden" name="setor2" id="setor2">
					</div>
					<div class="form-group">
						<label for="dieta">Dieta</label>
						<select class="form-control" id="dieta" name="dieta" required>
							<option value="" disabled selected hidden>Dieta</option>
							<option value="BRANDA">BRANDA</option>
							<option value="BRANDA + HEP">BRANDA + HEP</option>
							<option value="BRANDA + LAX">BRANDA + LAX</option>
							<option value="BRANDA + NEF">BRANDA + NEF</option>
							<option value="BRANDA DM">BRANDA DM</option>
							<option value="IRC">IRC</option>
							<option value="DM">DM</option>
							<option value="DM + HEP + NEF">DM + HEP + NEF</option>
							<option value="DM + LAX">DM + LAX</option>
							<option value="DM + NEF">DM + NEF</option>
							<option value="HPS">HPS</option>
							<option value="HPS + DM">HPS + DM</option>
							<option value="HPS + HEP ">HPS + HEP </option>
							<option value="HPS  + LAX">HPS  + LAX</option>
							<option value="HIPOLIPIDICA">HIPOLIPIDICA</option>
							<option value="LÍQUIDA">LÍQUIDA</option>
							<option value="LIVRE">LIVRE</option>
							<option value="LIVRE + LAX">LIVRE + LAX</option>
							<option value="LIVRE POBRE K">LIVRE POBRE K</option>
							<option value="PASTOSA">PASTOSA</option>
							<option value="PASTOSA DM SEM RESÍDUOS">Pastosa DM sem resíduos</option>
							<option value="PASTOSA SEM RESÍDUOS">Pastosa sem resíduos</option>
							<option value="PASTOSA + OVO">PASTOSA + OVO</option>
							<option value="SNE 1.0">SNE 1.0</option>
							<option value="SNE 1.5">SNE 1.5</option>
							<option value="DIBEN 1.0">DIBEN 1.0</option>
							<option value="OBSTIPANTE">OBSTIPANTE</option>
							<option value="BRANDA HIPOLIPIDICA">BRANDA HIPOLIPIDICA</option>
							<option value="HIPOLIPIDICA/HPS">HIPOLIPIDICA/HPS</option>
							<option value="HIPOLIPIDICA/DM">HIPOLIPIDICA/DM</option>
							<option value="LIQUIDA SEM RESÍDUOS">LIQUIDA SEM RESÍDUOS</option>
							<option value="ZERO">ZERO</option>
						</select>
						<input type="hidden" id="dieta2"  name="dieta2" class="form-control" >
					</div>
					<div class="form-group">
						<label for="paliativos" id="paliativo2">Paliativos</label>
                        <select class="form-control" id="paliativos" name="paliativos" >
                            <option value="" disabled selected hidden>Paliativo</option>
							<option value="Sim">Sim</option>
							<option value="Não">Não</option>
                        </select>
                        <input type="hidden" name="paliativo" id="paliativo">
					</div>
					<div class="form-group">
						<label for="diagnostico">Diagnóstico</label>
                        <input type="text" name="diagnostico" class="form-control" placeholder="Diagnóstico" required>
                    </div>
					<div class="form-group">
						<label for="especialidade">Especialidade</label>
						<select class="form-control" id="especialidades" name="especialidades" required>
                            <option value="" disabled selected hidden>Especialidade</option>
							<option value="Clinica">Clinica</option>
							<option value="Traumatologia">Traumatologia</option>
							<option value="Pediatria">Pediatria</option>
							<option value="Psiquiatria">Psiquiatria</option>
							<option value="Cirurgico">Cirurgico</option>
                        </select> 
                        <input type="hidden" id="especialidade" name="especialidade" class="form-control" placeholder="Especialidade" >
                    </div>
					<div class="form-group">
						<label for="observacao">Observação</label>
                        <input type="text" name="observacao" class="form-control" placeholder="Observação"  required>
                    </div>
					<div class="form-group">
						<label for="banho">Banho</label>
						<select class="form-control" id="banhos" name="banhos">
                            <option value="" disabled selected hidden>Horario Banho</option>
							<option value="Manhã">Manha</option>
							<option value="Tarde">Tarde</option>
							<option value="Noite">Noite</option>
                        </select>
                        <input type="hidden" id="banho" name="banho" class="form-control" placeholder="Banho" >
                    </div>
					<div class="form-group">
						<label for="mobilidade">Mobilidade</label>
						<select class="form-control" id="mobilidades" name="mobilidades" required>
                            <option value="" disabled selected hidden>Mobilidade</option>
							<option value="Acamado">Acamado</option>
							<option value="Auxílio">Auxílio</option>
							<option value="Aspersão">Aspersão</option>
                        </select>
                        <input type="hidden" id="mobilidade" name="mobilidade" class="form-control" placeholder="Mobilidade" >
                    </div>
					<div class="form-group">
						<label for="round">Round</label>
						<select class="form-control" id="rounds" name="rounds" required>
                            <option value="" disabled selected hidden>Round</option>
							<option value="Sim">Sim</option>
							<option value="Não">Não</option>
                        </select>
                        <input type="hidden" id="round" name="round" class="form-control" placeholder="round" >
                    </div>
					<div class="form-group">
						<label for="round">Plano de Alta</label>
						<select class="form-control" id="altas" name="altas" required>
                            <option value="" disabled selected hidden>Plano de Alta</option>
							<option value="Sim">Sim</option>
							<option value="Não">Não</option>
                        </select>
                        <input type="hidden" id="alta" name="alta" class="form-control" placeholder="alta" >
                    </div>
					<div class="form-group">
						<label id="metas">Meta para o Dia</label>
						<input type="text" id="metas" name="metas" class="form-control" placeholder="Meta para o Dia" >
                    </div>
					<div class="form-group">
						<label for="round">Pendências</label>
						<select class="form-control" onchange="verificapendencia(this.value)" id="pendencia" name="pendencia" required>
							<option value="" disabled selected hidden>Pendências</option>
							<option value="Sim">Sim</option>
							<option value="Não">Não</option>
                        </select>
                        <input type="hidden" id="pendencias" name="pendencias" class="form-control" placeholder="pendencias" >
                    </div>
					<div class="form-group">
						<label id="labelexames">Aguarda Agendamento de Exame</label>
						<select class="form-control" onchange="verificaagendamentoexame(this.value)" id="agenexame" name="agenexame">
							<option value="" disabled selected hidden>Agendamento de Exame</option>
							<option value="Sim">Sim</option>
							<option value="Não">Não</option>
                        </select>
                        <input type="hidden" id="agenexames" name="agenexames" class="form-control" placeholder="agenexames" >
						<label id="labelexamess">Descrição Agendamento de Exame</label>
						<input type="text" id="descexame" name="descexame" class="form-control" placeholdeagenexamesr="descexame" >
                    </div>
					<div class="form-group">
						<label id="labellaudo">Aguarda Avaliação de Laudo</label>
						<select class="form-control" onchange="verificalaudoexame(this.value)" id="laudos" name="laudos">
							<option value="" disabled selected hidden>Avaliação de Laudo</option>
							<option value="Sim">Sim</option>
							<option value="Não">Não</option>
                        </select>
                        <input type="hidden" id="laudo" name="laudo" class="form-control" placeholder="laudo" >
						<label id="labellaudos">Descrição Avaliação de Laudo</label>
						<input type="text" id="desclaudo" name="desclaudo" class="form-control" placeholder="desclaudo" >
                    </div>
					<div class="form-group">
						<label id="labeloxigenio">Aguarda OxigenoTerapia</label>
						<select class="form-control" id="oxigenio" name="oxigenio">
							<option value="" disabled selected hidden>OxigenoTerapia</option>
							<option value="Sim">Sim</option>
							<option value="Não">Não</option>
                        </select>
                        <input type="hidden" id="oxigenios" name="oxigenios" class="form-control" placeholder="oxigenios" >
                    </div>
					<div class="form-group">
						<label id="labelcasa">Aguarda Melhor em Casa</label>
						<select class="form-control" id="casa" name="casa">
							<option value="" disabled selected hidden>Melhor em Casa</option>
							<option value="Sim">Sim</option>
							<option value="Não">Não</option>
                        </select>
                        <input type="hidden" id="casas" name="casas" class="form-control" placeholder="casas" >
                    </div>
					<div class="form-group">
						<label id="labelespecialista">Aguarda Avaliação Especialista</label>
						<select class="form-control" onchange="verificaespecialista(this.value)" id="avespecialista" name="avespecialista">
							<option value="" disabled selected hidden>Avaliação Especialista</option>
							<option value="Sim">Sim</option>
							<option value="Não">Não</option>
                        </select>
                        <input type="hidden" id="avespecialistas" name="avespecialistas" class="form-control" placeholder="avespecialistas" >
						<label id="labelespecialistas">Descrição Pendencia Avaliação Especialista</label>
						<input type="text" id="descespecialista" name="descespecialista" class="form-control" placeholder="descespecialista" >
                    </div>
					<div class="form-group">
						<label id="labelcoleta">Aguarda Coleta de Exame Laboratorial</label>
						<select class="form-control" id="coleta" name="coleta">
							<option value="" disabled selected hidden>Coleta de Exame Laboratorial</option>
							<option value="Sim">Sim</option>
							<option value="Não">Não</option>
                        </select>
                        <input type="hidden" id="coletas" name="coletas" class="form-control" placeholder="coletas" >
                    </div>
					<div class="form-group">
						<label id="labelresultado">Aguarda Resultado de Exame Laboratorial</label>
						<select class="form-control" id="resultadolab" name="resultadolab">
							<option value="" disabled selected hidden>Resultado de Exame Laboratorial</option>
							<option value="Sim">Sim</option>
							<option value="Não">Não</option>
                        </select>
                        <input type="hidden" id="resultadolabs" name="resultadolabs" class="form-control" placeholder="resultadolab" >
                    </div>
					<div class="form-group">
						<label id="labeltransferencia">Transferência Agendada</label>
						<select class="form-control" onchange="verificatransferencia(this.value)" id="transferencia" name="transferencia">
							<option value="" disabled selected hidden>Transferência Agendada</option>
							<option value="Sim">Sim</option>
							<option value="Não">Não</option>
                        </select>
                        <input type="hidden" id="transferencias" name="transferencias" class="form-control" placeholder="transferencias" >
						<label id="labeltransferencias">Descrição Transferência Agendada</label>
						<input type="text" id="desctransferencia" name="desctransferencia" class="form-control" placeholder="desctransferencia" >
                    </div>
					<div class="form-group">
						<label id="labelhemo">Aguarda Hemotransfusão</label>
						<select class="form-control" id="hemo" name="hemo">
							<option value="" disabled selected hidden>Hemotransfusão</option>
							<option value="Sim">Sim</option>
							<option value="Não">Não</option>
                        </select>
                        <input type="hidden" id="hemos" name="hemos" class="form-control" placeholder="hemos" >
                    </div>
					<div class="form-group">
						<label for="mental">Saude mental  </label>
                        <label class="switch">
							<input id="mental" type="checkbox">
							<span class="slider round"></span>
						  </label>
						  <input type="hidden" id="mental2" name="mental2" class="form-control" placeholder="mental2" >
                    </div>
					<div class="form-group">
						<label id="labelexame" for="exame">Unidade de Referência</label>
						<select  class="form-control" id="exame" name="exame">
							<option value="" disabled selected hidden>Unidade de Referência</option>
							<option value="Caps Oeste">Caps Oeste</option>
							<option value="Caps Leste">Caps Leste</option>
							<option value="Caps Norte">Caps Norte</option>
							<option value="Caps Infantil">Caps Infantil</option>
							<option value="Caps AD">Caps AD</option>
						</select>
					  </div>
					  <input type="hidden" id="referencia"  name="referencia" class="form-control">
					<div class="form-group">
						<label for="covid">Sindrome Respiratória Aguda Grave  </label>
                        <label class="switch">
							<input id="covid" type="checkbox">
							<span class="slider round"></span>
						  </label>
						  <input type="hidden" id="covid2" name="covid2" class="form-control" placeholder="covid2">
                    </div>
					<div class="form-group">
						<label id="dataexames" for="data">Data Exame</label>
						<input type="text" name="dataexame"  id="dataexame" class="form-control" placeholder="Data Exame">
					</div>
					<div class="form-group">
						<label id="exames" for="exame">Exame</label>
						<select  class="form-control" id="exame3" name="exame3">
							<option value="" disabled selected hidden>Exame</option>
							<option value="Aguardando">Aguardando</option>
							<option value="Positivo">Positivo</option>
							<option value="Negativo">Negativo</option>
						</select>
                      </div>
                      <input  type="hidden" name="exame4" id="exame4">
					  <div class="form-group">
						<label id="Suspeição" for="exame">Suspeição</label>
						<select  class="form-control" id="Suspeição1" name="exame3">
							<option value="" disabled selected hidden>Suspeição</option>
							<option value="Alta Suspeição">Alta Suspeição</option>
							<option value="Baixa Suspeição">Baixa Suspeição</option>
							<option value="">Remover Suspeição</option>
						</select>
                      </div>
                      <input  type="hidden" name="Suspeição2" id="Suspeição2">
                </div>
                <div>
                    <a href="kabanpacientemorumbi?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
                    <button type="submit" class="btn btn-success">Salvar</button>
					<br>
					<br>
					<br>
                </div>
                <% } %>	
                <% } %> 
</form>
</div>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
$(function(){
	$(window).on('resize load', function() {
  if ($(window).width() <= 768) { 
    $("#mobile").removeClass("container");
  }
  else {
    $("#mobile").addClass("container");
  }
});
});

$("#paliativos").on('change', function(e){
     var paliativo = $(this).val();
     document.getElementById('paliativo').value = paliativo;
});


$("#exame3").on('change', function(e){
	var exame = $(this).val();
	document.getElementById('exame4').value = exame;
});

$("#Suspeição1").on('change', function(e){
	var suspeicao = $(this).val();
	document.getElementById('Suspeição2').value = suspeicao;
});

$(document).ready(function(){
      $('#dataexame').mask('00/00/0000');
      });

$("#ecf2").on('change', function(e){
     var ecf = $(this).val();
     document.getElementById('ecf').value = ecf;
});

$("#dieta").on('change', function(e){
     var dieta = $(this).val();
     document.getElementById('dieta2').value = dieta;
});

$("#especialidades").on('change', function(e){
     var especialidade = $(this).val();
     document.getElementById('especialidade').value = especialidade;
});

$("#banhos").on('change', function(e){
     var banho = $(this).val();
     document.getElementById('banho').value = banho;
});

$("#setor").on('change', function(e){
     var setor = $(this).val();
     document.getElementById('setor2').value = setor;
});

$("#mobilidades").on('change', function(e){
     var mobilidade = $(this).val();
     document.getElementById('mobilidade').value = mobilidade;
});

$("#rounds").on('change', function(e){
     var rounds = $(this).val();
     document.getElementById('round').value = rounds;
});

$("#altas").on('change', function(e){
     var altas = $(this).val();
     document.getElementById('alta').value = altas;
});

$("#pendencia").on('change', function(e){
     var pendencia = $(this).val();
     document.getElementById('pendencias').value = pendencia;
});

$("#agenexame").on('change', function(e){
     var agenexame = $(this).val();
     document.getElementById('agenexames').value = agenexame;
});


$("#laudos").on('change', function(e){
     var laudos = $(this).val();
     document.getElementById('laudo').value = laudos;
});


$("#oxigenio").on('change', function(e){
     var oxigenio = $(this).val();
     document.getElementById('oxigenios').value = oxigenio;
});


$("#casa").on('change', function(e){
     var casa = $(this).val();
     document.getElementById('casas').value = casa;
});


$("#avespecialista").on('change', function(e){
     var avespecialista = $(this).val();
     document.getElementById('avespecialistas').value = avespecialista;
});


$("#coleta").on('change', function(e){
     var coleta = $(this).val();
     document.getElementById('coletas').value = coleta;
});


$("#resultadolab").on('change', function(e){
     var resultadolab = $(this).val();
     document.getElementById('resultadolabs').value = resultadolab;
});


$("#transferencia").on('change', function(e){
     var transferencia = $(this).val();
     document.getElementById('transferencias').value = transferencia;
});


$("#hemo").on('change', function(e){
     var hemo = $(this).val();
     document.getElementById('hemos').value = hemo;
});



$("#mental").on('change', function(e){
	if ($(this).is(':checked')) {
    	$(this).attr('value', 'true');
	}
	else {
		$(this).attr('value', 'false');
	}
	 mental = $(this).val();
	 document.getElementById('mental2').value = mental;

	 if(mental == 'true'){
		 document.getElementById("exame").style.display = 'inline';
		 document.getElementById("labelexame").style.display = 'inline';
		 
	 }
	 else{
		document.getElementById("exame").style.display = 'none';
		document.getElementById("labelexame").style.display = 'none';
	 }
    
});


$("#exame").on('change', function(e){
     var exame = $(this).val();
     document.getElementById('referencia').value = exame;
});

$("#covid").on('change', function(e){
	if ($(this).is(':checked')) {
    	$(this).attr('value', 'true');
	}
	else {
		$(this).attr('value', 'false');
	}
     var covid = $(this).val();
     document.getElementById('covid2').value = covid;
	 if(covid == 'true'){

		 document.getElementById("dataexames").style.display = 'inline';
		 document.getElementById("dataexame").style.display = 'inline';
		 document.getElementById("exame3").style.display = 'inline';
		 document.getElementById("exames").style.display = 'inline';
		 document.getElementById("Suspeição").style.display = 'inline';
		 document.getElementById("Suspeição1").style.display = 'inline';
		 
	 }
	 else{

		document.getElementById("dataexames").style.display = 'none';
		 document.getElementById("dataexame").style.display = 'none';
		 document.getElementById("exame3").style.display = 'none';
		 document.getElementById("exames").style.display = 'none';
		 document.getElementById("Suspeição").style.display = 'none';
		 document.getElementById("Suspeição1").style.display = 'none';
	 }
});

// function getAge(birth) {
//   const current = new Date()
//   let diff = current.getFullYear() - birth.getFullYear()
//   if (
//     new Date(current.getFullYear(), current.getMonth(), current.getDate()) <
//     new Date(current.getFullYear(), birth.getMonth(), birth.getDate())
//   )
//     diff--
//   return diff
// }
// const birthField = document.querySelector('#dn')
// const ageField = document.querySelector('#idade')
// birthField.addEventListener('change', (event) => {
//   const date = new Date(event.target.value)
//   ageField.value = getAge(date) + ' anos'
// })

// function difDias(dias){
// 	const current = new Date()
// 	var timeDiff = Math.abs(current.getTime() - (dias.getTime()));
// 	var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 

// 	 return diffDays
// }
//     const daField = document.querySelector('#da')
// 	const idadeField = document.querySelector('#qtdi')
// 	daField.addEventListener('change', (event) => {
//   	const dias = new Date(event.target.value)
// 	idadeField.value = difDias(dias) + ' dia'
// })

function verificaecf(value){
	var input = document.getElementById("spict");
	var label = document.getElementById("spict2");
	
  if(value == 6 || value == 7 || value == 8){
    input.style.display = "inline";
	label.style.display = "inline";
	document.getElementById('paliativos').style.display = 'inline'
	  document.getElementById('paliativo2').style.display = 'inline'
  }else{
    input.style.display = "none";
	label.style.display = "none";
	document.getElementById('paliativos').style.display = 'inline'
	  document.getElementById('paliativo2').style.display = 'inline'
	input.value= "Não aplicado"
  }
  if(value == 9 || value == 10){
	  var paliativo = 'Sim';
	  document.getElementById('paliativos').style.display = 'none'
	  document.getElementById('paliativo2').style.display = 'none'
	  input.value= "Não aplicado"
	  document.getElementById('paliativo').value = paliativo;
  }
};
function verificaidade(value){
		
	var input = document.getElementById("ecf2");
	var input2 = document.getElementById("ecf3");

  if(value < 60 ){
    input.style.display = "none";
	input2.style.display = "none";
	document.getElementById('ecf').value = 0;
  }else{
    input.style.display = "block";
	input2.style.display = "block";
  }
};

function verificapendencia(value){

var label1 = document.getElementById("labelexames");
var input1 = document.getElementById("agenexame");
var input3 = document.getElementById("laudos");
var label2 = document.getElementById("labellaudo");
var input5 = document.getElementById("oxigenio");
var label3 = document.getElementById("labeloxigenio");
var input6 = document.getElementById("casa");
var label4 = document.getElementById("labelcasa");
var input7 = document.getElementById("avespecialista");
var label5 = document.getElementById("labelespecialista");
var label6 = document.getElementById("labelcoleta");
var input9 = document.getElementById("coleta");
var label7 = document.getElementById("labelresultado");
var input10 = document.getElementById("resultadolab");
var label8 = document.getElementById("labeltransferencia");
var input11 = document.getElementById("transferencia");
var label9 = document.getElementById("labelhemo");
var input12 = document.getElementById("hemo");
var campo1 = document.getElementById("agenexames");
var campo2 = document.getElementById("descexame");
var campo3 = document.getElementById("laudo");
var campo4 = document.getElementById("desclaudo");
var campo5 = document.getElementById("oxigenios");
var campo6 = document.getElementById("casas");
var campo7 = document.getElementById("avespecialistas");
var campo8 = document.getElementById("descespecialista");
var campo9 = document.getElementById("coletas");
var campo10 = document.getElementById("resultadolabs");
var campo11 = document.getElementById("transferencias");
var campo12 = document.getElementById("desctransferencia");
var campo13 = document.getElementById("hemos");



if(value == "Sim" ){
input1.style.display = "inline";
input3.style.display = "inline";
input5.style.display = "inline";
input6.style.display = "inline";
input7.style.display = "inline";
input9.style.display = "inline";
input10.style.display = "inline";
input11.style.display = "inline";
input12.style.display = "inline";
label1.style.display = "inline";
label2.style.display = "inline";
label3.style.display = "inline";
label4.style.display = "inline";
label5.style.display = "inline";
label6.style.display = "inline";
label7.style.display = "inline";
label8.style.display = "inline";
label9.style.display = "inline";
campo1.value = "";
campo2.value = "";
campo3.value = "";
campo4.value = "";
campo5.value = "";
campo6.value = "";
campo7.value = "";
campo8.value = "";
campo9.value = "";
campo10.value = "";
campo11.value = "";
campo12.value = "";
campo13.value = "";
}else{
input1.style.display = "none";
input3.style.display = "none";
input5.style.display = "none";
input6.style.display = "none";
input7.style.display = "none";
input9.style.display = "none";
input10.style.display = "none";
input11.style.display = "none";
input12.style.display = "none";
label1.style.display = "none";
label2.style.display = "none";
label3.style.display = "none";
label4.style.display = "none";
label5.style.display = "none";
label6.style.display = "none";
label7.style.display = "none";
label8.style.display = "none";
label9.style.display = "none";
campo1.value = "Não";
campo2.value = "Não";
campo3.value = "Não";
campo4.value = "Não";
campo5.value = "Não";
campo6.value = "Não";
campo7.value = "Não";
campo8.value = "Não";
campo9.value = "Não";
campo10.value = "Não";
campo11.value = "Não";
campo12.value = "Não";
campo13.value = "Não";

}
};

function verificaagendamentoexame(value){
var input2 = document.getElementById("descexame");
var label2 = document.getElementById("labelexamess");
	if(value == "Sim" ){
		input2.style.display = "inline";
		label2.style.display = "inline";
		input2.value = ""
	}
	else{
		input2.style.display = "none";
		label2.style.display = "none";
		input2.value = "Não"
	}
}
function verificalaudoexame(value){
	var input4 = document.getElementById("desclaudo");
	var label4 = document.getElementById("labellaudos");
	if(value == "Sim" ){
		input4.style.display = "inline";
		label4.style.display = "inline";
		input4.value = ""
	}
	else{
		input4.style.display = "none";
		label4.style.display = "none";
		input4.value = "Não"
	}
}
function verificaespecialista(value){
	var input8 = document.getElementById("descespecialista");
	var label8 = document.getElementById("labelespecialistas");
	if(value == "Sim" ){
		input8.style.display = "inline";
		label8.style.display = "inline";
		input8.value = ""
	}
	else{
		input8.style.display = "none";
		label8.style.display = "none";
		input8.value = "Não"
	}
}
function verificatransferencia(value){
	var input13 = document.getElementById("desctransferencia");
	var label13 = document.getElementById("labeltransferencias");
	if(value == "Sim" ){
		input13.style.display = "inline";
		label13.style.display = "inline";
		input13.value = ""
	}
	else{
		input13.style.display = "none";
		label13.style.display = "none";
		input13.value = "Não"
	}
}
window.onload = function() {
		document.getElementById('exame').style.display = 'none';
		document.getElementById('labelexame').style.display = 'none';
		document.getElementById("dataexames").style.display = 'none';
		 document.getElementById("dataexame").style.display = 'none';
		 document.getElementById("exame3").style.display = 'none';
		 document.getElementById("exames").style.display = 'none';
		 document.getElementById("labelexames").style.display = 'none';
		 document.getElementById("labelexamess").style.display = 'none';
		 document.getElementById("agenexame").style.display = 'none';
		 document.getElementById("descexame").style.display = 'none';
		 document.getElementById("laudos").style.display = 'none';
		 document.getElementById("labellaudo").style.display = 'none';
		 document.getElementById("labellaudos").style.display = 'none';
		 document.getElementById("desclaudo").style.display = 'none';
		 document.getElementById("oxigenio").style.display = 'none';
		 document.getElementById("labeloxigenio").style.display = 'none';
		 document.getElementById("casa").style.display = 'none';
		 document.getElementById("labelcasa").style.display = 'none';
		 document.getElementById("avespecialista").style.display = 'none';
		 document.getElementById("labelespecialista").style.display = 'none';
		 document.getElementById("labelespecialistas").style.display = 'none';
		 document.getElementById("descespecialista").style.display = 'none';
		 document.getElementById("labelcoleta").style.display = 'none';
		 document.getElementById("coleta").style.display = 'none';
		 document.getElementById("labelresultado").style.display = 'none';
		 document.getElementById("resultadolab").style.display = 'none';
		 document.getElementById("labeltransferencia").style.display = 'none';
		 document.getElementById("labeltransferencias").style.display = 'none';
		 document.getElementById("transferencia").style.display = 'none';
		 document.getElementById("labelhemo").style.display = 'none';
		 document.getElementById("hemo").style.display = 'none';
		 document.getElementById("desctransferencia").style.display = 'none';

		 
		

		 selectmental = document.getElementById('mental');

	if ($(selectmental).is(':checked')) {
    	$(selectmental).attr('value', 'true');
	}
	else {
		$(selectmental).attr('value', 'false');
	}
	 mental = $(selectmental).val();
	 document.getElementById('mental2').value = mental;

	 if(mental == 'true'){
		 document.getElementById("exame").style.display = 'inline';
		 document.getElementById("labelexame").style.display = 'inline';
		 
	 }
	 else{
		document.getElementById("exame").style.display = 'none';
		document.getElementById("labelexame").style.display = 'none';
	 }
    


$("#exame").on('change', function(e){
     var exame = $(this).val();
     document.getElementById('referencia').value = exame;
});

selectcovid = document.getElementById('covid');
	if ($(selectcovid).is(':checked')) {
    	$(selectcovid).attr('value', 'true');
	}
	else {
		$(selectcovid).attr('value', 'false');
	}
     var covid = $(selectcovid).val();
     document.getElementById('covid2').value = covid;
	 if(covid == 'true'){

		 document.getElementById("dataexames").style.display = 'inline';
		 document.getElementById("dataexame").style.display = 'inline';
		 document.getElementById("exame3").style.display = 'inline';
		 document.getElementById("exames").style.display = 'inline';
		 document.getElementById("Suspeição").style.display = 'inline';
		 document.getElementById("Suspeição1").style.display = 'inline';
		 
	 }
	 else{

		document.getElementById("dataexames").style.display = 'none';
		 document.getElementById("dataexame").style.display = 'none';
		 document.getElementById("exame3").style.display = 'none';
		 document.getElementById("exames").style.display = 'none';
		 document.getElementById("Suspeição").style.display = 'none';
		 document.getElementById("Suspeição1").style.display = 'none';
	 }

	};
</script>
<%- include('../../home/footer'); %>
</body>
</html>