<%- include('../cabecalhokaban'); %>

<div id="mobile" class="container">

<form action="/savekabanpampulha" style="padding-left: 1%; padding-right: 1%;" method="post">
                <h2>Adicionar novo paciente Pampulha</h2> 
                <% if(id.length > 0) { %>
                    <% for(var i = 0; i < id.length; i++) {%>
                    <input type="hidden" name="idusuario" value="<%=id[i].id_usuario %>">     
                    <p hidden id="idunidade">  <%=id[i].unidade %>  
                <div>
					<div class="form-group">
						<label for="susfacil">SusFacil</label>
                        <input type="text" name="susfacil" class="form-control" placeholder="SusFacil"  required>
                    </div>
					<div class="form-group">
						<label for="prontuario">Prontuario</label>
                        <input type="text" name="prontuario" class="form-control" placeholder="Prontuario" required >
                    </div>
                    <div class="form-group">
						<label for="paciente">Nome Paciente</label>
                        <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente"  required>
                    </div>
					<div class="form-group">
						<label for="dn">Data de Nascimento</label>
                        <input type="text" id="dn" data-mask="00/00/0000" data-mask-selectonfocus="true" name="dn" class="form-control" placeholder="Data de Nascimento" required >
                    </div>
					<div class="form-group">
						<label for="dn">Idade</label>
                        <input   type="text" id="idade" name="idade" class="form-control" placeholder="Idade" >
                    </div>
					<div class="form-group">
						<label for="da">Data de Admissão</label>
                        <input type="text" id="da" data-mask="00/00/0000" data-mask-selectonfocus="true" name="da" class="form-control" placeholder="Data de Admissão" required >
                    </div>
					<div class="form-group">
                        <input readonly="readonly"  type="hidden" id="qtdi" name="qtdi" class="form-control" placeholder="Quantidade de dias Internados" >
                    </div>
					<div class="form-group">
						<label for="ECF" id="ecf3">ECF</label>
						<select  onchange="verificaecf(this.value)"  class="form-control" id="ecf2" name="ecf2" required>
							<option value="" disabled selected hidden>ECF</option>
							<option value="0">Não aplicado</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
						<input type="hidden" id="ecf"  name="ecf" class="form-control" placeholder="ECF">
					</div>
					<div class="form-group">
						<label for="spcit" id="spict2">Spict</label>
                        <input type="text" id="spict" name="spcit" class="form-control" placeholder="Spict">
					</div>
					<div class="form-group">
						<label for="setor">Setor</label>
                        <select class="form-control" id="setor" name="setor" required>
                            <option value="" disabled selected hidden>Setor</option>
							<option value="Enfermaria">Enfermaria</option>
							<option value="Sala de Emergência">Sala de Emergência</option>
							<option value="Observação">Observação</option>
                        </select>
                        <input type="hidden" name="setor2" id="setor2">
					</div>
					<div class="form-group">
						<label for="dieta">Dieta</label>
						<select class="form-control" id="dieta" name="dieta" required>
							<option value="" disabled selected hidden>Dieta</option>
							<option value="BRANDA">BRANDA</option>
							<option value="BRANDA + HEP">BRANDA + HEP</option>
							<option value="BRANDA + LAX">BRANDA + LAX</option>
							<option value="BRANDA + NEF">BRANDA + NEF</option>
							<option value="BRANDA DM">BRANDA DM</option>
							<option value="IRC">IRC</option>
							<option value="DM">DM</option>
							<option value="DM + HEP + NEF">DM + HEP + NEF</option>
							<option value="DM + LAX">DM + LAX</option>
							<option value="DM + NEF">DM + NEF</option>
							<option value="HPS">HPS</option>
							<option value="HPS + DM">HPS + DM</option>
							<option value="HPS + HEP ">HPS + HEP </option>
							<option value="HPS  + LAX">HPS  + LAX</option>
							<option value="HIPOLIPIDICA">HIPOLIPIDICA</option>
							<option value="LÍQUIDA">LÍQUIDA</option>
							<option value="LIVRE">LIVRE</option>
							<option value="LIVRE + LAX">LIVRE + LAX</option>
							<option value="LIVRE POBRE K">LIVRE POBRE K</option>
							<option value="PASTOSA">PASTOSA</option>
							<option value="PASTOSA + OVO">PASTOSA + OVO</option>
							<option value="SNE 1.0">SNE 1.0</option>
							<option value="SNE 1.5">SNE 1.5</option>
							<option value="DIBEN 1.0">DIBEN 1.0</option>
							<option value="OBSTIPANTE">OBSTIPANTE</option>
							<option value="ZERO">ZERO</option>
						</select>
						<input type="hidden" id="dieta2"  name="dieta2" class="form-control" >
					</div>
					<div class="form-group">
						<label for="paliativos" id="paliativo2">Paliativos</label>
                        <select class="form-control" id="paliativos" name="paliativos">
                            <option value="" disabled selected hidden>Paliativo</option>
							<option value="Sim">Sim</option>
							<option value="Não">Não</option>
                        </select>
                        <input type="hidden" name="paliativo" id="paliativo">
					</div>
					<div class="form-group">
						<label for="diagnostico">Diagnóstico</label>
                        <input type="text" name="diagnostico" class="form-control" placeholder="Diagnóstico" required>
                    </div>
					<div class="form-group">
						<label for="especialidade">Especialidade</label>
						<select class="form-control" id="especialidades" name="especialidades" required>
                            <option value="" disabled selected hidden>Especialidade</option>
							<option value="Clinica">Clinica</option>
							<option value="Traumatologia">Traumatologia</option>
							<option value="Pediatria">Pediatria</option>
							<option value="Psquiatria">Psquiatria</option>
							<option value="Cirurgico">Cirurgico</option>
                        </select> 
                        <input type="hidden" id="especialidade" name="especialidade" class="form-control" placeholder="Especialidade" >
                    </div>
					<div class="form-group">
						<label for="observacao">Observação</label>
                        <input type="text" name="observacao" class="form-control" placeholder="Observação"  required>
                    </div>
					<div class="form-group">
						<label for="banho">Banho</label>
						<select class="form-control" id="banhos" name="banhos">
                            <option value="" disabled selected hidden>Horario Banho</option>
							<option value="Manhã">Manha</option>
							<option value="Tarde">Tarde</option>
							<option value="Noite">Noite</option>
                        </select>
                        <input type="hidden" id="banho" name="banho" class="form-control" placeholder="Banho" >
                    </div>
					<div class="form-group">
						<label for="mobilidade">Mobilidade</label>
						<select class="form-control" id="mobilidades" name="mobilidades" required>
                            <option value="" disabled selected hidden>Mobilidade</option>
							<option value="Acamando">Acamando</option>
							<option value="Auxílio">Auxílio</option>
							<option value="Aspersão">Aspersão</option>
                        </select>
                        <input type="hidden" id="mobilidade" name="mobilidade" class="form-control" placeholder="Mobilidade" >
                    </div>
					<div class="form-group">
						<label for="pendencias">Pendencias</label>
                        <input type="text" name="pendencias" class="form-control" placeholder="Pendencias"required >
                    </div>
					<div class="form-group">
						<label for="mental">Saude mental  </label>
                        <label class="switch">
							<input id="mental" type="checkbox">
							<span class="slider round"></span>
						  </label>
						  <input type="hidden" id="mental2" name="mental2" class="form-control" placeholder="mental2" >
                    </div>
					<div class="form-group">
						<label id="labelexame" for="exame">Unidade de Referência</label>
						<select  class="form-control" id="exame" name="exame">
							<option value="" disabled selected hidden>Unidade de Referência</option>
							<option value="Caps Oeste">Caps Oeste</option>
							<option value="Caps Leste">Caps Leste</option>
							<option value="Caps Norte">Caps Norte</option>
							<option value="Caps Infantil">Caps Infantil</option>
							<option value="Caps AD">Caps AD</option>
						</select>
					  </div>
					  <input type="hidden" id="referencia"  name="referencia" class="form-control">
					<div class="form-group">
						<label for="covid">Sindrome Respiratória Aguda Grave  </label>
                        <label class="switch">
							<input id="covid" type="checkbox">
							<span class="slider round"></span>
						  </label>
						  <input type="hidden" id="covid2" name="covid2" class="form-control" placeholder="covid2">
                    </div>
					<div class="form-group">
						<label id="glasgowlabel">Glasgow  </label>
						<input type="text" id="glasgow"  name="glasgow" class="form-control">
						<label id="biclabel">Quantidades de Bics  </label>
						<input type="text" id="bic"  name="bic" class="form-control">
					</div>
					<div class="form-group">
						<label id="dataexames" for="data">Data Exame</label>
						<input type="text" name="dataexame"  id="dataexame" class="form-control" placeholder="Data Exame">
					</div>
					<div class="form-group">
						<label id="exames" for="exame">Exame</label>
						<select  class="form-control" id="exame3" name="exame3">
							<option value="" disabled selected hidden>Exame</option>
							<option value="Aguardando">Aguardando</option>
							<option value="Positivo">Positivo</option>
							<option value="Negativo">Negativo</option>
						</select>
                      </div>
                      <input  type="hidden" name="exame4" id="exame4">
                </div>
                <div>
                    <a href="kabanpacientepampulha?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
                    <button type="submit" class="btn btn-success">Salvar</button>
					<br>
					<br>
					<br>
                </div>
                <% } %>	
                <% } %> 
</form>
</div>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
$(function(){
	$(window).on('resize load', function() {
  if ($(window).width() <= 768) { 
    $("#mobile").removeClass("container");
  }
  else {
    $("#mobile").addClass("container");
  }
});
});

$("#paliativos").on('change', function(e){
     var paliativo = $(this).val();
     document.getElementById('paliativo').value = paliativo;
});

$("#dieta").on('change', function(e){
     var dieta = $(this).val();
     document.getElementById('dieta2').value = dieta;
});

$("#exame3").on('change', function(e){
	var exame = $(this).val();
	document.getElementById('exame4').value = exame;
});

$(document).ready(function(){
      $('#dataexame').mask('00/00/0000');
      });

$("#ecf2").on('change', function(e){
     var ecf = $(this).val();
     document.getElementById('ecf').value = ecf;
});

$("#especialidades").on('change', function(e){
     var especialidade = $(this).val();
     document.getElementById('especialidade').value = especialidade;
});

$("#banhos").on('change', function(e){
     var banho = $(this).val();
     document.getElementById('banho').value = banho;
});

$("#setor").on('change', function(e){
     var setor = $(this).val();
     document.getElementById('setor2').value = setor;
});

$("#mobilidades").on('change', function(e){
     var mobilidade = $(this).val();
     document.getElementById('mobilidade').value = mobilidade;
});

$("#mental").on('change', function(e){
	if ($(this).is(':checked')) {
    	$(this).attr('value', 'true');
	}
	else {
		$(this).attr('value', 'false');
	}
	 mental = $(this).val();
	 document.getElementById('mental2').value = mental;

	 if(mental == 'true'){
		 document.getElementById("exame").style.display = 'inline';
		 document.getElementById("labelexame").style.display = 'inline';
		 
	 }
	 else{
		document.getElementById("exame").style.display = 'none';
		document.getElementById("labelexame").style.display = 'none';
	 }
    
});

$("#exame").on('change', function(e){
     var exame = $(this).val();
     document.getElementById('referencia').value = exame;
});

$("#covid").on('change', function(e){
	if ($(this).is(':checked')) {
    	$(this).attr('value', 'true');
	}
	else {
		$(this).attr('value', 'false');
	}
     var covid = $(this).val();
     document.getElementById('covid2').value = covid;
	 if(covid == 'true'){
		 document.getElementById("glasgow").style.display = 'inline';
		 document.getElementById("bic").style.display = 'inline';
		 document.getElementById("glasgowlabel").style.display = 'inline';
		 document.getElementById("biclabel").style.display = 'inline';
		 document.getElementById("dataexames").style.display = 'inline';
		 document.getElementById("dataexame").style.display = 'inline';
		 document.getElementById("exame3").style.display = 'inline';
		 document.getElementById("exames").style.display = 'inline';
		 
	 }
	 else{
		document.getElementById("glasgow").style.display = 'none';
		document.getElementById("bic").style.display = 'none';
		document.getElementById("glasgowlabel").style.display = 'none';
		document.getElementById("biclabel").style.display = 'none';
		document.getElementById("dataexames").style.display = 'none';
		 document.getElementById("dataexame").style.display = 'none';
		 document.getElementById("exame3").style.display = 'none';
		 document.getElementById("exames").style.display = 'none';
	 }
});

// function getAge(birth) {
//   const current = new Date()
//   let diff = current.getFullYear() - birth.getFullYear()
//   if (
//     new Date(current.getFullYear(), current.getMonth(), current.getDate()) <
//     new Date(current.getFullYear(), birth.getMonth(), birth.getDate())
//   )
//     diff--
//   return diff
// }
// const birthField = document.querySelector('#dn')
// const ageField = document.querySelector('#idade')
// birthField.addEventListener('change', (event) => {
//   const date = new Date(event.target.value)
//   ageField.value = getAge(date) + ' anos'
// })

// function difDias(dias){
// 	const current = new Date()
// 	var timeDiff = Math.abs(current.getTime() - (dias.getTime()));
// 	var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 

// 	 return diffDays
// }
//     const daField = document.querySelector('#da')
// 	const idadeField = document.querySelector('#qtdi')
// 	daField.addEventListener('change', (event) => {
//   	const dias = new Date(event.target.value)
// 	idadeField.value = difDias(dias) + ' dia'
// })

function verificaecf(value){
	var input = document.getElementById("spict");
	var label = document.getElementById("spict2");
	
  if(value == 6 || value == 7 || value == 8){
    input.style.display = "inline";
	label.style.display = "inline";
	document.getElementById('paliativos').style.display = 'inline'
	  document.getElementById('paliativo2').style.display = 'inline'
  }else{
    input.style.display = "none";
	label.style.display = "none";
	document.getElementById('paliativos').style.display = 'inline'
	  document.getElementById('paliativo2').style.display = 'inline'
	input.value= "Não aplicado"
  }
  if(value == 9 || value == 10){
	  var paliativo = 'sim';
	  document.getElementById('paliativos').style.display = 'none'
	  document.getElementById('paliativo2').style.display = 'none'
	  input.value= "Não aplicado"
	  document.getElementById('paliativo').value = paliativo;
  }
};
function verificaidade(value){
	var input = document.getElementById("ecf2");
	var input2 = document.getElementById("ecf3");

  if(value < 60 ){
    input.style.display = "none";
	input2.style.display = "none";
	document.getElementById('ecf').value = 0;
  }else{
    input.style.display = "block";
	input2.style.display = "block";
  }
};

window.onload = function() {
		document.getElementById('exame').style.display = 'none';
		document.getElementById('labelexame').style.display = 'none';
		document.getElementById("glasgow").style.display = 'none';
		document.getElementById("bic").style.display = 'none';
		document.getElementById("glasgowlabel").style.display = 'none';
		document.getElementById("biclabel").style.display = 'none';
		document.getElementById("dataexames").style.display = 'none';
		 document.getElementById("dataexame").style.display = 'none';
		 document.getElementById("exame3").style.display = 'none';
		 document.getElementById("exames").style.display = 'none';
		 selectmental = document.getElementById('mental');

	if ($(selectmental).is(':checked')) {
    	$(selectmental).attr('value', 'true');
	}
	else {
		$(selectmental).attr('value', 'false');
	}
	 mental = $(selectmental).val();
	 document.getElementById('mental2').value = mental;

	 if(mental == 'true'){
		 document.getElementById("exame").style.display = 'inline';
		 document.getElementById("labelexame").style.display = 'inline';
		 
	 }
	 else{
		document.getElementById("exame").style.display = 'none';
		document.getElementById("labelexame").style.display = 'none';
	 }
    


$("#exame").on('change', function(e){
     var exame = $(this).val();
     document.getElementById('referencia').value = exame;
});

selectcovid = document.getElementById('covid');
	if ($(selectcovid).is(':checked')) {
    	$(selectcovid).attr('value', 'true');
	}
	else {
		$(selectcovid).attr('value', 'false');
	}
     var covid = $(selectcovid).val();
     document.getElementById('covid2').value = covid;
	 if(covid == 'true'){
		 document.getElementById("glasgow").style.display = 'inline';
		 document.getElementById("bic").style.display = 'inline';
		 document.getElementById("glasgowlabel").style.display = 'inline';
		 document.getElementById("biclabel").style.display = 'inline';
		 document.getElementById("dataexames").style.display = 'inline';
		 document.getElementById("dataexame").style.display = 'inline';
		 document.getElementById("exame3").style.display = 'inline';
		 document.getElementById("exames").style.display = 'inline';
		 
	 }
	 else{
		document.getElementById("glasgow").style.display = 'none';
		document.getElementById("bic").style.display = 'none';
		document.getElementById("glasgowlabel").style.display = 'none';
		document.getElementById("biclabel").style.display = 'none';
		document.getElementById("dataexames").style.display = 'none';
		 document.getElementById("dataexame").style.display = 'none';
		 document.getElementById("exame3").style.display = 'none';
		 document.getElementById("exames").style.display = 'none';
	 }

	};
</script>
<%- include('../../home/footer'); %>
</body>
</html>