<<<<<<< HEAD
<%- include('../cabecalhokaban'); %>
<div id="mobile" class="container">
<% if(id.length > 0) { %>
    <% for(var i = 0; i < id.length; i++) {%>
		<form action="/savetisspampulha" style="padding-left: 1%; padding-right: 1%;" method="post">
			<input type="hidden" name="campo" value="<%=id[i].id_usuario %>"> 
		
			<div tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				 aria-hidden="true">
				<div  role="document">
					<div >
						<div >
							<h2  id="exampleModalLabel">Editar Tiss Pampulha</h2>
						</div>
						<% if(tiss.length > 0) { %>
							<% for(var j = 0; j < tiss.length; j++) {%>
						<div >
							<div class="form-group">
								<input readonly="readonly" type="hidden" name="idpaciente" id="idpaciente" class="form-control" value="<%=tiss[j].idpaciente%>">
								<label for="">Paciente</label>
								<input readonly="readonly" type="text" name="nome" class="form-control" value="<%=tiss[j].nome %>" >
								<input readonly="readonly" type="hidden" name="setor" id="setor" value="<%=tiss[j].setor %>" class="form-control" >
							</div>
							<div class="form-group">
								<h5>Atividades Básicas</h5>
									<input type="checkbox" name="basico"  id="basico1"  class="form-check-input" onClick="check1()" value="basico1" >
									<label>Monitorização Padrão.Sinais Vitais de horário ,registro e cálculo regular do balanço hídrico</label>
									<input type="hidden" name="atividade1" id="atividade1" class="form-control" >
									<br>
									<input type="checkbox" name="basico" id="basico2" class="form-check-input" onClick="check1()" value="basico2"  >
									<label>Laboratório,Investigações  bioquímicas e microbiológicas</label>
									<input type="hidden" name="atividade2" id="atividade2" class="form-control" >
									<br>
									<input type="checkbox" name="basico" id="basico3" class="form-check-input" onClick="check1()" value="basico3"  >
									<label>Medicação Única, EV,IM,SC  e/ou VO ou SNG</label>
									<input type="hidden" name="atividade3" id="atividade3" class="form-control" >
									<br>
									<input type="checkbox" name="basico" id="basico4" class="form-check-input" onClick="check1()" value="basico4"  >
									<label>Medicação Endovenosa Múltiplas. Mais que uma Droga</label>
									<input type="hidden" name="atividade4" id="atividade4" class="form-control" >
									<br>
									<input type="checkbox" name="basico" id="basico5" class="form-check-input" onClick="check1()" value="basico5"  >
									<label>Troca de Curativos de Rotinas.Cuidado e prevenção de Ulceras de Decúbito/ Troca diária de curativo</label>
									<input type="hidden" name="atividade5" id="atividade5" class="form-control" >
									<br>
									<input type="checkbox" name="basico" id="basico6" class="form-check-input" onClick="check1()" value="basico6"  > 
									<label>Troca frequente de curativos .Pelo menos uma vez por turno de enfermagem e/ ou cuidados com feridas extensas</label>
									<input type="hidden" name="atividade6" id="atividade6" class="form-control" >
									<br>
									<input type="checkbox" name="basico" id="basico7" class="form-check-input" onClick="check1()" value="basico7"  > 
									<label>Cuidados com drenos .Todos (exceto SNG)</label>
									<input type="hidden" name="atividade7" id="atividade7" class="form-control" >
									<br>
							</div>
							<div class="form-group">
								<h5>Suporte Ventilatório </h5>
									<input type="checkbox" name="ventilatorio" id="suportevent1" class="form-check-input" onClick="check2()" value="suportevent1">
									<label>Ventilação Mecânica. Qualquer forma de ventilação mecânica com ou sem PEEP.</label>
									<input type="hidden" name="ventilatorio1" id="ventilatorio1" class="form-control" >
									<br>
									<input type="checkbox" name="ventilatorio" id="suportevent2" class="form-check-input" onClick="check2()" value="suportevent2">
									<label>Suporte ventilatório suplementar.O2 suplementar por qualquer método exceto aplicação de parâmetros de ventil. Mecânica</label>	
									<input type="hidden" name="ventilatorio2" id="ventilatorio2" class="form-control" >
									<br>
									<input type="checkbox" name="ventilatorio" id="suportevent3" class="form-check-input" onClick="check2()" value="suportevent3">  
									<label>Cuidados com vias aéreas artificiais, SOT ou Traqueostomia</label>
									<input type="hidden" name="ventilatorio3" id="ventilatorio3" class="form-control" >
									<br>
									<input type="checkbox" name="ventilatorio" id="suportevent4" class="form-check-input" onClick="check2()" value="suportevent4">
									<label>Fisioterapia torácica , espirometria estipulada, terapia de inalação, aspiração traqueal</label>
									<input type="hidden" name="ventilatorio4" id="ventilatorio4" class="form-control" >
									<br>
							</div>
							<div class="form-group">
								<h5>Suporte Cardiovascular</h5>
									<input type="checkbox" name="cardiovascular" id="suportecardio1" class="form-check-input" onClick="check3()" value="suportecardio1"  >
									<label>Medicação vasoativa única.Qualquer droga vasoativa</label>
									<input type="hidden" name="cardiovascular1" id="cardiovascular1" class="form-control" >
									<br>
									<input type="checkbox" name="cardiovascular" id="suportecardio2" class="form-check-input" onClick="check3()" value="suportecardio2"  >
									<label>Medicação vasoativa múltipla. Mais que uma droga independente do tipo e dose</label>
									<input type="hidden" name="cardiovascular2" id="cardiovascular2" class="form-control" >
									<br>
									<input type="checkbox" name="cardiovascular" id="suportecardio3" class="form-check-input" onClick="check3()" value="suportecardio3"  >
									<label>Reposição de grandes perdas volêmicas.Administração de volume maiores 31/ml/m/dia</label>
									<input type="hidden" name="cardiovascular3" id="cardiovascular3" class="form-control" >
									<br>
									<input type="checkbox" name="cardiovascular" id="suportecardio4" class="form-check-input" onClick="check3()" value="suportecardio4"  >
									<label>Catéter arterial periférico</label>
									<input type="hidden" name="cardiovascular4" id="cardiovascular4" class="form-control" >
									<br>
									<input type="checkbox" name="cardiovascular" id="suportecardio5" class="form-check-input" onClick="check3()" value="suportecardio5" >
									<label>Monitorização do átrio esquerdo .Catéter da arteria pulmonar com ou sem medida de débito cardíaco</label>
									<input type="hidden" name="cardiovascular5" id="cardiovascular5" class="form-control" >
									<br>
									<input type="checkbox" name="cardiovascular" id="suportecardio6" class="form-check-input" onClick="check3()" value="suportecardio6">
									<label>Via venosa central</label>
									<input type="hidden" name="cardiovascular6" id="cardiovascular6" class="form-control" >
									<br>
									<input type="checkbox" name="cardiovascular" id="suportecardio7" class="form-check-input" onClick="check3()" value="suportecardio7" >
									<label>Ressuscitação cardiopulmonar (PCR nas últimas  24hs)</label>
									<input type="hidden" name="cardiovascular7" id="cardiovascular7" class="form-control" >
									<br>
							</div>
							<div class="form-group">
								<h5>Suporte Renal</h5>
									<input type="checkbox" name="renal" id="suporterenal1" class="form-check-input" onClick="check4()" value="suporterenal1"  >
									<label>Técnicas de hemofiltração.Técnicas  diaíticas</label>
									<input type="hidden" name="renal1" id="renal1" class="form-control" >
									<br>
									<input type="checkbox" name="renal" id="suporterenal2" class="form-check-input" onClick="check4()" value="suporterenal2" >
									<label>Medida quantitativa do débito urinário (Ex. SVD )</label>
									<input type="hidden" name="renal2" id="renal2" class="form-control" >
									<br>
									<input type="checkbox" name="renal" id="suporterenal3" class="form-check-input" onClick="check4()" value="suporterenal3" >
									<label>Diurese ativa (Ex. furosemida maior 0,5mg/kg/dia)</label>
									<input type="hidden" name="renal3" id="renal3" class="form-control" >
									<br>
							</div>
							<div class="form-group">
								<h5>Suporte Neurológico</h5>
									<input type="checkbox" name="neurologico" id="suporteneurologico1" class="form-check-input" onClick="check5()" value="suporteneurologico1" >
									<label>Medida da pressão intracraniana</label>
									<input type="hidden" name="neurologico1" id="neurologico1" class="form-control" >
									<br>
							</div>
							<div class="form-group">
								<h5>Suporte Metabólico</h5>
									<input type="checkbox" name="metabolico" id="suportemetabolico1" class="form-check-input" onClick="check6()" value="suportemetabolico1" >
									<label>Tratamento acidose/alcalose complicada</label>
									<input type="hidden" name="metabolico1" id="metabolico1" class="form-control" >
									<br>
									<input type="checkbox" name="metabolico" id="suportemetabolico2" class="form-check-input" onClick="check6()" value="suportemetabolico2" >
									<label>Nutrição parenteral total</label>
									<input type="hidden" name="metabolico2" id="metabolico2" class="form-control" >
									<br>
									<input type="checkbox" name="metabolico" id="suportemetabolico3" class="form-check-input" onClick="check6()" value="suportemetabolico3" >
									<label>Nutrição enteral ( Ex. SNG )</label>
									<input type="hidden" name="metabolico3" id="metabolico3" class="form-control" >
									<br>
							</div>
							<div class="form-group">
								<h5>Intervenções específicas </h5>
									<input type="checkbox" name="intervencoes" id="especifico1" class="form-check-input" onClick="check7()" value="especifico1">
									<label>Intervenção específica única na UTI. Intubação endotraqueal , introdução marcapasso , lavagem gástrica.</label>
									<input type="hidden" name="intervencoes1" id="intervencoes1" class="form-control" >
									<br>
									<input type="checkbox" name="intervencoes" id="especifico2" class="form-check-input" onClick="check7()" value="especifico2">
									<label>Intervenção específica múltiplas na UTI. Mais que uma conforme descrição acima</label>
									<input type="hidden" name="intervencoes2" id="intervencoes2" class="form-control" >
									<br>
									<input type="checkbox" name="intervencoes" id="especifico3" class="form-check-input" onClick="check7()" value="especifico3">
									<label>Intervenções específicas fora da UTI.Procedimentos diagnósticos ou cirúrgicos</label>
									<input type="hidden" name="intervencoes3" id="intervencoes3" class="form-control" >
									<br>
								</div>

							<div  class="form-group">
								<button onclick="calcular()" type="button" class="btn btn-primary">Somar Tiss</button>
							</div>
							<div>
								<label for="tiss">Tiss</label>
								<input  type="text" id="tiss" name="tiss"  class="form-control" >
							</div>
							<div id="hora" class="form-group">
								<input  type="hidden" id="data" name="data"  class="form-control">
							</div>
							</div>
						<div >
							<a href="/tisspampulha?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
							<button type="submit" class="btn btn-primary">Atualizar</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<% } %>	
			<% } %>
			<% } %>	
			<% } %>
			<br>
					<br>
					<br>
</div>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<%- include('../../home/footer'); %>
</body>
</html>
<script type="text/javascript">
$(function(){
	$(window).on('resize load', function() {
  if ($(window).width() <= 768) { 
    $("#mobile").removeClass("container");
  }
  else {
    $("#mobile").addClass("container");
  }
});
});

function pad(s){
		return (s<10) ? '0' + s :s;
	}
	function novaHora(){
	
	var date = new Date();
	document.getElementById('data').value = date.getDate() +'-'+ (date.getMonth() + 1) +'-'+ date.getFullYear() +' '+ date.getHours()+':'+date.getMinutes()+':'+date.getSeconds() ;
}
novaHora();

	function check1(){		
	var pacote = document.getElementsByName('basico');
	  for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked ) {
			  if(pacote[i].value == "basico1"){
				  var Pacote_i = "basico1";
				  document.getElementById('atividade1').value = Pacote_i;
				
			  }else if (pacote[i].value == "basico2") {
				  var Pacote_ii = "basico2";
				  document.getElementById('atividade2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "basico3") {
				  var Pacote_iii = "basico3";
				  document.getElementById('atividade3').value = Pacote_iii;
				
			  }
			  else if (pacote[i].value == "basico4") {
				var Pacote_iv = "basico4";
				document.getElementById('atividade4').value = Pacote_iv;
			  
			}
			else if (pacote[i].value == "basico5") {
				var Pacote_v = "basico5";
				document.getElementById('atividade5').value = Pacote_v;
			  
			}
			else if (pacote[i].value == "basico6") {
				var Pacote_vi = "basico6";
				document.getElementById('atividade6').value = Pacote_vi;
			  
			}
			else if (pacote[i].value == "basico7") {
				var Pacote_vii = "basico7";
				document.getElementById('atividade7').value = Pacote_vii;
			  
			}
			}
		  }
		var estado = false;
		for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked == estado ) {
			  if(pacote[i].value == "basico1"){
				  var Pacote_i = "Não Aplicado";
				  document.getElementById('atividade1').value = Pacote_i;
				 
			  }else if (pacote[i].value == "basico2") {
				  var Pacote_ii = "Não Aplicado";
				  document.getElementById('atividade2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "basico3") {
				  var Pacote_iii = "Não Aplicado";
				  document.getElementById('atividade3').value = Pacote_iii;
				 
			  }
			  else if (pacote[i].value == "basico4") {
				  var Pacote_iV = "Não Aplicado";
				  document.getElementById('atividade4').value = Pacote_iV;
				 
			  }
			  else if (pacote[i].value == "basico5") {
				  var Pacote_v = "Não Aplicado";
				  document.getElementById('atividade5').value = Pacote_v;
				 
			  }
			  else if (pacote[i].value == "basico6") {
				  var Pacote_vi = "Não Aplicado";
				  document.getElementById('atividade6').value = Pacote_vi;
				 
			  }
			  else if (pacote[i].value == "basico7") {
				  var Pacote_vii = "Não Aplicado";
				  document.getElementById('atividade7').value = Pacote_vii;
				 
			  }
			}
		  }
	}

	function check2(){		
	var pacote = document.getElementsByName('ventilatorio');
	  for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked ) {
			  if(pacote[i].value == "suportevent1"){
				  var Pacote_i = "suportevent1";
				  document.getElementById('ventilatorio1').value = Pacote_i;
				
			  }else if (pacote[i].value == "suportevent2") {
				  var Pacote_ii = "suportevent2";
				  document.getElementById('ventilatorio2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "suportevent3") {
				  var Pacote_iii = "suportevent3";
				  document.getElementById('ventilatorio3').value = Pacote_iii;
				
			  }
			  else if (pacote[i].value == "suportevent4") {
				var Pacote_iv = "suportevent4";
				document.getElementById('ventilatorio4').value = Pacote_iv;
			  
			}
			}
		  }
		var estado = false;
		for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked == estado ) {
			  if(pacote[i].value == "suportevent1"){
				  var Pacote_i = "Não Aplicado";
				  document.getElementById('ventilatorio1').value = Pacote_i;
				 
			  }else if (pacote[i].value == "suportevent2") {
				  var Pacote_ii = "Não Aplicado";
				  document.getElementById('ventilatorio2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "suportevent3") {
				  var Pacote_iii = "Não Aplicado";
				  document.getElementById('ventilatorio3').value = Pacote_iii;
				 
			  }
			  else if (pacote[i].value == "suportevent4") {
				  var Pacote_iV = "Não Aplicado";
				  document.getElementById('ventilatorio4').value = Pacote_iV;
				 
			  }
			}
		  }
	}

	function check3(){		
	var pacote = document.getElementsByName('cardiovascular');
	  for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked ) {
			  if(pacote[i].value == "suportecardio1"){
				  var Pacote_i = "suportecardio1";
				  document.getElementById('cardiovascular1').value = Pacote_i;
				
			  }else if (pacote[i].value == "suportecardio2") {
				  var Pacote_ii = "suportecardio2";
				  document.getElementById('cardiovascular2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "suportecardio3") {
				  var Pacote_iii = "suportecardio3";
				  document.getElementById('cardiovascular3').value = Pacote_iii;
				
			  }
			  else if (pacote[i].value == "suportecardio4") {
				var Pacote_iv = "suportecardio4";
				document.getElementById('cardiovascular4').value = Pacote_iv;
			  
			}
			else if (pacote[i].value == "suportecardio5") {
				var Pacote_v = "suportecardio5";
				document.getElementById('cardiovascular5').value = Pacote_v;
			  
			}
			else if (pacote[i].value == "suportecardio6") {
				var Pacote_vi = "suportecardio6";
				document.getElementById('cardiovascular6').value = Pacote_vi;
			  
			}
			else if (pacote[i].value == "suportecardio7") {
				var Pacote_vii = "suportecardio7";
				document.getElementById('cardiovascular7').value = Pacote_vii;
			  
			}
			}
		  }
		var estado = false;
		for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked == estado ) {
			  if(pacote[i].value == "suportecardio1"){
				  var Pacote_i = "Não Aplicado";
				  document.getElementById('cardiovascular1').value = Pacote_i;
				 
			  }else if (pacote[i].value == "suportecardio2") {
				  var Pacote_ii = "Não Aplicado";
				  document.getElementById('cardiovascular2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "suportecardio3") {
				  var Pacote_iii = "Não Aplicado";
				  document.getElementById('cardiovascular3').value = Pacote_iii;
				 
			  }
			  else if (pacote[i].value == "suportecardio4") {
				  var Pacote_iV = "Não Aplicado";
				  document.getElementById('cardiovascular4').value = Pacote_iV;
				 
			  }
			  else if (pacote[i].value == "suportecardio5") {
				  var Pacote_v = "Não Aplicado";
				  document.getElementById('cardiovascular5').value = Pacote_v;
				 
			  }
			  else if (pacote[i].value == "suportecardio6") {
				  var Pacote_vi = "Não Aplicado";
				  document.getElementById('cardiovascular6').value = Pacote_vi;
				 
			  }
			  else if (pacote[i].value == "suportecardio7") {
				  var Pacote_vii = "Não Aplicado";
				  document.getElementById('cardiovascular7').value = Pacote_vii;
				 
			  }
			}
		  }
	}

	function check4(){		
	var pacote = document.getElementsByName('renal');
	  for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked ) {
			  if(pacote[i].value == "suporterenal1"){
				  var Pacote_i = "suporterenal1";
				  document.getElementById('renal1').value = Pacote_i;
				
			  }else if (pacote[i].value == "suporterenal2") {
				  var Pacote_ii = "suporterenal2";
				  document.getElementById('renal2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "suporterenal3") {
				  var Pacote_iii = "suporterenal3";
				  document.getElementById('renal3').value = Pacote_iii;
				
			  }

			}
		  }
		var estado = false;
		for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked == estado ) {
			  if(pacote[i].value == "suporterenal1"){
				  var Pacote_i = "Não Aplicado";
				  document.getElementById('renal1').value = Pacote_i;
				 
			  }else if (pacote[i].value == "suporterenal2") {
				  var Pacote_ii = "Não Aplicado";
				  document.getElementById('renal2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "suporterenal3") {
				  var Pacote_iii = "Não Aplicado";
				  document.getElementById('renal3').value = Pacote_iii;
				 
			  }
			}
		  }
	}

	function check5(){		
	var pacote = document.getElementsByName('neurologico');
	  for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked ) {
			  if(pacote[i].value == "suporteneurologico1"){
				  var Pacote_i = "suporteneurologico1";
				  document.getElementById('neurologico1').value = Pacote_i;
				
			  }
			}
		  }
		var estado = false;
		for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked == estado ) {
			  if(pacote[i].value == "suporteneurologico1"){
				  var Pacote_i = "Não Aplicado";
				  document.getElementById('neurologico1').value = Pacote_i;
				 
			  }
			}
		  }
	}

	function check6(){		
	var pacote = document.getElementsByName('metabolico');
	  for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked ) {
			  if(pacote[i].value == "suportemetabolico1"){
				  var Pacote_i = "suportemetabolico1";
				  document.getElementById('metabolico1').value = Pacote_i;
				
			  }else if (pacote[i].value == "suportemetabolico2") {
				  var Pacote_ii = "suportemetabolico2";
				  document.getElementById('metabolico2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "suportemetabolico3") {
				  var Pacote_iii = "suportemetabolico3";
				  document.getElementById('metabolico3').value = Pacote_iii;
				
			  }
			}
		  }
		var estado = false;
		for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked == estado ) {
			  if(pacote[i].value == "suportemetabolico1"){
				  var Pacote_i = "Não Aplicado";
				  document.getElementById('metabolico1').value = Pacote_i;
				 
			  }else if (pacote[i].value == "suportemetabolico2") {
				  var Pacote_ii = "Não Aplicado";
				  document.getElementById('metabolico2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "suportemetabolico3") {
				  var Pacote_iii = "Não Aplicado";
				  document.getElementById('metabolico3').value = Pacote_iii;
				 
			  }
			}
		  }
	}

	function check7(){		
	var pacote = document.getElementsByName('intervencoes');
	  for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked ) {
			  if(pacote[i].value == "especifico1"){
				  var Pacote_i = "especifico1";
				  document.getElementById('intervencoes1').value = Pacote_i;
				
			  }else if (pacote[i].value == "especifico2") {
				  var Pacote_ii = "especifico2";
				  document.getElementById('intervencoes2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "especifico3") {
				  var Pacote_iii = "especifico3";
				  document.getElementById('intervencoes3').value = Pacote_iii;
				
			  }
			}
		  }
		var estado = false;
		for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked == estado ) {
			  if(pacote[i].value == "especifico1"){
				  var Pacote_i = "Não Aplicado";
				  document.getElementById('intervencoes1').value = Pacote_i;
				 
			  }else if (pacote[i].value == "especifico2") {
				  var Pacote_ii = "Não Aplicado";
				  document.getElementById('intervencoes2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "especifico3") {
				  var Pacote_iii = "Não Aplicado";
				  document.getElementById('intervencoes3').value = Pacote_iii;
				 
			  }
			}
		  }
	}
	window.onload = function() {

		document.getElementById('atividade1').value = "Não Aplicado";
		document.getElementById('atividade2').value = "Não Aplicado";
		document.getElementById('atividade3').value = "Não Aplicado";
		document.getElementById('atividade4').value = "Não Aplicado";
		document.getElementById('atividade5').value = "Não Aplicado";
		document.getElementById('atividade6').value = "Não Aplicado";
		document.getElementById('atividade7').value = "Não Aplicado";
		document.getElementById('ventilatorio1').value = "Não Aplicado";
		document.getElementById('ventilatorio2').value = "Não Aplicado";
		document.getElementById('ventilatorio3').value = "Não Aplicado";
		document.getElementById('ventilatorio4').value = "Não Aplicado";
		document.getElementById('cardiovascular1').value = "Não Aplicado";
		document.getElementById('cardiovascular2').value = "Não Aplicado";
		document.getElementById('cardiovascular3').value = "Não Aplicado";
		document.getElementById('cardiovascular4').value = "Não Aplicado";
		document.getElementById('cardiovascular5').value = "Não Aplicado";
		document.getElementById('cardiovascular6').value = "Não Aplicado";
		document.getElementById('cardiovascular7').value = "Não Aplicado";
		document.getElementById('renal1').value = "Não Aplicado";
		document.getElementById('renal2').value = "Não Aplicado";
		document.getElementById('renal3').value = "Não Aplicado";
		document.getElementById('neurologico1').value = "Não Aplicado";
		document.getElementById('metabolico1').value = "Não Aplicado";
		document.getElementById('metabolico2').value = "Não Aplicado";
		document.getElementById('metabolico3').value = "Não Aplicado";
		document.getElementById('intervencoes1').value = "Não Aplicado";
		document.getElementById('intervencoes2').value = "Não Aplicado";
		document.getElementById('intervencoes3').value = "Não Aplicado";
				 
	}
function calcular(){
	
	
	var atividades1 = document.getElementById('atividade1').value;
	var resultadoatividades1;
	if(atividades1 == "basico1"){
	
		resultadoatividades1 = 6;
	}
	else{
		resultadoatividades1 = 0;
	}

	var atividades2 = document.getElementById('atividade2').value;
	var resultadoatividades2;
	if(atividades2 == "basico2"){
	
		resultadoatividades2 = 1;
	}
	else{
		resultadoatividades2 = 0;
	}

	var atividades3 = document.getElementById('atividade3').value;
	var resultadoatividades3;
	if(atividades3 == "basico3"){
	
		resultadoatividades3	= 2;
	}
	else{
		resultadoatividades3 = 0;
	}

	var atividades4 = document.getElementById('atividade4').value;
	var resultadoatividades4;
	if(atividades4 == "basico4"){
	
		resultadoatividades4 = 3;
	}
	else{
		resultadoatividades4 = 0;
	}

	var atividades5 = document.getElementById('atividade5').value;
	var resultadoatividades5;
	if(atividades5 == "basico5"){
	
		resultadoatividades5 = 1;
	}
	else{
		resultadoatividades5 = 0;
	}

	var atividades6 = document.getElementById('atividade6').value;
	var resultadoatividades6;
	if(atividades6 == "basico6"){
	
		resultadoatividades6 = 1;
	}
	else{
		resultadoatividades6 = 0;
	}

	var atividades7 = document.getElementById('atividade7').value;
	var resultadoatividades7;
	if(atividades7 == "basico7"){
	
		resultadoatividades7 = 3;
	}
	else{
		resultadoatividades7 = 0;
	}

	var resultadofinalatividade;
	resultadofinalatividade = resultadoatividades1 + resultadoatividades2 + resultadoatividades3 + resultadoatividades4 + resultadoatividades5 + resultadoatividades6 + resultadoatividades7;
	
	var ventilatorio1 = document.getElementById('ventilatorio1').value;
	var resultadoventilatorio1;
	if(ventilatorio1 == "suportevent1"){

		resultadoventilatorio1 = 5;
	}
	else{
		resultadoventilatorio1 = 0;
	}
	var ventilatorio2 = document.getElementById('ventilatorio2').value;
	var resultadoventilatorio2;
	if(ventilatorio2 == "suportevent2"){

		resultadoventilatorio2 = 2;
	}
	else{
		resultadoventilatorio2= 0;
	}
	var ventilatorio3 = document.getElementById('ventilatorio3').value;
	var resultadoventilatorio3;
	if(ventilatorio3 == "suportevent3"){

		resultadoventilatorio3	= 1;
	}
	else{
		resultadoventilatorio3 = 0;
	}
	var ventilatorio4 = document.getElementById('ventilatorio4').value;
	var resultadoventilatorio4;
	if(ventilatorio4 == "suportevent4"){

		resultadoventilatorio4 = 1;
	}
	else{
		resultadoventilatorio4 = 0;
	}
	
	var resultadofinalventilatorio;
	resultadofinalventilatorio = resultadoventilatorio1 + resultadoventilatorio2 + resultadoventilatorio3 + resultadoventilatorio4;
	

	var resultadocardiovascular1;
	var cardiovascular1 = document.getElementById('cardiovascular1').value;
	if(cardiovascular1 == "suportecardio1"){
	
		resultadocardiovascular1 = 3;
	}
	else{
	
	resultadocardiovascular1 = 0;
	}
	var resultadocardiovascular2;
	var cardiovascular2 = document.getElementById('cardiovascular2').value;
	if(cardiovascular2 == "suportecardio2"){
	
		resultadocardiovascular2 = 4;
	}
	else{
	
	resultadocardiovascular2 = 0;
	}
	var resultadocardiovascular3;
	var cardiovascular3 = document.getElementById('cardiovascular3').value;
	if(cardiovascular3 == "suportecardio3"){
	
		resultadocardiovascular3	= 4;
	}
	else{
	
	resultadocardiovascular3 = 0;
	}
	var resultadocardiovascular4;
	var cardiovascular4 = document.getElementById('cardiovascular4').value;
	if(cardiovascular4 == "suportecardio4"){
		resultadocardiovascular4 = 5;
	}
	else{
	
	resultadocardiovascular4 = 0;
	}
	var resultadocardiovascular5;
	var cardiovascular5 = document.getElementById('cardiovascular5').value;
	if(cardiovascular5 == "suportecardio5"){
	
		resultadocardiovascular5 = 8;
	}
	else{
	
	resultadocardiovascular5 = 0;
	}
	var resultadocardiovascular6;
	var cardiovascular6 = document.getElementById('cardiovascular6').value;
	if(cardiovascular6 == "suportecardio6"){
	
		resultadocardiovascular6 = 2;
	}
	else{
	
	resultadocardiovascular6 = 0;
	}
	var resultadocardiovascular7;
	var cardiovascular7 = document.getElementById('cardiovascular7').value;
	if(cardiovascular7 == "suportecardio7"){
	
		resultadocardiovascular7 = 3;
	}
	else{
	
		resultadocardiovascular7 = 0;
	}

	var resultadofinalcardiovascular;
	resultadofinalcardiovascular = resultadocardiovascular1 + resultadocardiovascular2 + resultadocardiovascular3 + resultadocardiovascular4 + resultadocardiovascular5 + resultadocardiovascular6 + resultadocardiovascular7;


	var resultadorenal1;
	var renal1 = document.getElementById('renal1').value;
	if(renal1 == "suporterenal1"){

		resultadorenal1 = 3;
	}
	else{

	resultadorenal1	= 0;
	}
	var resultadorenal2;
	var renal2 = document.getElementById('renal2').value;
	if(renal2 == "suporterenal2"){

		resultadorenal2 = 2;
	}
	else{

	resultadorenal2	= 0;
	}
	var resultadorenal3;
	var renal3 = document.getElementById('renal3').value;
	if(renal3 == "suporterenal3"){

		resultadorenal3	= 3;
	}
	else{

		resultadorenal3	= 0;
	}

	var resultadofinalrenal;
	resultadofinalrenal = resultadorenal1 + resultadorenal2 + resultadorenal3;


	var resultadoneurologico1;
	var neurologico1 = document.getElementById('neurologico1').value;
	if(neurologico1 == "suporteneurologico1"){

		resultadoneurologico1 = 4;
	}
	else{

		resultadoneurologico1 = 0;
	}

	var resultadofinalneurologico;
	resultadofinalneurologico = resultadoneurologico1;

	var resultadometabolico1;
	var metabolico1 = document.getElementById('metabolico1').value;
	if(metabolico1 == "suportemetabolico1"){

		resultadometabolico1 = 4;
	}
	else{

	resultadometabolico1	= 0;
	}
	var resultadometabolico2;
	var metabolico2 = document.getElementById('metabolico2').value;
	if(metabolico2 == "suportemetabolico2"){

		resultadometabolico2 = 3;
	}
	else{

	resultadometabolico2	= 0;
	}
	var resultadometabolico3;
	var metabolico3 = document.getElementById('metabolico3').value;
	if(metabolico3 == "suportemetabolico3"){

		resultadometabolico3	= 2;
	}
	else{

		resultadometabolico3	= 0;
	}

	var resultadofinalmetabolico;
	resultadofinalmetabolico = resultadometabolico1 + resultadometabolico2 + resultadometabolico3;
	
	var resultadointervencoes1;
	var intervencoes1 = document.getElementById('intervencoes1').value;
	if(intervencoes1 == "especifico1"){

		resultadointervencoes1 = 3;
	}
	else{

	resultadointervencoes1	= 0;
	}
	var resultadointervencoes2;
	var intervencoes2 = document.getElementById('intervencoes2').value;
	if(intervencoes2 == "especifico2"){

		resultadointervencoes2 = 5;
	}
	else{

	resultadointervencoes2	= 0;
	}
	var resultadointervencoes3;
	var intervencoes3 = document.getElementById('intervencoes3').value;
	if(intervencoes3 == "especifico3"){

		resultadointervencoes3	= 5;
	}
	else{

		resultadointervencoes3	= 0;
	}

	var resultadofinalintervencoes;
	resultadofinalintervencoes = resultadointervencoes1 + resultadointervencoes2 + resultadointervencoes3;
	
	var score = resultadofinalatividade + resultadofinalventilatorio + resultadofinalcardiovascular + resultadofinalrenal + resultadofinalneurologico + resultadofinalmetabolico + resultadofinalintervencoes;
	
	var resultadofinal;

	if(score<10){
		resultadofinal = "Classe I - Não Necessita de UTI";
		document.getElementById('tiss').value = resultadofinal;
	}
	if(score>=10&&score<=19){
		resultadofinal = "Classe II - Indicação de UTI";
		document.getElementById('tiss').value = resultadofinal;
	}
	
	if(score>=20&&score<=39){
		resultadofinal = "Classe III - Instabilidade Hemodinamica(Assistência Intensiva)";
		document.getElementById('tiss').value = resultadofinal;
	}
	
	if(score>39){
		resultadofinal = "Classe IV - Grande Instabilidade";
		document.getElementById('tiss').value = resultadofinal;
	}
	
	if(score>34){
		resultadofinal = "Semi Intensivos";
		document.getElementById('tiss').value = resultadofinal;
	}	
}
=======
<%- include('../cabecalhokaban'); %>
<div id="mobile" class="container">
<% if(id.length > 0) { %>
    <% for(var i = 0; i < id.length; i++) {%>
		<form action="/savetisspampulha" style="padding-left: 1%; padding-right: 1%;" method="post">
			<input type="hidden" name="campo" value="<%=id[i].id_usuario %>"> 
		
			<div tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				 aria-hidden="true">
				<div  role="document">
					<div >
						<div >
							<h2  id="exampleModalLabel">Editar Tiss Pampulha</h2>
						</div>
						<% if(tiss.length > 0) { %>
							<% for(var j = 0; j < tiss.length; j++) {%>
						<div >
							<div class="form-group">
								<input readonly="readonly" type="hidden" name="idpaciente" id="idpaciente" class="form-control" value="<%=tiss[j].idpaciente%>">
								<label for="">Paciente</label>
								<input readonly="readonly" type="text" name="nome" class="form-control" value="<%=tiss[j].nome %>" >
								<input readonly="readonly" type="hidden" name="setor" id="setor" value="<%=tiss[j].setor %>" class="form-control" >
							</div>
							<div class="form-group">
								<h5>Atividades Básicas</h5>
									<input type="checkbox" name="basico"  id="basico1"  class="form-check-input" onClick="check1()" value="basico1" >
									<label>Monitorização Padrão.Sinais Vitais de horário ,registro e cálculo regular do balanço hídrico</label>
									<input type="hidden" name="atividade1" id="atividade1" class="form-control" >
									<br>
									<input type="checkbox" name="basico" id="basico2" class="form-check-input" onClick="check1()" value="basico2"  >
									<label>Laboratório,Investigações  bioquímicas e microbiológicas</label>
									<input type="hidden" name="atividade2" id="atividade2" class="form-control" >
									<br>
									<input type="checkbox" name="basico" id="basico3" class="form-check-input" onClick="check1()" value="basico3"  >
									<label>Medicação Única, EV,IM,SC  e/ou VO ou SNG</label>
									<input type="hidden" name="atividade3" id="atividade3" class="form-control" >
									<br>
									<input type="checkbox" name="basico" id="basico4" class="form-check-input" onClick="check1()" value="basico4"  >
									<label>Medicação Endovenosa Múltiplas. Mais que uma Droga</label>
									<input type="hidden" name="atividade4" id="atividade4" class="form-control" >
									<br>
									<input type="checkbox" name="basico" id="basico5" class="form-check-input" onClick="check1()" value="basico5"  >
									<label>Troca de Curativos de Rotinas.Cuidado e prevenção de Ulceras de Decúbito/ Troca diária de curativo</label>
									<input type="hidden" name="atividade5" id="atividade5" class="form-control" >
									<br>
									<input type="checkbox" name="basico" id="basico6" class="form-check-input" onClick="check1()" value="basico6"  > 
									<label>Troca frequente de curativos .Pelo menos uma vez por turno de enfermagem e/ ou cuidados com feridas extensas</label>
									<input type="hidden" name="atividade6" id="atividade6" class="form-control" >
									<br>
									<input type="checkbox" name="basico" id="basico7" class="form-check-input" onClick="check1()" value="basico7"  > 
									<label>Cuidados com drenos .Todos (exceto SNG)</label>
									<input type="hidden" name="atividade7" id="atividade7" class="form-control" >
									<br>
							</div>
							<div class="form-group">
								<h5>Suporte Ventilatório </h5>
									<input type="checkbox" name="ventilatorio" id="suportevent1" class="form-check-input" onClick="check2()" value="suportevent1">
									<label>Ventilação Mecânica. Qualquer forma de ventilação mecânica com ou sem PEEP.</label>
									<input type="hidden" name="ventilatorio1" id="ventilatorio1" class="form-control" >
									<br>
									<input type="checkbox" name="ventilatorio" id="suportevent2" class="form-check-input" onClick="check2()" value="suportevent2">
									<label>Suporte ventilatório suplementar.O2 suplementar por qualquer método exceto aplicação de parâmetros de ventil. Mecânica</label>	
									<input type="hidden" name="ventilatorio2" id="ventilatorio2" class="form-control" >
									<br>
									<input type="checkbox" name="ventilatorio" id="suportevent3" class="form-check-input" onClick="check2()" value="suportevent3">  
									<label>Cuidados com vias aéreas artificiais, SOT ou Traqueostomia</label>
									<input type="hidden" name="ventilatorio3" id="ventilatorio3" class="form-control" >
									<br>
									<input type="checkbox" name="ventilatorio" id="suportevent4" class="form-check-input" onClick="check2()" value="suportevent4">
									<label>Fisioterapia torácica , espirometria estipulada, terapia de inalação, aspiração traqueal</label>
									<input type="hidden" name="ventilatorio4" id="ventilatorio4" class="form-control" >
									<br>
							</div>
							<div class="form-group">
								<h5>Suporte Cardiovascular</h5>
									<input type="checkbox" name="cardiovascular" id="suportecardio1" class="form-check-input" onClick="check3()" value="suportecardio1"  >
									<label>Medicação vasoativa única.Qualquer droga vasoativa</label>
									<input type="hidden" name="cardiovascular1" id="cardiovascular1" class="form-control" >
									<br>
									<input type="checkbox" name="cardiovascular" id="suportecardio2" class="form-check-input" onClick="check3()" value="suportecardio2"  >
									<label>Medicação vasoativa múltipla. Mais que uma droga independente do tipo e dose</label>
									<input type="hidden" name="cardiovascular2" id="cardiovascular2" class="form-control" >
									<br>
									<input type="checkbox" name="cardiovascular" id="suportecardio3" class="form-check-input" onClick="check3()" value="suportecardio3"  >
									<label>Reposição de grandes perdas volêmicas.Administração de volume maiores 31/ml/m/dia</label>
									<input type="hidden" name="cardiovascular3" id="cardiovascular3" class="form-control" >
									<br>
									<input type="checkbox" name="cardiovascular" id="suportecardio4" class="form-check-input" onClick="check3()" value="suportecardio4"  >
									<label>Catéter arterial periférico</label>
									<input type="hidden" name="cardiovascular4" id="cardiovascular4" class="form-control" >
									<br>
									<input type="checkbox" name="cardiovascular" id="suportecardio5" class="form-check-input" onClick="check3()" value="suportecardio5" >
									<label>Monitorização do átrio esquerdo .Catéter da arteria pulmonar com ou sem medida de débito cardíaco</label>
									<input type="hidden" name="cardiovascular5" id="cardiovascular5" class="form-control" >
									<br>
									<input type="checkbox" name="cardiovascular" id="suportecardio6" class="form-check-input" onClick="check3()" value="suportecardio6">
									<label>Via venosa central</label>
									<input type="hidden" name="cardiovascular6" id="cardiovascular6" class="form-control" >
									<br>
									<input type="checkbox" name="cardiovascular" id="suportecardio7" class="form-check-input" onClick="check3()" value="suportecardio7" >
									<label>Ressuscitação cardiopulmonar (PCR nas últimas  24hs)</label>
									<input type="hidden" name="cardiovascular7" id="cardiovascular7" class="form-control" >
									<br>
							</div>
							<div class="form-group">
								<h5>Suporte Renal</h5>
									<input type="checkbox" name="renal" id="suporterenal1" class="form-check-input" onClick="check4()" value="suporterenal1"  >
									<label>Técnicas de hemofiltração.Técnicas  diaíticas</label>
									<input type="hidden" name="renal1" id="renal1" class="form-control" >
									<br>
									<input type="checkbox" name="renal" id="suporterenal2" class="form-check-input" onClick="check4()" value="suporterenal2" >
									<label>Medida quantitativa do débito urinário (Ex. SVD )</label>
									<input type="hidden" name="renal2" id="renal2" class="form-control" >
									<br>
									<input type="checkbox" name="renal" id="suporterenal3" class="form-check-input" onClick="check4()" value="suporterenal3" >
									<label>Diurese ativa (Ex. furosemida maior 0,5mg/kg/dia)</label>
									<input type="hidden" name="renal3" id="renal3" class="form-control" >
									<br>
							</div>
							<div class="form-group">
								<h5>Suporte Neurológico</h5>
									<input type="checkbox" name="neurologico" id="suporteneurologico1" class="form-check-input" onClick="check5()" value="suporteneurologico1" >
									<label>Medida da pressão intracraniana</label>
									<input type="hidden" name="neurologico1" id="neurologico1" class="form-control" >
									<br>
							</div>
							<div class="form-group">
								<h5>Suporte Metabólico</h5>
									<input type="checkbox" name="metabolico" id="suportemetabolico1" class="form-check-input" onClick="check6()" value="suportemetabolico1" >
									<label>Tratamento acidose/alcalose complicada</label>
									<input type="hidden" name="metabolico1" id="metabolico1" class="form-control" >
									<br>
									<input type="checkbox" name="metabolico" id="suportemetabolico2" class="form-check-input" onClick="check6()" value="suportemetabolico2" >
									<label>Nutrição parenteral total</label>
									<input type="hidden" name="metabolico2" id="metabolico2" class="form-control" >
									<br>
									<input type="checkbox" name="metabolico" id="suportemetabolico3" class="form-check-input" onClick="check6()" value="suportemetabolico3" >
									<label>Nutrição enteral ( Ex. SNG )</label>
									<input type="hidden" name="metabolico3" id="metabolico3" class="form-control" >
									<br>
							</div>
							<div class="form-group">
								<h5>Intervenções específicas </h5>
									<input type="checkbox" name="intervencoes" id="especifico1" class="form-check-input" onClick="check7()" value="especifico1">
									<label>Intervenção específica única na UTI. Intubação endotraqueal , introdução marcapasso , lavagem gástrica.</label>
									<input type="hidden" name="intervencoes1" id="intervencoes1" class="form-control" >
									<br>
									<input type="checkbox" name="intervencoes" id="especifico2" class="form-check-input" onClick="check7()" value="especifico2">
									<label>Intervenção específica múltiplas na UTI. Mais que uma conforme descrição acima</label>
									<input type="hidden" name="intervencoes2" id="intervencoes2" class="form-control" >
									<br>
									<input type="checkbox" name="intervencoes" id="especifico3" class="form-check-input" onClick="check7()" value="especifico3">
									<label>Intervenções específicas fora da UTI.Procedimentos diagnósticos ou cirúrgicos</label>
									<input type="hidden" name="intervencoes3" id="intervencoes3" class="form-control" >
									<br>
								</div>

							<div  class="form-group">
								<button onclick="calcular()" type="button" class="btn btn-primary">Somar Tiss</button>
							</div>
							<div>
								<label for="tiss">Tiss</label>
								<input  type="text" id="tiss" name="tiss"  class="form-control" >
							</div>
							<div id="hora" class="form-group">
								<input  type="hidden" id="data" name="data"  class="form-control">
							</div>
							</div>
						<div >
							<a href="/tisspampulha?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
							<button type="submit" class="btn btn-primary">Atualizar</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<% } %>	
			<% } %>
			<% } %>	
			<% } %>
			<br>
					<br>
					<br>
</div>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<%- include('../../home/footer'); %>
</body>
</html>
<script type="text/javascript">
$(function(){
	$(window).on('resize load', function() {
  if ($(window).width() <= 768) { 
    $("#mobile").removeClass("container");
  }
  else {
    $("#mobile").addClass("container");
  }
});
});

function pad(s){
		return (s<10) ? '0' + s :s;
	}
	function novaHora(){
	
	var date = new Date();
	document.getElementById('data').value = date.getDate() +'-'+ (date.getMonth() + 1) +'-'+ date.getFullYear() +' '+ date.getHours()+':'+date.getMinutes()+':'+date.getSeconds() ;
}
novaHora();

	function check1(){		
	var pacote = document.getElementsByName('basico');
	  for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked ) {
			  if(pacote[i].value == "basico1"){
				  var Pacote_i = "basico1";
				  document.getElementById('atividade1').value = Pacote_i;
				
			  }else if (pacote[i].value == "basico2") {
				  var Pacote_ii = "basico2";
				  document.getElementById('atividade2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "basico3") {
				  var Pacote_iii = "basico3";
				  document.getElementById('atividade3').value = Pacote_iii;
				
			  }
			  else if (pacote[i].value == "basico4") {
				var Pacote_iv = "basico4";
				document.getElementById('atividade4').value = Pacote_iv;
			  
			}
			else if (pacote[i].value == "basico5") {
				var Pacote_v = "basico5";
				document.getElementById('atividade5').value = Pacote_v;
			  
			}
			else if (pacote[i].value == "basico6") {
				var Pacote_vi = "basico6";
				document.getElementById('atividade6').value = Pacote_vi;
			  
			}
			else if (pacote[i].value == "basico7") {
				var Pacote_vii = "basico7";
				document.getElementById('atividade7').value = Pacote_vii;
			  
			}
			}
		  }
		var estado = false;
		for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked == estado ) {
			  if(pacote[i].value == "basico1"){
				  var Pacote_i = "Não Aplicado";
				  document.getElementById('atividade1').value = Pacote_i;
				 
			  }else if (pacote[i].value == "basico2") {
				  var Pacote_ii = "Não Aplicado";
				  document.getElementById('atividade2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "basico3") {
				  var Pacote_iii = "Não Aplicado";
				  document.getElementById('atividade3').value = Pacote_iii;
				 
			  }
			  else if (pacote[i].value == "basico4") {
				  var Pacote_iV = "Não Aplicado";
				  document.getElementById('atividade4').value = Pacote_iV;
				 
			  }
			  else if (pacote[i].value == "basico5") {
				  var Pacote_v = "Não Aplicado";
				  document.getElementById('atividade5').value = Pacote_v;
				 
			  }
			  else if (pacote[i].value == "basico6") {
				  var Pacote_vi = "Não Aplicado";
				  document.getElementById('atividade6').value = Pacote_vi;
				 
			  }
			  else if (pacote[i].value == "basico7") {
				  var Pacote_vii = "Não Aplicado";
				  document.getElementById('atividade7').value = Pacote_vii;
				 
			  }
			}
		  }
	}

	function check2(){		
	var pacote = document.getElementsByName('ventilatorio');
	  for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked ) {
			  if(pacote[i].value == "suportevent1"){
				  var Pacote_i = "suportevent1";
				  document.getElementById('ventilatorio1').value = Pacote_i;
				
			  }else if (pacote[i].value == "suportevent2") {
				  var Pacote_ii = "suportevent2";
				  document.getElementById('ventilatorio2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "suportevent3") {
				  var Pacote_iii = "suportevent3";
				  document.getElementById('ventilatorio3').value = Pacote_iii;
				
			  }
			  else if (pacote[i].value == "suportevent4") {
				var Pacote_iv = "suportevent4";
				document.getElementById('ventilatorio4').value = Pacote_iv;
			  
			}
			}
		  }
		var estado = false;
		for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked == estado ) {
			  if(pacote[i].value == "suportevent1"){
				  var Pacote_i = "Não Aplicado";
				  document.getElementById('ventilatorio1').value = Pacote_i;
				 
			  }else if (pacote[i].value == "suportevent2") {
				  var Pacote_ii = "Não Aplicado";
				  document.getElementById('ventilatorio2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "suportevent3") {
				  var Pacote_iii = "Não Aplicado";
				  document.getElementById('ventilatorio3').value = Pacote_iii;
				 
			  }
			  else if (pacote[i].value == "suportevent4") {
				  var Pacote_iV = "Não Aplicado";
				  document.getElementById('ventilatorio4').value = Pacote_iV;
				 
			  }
			}
		  }
	}

	function check3(){		
	var pacote = document.getElementsByName('cardiovascular');
	  for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked ) {
			  if(pacote[i].value == "suportecardio1"){
				  var Pacote_i = "suportecardio1";
				  document.getElementById('cardiovascular1').value = Pacote_i;
				
			  }else if (pacote[i].value == "suportecardio2") {
				  var Pacote_ii = "suportecardio2";
				  document.getElementById('cardiovascular2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "suportecardio3") {
				  var Pacote_iii = "suportecardio3";
				  document.getElementById('cardiovascular3').value = Pacote_iii;
				
			  }
			  else if (pacote[i].value == "suportecardio4") {
				var Pacote_iv = "suportecardio4";
				document.getElementById('cardiovascular4').value = Pacote_iv;
			  
			}
			else if (pacote[i].value == "suportecardio5") {
				var Pacote_v = "suportecardio5";
				document.getElementById('cardiovascular5').value = Pacote_v;
			  
			}
			else if (pacote[i].value == "suportecardio6") {
				var Pacote_vi = "suportecardio6";
				document.getElementById('cardiovascular6').value = Pacote_vi;
			  
			}
			else if (pacote[i].value == "suportecardio7") {
				var Pacote_vii = "suportecardio7";
				document.getElementById('cardiovascular7').value = Pacote_vii;
			  
			}
			}
		  }
		var estado = false;
		for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked == estado ) {
			  if(pacote[i].value == "suportecardio1"){
				  var Pacote_i = "Não Aplicado";
				  document.getElementById('cardiovascular1').value = Pacote_i;
				 
			  }else if (pacote[i].value == "suportecardio2") {
				  var Pacote_ii = "Não Aplicado";
				  document.getElementById('cardiovascular2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "suportecardio3") {
				  var Pacote_iii = "Não Aplicado";
				  document.getElementById('cardiovascular3').value = Pacote_iii;
				 
			  }
			  else if (pacote[i].value == "suportecardio4") {
				  var Pacote_iV = "Não Aplicado";
				  document.getElementById('cardiovascular4').value = Pacote_iV;
				 
			  }
			  else if (pacote[i].value == "suportecardio5") {
				  var Pacote_v = "Não Aplicado";
				  document.getElementById('cardiovascular5').value = Pacote_v;
				 
			  }
			  else if (pacote[i].value == "suportecardio6") {
				  var Pacote_vi = "Não Aplicado";
				  document.getElementById('cardiovascular6').value = Pacote_vi;
				 
			  }
			  else if (pacote[i].value == "suportecardio7") {
				  var Pacote_vii = "Não Aplicado";
				  document.getElementById('cardiovascular7').value = Pacote_vii;
				 
			  }
			}
		  }
	}

	function check4(){		
	var pacote = document.getElementsByName('renal');
	  for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked ) {
			  if(pacote[i].value == "suporterenal1"){
				  var Pacote_i = "suporterenal1";
				  document.getElementById('renal1').value = Pacote_i;
				
			  }else if (pacote[i].value == "suporterenal2") {
				  var Pacote_ii = "suporterenal2";
				  document.getElementById('renal2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "suporterenal3") {
				  var Pacote_iii = "suporterenal3";
				  document.getElementById('renal3').value = Pacote_iii;
				
			  }

			}
		  }
		var estado = false;
		for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked == estado ) {
			  if(pacote[i].value == "suporterenal1"){
				  var Pacote_i = "Não Aplicado";
				  document.getElementById('renal1').value = Pacote_i;
				 
			  }else if (pacote[i].value == "suporterenal2") {
				  var Pacote_ii = "Não Aplicado";
				  document.getElementById('renal2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "suporterenal3") {
				  var Pacote_iii = "Não Aplicado";
				  document.getElementById('renal3').value = Pacote_iii;
				 
			  }
			}
		  }
	}

	function check5(){		
	var pacote = document.getElementsByName('neurologico');
	  for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked ) {
			  if(pacote[i].value == "suporteneurologico1"){
				  var Pacote_i = "suporteneurologico1";
				  document.getElementById('neurologico1').value = Pacote_i;
				
			  }
			}
		  }
		var estado = false;
		for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked == estado ) {
			  if(pacote[i].value == "suporteneurologico1"){
				  var Pacote_i = "Não Aplicado";
				  document.getElementById('neurologico1').value = Pacote_i;
				 
			  }
			}
		  }
	}

	function check6(){		
	var pacote = document.getElementsByName('metabolico');
	  for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked ) {
			  if(pacote[i].value == "suportemetabolico1"){
				  var Pacote_i = "suportemetabolico1";
				  document.getElementById('metabolico1').value = Pacote_i;
				
			  }else if (pacote[i].value == "suportemetabolico2") {
				  var Pacote_ii = "suportemetabolico2";
				  document.getElementById('metabolico2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "suportemetabolico3") {
				  var Pacote_iii = "suportemetabolico3";
				  document.getElementById('metabolico3').value = Pacote_iii;
				
			  }
			}
		  }
		var estado = false;
		for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked == estado ) {
			  if(pacote[i].value == "suportemetabolico1"){
				  var Pacote_i = "Não Aplicado";
				  document.getElementById('metabolico1').value = Pacote_i;
				 
			  }else if (pacote[i].value == "suportemetabolico2") {
				  var Pacote_ii = "Não Aplicado";
				  document.getElementById('metabolico2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "suportemetabolico3") {
				  var Pacote_iii = "Não Aplicado";
				  document.getElementById('metabolico3').value = Pacote_iii;
				 
			  }
			}
		  }
	}

	function check7(){		
	var pacote = document.getElementsByName('intervencoes');
	  for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked ) {
			  if(pacote[i].value == "especifico1"){
				  var Pacote_i = "especifico1";
				  document.getElementById('intervencoes1').value = Pacote_i;
				
			  }else if (pacote[i].value == "especifico2") {
				  var Pacote_ii = "especifico2";
				  document.getElementById('intervencoes2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "especifico3") {
				  var Pacote_iii = "especifico3";
				  document.getElementById('intervencoes3').value = Pacote_iii;
				
			  }
			}
		  }
		var estado = false;
		for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked == estado ) {
			  if(pacote[i].value == "especifico1"){
				  var Pacote_i = "Não Aplicado";
				  document.getElementById('intervencoes1').value = Pacote_i;
				 
			  }else if (pacote[i].value == "especifico2") {
				  var Pacote_ii = "Não Aplicado";
				  document.getElementById('intervencoes2').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "especifico3") {
				  var Pacote_iii = "Não Aplicado";
				  document.getElementById('intervencoes3').value = Pacote_iii;
				 
			  }
			}
		  }
	}
	window.onload = function() {

		document.getElementById('atividade1').value = "Não Aplicado";
		document.getElementById('atividade2').value = "Não Aplicado";
		document.getElementById('atividade3').value = "Não Aplicado";
		document.getElementById('atividade4').value = "Não Aplicado";
		document.getElementById('atividade5').value = "Não Aplicado";
		document.getElementById('atividade6').value = "Não Aplicado";
		document.getElementById('atividade7').value = "Não Aplicado";
		document.getElementById('ventilatorio1').value = "Não Aplicado";
		document.getElementById('ventilatorio2').value = "Não Aplicado";
		document.getElementById('ventilatorio3').value = "Não Aplicado";
		document.getElementById('ventilatorio4').value = "Não Aplicado";
		document.getElementById('cardiovascular1').value = "Não Aplicado";
		document.getElementById('cardiovascular2').value = "Não Aplicado";
		document.getElementById('cardiovascular3').value = "Não Aplicado";
		document.getElementById('cardiovascular4').value = "Não Aplicado";
		document.getElementById('cardiovascular5').value = "Não Aplicado";
		document.getElementById('cardiovascular6').value = "Não Aplicado";
		document.getElementById('cardiovascular7').value = "Não Aplicado";
		document.getElementById('renal1').value = "Não Aplicado";
		document.getElementById('renal2').value = "Não Aplicado";
		document.getElementById('renal3').value = "Não Aplicado";
		document.getElementById('neurologico1').value = "Não Aplicado";
		document.getElementById('metabolico1').value = "Não Aplicado";
		document.getElementById('metabolico2').value = "Não Aplicado";
		document.getElementById('metabolico3').value = "Não Aplicado";
		document.getElementById('intervencoes1').value = "Não Aplicado";
		document.getElementById('intervencoes2').value = "Não Aplicado";
		document.getElementById('intervencoes3').value = "Não Aplicado";
				 
	}
function calcular(){
	
	
	var atividades1 = document.getElementById('atividade1').value;
	var resultadoatividades1;
	if(atividades1 == "basico1"){
	
		resultadoatividades1 = 6;
	}
	else{
		resultadoatividades1 = 0;
	}

	var atividades2 = document.getElementById('atividade2').value;
	var resultadoatividades2;
	if(atividades2 == "basico2"){
	
		resultadoatividades2 = 1;
	}
	else{
		resultadoatividades2 = 0;
	}

	var atividades3 = document.getElementById('atividade3').value;
	var resultadoatividades3;
	if(atividades3 == "basico3"){
	
		resultadoatividades3	= 2;
	}
	else{
		resultadoatividades3 = 0;
	}

	var atividades4 = document.getElementById('atividade4').value;
	var resultadoatividades4;
	if(atividades4 == "basico4"){
	
		resultadoatividades4 = 3;
	}
	else{
		resultadoatividades4 = 0;
	}

	var atividades5 = document.getElementById('atividade5').value;
	var resultadoatividades5;
	if(atividades5 == "basico5"){
	
		resultadoatividades5 = 1;
	}
	else{
		resultadoatividades5 = 0;
	}

	var atividades6 = document.getElementById('atividade6').value;
	var resultadoatividades6;
	if(atividades6 == "basico6"){
	
		resultadoatividades6 = 1;
	}
	else{
		resultadoatividades6 = 0;
	}

	var atividades7 = document.getElementById('atividade7').value;
	var resultadoatividades7;
	if(atividades7 == "basico7"){
	
		resultadoatividades7 = 3;
	}
	else{
		resultadoatividades7 = 0;
	}

	var resultadofinalatividade;
	resultadofinalatividade = resultadoatividades1 + resultadoatividades2 + resultadoatividades3 + resultadoatividades4 + resultadoatividades5 + resultadoatividades6 + resultadoatividades7;
	
	var ventilatorio1 = document.getElementById('ventilatorio1').value;
	var resultadoventilatorio1;
	if(ventilatorio1 == "suportevent1"){

		resultadoventilatorio1 = 5;
	}
	else{
		resultadoventilatorio1 = 0;
	}
	var ventilatorio2 = document.getElementById('ventilatorio2').value;
	var resultadoventilatorio2;
	if(ventilatorio2 == "suportevent2"){

		resultadoventilatorio2 = 2;
	}
	else{
		resultadoventilatorio2= 0;
	}
	var ventilatorio3 = document.getElementById('ventilatorio3').value;
	var resultadoventilatorio3;
	if(ventilatorio3 == "suportevent3"){

		resultadoventilatorio3	= 1;
	}
	else{
		resultadoventilatorio3 = 0;
	}
	var ventilatorio4 = document.getElementById('ventilatorio4').value;
	var resultadoventilatorio4;
	if(ventilatorio4 == "suportevent4"){

		resultadoventilatorio4 = 1;
	}
	else{
		resultadoventilatorio4 = 0;
	}
	
	var resultadofinalventilatorio;
	resultadofinalventilatorio = resultadoventilatorio1 + resultadoventilatorio2 + resultadoventilatorio3 + resultadoventilatorio4;
	

	var resultadocardiovascular1;
	var cardiovascular1 = document.getElementById('cardiovascular1').value;
	if(cardiovascular1 == "suportecardio1"){
	
		resultadocardiovascular1 = 3;
	}
	else{
	
	resultadocardiovascular1 = 0;
	}
	var resultadocardiovascular2;
	var cardiovascular2 = document.getElementById('cardiovascular2').value;
	if(cardiovascular2 == "suportecardio2"){
	
		resultadocardiovascular2 = 4;
	}
	else{
	
	resultadocardiovascular2 = 0;
	}
	var resultadocardiovascular3;
	var cardiovascular3 = document.getElementById('cardiovascular3').value;
	if(cardiovascular3 == "suportecardio3"){
	
		resultadocardiovascular3	= 4;
	}
	else{
	
	resultadocardiovascular3 = 0;
	}
	var resultadocardiovascular4;
	var cardiovascular4 = document.getElementById('cardiovascular4').value;
	if(cardiovascular4 == "suportecardio4"){
		resultadocardiovascular4 = 5;
	}
	else{
	
	resultadocardiovascular4 = 0;
	}
	var resultadocardiovascular5;
	var cardiovascular5 = document.getElementById('cardiovascular5').value;
	if(cardiovascular5 == "suportecardio5"){
	
		resultadocardiovascular5 = 8;
	}
	else{
	
	resultadocardiovascular5 = 0;
	}
	var resultadocardiovascular6;
	var cardiovascular6 = document.getElementById('cardiovascular6').value;
	if(cardiovascular6 == "suportecardio6"){
	
		resultadocardiovascular6 = 2;
	}
	else{
	
	resultadocardiovascular6 = 0;
	}
	var resultadocardiovascular7;
	var cardiovascular7 = document.getElementById('cardiovascular7').value;
	if(cardiovascular7 == "suportecardio7"){
	
		resultadocardiovascular7 = 3;
	}
	else{
	
		resultadocardiovascular7 = 0;
	}

	var resultadofinalcardiovascular;
	resultadofinalcardiovascular = resultadocardiovascular1 + resultadocardiovascular2 + resultadocardiovascular3 + resultadocardiovascular4 + resultadocardiovascular5 + resultadocardiovascular6 + resultadocardiovascular7;


	var resultadorenal1;
	var renal1 = document.getElementById('renal1').value;
	if(renal1 == "suporterenal1"){

		resultadorenal1 = 3;
	}
	else{

	resultadorenal1	= 0;
	}
	var resultadorenal2;
	var renal2 = document.getElementById('renal2').value;
	if(renal2 == "suporterenal2"){

		resultadorenal2 = 2;
	}
	else{

	resultadorenal2	= 0;
	}
	var resultadorenal3;
	var renal3 = document.getElementById('renal3').value;
	if(renal3 == "suporterenal3"){

		resultadorenal3	= 3;
	}
	else{

		resultadorenal3	= 0;
	}

	var resultadofinalrenal;
	resultadofinalrenal = resultadorenal1 + resultadorenal2 + resultadorenal3;


	var resultadoneurologico1;
	var neurologico1 = document.getElementById('neurologico1').value;
	if(neurologico1 == "suporteneurologico1"){

		resultadoneurologico1 = 4;
	}
	else{

		resultadoneurologico1 = 0;
	}

	var resultadofinalneurologico;
	resultadofinalneurologico = resultadoneurologico1;

	var resultadometabolico1;
	var metabolico1 = document.getElementById('metabolico1').value;
	if(metabolico1 == "suportemetabolico1"){

		resultadometabolico1 = 4;
	}
	else{

	resultadometabolico1	= 0;
	}
	var resultadometabolico2;
	var metabolico2 = document.getElementById('metabolico2').value;
	if(metabolico2 == "suportemetabolico2"){

		resultadometabolico2 = 3;
	}
	else{

	resultadometabolico2	= 0;
	}
	var resultadometabolico3;
	var metabolico3 = document.getElementById('metabolico3').value;
	if(metabolico3 == "suportemetabolico3"){

		resultadometabolico3	= 2;
	}
	else{

		resultadometabolico3	= 0;
	}

	var resultadofinalmetabolico;
	resultadofinalmetabolico = resultadometabolico1 + resultadometabolico2 + resultadometabolico3;
	
	var resultadointervencoes1;
	var intervencoes1 = document.getElementById('intervencoes1').value;
	if(intervencoes1 == "especifico1"){

		resultadointervencoes1 = 3;
	}
	else{

	resultadointervencoes1	= 0;
	}
	var resultadointervencoes2;
	var intervencoes2 = document.getElementById('intervencoes2').value;
	if(intervencoes2 == "especifico2"){

		resultadointervencoes2 = 5;
	}
	else{

	resultadointervencoes2	= 0;
	}
	var resultadointervencoes3;
	var intervencoes3 = document.getElementById('intervencoes3').value;
	if(intervencoes3 == "especifico3"){

		resultadointervencoes3	= 5;
	}
	else{

		resultadointervencoes3	= 0;
	}

	var resultadofinalintervencoes;
	resultadofinalintervencoes = resultadointervencoes1 + resultadointervencoes2 + resultadointervencoes3;
	
	var score = resultadofinalatividade + resultadofinalventilatorio + resultadofinalcardiovascular + resultadofinalrenal + resultadofinalneurologico + resultadofinalmetabolico + resultadofinalintervencoes;
	
	var resultadofinal;

	if(score<10){
		resultadofinal = "Classe I - Não Necessita de UTI";
		document.getElementById('tiss').value = resultadofinal;
	}
	if(score>=10&&score<=19){
		resultadofinal = "Classe II - Indicação de UTI";
		document.getElementById('tiss').value = resultadofinal;
	}
	
	if(score>=20&&score<=39){
		resultadofinal = "Classe III - Instabilidade Hemodinamica(Assistência Intensiva)";
		document.getElementById('tiss').value = resultadofinal;
	}
	
	if(score>39){
		resultadofinal = "Classe IV - Grande Instabilidade";
		document.getElementById('tiss').value = resultadofinal;
	}
	
	if(score>34){
		resultadofinal = "Semi Intensivos";
		document.getElementById('tiss').value = resultadofinal;
	}	
}
>>>>>>> 17b38d426456f0d2076af807e7cfc404ea34af31
</script>