<%- include('../cabecalhomental'); %>

<div id="mobile" class="container">

<form action="/savepacientenorte" style="padding-left: 1%; padding-right: 1%;" method="post">
	<h2>Adicionar novo paciente</h2> 
	<% if(id.length > 0) { %>
		<% for(var i = 0; i < id.length; i++) {%>
		<input type="hidden" name="idusuario" value="<%=id[i].id_usuario %>">     
		<p hidden id="idunidade">  <%=id[i].unidade %>  
			<div>
				<div class="form-group">
					<label for="prontuario">Prontuario</label>
					<input type="text" name="prontuario" class="form-control" placeholder="prontuario" required>
				</div>
				<div class="form-group">
					<label for="paciente">Nome Paciente</label>
					<input type="text" name="paciente" class="form-control" placeholder="Nome Paciente" required>
				</div>

				<div class="form-group">
					<label for="Idade">Idade</label>
					<input type="text" name="idade" id="idade" class="form-control" placeholder="Idade" required>
				</div>
				<div class="form-group">
					<label for="diagonostico">Diagnóstico</label>
					<input type="text" name="diagnostico" class="form-control" placeholder="Diagnóstico" required>
				</div>
				<div class="form-group">
					<label for="exame">Unidade de Referência</label>
					<select  class="form-control" id="exame" name="exame">
						<option value="" disabled selected hidden>Unidade de Referência</option>
						<option value="Caps Oeste">Caps Oeste</option>
						<option value="Caps Leste">Caps Leste</option>
						<option value="Caps Norte">Caps Norte</option>
						<option value="Caps Infantil">Caps Infantil</option>
						<option value="Caps AD">Caps AD</option>
					</select>
				  </div>
				  <input type="hidden" id="referencia"  name="referencia" class="form-control">
				  <div class="form-group">
					<label for="exame">Tratamento Voluntário</label>
					<select  class="form-control" id="tratamentoSelect" name="tratamentoSelect">
						<option value="" disabled selected hidden></option>
						<option value="Sim">Sim</option>
						<option value="Não">Não</option>
						<option value="NÃO – CIVILMENTE INCAPAZ COM AUTORIZAÇÃO DO RESPONSÁVEL LEGAL">NÃO – CIVILMENTE INCAPAZ COM AUTORIZAÇÃO DO RESPONSÁVEL LEGAL</option>
					</select>
				  </div>
				  <input type="hidden" id="tratamento"  name="tratamento" class="form-control">
				  <div class="form-group">
					<label for="exame">RISCO PARA COMPORTAMENTO SUICIDA</label>
					<select  class="form-control" id="riscoSelect" name="riscoSelect">
						<option value="" disabled selected hidden></option>
						<option value="AUSENTE">AUSENTE</option>
						<option value="RISCO BAIXO SEM TENTATIVA ANTERIOR">RISCO BAIXO SEM TENTATIVA ANTERIOR </option>
						<option value="RISCO MEDIO SEM TENTATIVA ANTERIOR">RISCO MEDIO SEM TENTATIVA ANTERIOR </option>
						<option value="RISCO BAIXO COM TENTATIVA ANTERIOR">RISCO BAIXO COM TENTATIVA ANTERIOR </option>
						<option value="RISCO MEDIO COM TENTATIVA ANTERIOR">RISCO MEDIO COM TENTATIVA ANTERIOR </option>
						<option value="RISCO ALTO SEM TENTATIVA ANTERIOR">RISCO ALTO SEM TENTATIVA ANTERIOR</option>
						<option value="RISCO ALTO COM TENTATIVA ANTERIOR">RISCO ALTO COM TENTATIVA ANTERIOR</option>
					</select>
				  </div>
				  <input type="hidden" id="risco"  name="risco" class="form-control">
				  <div class="form-group">
					<label for="exame">ALTERAÇÃO DA PSICOMOTRICIDADE E/OU COMPORTAMENTO HOSTIL</label>
					<select  class="form-control" id="comportamentoSelect" name="comportamentoSelect">
						<option value="" disabled selected hidden></option>
						<option value="AUSENTE">AUSENTE</option>
						<option value="RETRAÇÃO PSICOMOTORA SEM IRRITABILIDADE">RETRAÇÃO PSICOMOTORA SEM IRRITABILIDADE </option>
						<option value="EXPANSIVIDADE PSICOMOTORA SEM IRRITABILIDADE">EXPANSIVIDADE PSICOMOTORA SEM IRRITABILIDADE </option>
						<option value="INQUIETAÇÃO PSICOMOTORA SEM IRRITABILIDADE">INQUIETAÇÃO PSICOMOTORA SEM IRRITABILIDADE </option>
						<option value="RETRAÇÃO PSICOMOTORA COM IRRITABILIDADE QUANDO ESTIMULADO">RETRAÇÃO PSICOMOTORA COM IRRITABILIDADE QUANDO ESTIMULADO </option>
						<option value="EXPANSIVIDADE PSICOMOTORA COM IRRITABILIDADE QUANDO ESTIMULADO">EXPANSIVIDADE PSICOMOTORA COM IRRITABILIDADE QUANDO ESTIMULADO</option>
						<option value="INQUIETAÇÃO PSICOMOTORA COM IRRITABILIDADE QUANDO ESTIMULADO">INQUIETAÇÃO PSICOMOTORA COM IRRITABILIDADE QUANDO ESTIMULADO</option>
						<option value="RETRAÇÃO PSICOMOTORA COM IRRITABILIDADE CLARA">RETRAÇÃO PSICOMOTORA COM IRRITABILIDADE CLARA</option>
						<option value="EXPANSIVIDADE PSICOMOTORA COM IRRITABILIDADE CLARA">EXPANSIVIDADE PSICOMOTORA COM IRRITABILIDADE CLARA </option>
						<option value="INQUIETAÇÃO PSICOMOTORA COM IRRITABILIDADE CLARA ">INQUIETAÇÃO PSICOMOTORA COM IRRITABILIDADE CLARA </option>
						<option value="AGITAÇÃO OU INQUIETAÇÃO PSICOMOTORA COM COMPORTAMENTO PROVOCATIVO VERBAL OU NÃO VERBAL">AGITAÇÃO OU INQUIETAÇÃO PSICOMOTORA COM COMPORTAMENTO PROVOCATIVO VERBAL OU NÃO VERBAL</option>
						<option value="AGITAÇÃO OU INQUIETAÇÃO PSICOMOTORA COM INTENÇÃO CLARA DE AGREDIR ">AGITAÇÃO OU INQUIETAÇÃO PSICOMOTORA COM INTENÇÃO CLARA DE AGREDIR </option>
						<option value="AGITAÇÃO PSICOMOTORA COM AGRESSÃO FISICA DIRETA">AGITAÇÃO PSICOMOTORA COM AGRESSÃO FISICA DIRETA</option>
					</select>
				  </div>
				  <input type="hidden" id="comportamento"  name="comportamento" class="form-control">
				  <div class="form-group">
					<label for="exame">COMPORTAMENTO DE EXPOSIÇÃO À RISCOS OU AUTOLESIVOS</label>
					<select  class="form-control" id="exposicaoSelect" name="exposicaoSelect">
						<option value="" disabled selected hidden></option>
						<option value="AUSENTE">AUSENTE</option>
						<option value="RARAMENTE SE EXPOE A RISCOS DE MANEIRA INTENCIONAL OU NÃO (ALTERAÇÃO DO JUIZO CRÍTICO)">RARAMENTE SE EXPOE A RISCOS DE MANEIRA INTENCIONAL OU NÃO (ALTERAÇÃO DO JUIZO CRÍTICO)</option>
						<option value="EVENTUALMENTE SE EXPOE A RISCOS DE MANEIRA INTENCIONAL OU NÃO (ALTERAÇÃO DO JUIZO CRÍTICO)">EVENTUALMENTE SE EXPOE A RISCOS DE MANEIRA INTENCIONAL OU NÃO (ALTERAÇÃO DO JUIZO CRÍTICO)</option>
						<option value="PRESENÇA DE AUTOLESÃO INTENCIONAL SEM IDEAÇÃO DE MORTE">PRESENÇA DE AUTOLESÃO INTENCIONAL SEM IDEAÇÃO DE MORTE</option>
						<option value="FREQUENTEMENTE SE EXPOE A RISCOS DE MANEIRA INTENCIONAL OU NÃO (ALTERAÇÃO DO JUÍZO CRITICO)">FREQUENTEMENTE SE EXPOE A RISCOS DE MANEIRA INTENCIONAL OU NÃO (ALTERAÇÃO DO JUÍZO CRITICO)</option>
						<option value="PRESENÇA DE AUTOLESÃO INTENCIONAL COM IDEAÇÃO DE MORTE">PRESENÇA DE AUTOLESÃO INTENCIONAL COM IDEAÇÃO DE MORTE</option>
						<option value="PRESENÇA DE AUTOLESÃO NÃO INTENCIONAL POR ALTERAÇÃO DO JUÍZO CRÍTICO">PRESENÇA DE AUTOLESÃO NÃO INTENCIONAL POR ALTERAÇÃO DO JUÍZO CRÍTICO</option>
					</select>
				  </div>
				  <input type="hidden" id="exposicao"  name="exposicao" class="form-control">
				  <div class="form-group">
					<label for="exame">AUTONEGLIGENCIA GRAVE</label>
					<select  class="form-control" id="autonegligenciaSelect" name="autonegligenciaSelect">
						<option value="" disabled selected hidden></option>
						<option value="AUSENTE">AUSENTE</option>
						<option value="PERDA PARCIAL DO AUTOCUIDADO (HABITOS DE HIGIENE)">PERDA PARCIAL DO AUTOCUIDADO (HABITOS DE HIGIENE)</option>
						<option value="PERDA MODERADA DO AUTOCUIDADO (HABITOS DE HIGIENE)">PERDA MODERADA DO AUTOCUIDADO (HABITOS DE HIGIENE)</option>
						<option value="PERDA IMPORTANTE DO AUTOCUIDADO (HABITOS DE HIGIENE E ALIMENTAÇÃO)">PERDA IMPORTANTE DO AUTOCUIDADO (HABITOS DE HIGIENE E ALIMENTAÇÃO)</option>
						<option value="PERDA PONDERAL, AUSÊNCIA COMPLETA DE AUTOCUIDADO E INAPETÊNCIA, SEM COMPROMETIMENTO CLÍNICO">PERDA PONDERAL, AUSÊNCIA COMPLETA DE AUTOCUIDADO E INAPETÊNCIA, SEM COMPROMETIMENTO CLÍNICO</option>
						<option value="DESNUTRIÇÃO E INAPETÊNCIA, COM SITUAÇÃO CLÍNICA COMPROMETIDA">DESNUTRIÇÃO E INAPETÊNCIA, COM SITUAÇÃO CLÍNICA COMPROMETIDA</option>
					</select>
				  </div>
				  <input type="hidden" id="autonegligencia"  name="autonegligencia" class="form-control">
				  <div class="form-group">
					<label for="exame">USO DE SUBSTÂNCIAS PSICOATIVAS</label>
					<select  class="form-control" id="dependenciaSelect" name="dependenciaSelect">
						<option value="" disabled selected hidden></option>
						<option value="AUSENTE">AUSENTE</option>
						<option value="USO CASUAL">USO CASUAL</option>
						<option value="USO NOCIVO">USO NOCIVO</option>
						<option value="DEPENDÊNCIA SEM SINAIS DE ABSTINÊNCIA">DEPENDÊNCIA SEM SINAIS DE ABSTINÊNCIA</option>
						<option value="DEPENDÊNCIA COM SINAIS DE ABSTINÊNCIA LEVE">DEPENDÊNCIA COM SINAIS DE ABSTINÊNCIA LEVE</option>
						<option value="DEPENDÊNCIA COM SINAIS DE ABSTINÊNCIA MODERADO">DEPENDÊNCIA COM SINAIS DE ABSTINÊNCIA MODERADO</option>
						<option value="DEPENDÊNCIA COM SINAIS DE ABSTINÊNCIA GRAVE">DEPENDÊNCIA COM SINAIS DE ABSTINÊNCIA GRAVE</option>
					</select>
				  </div>
				  <input type="hidden" id="dependencia"  name="dependencia" class="form-control">
				  <div class="form-group">
					<label for="exame">ESQUEMA TERAPÊUTICO</label>
					<select  class="form-control" id="terapeuticoSelect" name="terapeuticoSelect">
						<option value="" disabled selected hidden></option>
						<option value="MANTIDO O QUE ESTÁ EM USO">MANTIDO O QUE ESTÁ EM USO</option>
						<option value="INÍCIO DE TRATAMENTO">INÍCIO DE TRATAMENTO</option>
						<option value="ACRESCENTADO MEDICAÇÕES NOVAS">ACRESCENTADO MEDICAÇÕES NOVAS</option>
						<option value="TROCA DE TODO O ESQUEMA TERAPÊUTICO">TROCA DE TODO O ESQUEMA TERAPÊUTICO</option>
						<option value="INÍCIO DE CLOZAPINA">INÍCIO DE CLOZAPINA </option>
					</select>
				  </div>
				  <input type="hidden" id="terapeutico"  name="terapeutico" class="form-control">
				  <div class="form-group">
					<label for="exame">SOCIAL</label>
					<select  class="form-control" id="socialSelect" name="socialSelect">
						<option value="" disabled selected hidden></option>
						<option value="AUSENTE">AUSENTE</option>
						<option value="SEM SUPORTE FAMILIAR">SEM SUPORTE FAMILIAR</option>
						<option value="EXPOSIÇÃO MORAL EM MAIOR DE 18 ANOS">EXPOSIÇÃO MORAL EM MAIOR DE 18 ANOS</option>
						<option value="CONFLITO NA COMUNIDADE">CONFLITO NA COMUNIDADE</option>
						<option value="EXPOSIÇÃO MORAL EM MENOR DE 18 ANOS">EXPOSIÇÃO MORAL EM MENOR DE 18 ANOS</option>
						<option value="SITUAÇÃO DE RUA">SITUAÇÃO DE RUA </option>
					</select>
				  </div>
				  <input type="hidden" id="social"  name="social" class="form-control">
				  <div  class="form-group">
					<button onclick="calcular()" type="button" class="btn btn-primary">Aplicar Critério de Classificação</button>
				</div>
				<input type="hidden" id="soma"  name="soma" class="form-control">
				<br>
				<input type="text" id="classificado" value="Classificado" class="form-control">
				<br>
				<input  type="hidden" id="data" name="data"  class="form-control">
							  <input  type="hidden" id="dataatu" name="dataatu"  class="form-control">
							  <input  type="hidden" id="horas" name="horas"  class="form-control">
				  
			</div>							
                <div>
                    <a href="cadastrarpacientenorte?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
                    <button type="submit" class="btn btn-success">Salvar</button>
					<br>
					<br>
					<br>
                </div>
                <% } %>	
                <% } %> 
</form>
</div>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
<%- include('../../home/footer'); %>
</html>
<script>
	$(function(){
	$(window).on('resize load', function() {
  if ($(window).width() <= 768) { 
    $("#mobile").removeClass("container");
  }
  else {
    $("#mobile").addClass("container");
  }
});
});
	$("#exame").on('change', function(e){
     var exame = $(this).val();
     document.getElementById('referencia').value = exame;
});

$("#tratamentoSelect").on('change', function(e){
     var tratamento = $(this).val();
     document.getElementById('tratamento').value = tratamento;
});
$("#riscoSelect").on('change', function(e){
     var risco = $(this).val();
     document.getElementById('risco').value = risco;
});
$("#comportamentoSelect").on('change', function(e){
     var comportamento = $(this).val();
     document.getElementById('comportamento').value = comportamento;
});
$("#exposicaoSelect").on('change', function(e){
     var exposicao = $(this).val();
     document.getElementById('exposicao').value = exposicao;
});
$("#autonegligenciaSelect").on('change', function(e){
     var autonegligencia = $(this).val();
     document.getElementById('autonegligencia').value = autonegligencia;
});
$("#dependenciaSelect").on('change', function(e){
     var dependencia = $(this).val();
     document.getElementById('dependencia').value = dependencia;
});
$("#terapeuticoSelect").on('change', function(e){
     var terapeutico = $(this).val();
     document.getElementById('terapeutico').value = terapeutico;
});
$("#socialSelect").on('change', function(e){
     var social = $(this).val();
     document.getElementById('social').value = social;
});

function novaHora(){
	
	var date = new Date();
	document.getElementById('horas').value= [date.getHours(), date.getMinutes()].map(pad).join(':');
	document.getElementById('data').value = date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear();
	document.getElementById('dataatu').value = date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear();
}
novaHora();

function calcular(){
	var tratamento = document.getElementById('tratamento').value;
	var risco = document.getElementById('risco').value;
	var comportamento = document.getElementById('comportamento').value;
	var exposicao = document.getElementById('exposicao').value;
	var autonegligencia = document.getElementById('autonegligencia').value;
	var dependencia = document.getElementById('dependencia').value;
	var terapeutico = document.getElementById('terapeutico').value;
	var social = document.getElementById('social').value;
	var idade = document.getElementById('idade').value;
	var numtra;
	var numrisc;
	var numcom;
	var numexp;
	var numal;
	var numdep;
	var numter;
	var numsoc;
	var numida;
	if(tratamento == "Sim"){
		numtra = 0;
	}
	if(tratamento == "Não"){
		numtra = "Excludente"
	}
	if(tratamento == "NÃO – CIVILMENTE INCAPAZ COM AUTORIZAÇÃO DO RESPONSÁVEL LEGAL"){
		numtra = 0
	}
	if(risco == "AUSENTE"){
		numrisc = 0;
	}
	if(risco == "RISCO BAIXO SEM TENTATIVA ANTERIOR"){
		numrisc = 3;
	}
	if(risco == "RISCO MEDIO SEM TENTATIVA ANTERIOR"){
		numrisc = 6;
	}
	if(risco == "RISCO BAIXO COM TENTATIVA ANTERIOR"){
		numrisc = 9;
	}
	if(risco == "RISCO MEDIO COM TENTATIVA ANTERIOR"){
		numrisc = 12;
	}
	if(risco == "RISCO ALTO SEM TENTATIVA ANTERIOR"){
		numrisc = "Excludente";
	}
	if(risco == "RISCO ALTO COM TENTATIVA ANTERIOR"){
		numrisc = "Excludente";
	}
	if(comportamento == "AUSENTE"){
		numcom = 0;
	}
	if(comportamento == "RETRAÇÃO PSICOMOTORA SEM IRRITABILIDADE"){
		numcom = 3;
	}
	if(comportamento == "EXPANSIVIDADE PSICOMOTORA SEM IRRITABILIDADE"){
		numcom = 6;
	}
	if(comportamento == "INQUIETAÇÃO PSICOMOTORA SEM IRRITABILIDADE"){
		numcom = 6;
	}
	if(comportamento == "RETRAÇÃO PSICOMOTORA COM IRRITABILIDADE QUANDO ESTIMULADO"){
		numcom = 9;
	}
	if(comportamento == "EXPANSIVIDADE PSICOMOTORA COM IRRITABILIDADE QUANDO ESTIMULADO"){
		numcom = 9;
	}
	if(comportamento == "INQUIETAÇÃO PSICOMOTORA COM IRRITABILIDADE QUANDO ESTIMULADO"){
		numcom = 9;
	}
	if(comportamento == "RETRAÇÃO PSICOMOTORA COM IRRITABILIDADE CLARA"){
		numcom = 12;
	}
	if(comportamento == "EXPANSIVIDADE PSICOMOTORA COM IRRITABILIDADE CLARA"){
		numcom = 12;
	}
	if(comportamento == "INQUIETAÇÃO PSICOMOTORA COM IRRITABILIDADE CLARA "){
		numcom = 12;
	}
	if(comportamento == "AGITAÇÃO OU INQUIETAÇÃO PSICOMOTORA COM COMPORTAMENTO PROVOCATIVO VERBAL OU NÃO VERBAL"){
		numcom = "Excludente";
	}
	if(comportamento == "AGITAÇÃO OU INQUIETAÇÃO PSICOMOTORA COM INTENÇÃO CLARA DE AGREDIR "){
		numcom = "Excludente";
	}
	if(comportamento == "AGITAÇÃO PSICOMOTORA COM AGRESSÃO FISICA DIRETA"){
		numcom = "Excludente";
	}
	if(exposicao == "AUSENTE"){
		numexp = 0;
	}
	if(exposicao == "RARAMENTE SE EXPOE A RISCOS DE MANEIRA INTENCIONAL OU NÃO (ALTERAÇÃO DO JUIZO CRÍTICO)"){
		numexp = 2;
	}
	if(exposicao == "EVENTUALMENTE SE EXPOE A RISCOS DE MANEIRA INTENCIONAL OU NÃO (ALTERAÇÃO DO JUIZO CRÍTICO)"){
		numexp = 4;
	}
	if(exposicao == "PRESENÇA DE AUTOLESÃO INTENCIONAL SEM IDEAÇÃO DE MORTE"){
		numexp = 6;
	}
	if(exposicao == "FREQUENTEMENTE SE EXPOE A RISCOS DE MANEIRA INTENCIONAL OU NÃO (ALTERAÇÃO DO JUÍZO CRITICO)"){
		numexp = 8;
	}
	if(exposicao == "PRESENÇA DE AUTOLESÃO INTENCIONAL COM IDEAÇÃO DE MORTE"){
		numexp = "Excludente";
	}
	if(exposicao == "PRESENÇA DE AUTOLESÃO NÃO INTENCIONAL POR ALTERAÇÃO DO JUÍZO CRÍTICO"){
		numexp = "Excludente";
	}
	if(autonegligencia == "AUSENTE"){
		numal = 0;
	}
	if(autonegligencia == "PERDA PARCIAL DO AUTOCUIDADO (HABITOS DE HIGIENE)"){
		numal = 2;
	}
	if(autonegligencia == "PERDA MODERADA DO AUTOCUIDADO (HABITOS DE HIGIENE)"){
		numal = 4;
	}
	if(autonegligencia == "PERDA IMPORTANTE DO AUTOCUIDADO (HABITOS DE HIGIENE E ALIMENTAÇÃO)"){
		numal = 6;
	}
	if(autonegligencia == "PERDA PONDERAL, AUSÊNCIA COMPLETA DE AUTOCUIDADO E INAPETÊNCIA, SEM COMPROMETIMENTO CLÍNICO"){
		numal = 8;
	}
	if(autonegligencia == "DESNUTRIÇÃO E INAPETÊNCIA, COM SITUAÇÃO CLÍNICA COMPROMETIDA"){
		numal = "Excludente";
	}
	if(dependencia == "AUSENTE"){
		numdep = 0;
	}
	if(dependencia == "USO CASUAL"){
		numdep = 3;
	}
	if(dependencia == "USO NOCIVO"){
		numdep = 6;
	}
	if(dependencia == "DEPENDÊNCIA SEM SINAIS DE ABSTINÊNCIA"){
		numdep = 9;
	}
	if(dependencia == "DEPENDÊNCIA COM SINAIS DE ABSTINÊNCIA LEVE"){
		numdep = 9;
	}
	if(dependencia == "DEPENDÊNCIA COM SINAIS DE ABSTINÊNCIA MODERADO"){
		numdep = 12;
	}
	if(dependencia == "DEPENDÊNCIA COM SINAIS DE ABSTINÊNCIA GRAVE"){
		numdep = "Excludente";
	}
	if(terapeutico == "MANTIDO O QUE ESTÁ EM USO"){
		numter = 0;
	}
	if(terapeutico == "INÍCIO DE TRATAMENTO"){
		numter = 1;
	}
	if(terapeutico == "ACRESCENTADO MEDICAÇÕES NOVAS"){
		numter = 2;
	}
	if(terapeutico == "TROCA DE TODO O ESQUEMA TERAPÊUTICO"){
		numter = 3;
	}
	if(terapeutico == "INÍCIO DE CLOZAPINA"){
		numter = 4;
	}
	if(social == "AUSENTE"){
		numsoc = 0;
	}
	if(social == "SEM SUPORTE FAMILIAR"){
		numsoc = 3;
	}
	if(social == "EXPOSIÇÃO MORAL EM MAIOR DE 18 ANOS"){
		numsoc = 6;
	}
	if(social == "CONFLITO NA COMUNIDADE"){
		numsoc = 9;
	}
	if(social == "EXPOSIÇÃO MORAL EM MENOR DE 18 ANOS"){
		numsoc = 12;
	}
	if(social == "SITUAÇÃO DE RUA"){
		numsoc = 12;
	}
	if(idade >= 19 && idade <=59){
		numida = 1;
	}
	if(idade >= 60){
		numida = 2;
	}
	if(idade >= 12 && idade <=18){
		numida = 3;
	}
	if(idade < 12){
		numida = 4;
	}
	if(numtra == "Excludente" || numrisc== "Excludente" ||numcom== "Excludente" ||numexp== "Excludente" ||numal== "Excludente" ||numdep== "Excludente" ||numter== "Excludente" ||numsoc== "Excludente" ||numida== "Excludente"){
		document.getElementById('soma').value = "Excludente";
		alert("Encaminha para Urgência");
		document.getElementById("classificado").style.display = 'inline';
	}else{
		var soma;
		console.log(numtra,numrisc,numcom,numexp,numal,numdep,numter,numsoc,numida)
	soma = numtra+numrisc+numcom+numexp+numal+numdep+numter+numsoc+numida
	document.getElementById('soma').value = soma;
	document.getElementById("classificado").style.display = 'inline';
	}
	
	      
};
window.onload = function() {
	document.getElementById("classificado").style.display = 'none';
}
</script>