<%- include('./cabecalhoregulacao'); %>
        <% if(id.length > 0) { %>
            <% for(var i = 0; i < id.length; i++) {%>
                <div class="container">
                    <h2>Pacientes</h2>
                    <a href="addpacientemartins?id=<%=id[i].id_usuario %>"><button class="btn btn-success"  >Adicionar Paciente</button></a>
                    <br>
                    <br>
                    
                    <table class="table table-striped" id="mytable">
                        <input id="usuario" name="usuario" type="hidden" value="<%=id[i].id_usuario %>">
                        
                        <thead>
                            <tr>
                                <th hidden>id</th>
                                <th>SusFacil</th>
                                <th>Prontuario</th>
                                <th>Nome</th>
                                <th>Idade</th>
                                <th>Leito</th>
                                <th>Data de Exame</th>
                                <th>Exame</th>
                                <th>News</th>
                                <th>Paliativo</th>
                                <th>ECF</th>
                                <th>Data Atualização</th>
                                <th>Ultima Atualização</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>    
                                <% if(paciente.length > 0) { %>
                                    <% for(var j = 0; j < paciente.length; j++) {%>
                                        
                                <tr>
                                    <td hidden><%=paciente[j].id_paciente %></td>
                                    <td><%=paciente[j].susfacil %></td>
                                    <th><%=paciente[j].prt %></th>
                                    <td><%=paciente[j].paciente %></td>
                                    <td><%=paciente[j].idade %></td>
                                    <td><%=paciente[j].leito %></td>
                                    <td><%=paciente[j].dataexame %></td>
                                    <td><%=paciente[j].exame %></td>
                                    <td><%=paciente[j].news %></td>
                                    <td><%=paciente[j].paliativo %></td>
                                    <td><%=paciente[j].ecf %></td>
                                    <td id=""><%=paciente[j].data %></td>
                                    <td id="time"><%=paciente[j].tempo %></td>
                                <td><a href="editpacientemartins/<%=id[i].id_usuario %>/?id=<%=paciente[j].id_paciente %> %>" class="btn btn-sm btn-info edit">Edit</a>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" onclick="setaDadosModal('<%=paciente[j].id_paciente %>'), setaDadosModal2('<%=id[i].id_usuario %>')" class="btn btn-sm btn-danger delete"  data-toggle="modal" data-target="#BaixaModal">Saida</a>
                                </td>
                            </tr>
                            <% } %>	
                            <% } %>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <br>
            
    
                    
                <!-- Delete Product Modal-->
                <form id="add-row-form" action="/baixamartins" method="POST">
                    <div class="modal fade" id="BaixaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">Baixa Paciente</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <select  class="form-control" id="baixaselect" name="baixaselect">
                                        <option value="" disabled selected hidden>Exame</option>
                                        <option value="transferência">Transferência</option>
                                        <option value="alta">Alta</option>
                                        <option value="obito">Obito</option>
                                        <option value="evasao">evasao</option>
                                    </select>
                                    <input type="hidden" name="campo" id="campo">
                                    <input type="hidden" name="campo2" id="campo2">
                                    <input type="hidden" name="baixa" id="baixa">
                                  </div>
                                  <input  type="hidden" name="covid" id="covid">
                                  <div id="hora" class="form-group">
                                    <input  type="hidden" id="data" name="data"  class="form-control">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                    <button type="submit" class="btn btn-success">Atualizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            <% } %>	
                <% } %>
                </div>
               
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.min.js"></script>
<script src="https://colorlib.com/polygon/vendors/jquery/dist/jquery.min.js"></script>
<script src="https://colorlib.com/polygon/vendors/pnotify/dist/pnotify.js"></script>
<script src="https://colorlib.com/polygon/vendors/pnotify/dist/pnotify.buttons.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.2/js/dataTables.select.min.js" ></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<%- include('../home/footer'); %>
</body>
</html>
<script>
    $(document).ready(function() {
        $('#mytable').DataTable( {
            dom: 'Bfrtip',
            order: ([ 3, 'asc']),
            
        pageLength: 50,
        buttons: [       
            {
                "extend": "copyHtml5",
                "text": "COPIAR",
                header: false
            },          
            {
                "extend": "pdf",
                "text": "PDF",
                header: false
            },
            {
                "extend": "excelHtml5",
                "text": "EXCEL",
                header: false
            },
            {
                "extend": "print",
                "text": "IMPRIMIR",
                header: false
            }
        ],language: {
            buttons: {
                copyTitle: 'Copiado para área de transferência',
                copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                copySuccess: {
                    _: '%d linhas copiadas',
                    1: '1 linha copiada'
                }
            },
            "paginate": {
                "previous": "Anterior",
                "next": "Próximo"
            },
            "search": "Pesquisar:"
        },
        select: true
    } );
} );

    function pad(s){
            return (s<10) ? '0' + s :s;
        }
    function novaHora(){
        
        var date = new Date();
        document.getElementById('data').value = date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear();
    }
    novaHora();
    
    
    function setaDadosModal(valor) {
        document.getElementById('campo').value = valor;
    }
    
    function setaDadosModal2(valor) {
        document.getElementById('campo2').value = valor;
    }
    $("#baixaselect").on('change', function(e){
        var baixa = $(this).val();
        document.getElementById('baixa').value = baixa;
    });
    
    setInterval(function(){
        init_PNotify()
    },10000)
    
    function init_PNotify() {
        
        var data = new Date;
        var now = (new Date).toLocaleString().substr(11, 5)
        var hoje = data.getDate() + "/" + (data.getMonth()+1) + "/" + data.getFullYear();
        $('#mytable tbody tr').each(function(i){
            tr=$(this);
            tr.children('td').removeClass('fundoIdade');
            valor=tr.children('td:eq(11)').html();
            date = tr.children('td:eq(10)').html();
            news =tr.children('td:eq(7)').html();
            
            if(news <= 4){
                var tempocerto = somartempos('6:00', valor); 
                console.log(now, tempocerto);
                if(hoje > date || now == tempocerto || now > tempocerto){
                    tr.children('td:eq(7)').addClass('fundoIdade');
                    notificação(); 
                }
            }if(news > 4 && news <=6){
                var tempocerto = somartempos('4:00', valor);
                console.log(now, tempocerto); 
                if(hoje > date || now == tempocerto || now > tempocerto){
                    tr.children('td:eq(7)').addClass('fundoIdade1');
                    notificação(); 
                }
            }if(news >= 7){
                var tempocerto = somartempos('1:00', valor); 
                console.log(now, tempocerto);
                if( hoje > date || now == tempocerto || now > tempocerto){
                    tr.children('td:eq(7)').addClass('fundoIdade2');
                    notificação(); 
                }
            }
            if(news = 0){
                var tempocerto = somartempos('1:00', valor); 
                console.log(now, tempocerto);
                if(hoje > date || now == tempocerto || now > tempocerto){
                    notificação(); 
                }
            }
            
        })       
    };
    
    function somartempos(tempo1, tempo2) {
        
        var array1 = tempo1.split(':');
        var tempo_seg1 = (parseInt(array1[0]) * 3600) + (parseInt(array1[1]) * 60);
        var array2 = tempo2.split(':');
        var tempo_seg2 = (parseInt(array2[0]) * 3600) + (parseInt(array2[1]) * 60);
        var tempofinal = parseInt(tempo_seg1) + parseInt(tempo_seg2);
        var hours = Math.floor(tempofinal / (60 * 60));
        var divisorMinutos = tempofinal % (60 * 60);
        var minutes = Math.floor(divisorMinutos / 60);
        var contador = "";
        if (hours < 10) { contador = "0" + hours + ":"; } else { contador = hours + ":"; }
        if (minutes < 10) { contador += "0" + minutes } else { contador += minutes; }
        return contador;
    }
    
    function notificação(){
        new PNotify({
            title: "Alerta",
            type: "info",
            text: "Há paciente sem atualizar",
            maxonscreen: Infinity,
            closer: true,
            closer_hover: true,
            opacity: 0.95,
            history: false,
            sticker: true,
            nonblock: {
                nonblock: true,
            },
            addclass: 'pnotify-center',
            delay:2000,
            styling: 'bootstrap3',
            hide: true,
            remove: true
        });
    }
    
    </script>