<%- include('./cabecalhoregulacao'); %>
<div id="mobile" class="container">

<form action="/editarleitopampulha" style="padding-left: 1%; padding-right: 1%;" method="post">
                <h2>Quantidades de leitos UAI Pampulha</h2> 
                <% if(id.length > 0) { %>
                    <% for(var i = 0; i < id.length; i++) {%>
                    <input type="hidden" name="idusuario" value="<%=id[i].id_usuario %>">     
                    <p hidden id="idunidade">  <%=id[i].unidade %>  
                        <% if(leito.length > 0) { %>
                            <% for(var j = 0; j < leito.length; j++) {%>
                        <div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência covid 1</label>
                                <input type="number"  name="sec1" class="form-control" value="<%=leito[j].sec1 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência covid 1 (Camas)</label>
                                <input type="number"  name="sec1cc" class="form-control" value="<%=leito[j].sec1cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Sala de Emergência covid 1 (Camas) Ocupados</label>
                                <input type="number" name="sec1ccv" class="form-control" value="<%=leito[j].sec1ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência covid 1 (Macas)</label>
                                <input type="number"  name="sec1cm" class="form-control" value="<%=leito[j].sec1cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Sala de Emergência covid 1 (Macas) Ocupados</label>
                                <input type="number" name="sec1cmv" class="form-control" value="<%=leito[j].sec1cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência covid 2</label>
                                <input type="number"  name="sec2" class="form-control" value="<%=leito[j].sec2 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência covid 2 (Camas)</label>
                                <input type="number"  name="sec2cc" class="form-control" value="<%=leito[j].sec2cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Sala de Emergência covid 2 (Camas) Ocupados</label>
                                <input type="number" name="sec2ccv" class="form-control" value="<%=leito[j].sec2ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência covid 2 (Macas)</label>
                                <input type="number"  name="sec2cm" class="form-control" value="<%=leito[j].sec2cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Sala de Emergência covid 2 (Macas) Ocupados</label>
                                <input type="number" name="sec2cmv" class="form-control" value="<%=leito[j].sec2cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência covid 3</label>
                                <input type="number"  name="sec3" class="form-control" value="<%=leito[j].sec3 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência covid 3 (Camas)</label>
                                <input type="number"  name="sec3cc" class="form-control" value="<%=leito[j].sec3cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Sala de Emergência covid 3 (Camas) Ocupados</label>
                                <input type="number" name="sec3ccv" class="form-control" value="<%=leito[j].sec3ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência covid 3 (Macas)</label>
                                <input type="number"  name="sec3cm" class="form-control" value="<%=leito[j].sec3cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Sala de Emergência covid 3 (Macas) Ocupados</label>
                                <input type="number" name="sec3cmv" class="form-control" value="<%=leito[j].sec3cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 1</label>
                                <input type="number"  name="ec1" class="form-control" value="<%=leito[j].ec1 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 1 (Camas)</label>
                                <input type="number"  name="ec1cc" class="form-control" value="<%=leito[j].ec1cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 1 (Camas) Ocupados</label>
                                <input type="number" name="ec1ccv" class="form-control" value="<%=leito[j].ec1ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 1 (Macas)</label>
                                <input type="number"  name="ec1cm" class="form-control" value="<%=leito[j].ec1cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 1 (Macas) Ocupados</label>
                                <input type="number" name="ec1cmv" class="form-control" value="<%=leito[j].ec1cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 2</label>
                                <input type="number"  name="ec2" class="form-control" value="<%=leito[j].ec2 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 2 (Camas)</label>
                                <input type="number"  name="ec2cc" class="form-control" value="<%=leito[j].ec2cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 2 (Camas) Ocupados</label>
                                <input type="number" name="ec2ccv" class="form-control" value="<%=leito[j].ec2ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 2 (Macas)</label>
                                <input type="number"  name="ec2cm" class="form-control" value="<%=leito[j].ec2cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 2 (Macas) Ocupados</label>
                                <input type="number" name="ec2cmv" class="form-control" value="<%=leito[j].ec2cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 3</label>
                                <input type="number"  name="ec3" class="form-control" value="<%=leito[j].ec3 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 3 (Camas)</label>
                                <input type="number"  name="ec3cc" class="form-control" value="<%=leito[j].ec3cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 3 (Camas) Ocupados</label>
                                <input type="number" name="ec3ccv" class="form-control" value="<%=leito[j].ec3ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 3 (Macas)</label>
                                <input type="number"  name="ec3cm" class="form-control" value="<%=leito[j].ec3cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 3 (Macas) Ocupados</label>
                                <input type="number" name="ec3cmv" class="form-control" value="<%=leito[j].ec3cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 4</label>
                                <input type="number"  name="ec4" class="form-control" value="<%=leito[j].ec4 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 4 (Camas)</label>
                                <input type="number"  name="ec4cc" class="form-control" value="<%=leito[j].ec4cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 4 (Camas) Ocupados</label>
                                <input type="number" name="ec4ccv" class="form-control" value="<%=leito[j].ec4ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 4 (Macas)</label>
                                <input type="number"  name="ec4cm" class="form-control" value="<%=leito[j].ec4cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 4 (Macas) Ocupados</label>
                                <input type="number" name="ec4cmv" class="form-control" value="<%=leito[j].ec4cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 5</label>
                                <input type="number"  name="ec5" class="form-control" value="<%=leito[j].ec5 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 5 (Camas)</label>
                                <input type="number"  name="ec5cc" class="form-control" value="<%=leito[j].ec5cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 5 (Camas) Ocupados</label>
                                <input type="number" name="ec5ccv" class="form-control" value="<%=leito[j].ec5ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 5 (Macas)</label>
                                <input type="number"  name="ec5cm" class="form-control" value="<%=leito[j].ec5cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 5 (Macas) Ocupados</label>
                                <input type="number" name="ec5cmv" class="form-control" value="<%=leito[j].ec5cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 6</label>
                                <input type="number"  name="ec6" class="form-control" value="<%=leito[j].ec6 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 6 (Camas)</label>
                                <input type="number"  name="ec6cc" class="form-control" value="<%=leito[j].ec6cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 6 (Camas) Ocupados</label>
                                <input type="number" name="ec6ccv" class="form-control" value="<%=leito[j].ec6ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 6 (Macas)</label>
                                <input type="number"  name="ec6cm" class="form-control" value="<%=leito[j].ec6cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 6 (Macas) Ocupados</label>
                                <input type="number" name="ec6cmv" class="form-control" value="<%=leito[j].ec6cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 7</label>
                                <input type="number"  name="ec7" class="form-control" value="<%=leito[j].ec7 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 7 (Camas)</label>
                                <input type="number"  name="ec7cc" class="form-control" value="<%=leito[j].ec7cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 7 (Camas) Ocupados</label>
                                <input type="number" name="ec7ccv" class="form-control" value="<%=leito[j].ec7ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 7 (Macas)</label>
                                <input type="number"  name="ec7cm" class="form-control" value="<%=leito[j].ec7cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria covid 7 (Macas) Ocupados</label>
                                <input type="number" name="ec7cmv" class="form-control" value="<%=leito[j].ec7cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência</label>
                                <input type="number"  name="se" class="form-control" value="<%=leito[j].se %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência (Camas)</label>
                                <input type="number"  name="secc" class="form-control" value="<%=leito[j].secc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Sala de Emergência (Camas) Ocupados</label>
                                <input type="number" name="seccv" class="form-control" value="<%=leito[j].seccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência (Macas)</label>
                                <input type="number"  name="secm" class="form-control" value="<%=leito[j].secm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Sala de Emergência (Macas) Ocupados</label>
                                <input type="number" name="secmv" class="form-control" value="<%=leito[j].secmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 1</label>
                                <input type="number"  name="e1" class="form-control" value="<%=leito[j].e1 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 1 (Camas)</label>
                                <input type="number"  name="e1cc" class="form-control" value="<%=leito[j].e1cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 1 (Camas) Ocupados</label>
                                <input type="number" name="e1ccv" class="form-control" value="<%=leito[j].e1ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 1 (Macas)</label>
                                <input type="number"  name="e1cm" class="form-control" value="<%=leito[j].e1cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria 1 (Macas) Ocupados</label>
                                <input type="number" name="e1cmv" class="form-control" value="<%=leito[j].e1cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 2</label>
                                <input type="number"  name="e2" class="form-control" value="<%=leito[j].e2 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 2 (Camas)</label>
                                <input type="number"  name="e2cc" class="form-control" value="<%=leito[j].e2cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 2 (Camas) Ocupados</label>
                                <input type="number" name="e2ccv" class="form-control" value="<%=leito[j].e2ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 2 (Macas)</label>
                                <input type="number"  name="e2cm" class="form-control" value="<%=leito[j].e2cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria 2 (Macas) Ocupados</label>
                                <input type="number" name="e2cmv" class="form-control" value="<%=leito[j].e2cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 3</label>
                                <input type="number"  name="e3" class="form-control" value="<%=leito[j].e3 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 3 (Camas)</label>
                                <input type="number"  name="e3cc" class="form-control" value="<%=leito[j].e3cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 3 (Camas) Ocupados</label>
                                <input type="number" name="e3ccv" class="form-control" value="<%=leito[j].e3ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 3 (Macas)</label>
                                <input type="number"  name="e3cm" class="form-control" value="<%=leito[j].e3cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria 3 (Macas) Ocupados</label>
                                <input type="number" name="e3cmv" class="form-control" value="<%=leito[j].e3cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 4</label>
                                <input type="number"  name="e4" class="form-control" value="<%=leito[j].e4 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 4 (Camas)</label>
                                <input type="number"  name="e4cc" class="form-control" value="<%=leito[j].e4cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 4 (Camas) Ocupados</label>
                                <input type="number" name="e4ccv" class="form-control" value="<%=leito[j].e4ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 4 (Macas)</label>
                                <input type="number"  name="e4cm" class="form-control" value="<%=leito[j].e4cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria 4 (Macas) Ocupados</label>
                                <input type="number" name="e4cmv" class="form-control" value="<%=leito[j].e4cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 5</label>
                                <input type="number"  name="e5" class="form-control" value="<%=leito[j].e5 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 5 (Camas)</label>
                                <input type="number"  name="e5cc" class="form-control" value="<%=leito[j].e5cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 5 (Camas) Ocupados</label>
                                <input type="number" name="e5ccv" class="form-control" value="<%=leito[j].e5ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 5 (Macas)</label>
                                <input type="number"  name="e5cm" class="form-control" value="<%=leito[j].e5cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria 5 (Macas) Ocupados</label>
                                <input type="number" name="e5cmv" class="form-control" value="<%=leito[j].e5cmv %>">
                            </div>                 
                        </div>
                        <div id="hora" class="form-group">
                            <input  type="hidden" id="horas" name="horas"  class="form-control">
                            <input  type="hidden" id="data" name="data"  class="form-control">
                        </div>
                    
                <div>
                    <a href="homeregulacao?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
                <% } %>	
                <% } %> 
                <% } %>	
                
                <% } %> 
                <br>
					<br>
					<br>
</form>
</div>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<%- include('../home/footer'); %>
</body>
</html>
<script>
    $(function(){
	$(window).on('resize load', function() {
  if ($(window).width() <= 768) { 
    $("#mobile").removeClass("container");
  }
  else {
    $("#mobile").addClass("container");
  }
});
});
    function pad(s){
		return (s<10) ? '0' + s :s;
	}
function novaHora(){
	
	var date = new Date();
	document.getElementById('horas').value= [date.getHours(), date.getMinutes()].map(pad).join(':');
	document.getElementById('data').value = date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear();
}
novaHora();
</script>