<%- include('./cabecalhoregulacao'); %>
<div id="mobile" class="container">

<form action="/editarleitoluizote" style="padding-left: 1%; padding-right: 1%;" method="post">
                <h2>Quantidades de leitos UAI Luizote</h2> 
            
                <% if(id.length > 0) { %>
                    <% for(var i = 0; i < id.length; i++) {%>
                    <input type="hidden" name="idusuario" value="<%=id[i].id_usuario %>">     
                   
                        <% if(leito.length > 0) { %>
                            <% for(var j = 0; j < leito.length; j++) {%>
                        <div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 1</label>
                                <input type="number" disabled name="se1" class="form-control" value="<%=leito[j].se1 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 1 (Camas)</label>
                                <input type="number"disabled  name="se1cc" class="form-control" value="<%=leito[j].se1cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 1 (Camas) Ocupados</label>
                                <input type="number" name="se1ccv" class="form-control" value="<%=leito[j].se1ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 1 (Macas)</label>
                                <input type="number"disabled  name="se1cm" class="form-control" value="<%=leito[j].se1cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 1 (Macas) Ocupados</label>
                                <input type="number" name="se1cmv" class="form-control" value="<%=leito[j].se1cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 2</label>
                                <input type="number" disabled name="se2c" class="form-control" value="<%=leito[j].se2c %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 2 (Camas)</label>
                                <input type="number"disabled  name="se2cc" class="form-control" value="<%=leito[j].se2cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 2 (Camas) Ocupados</label>
                                <input type="number" name="se2ccv" class="form-control" value="<%=leito[j].se2ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 2 (Macas)</label>
                                <input type="number"disabled  name="se2cm" class="form-control" value="<%=leito[j].se2cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 2 (Macas) Ocupados</label>
                                <input type="number" name="se2cmv" class="form-control" value="<%=leito[j].se2cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 3</label>
                                <input type="number" disabled name="se3" class="form-control" value="<%=leito[j].se3c %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 3 (Camas)</label>
                                <input type="number"disabled  name="se3cc" class="form-control" value="<%=leito[j].se3cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 3 (Camas) Ocupados</label>
                                <input type="number" name="se3ccv" class="form-control" value="<%=leito[j].se3ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 3 (Macas)</label>
                                <input type="number"disabled  name="se3cm" class="form-control" value="<%=leito[j].se3cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 3 (Macas) Ocupados</label>
                                <input type="number" name="se3cmv" class="form-control" value="<%=leito[j].se3cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 4</label>
                                <input type="number" disabled name="se4" class="form-control" value="<%=leito[j].se4c %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 4 (Camas)</label>
                                <input type="number"disabled  name="se4cc" class="form-control" value="<%=leito[j].se4cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 4 (Camas) Ocupados</label>
                                <input type="number" name="se4ccv" class="form-control" value="<%=leito[j].se4ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 4 (Macas)</label>
                                <input type="number"disabled  name="se4cm" class="form-control" value="<%=leito[j].se4cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 4 (Macas) Ocupados</label>
                                <input type="number" name="se4cmv" class="form-control" value="<%=leito[j].se4cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência Alta Suspeição</label>
                                <input type="number" disabled name="seas" class="form-control" value="<%=leito[j].seas %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência Alta Suspeição (Camas)</label>
                                <input type="number"disabled  name="seascc" class="form-control" value="<%=leito[j].seascc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Sala de Emergência Alta Suspeição (Camas) Ocupados</label>
                                <input type="number" name="seasccv" class="form-control" value="<%=leito[j].seasccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência Alta Suspeição (Macas)</label>
                                <input type="number"disabled  name="seascm" class="form-control" value="<%=leito[j].seascm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Sala de Emergência Alta Suspeição (Macas) Ocupados</label>
                                <input type="number" name="seascmv" class="form-control" value="<%=leito[j].seascmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 01</label>
                                <input type="number" disabled name="enf1" class="form-control" value="<%=leito[j].enf1 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 01 (Camas)</label>
                                <input type="number"disabled  name="enf1cc" class="form-control" value="<%=leito[j].enf1cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 01 (Camas) Ocupados</label>
                                <input type="number" name="enf1ccv" class="form-control" value="<%=leito[j].enf1ccv %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 01 (Macas)</label>
                                <input type="number"disabled  name="enf1cm" class="form-control" value="<%=leito[j].enf1cm %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 01 (Macas) Ocupados</label>
                                <input type="number" name="enf1cmv" class="form-control" value="<%=leito[j].enf1cmv %>">
                            </div>              
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 02</label>
                                <input type="number" disabled name="enf2" class="form-control" value="<%=leito[j].enf2 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 02 (Camas)</label>
                                <input type="number"disabled  name="enf2cc" class="form-control" value="<%=leito[j].enf2cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 02 (Camas) Ocupados</label>
                                <input type="number" name="enf2ccv" class="form-control" value="<%=leito[j].enf2ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 02 (Macas)</label>
                                <input type="number"disabled  name="enf2cm" class="form-control" value="<%=leito[j].enf2cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria 02 (Macas) Ocupados</label>
                                <input type="number" name="enf2cmv" class="form-control" value="<%=leito[j].enf2cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 03</label>
                                <input type="number" disabled name="enf3" class="form-control" value="<%=leito[j].enf3 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 03 (Camas)</label>
                                <input type="number"disabled  name="enf3cc" class="form-control" value="<%=leito[j].enf3cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 03 (Camas) Ocupados</label>
                                <input type="number" name="enf3ccv" class="form-control" value="<%=leito[j].enf3ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 03 (Macas)</label>
                                <input type="number"disabled  name="enf3cm" class="form-control" value="<%=leito[j].enf3cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria 03 (Macas) Ocupados</label>
                                <input type="number" name="enf3cmv" class="form-control" value="<%=leito[j].enf3cmv %>">
                            </div>                 
                        </div>

                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 04</label>
                                <input type="number" disabled name="enf4" class="form-control" value="<%=leito[j].enf4 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 04 (Camas)</label>
                                <input type="number"disabled  name="enf4cc" class="form-control" value="<%=leito[j].enf4cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 04 (Camas) Ocupados</label>
                                <input type="number" name="enf4ccv" class="form-control" value="<%=leito[j].enf4ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 04 (Macas)</label>
                                <input type="number"disabled  name="enf4cm" class="form-control" value="<%=leito[j].enf4cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria 04 (Macas) Ocupados</label>
                                <input type="number" name="enf4cmv" class="form-control" value="<%=leito[j].enf4cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 05 Ar Ambiente</label>
                                <input type="number" disabled name="enf5" class="form-control" value="<%=leito[j].enf5 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 05 Ar Ambiente (Camas)</label>
                                <input type="number"disabled  name="enf5cc" class="form-control" value="<%=leito[j].enf5cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 05 Ar Ambiente (Camas) Ocupados</label>
                                <input type="number" name="enf5ccv" class="form-control" value="<%=leito[j].enf5ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 05 Ar Ambiente (Macas)</label>
                                <input type="number"disabled  name="enf5cm" class="form-control" value="<%=leito[j].enf5cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria 05 Ar Ambiente (Macas) Ocupados</label>
                                <input type="number" name="enf5cmv" class="form-control" value="<%=leito[j].enf5cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 06 Paliativo</label>
                                <input type="number" disabled name="enf6" class="form-control" value="<%=leito[j].enf6 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 06 Paliativo (Camas)</label>
                                <input type="number"disabled  name="enf6cc" class="form-control" value="<%=leito[j].enf6cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 06 Paliativo (Camas) Ocupados</label>
                                <input type="number" name="enf6ccv" class="form-control" value="<%=leito[j].enf6ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 06 Paliativo (Macas)</label>
                                <input type="number"disabled  name="enf6cm" class="form-control" value="<%=leito[j].enf6cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria 06 Paliativo (Macas) Ocupados</label>
                                <input type="number" name="enf6cmv" class="form-control" value="<%=leito[j].enf6cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 07</label>
                                <input type="number" disabled name="enf7" class="form-control" value="<%=leito[j].enf7 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 07 (Camas)</label>
                                <input type="number"disabled  name="enf7cc" class="form-control" value="<%=leito[j].enf7cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 07 (Camas) Ocupados</label>
                                <input type="number" name="enf7ccv" class="form-control" value="<%=leito[j].enf7ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 07 (Macas)</label>
                                <input type="number"disabled  name="enf7cm" class="form-control" value="<%=leito[j].enf7cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria 07 (Macas) Ocupados</label>
                                <input type="number" name="enf7cmv" class="form-control" value="<%=leito[j].enf7cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 08 </label>
                                <input type="number" disabled name="se8" class="form-control" value="<%=leito[j].se8 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 08 (Camas)</label>
                                <input type="number"disabled  name="se8cc" class="form-control" value="<%=leito[j].se8cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 08 (Camas) Ocupados</label>
                                <input type="number" name="se8ccv" class="form-control" value="<%=leito[j].se8ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 08 (Macas)</label>
                                <input type="number"disabled  name="se8cm" class="form-control" value="<%=leito[j].se8cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 08 (Macas) Ocupados</label>
                                <input type="number" name="se8cmv" class="form-control" value="<%=leito[j].se8cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 09 </label>
                                <input type="number" disabled name="se9" class="form-control" value="<%=leito[j].se9 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 09 (Camas)</label>
                                <input type="number"disabled  name="se9cc" class="form-control" value="<%=leito[j].se9cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 09 (Camas) Ocupados</label>
                                <input type="number" name="se9ccv" class="form-control" value="<%=leito[j].se9ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 09 (Macas)</label>
                                <input type="number"disabled  name="se9cm" class="form-control" value="<%=leito[j].se9cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Sala de Emergência 09 (Macas) Ocupados</label>
                                <input type="number" name="se9cmv" class="form-control" value="<%=leito[j].se9cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 10 Alta Suspeição </label>
                                <input type="number" disabled name="enf10" class="form-control" value="<%=leito[j].enf10 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 10 Alta Suspeição (Camas)</label>
                                <input type="number"disabled  name="enf10cc" class="form-control" value="<%=leito[j].enf10cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 10 Alta Suspeição (Camas) Ocupados</label>
                                <input type="number" name="enf10ccv" class="form-control" value="<%=leito[j].enf10ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 10 Alta Suspeição (Macas)</label>
                                <input type="number"disabled  name="enf10cm" class="form-control" value="<%=leito[j].enf10cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria 10 Alta Suspeição (Macas) Ocupados</label>
                                <input type="number" name="enf10cmv" class="form-control" value="<%=leito[j].enf10cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 11 Alta Suspeição </label>
                                <input type="number" disabled name="enf11" class="form-control" value="<%=leito[j].enf11 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 11 Alta Suspeição (Camas)</label>
                                <input type="number"disabled  name="enf11cc" class="form-control" value="<%=leito[j].enf11cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 11 Alta Suspeição (Camas) Ocupados</label>
                                <input type="number" name="enf11ccv" class="form-control" value="<%=leito[j].enf11ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 11 Alta Suspeição (Macas)</label>
                                <input type="number"disabled  name="enf11cm" class="form-control" value="<%=leito[j].enf11cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria 11 Alta Suspeição (Macas) Ocupados</label>
                                <input type="number" name="enf11cmv" class="form-control" value="<%=leito[j].enf11cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 12 Alta Suspeição </label>
                                <input type="number" disabled name="enf12" class="form-control" value="<%=leito[j].enf12 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 12 Alta Suspeição (Camas)</label>
                                <input type="number"disabled  name="enf12cc" class="form-control" value="<%=leito[j].en12cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 12 Alta Suspeição (Camas) Ocupados</label>
                                <input type="number" name="enf12ccv" class="form-control" value="<%=leito[j].enf12ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 12 Alta Suspeição (Macas)</label>
                                <input type="number"disabled  name="enf12cm" class="form-control" value="<%=leito[j].enf12cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria 12 Alta Suspeição (Macas) Ocupados</label>
                                <input type="number" name="en12cmv" class="form-control" value="<%=leito[j].en12cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 13 Covid </label>
                                <input type="number" disabled name="enf13" class="form-control" value="<%=leito[j].enf13 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 13 Covid (Camas)</label>
                                <input type="number"disabled  name="enf13cc" class="form-control" value="<%=leito[j].enf13cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 13 Covid (Camas) Ocupados</label>
                                <input type="number" name="enf13ccv" class="form-control" value="<%=leito[j].enf13ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 13 Covid (Macas)</label>
                                <input type="number"disabled  name="enf13cm" class="form-control" value="<%=leito[j].enf13cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria 13 Covid (Macas) Ocupados</label>
                                <input type="number" name="enf13cmv" class="form-control" value="<%=leito[j].enf13cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 14 Covid </label>
                                <input type="number" disabled name="enf14" class="form-control" value="<%=leito[j].enf14 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 14 Covid (Camas)</label>
                                <input type="number"disabled  name="enf14cc" class="form-control" value="<%=leito[j].enf14cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Enfermaria 14 Covid (Camas) Ocupados</label>
                                <input type="number" name="enf14ccv" class="form-control" value="<%=leito[j].enf14ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Enfermaria 14 Covid (Macas)</label>
                                <input type="number"disabled  name="enf14cm" class="form-control" value="<%=leito[j].enf14cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Enfermaria 14 Covid (Macas) Ocupados</label>
                                <input type="number" name="enf14cmv" class="form-control" value="<%=leito[j].enf14cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 1 Alta Suspeição </label>
                                <input type="number" disabled name="amb1" class="form-control" value="<%=leito[j].amb1 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 1 Alta Suspeição  (Camas)</label>
                                <input type="number"disabled  name="amb1cc" class="form-control" value="<%=leito[j].amb1cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Ambulatório 1 Alta Suspeição  (Camas) Ocupados</label>
                                <input type="number" name="amb1ccv" class="form-control" value="<%=leito[j].amb1ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 1 Alta Suspeição  (Macas)</label>
                                <input type="number"disabled  name="amb1cm" class="form-control" value="<%=leito[j].amb1cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Ambulatório 1 Alta Suspeição  (Macas) Ocupados</label>
                                <input type="number" name="amb1cmv" class="form-control" value="<%=leito[j].amb1cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 2 Covid </label>
                                <input type="number" disabled name="amb2" class="form-control" value="<%=leito[j].amb2 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 2 Covid  (Camas)</label>
                                <input type="number"disabled  name="amb2cc" class="form-control" value="<%=leito[j].amb2cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Ambulatório 2 Covid  (Camas) Ocupados</label>
                                <input type="number" name="amb2ccv" class="form-control" value="<%=leito[j].amb2ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 2 Covid  (Macas)</label>
                                <input type="number"disabled  name="amb2cm" class="form-control" value="<%=leito[j].amb2cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Ambulatório 2 Covid  (Macas) Ocupados</label>
                                <input type="number" name="amb2cmv" class="form-control" value="<%=leito[j].amb2cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 3 Alta Suspeição </label>
                                <input type="number" disabled name="amb3" class="form-control" value="<%=leito[j].amb3 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 3 Alta Suspeição  (Camas)</label>
                                <input type="number"disabled  name="amb3cc" class="form-control" value="<%=leito[j].amb3cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Ambulatório 3 Alta Suspeição  (Camas) Ocupados</label>
                                <input type="number" name="amb3ccv" class="form-control" value="<%=leito[j].amb3ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 3 Alta Suspeição  (Macas)</label>
                                <input type="number"disabled  name="amb3cm" class="form-control" value="<%=leito[j].amb3cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Ambulatório 3 Alta Suspeição  (Macas) Ocupados</label>
                                <input type="number" name="amb3cmv" class="form-control" value="<%=leito[j].amb3cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 4 Alta Suspeição </label>
                                <input type="number" disabled name="amb4" class="form-control" value="<%=leito[j].amb4 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 4 Alta Suspeição  (Camas)</label>
                                <input type="number"disabled  name="amb4cc" class="form-control" value="<%=leito[j].amb4cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Ambulatório 4 Alta Suspeição  (Camas) Ocupados</label>
                                <input type="number" name="amb4ccv" class="form-control" value="<%=leito[j].amb4ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 4 Alta Suspeição  (Macas)</label>
                                <input type="number"disabled  name="amb4cm" class="form-control" value="<%=leito[j].amb4cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Ambulatório 4 Alta Suspeição  (Macas) Ocupados</label>
                                <input type="number" name="amb4cmv" class="form-control" value="<%=leito[j].amb4cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 5 Baixa Suspeição </label>
                                <input type="number" disabled name="amb5" class="form-control" value="<%=leito[j].amb5 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 5 Baixa Suspeição  (Camas)</label>
                                <input type="number"disabled  name="amb5cc" class="form-control" value="<%=leito[j].amb5cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Ambulatório 5 Baixa Suspeição  (Camas) Ocupados</label>
                                <input type="number" name="amb5ccv" class="form-control" value="<%=leito[j].amb5ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 5 Baixa Suspeição  (Macas)</label>
                                <input type="number"disabled  name="amb5cm" class="form-control" value="<%=leito[j].amb5cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Ambulatório 5 Baixa Suspeição  (Macas) Ocupados</label>
                                <input type="number" name="amb5cmv" class="form-control" value="<%=leito[j].amb5cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 6 Baixa Suspeição </label>
                                <input type="number" disabled name="amb6" class="form-control" value="<%=leito[j].amb6 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 6 Baixa Suspeição  (Camas)</label>
                                <input type="number"disabled  name="amb6cc" class="form-control" value="<%=leito[j].amb6cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Ambulatório 6 Baixa Suspeição  (Camas) Ocupados</label>
                                <input type="number" name="amb6ccv" class="form-control" value="<%=leito[j].amb6ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 6 Baixa Suspeição  (Macas)</label>
                                <input type="number"disabled  name="amb6cm" class="form-control" value="<%=leito[j].amb6cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Ambulatório 6 Baixa Suspeição  (Macas) Ocupados</label>
                                <input type="number" name="amb6cmv" class="form-control" value="<%=leito[j].amb6cmv %>">
                            </div>                 
                        </div>
                        <div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 7 Baixa Suspeição </label>
                                <input type="number" disabled name="amb7" class="form-control" value="<%=leito[j].amb7 %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 7 Baixa Suspeição  (Camas)</label>
                                <input type="number"disabled  name="amb7cc" class="form-control" value="<%=leito[j].amb7cc %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Ambulatório 7 Baixa Suspeição  (Camas) Ocupados</label>
                                <input type="number" name="amb7ccv" class="form-control" value="<%=leito[j].amb7ccv %>">
                            </div>
                            <div class="form-group">
                                <label for="posto">Ambulatório 7 Baixa Suspeição  (Macas)</label>
                                <input type="number"disabled  name="amb7cm" class="form-control" value="<%=leito[j].amb7cm %>">
                            </div>   
                            <div class="form-group">
                                <label for="posto">Ambulatório 7 Baixa Suspeição  (Macas) Ocupados</label>
                                <input type="number" name="amb7cmv" class="form-control" value="<%=leito[j].amb7cmv %>">
                            </div>                 
                        </div>
                        <div class="form-group">
                            <label for="posto">Maca Parada</label>
                            <input type="number" name="mr" class="form-control" value="<%=leito[j].macaparada %>">
                        </div>
                        <div id="hora" class="form-group">
                            <input  type="hidden" id="horas" name="horas"  class="form-control">
                            <input  type="hidden" id="data" name="data"  class="form-control">
                        </div>
                    
                <div>
                    <a href="homeregulacao?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
                <% } %>	
                <% } %> 
                <% } %>	
                <% } %> 
                <br>
					<br>
					<br>
</form>
</div>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<%- include('../home/footer'); %>
</body>
</html>
<script>
    $(function(){
	$(window).on('resize load', function() {
  if ($(window).width() <= 768) { 
    $("#mobile").removeClass("container");
  }
  else {
    $("#mobile").addClass("container");
  }
});
});
    function pad(s){
		return (s<10) ? '0' + s :s;
	}
function novaHora(){
	
	var date = new Date();
	document.getElementById('horas').value= [date.getHours(), date.getMinutes()].map(pad).join(':');
	document.getElementById('data').value = date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear();
}
novaHora();
</script>