<%- include('./cabecalhoregulacao'); %>
    <h2>Central leito UAI Martins</h2>
    
        <% if(id.length > 0) { %>
            <% for(var i = 0; i < id.length; i++) {%>
        <table class="table table-striped" style="width: 100%;" id="mytable">
            <input name="usuario" type="hidden" value="<%=id[i].id_usuario %>">
            <thead>
                <tr>
                    <th>Setor</th>
                    <th></th>
                    <th>Capacidade</th>
                    <th></th>
                    <th>Quantidade de Camas</th>
                    <th></th>
                    <th>Quantidade de Camas Ocupadas</th>
                    <th></th>
                    <th>Quantidade de Camas Vagas</th>
                    <th></th>
                    <th>Quantidade de Macas</th>
                    <th></th>
                    <th>Quantidade de Macas Ocupadas</th>
                    <th></th>
                    <th>Quantidade de Macas Vagas</th>
                    <th></th>
                    <th>Quantidade de Berços</th>
                    <th></th>
                    <th>Quantidade de Berços Ocupados</th>
                    <th></th>
                    <th>Quantidade de Berços Vagos</th>
                    <th></th>
                    <th>Quantidade de Macas Parada</th>
                </tr>
            </thead>
            <tbody>   
                <% if(leito.length > 0) { %>
                    <% for(var j = 0; j < leito.length; j++) {%> 
                <tr>
                    <td>Sala de Emergência Não Covid</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td class="subtotalcapacidade" ><%=leito[j].senc %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].sencc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].senccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].sencm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].sencmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   <td><label hidden>/Quantidade de Berços: </label></td> 
                    <td class="subtotalberco">0</td>
                   <td><label hidden>/Quantidade de Berços Ocupados: </label></td>   
                    <td class="subtotalbercoocupado">0</td>
                   <td><label hidden>/Quantidade de Berços Vagos: </label></td> 
                    <td class="subtotalbercovago">0</td>
                   <td><label hidden>/Quantidade de Macas Parada: </label></td>  
                    <td class="subtotalmacasparada"><%=leito[j].macaparada %></td>
                           
                </tr>
                <tr>
                    <td>Sala de Emergência</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td class="subtotalcapacidade"><%=leito[j].sec %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].secc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].seccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].secm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].secmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   <td><label hidden>/Quantidade de Berços: </label></td> 
                    <td class="subtotalberco">0</td>
                   <td><label hidden>/Quantidade de Berços Ocupados: </label></td>   
                    <td class="subtotalbercoocupado">0</td>
                   <td><label hidden>/Quantidade de Berços Vagos: </label></td> 
                    <td class="subtotalbercovago">0</td>
                   <td><label hidden>/Quantidade de Macas Parada: </label></td>  
                    <td class="subtotalmacasparada">0</td>
                               
                </tr>
                <tr>
                    <td>Enfermaria Masculina</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td class="subtotalcapacidade" ><%=leito[j].em %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].emcc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].emccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].emcm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].emcmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   <td><label hidden>/Quantidade de Berços: </label></td> 
                    <td class="subtotalberco">0</td>
                   <td><label hidden>/Quantidade de Berços Ocupados: </label></td>   
                    <td class="subtotalbercoocupado">0</td>
                   <td><label hidden>/Quantidade de Berços Vagos: </label></td> 
                    <td class="subtotalbercovago">0</td>
                   <td><label hidden>/Quantidade de Macas Parada: </label></td>  
                    <td class="subtotalmacasparada">0</td>
                           
                </tr>
                <tr>
                    <td>Enfermaria Feminina</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td class="subtotalcapacidade"><%=leito[j].ef %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].efcc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].efccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].efcm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].efcmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   <td><label hidden>/Quantidade de Berços: </label></td> 
                    <td class="subtotalberco">0</td>
                   <td><label hidden>/Quantidade de Berços Ocupados: </label></td>   
                    <td class="subtotalbercoocupado">0</td>
                   <td><label hidden>/Quantidade de Berços Vagos: </label></td> 
                    <td class="subtotalbercovago">0</td>
                   <td><label hidden>/Quantidade de Macas Parada: </label></td>  
                    <td class="subtotalmacasparada">0</td>
                             
                </tr>
                <tr>
                    <td>Corredor</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td class="subtotalcapacidade" ><%=leito[j].corredor %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].corredorcc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].corredorccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].corredorcm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].corredorcmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   <td><label hidden>/Quantidade de Berços: </label></td> 
                    <td class="subtotalberco">0</td>
                   <td><label hidden>/Quantidade de Berços Ocupados: </label></td>   
                    <td class="subtotalbercoocupado">0</td>
                   <td><label hidden>/Quantidade de Berços Vagos: </label></td> 
                    <td class="subtotalbercovago">0</td>
                   <td><label hidden>/Quantidade de Macas Parada: </label></td>  
                    <td class="subtotalmacasparada">0</td>
                              
                </tr>
                <tr>
                    <td>Pediatria</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td class="subtotalcapacidade"><%=leito[j].pediatria %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].pediatriacc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].pediatriaccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas">0</td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas">0</td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   <td><label hidden>/Quantidade de Berços: </label></td> 
                    <td class="subtotalberco"><%=leito[j].pediatriabc %></td>
                   <td><label hidden>/Quantidade de Berços Ocupados: </label></td>   
                    <td class="subtotalbercoocupado"><%=leito[j].pediatriabcv %></td>
                   <td><label hidden>/Quantidade de Berços Vagos: </label></td> 
                    <td class="subtotalbercovago">0</td>
                   <td><label hidden>/Quantidade de Macas Parada: </label></td>  
                    <td class="subtotalmacasparada">0</td>
                             
                </tr>
                <tr>
                    <td>Ginecologia/Obstetricia</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td class="subtotalcapacidade" ><%=leito[j].go %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].gocc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].goccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas" ><%=leito[j].gocm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].gocmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   <td><label hidden>/Quantidade de Berços: </label></td> 
                    <td class="subtotalberco">0</td>
                   <td><label hidden>/Quantidade de Berços Ocupados: </label></td>   
                    <td class="subtotalbercoocupado">0</td>
                   <td><label hidden>/Quantidade de Berços Vagos: </label></td> 
                    <td class="subtotalbercovago">0</td>
                   <td><label hidden>/Quantidade de Macas Parada: </label></td>  
                    <td class="subtotalmacasparada">0</td>
                           
                </tr>
                <tr>
                    <td>Enfermaria Ambulatorio(Covid)</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td class="subtotalcapacidade"><%=leito[j].ea %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].eacc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado" ><%=leito[j].eaccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas" ><%=leito[j].eacm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].eacmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   <td><label hidden>/Quantidade de Berços: </label></td> 
                    <td class="subtotalberco">0</td>
                   <td><label hidden>/Quantidade de Berços Ocupados: </label></td>   
                    <td class="subtotalbercoocupado">0</td>
                   <td><label hidden>/Quantidade de Berços Vagos: </label></td> 
                    <td class="subtotalbercovago">0</td>
                   <td><label hidden>/Quantidade de Macas Parada: </label></td>  
                    <td class="subtotalmacasparada">0</td>
                           
                </tr>
                <tr>
                    <td>Total</td>
                   <td><label hidden>/Resultado Capacidade: </label></td>
                    <td id="resultadocapacidade"></td>
                   <td><label hidden>/Resultado Quantidade de Camas: </label></td>
                    <td id="resultadocamas"></td>
                   <td><label hidden>/Resultado Quantidade de Camas Ocupadas: </label></td>
                    <td id="resultadocamasocupados"></td>
                   <td><label hidden>/Resultado Quantidade de Camas Vagas: </label></td>
                    <td id="resultadocamasvagas"></td>
                    <td><label hidden>/Resultado Quantidade de Berços:</label></td> 
                    <td id="resultadocberco"></td>
                   <td><label hidden>/Resultado Quantidade de Berços Ocupados:</label></td>   
                    <td id="resultadobercoocupados"></td>
                   <td><label hidden>/Resultado Quantidade de Berços Vagos:</label></td> 
                    <td id="resultadobercovagos"></td>
                   <td><label hidden>/Resultado Quantidade de Macas: </label></td>
                    <td id="resultadomacas"></td>
                   <td><label hidden>/Resultado Quantidade de Macas Ocupadas: </label></td>
                    <td id="resultadomacasocupados"></td>
                   <td><label hidden>/Resultado Quantidade de Macas Vagas: </label></td>
                    <td id="resultadomacasvagas"></td>
                    <td><label hidden>/Resultado Quantidade de Macas Parada: </label></td>
                    <td id="resultadomacasparada"></td>
                               
                </tr>
                
                <p>Data Ultima Atualização: <%=leito[j].dataatualizacao %></p>
                <p>Hora Ultima Atualização: <%=leito[j].horaatualizacao %></p>
                <% } %>	
                <% } %>
    
            </tbody>
        </table>
        <% } %>	
        <% } %>
        <br>
        <br>
        <br>

<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.2/js/dataTables.select.min.js" ></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
 $(document).ready(function() {
        $('#mytable').DataTable( {
            dom: 'Bfrtip',
            "scrollX": true,            
        pageLength: 50,
        buttons: [       
            {
                "extend": "copyHtml5",
                "text": "COPIAR",
                header: false
            },          
            {
                "extend": "pdf",
                "text": "PDF",
                header: false
            },
            {
                "extend": "excelHtml5",
                "text": "EXCEL",
                header: false
            },
            {
                "extend": "print",
                "text": "IMPRIMIR",
                header: false
            }
        ],language: {
            buttons: {
                copyTitle: 'Copiado para área de transferência',
                copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                copySuccess: {
                    _: '%d linhas copiadas',
                    1: '1 linha copiada'
                }
            },
            "paginate": {
                "previous": "Anterior",
                "next": "Próximo"
            },
            "search": "Pesquisar:"
        },
        select: true
    } );
} );
$('#mytable tbody tr').each(function(i){
             tr=$(this);
            qtdcamas=tr.children('td:eq(4)').html();
            qtdcamasocupadas = tr.children('td:eq(6)').html();
            qtdmacas=tr.children('td:eq(10)').html();
            qtdmacasocupadas = tr.children('td:eq(12)').html();
            qtdbercos = tr.children('td:eq(16)').html();
            qtdbercoscupadas = tr.children('td:eq(18)').html();
            var valorcamasvazias = 0;
            var valormacasvazias = 0;
            var valorbercosvazios = 0
            valorcamasvazias = qtdcamas - qtdcamasocupadas;
            valormacasvazias = qtdmacas - qtdmacasocupadas;
            valorbercosvazios = qtdbercos - qtdbercoscupadas;
            tr.children('td:eq(8)').html(valorcamasvazias);
            tr.children('td:eq(14)').html(valormacasvazias);
            tr.children('td:eq(20)').html(valorbercosvazios);

});

$(function() {
    var soma = 0;
    $( ".subtotalcapacidade" ).each( function() {
        soma += Number( $( this ).html() );
    } );
    $( "#resultadocapacidade" ).text( soma );

    var soma1 = 0;
    $( ".subtotalqtdcamas" ).each( function() {
        soma1 += Number( $( this ).html() );
    } );
    $( "#resultadocamas" ).text( soma1 );

    var soma2 = 0;
    $( ".subtotalqtdcamasocupado" ).each( function() {
        soma2 += Number( $( this ).html() );
    } );
    $( "#resultadocamasocupados" ).text( soma2 );

    var soma3 = 0;
    $( ".subtotalqtdcamasvago" ).each( function() {
        soma3 += Number( $( this ).html() );
    } );
    $( "#resultadocamasvagas" ).text( soma3 );

    var soma4 = 0;
    $( ".subtotalmacas" ).each( function() {
        soma4 += Number( $( this ).html() );
    } );
    $( "#resultadomacas" ).text( soma4 );

    var soma5 = 0;
    $( ".subtotalmacasocupadas" ).each( function() {
        soma5 += Number( $( this ).html() );
    } );
    $( "#resultadomacasocupados" ).text( soma5 );

    var soma6 = 0;
    $( ".subtotalmacasvagas" ).each( function() {
        soma6 += Number( $( this ).html() );
    } );
    $( "#resultadomacasvagas" ).text( soma6 );

    var soma7 = 0;
    $( ".subtotalberco" ).each( function() {
        soma7 += Number( $( this ).html() );
    } );
    $( "#resultadocberco" ).text( soma7 );

    var soma8 = 0;
    $( ".subtotalbercoocupado" ).each( function() {
        soma8 += Number( $( this ).html() );
    } );
    $( "#resultadobercoocupados" ).text( soma8 );

    var soma9 = 0;
    $( ".subtotalbercovago" ).each( function() {
        soma9 += Number( $( this ).html() );
    } );
    $( "#resultadobercovagos" ).text( soma9 );

    var soma10 = 0;
    $( ".subtotalmacasparada" ).each( function() {
        soma10 += Number( $( this ).html() );
    } );
    $( "#resultadomacasparada" ).text( soma10 );
} );
</script>
<%- include('../home/footer'); %>
</body>
</html>
