<%- include('./cabecalhoregulacao'); %>
    <h2>Central leito UAI Morumbi</h2>
    
        <% if(id.length > 0) { %>
            <% for(var i = 0; i < id.length; i++) {%>
        <table class="table table-striped" style="width: 100%;" id="mytable">
            <input name="usuario" type="hidden" value="<%=id[i].id_usuario %>">
            <thead>
            <tr>
                <th>Setor</th>
                <th>Capacidade</th>
                <th>Quantidade de Camas</th>
                <th>Quantidade de Camas Ocupadas</th>
                <th>Quantidade de Camas Vagas</th>
                <th>Quantidade de Macas</th>
                <th>Quantidade de Macas Ocupadas</th>
                <th>Quantidade de Macas Vagas</th>
                <th>Quantidade de Macas Parada</th>
            </tr>
            </thead>
            <tbody>   
                <% if(leito.length > 0) { %>
                    <% for(var j = 0; j < leito.length; j++) {%> 
                <tr>
                    <td>Sala de Emergência 1 Covid</td>
                    <td class="subtotalcapacidade" ><%=leito[j].sec1 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].sec1cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].sec1ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].sec1cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].sec1cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada"><%=leito[j].macaparada %></td>        
                </tr>
                <tr>
                    <td>Sala Laranja Covid</td>
                    <td class="subtotalcapacidade" ><%=leito[j].slc %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].slccc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].slcccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].slccm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].slccmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>       
                </tr>
                <tr>
                    <td>Enfermaria Masculina Covid</td>
                    <td class="subtotalcapacidade" ><%=leito[j].em %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].emcc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].emccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].emcm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].emcmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>       
                </tr>
                <tr>
                    <td>Enfermaria Feminina Covid</td>
                    <td class="subtotalcapacidade" ><%=leito[j].efc %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].efccc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].efcccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].efccm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].efccmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>       
                </tr>
                <tr>
                    <td>Sala de Emergência Geral</td>
                    <td class="subtotalcapacidade" ><%=leito[j].seg %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].segcc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].segccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].segcm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].segcmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>       
                </tr>
                <tr>
                    <td>Sala de Observação Geral</td>
                    <td class="subtotalcapacidade" ><%=leito[j].sog %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].sogcc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].sogccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].sogcm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].sogcmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>       
                </tr>
                <tr>
                    <td>Enfermaria Masculina</td>
                    <td class="subtotalcapacidade" ><%=leito[j].emnc %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].emnccc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].emncccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].emnccm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].emnccmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>       
                </tr>
                <tr>
                    <td>Enfermaria Feminina</td>
                    <td class="subtotalcapacidade" ><%=leito[j].ef %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].efcc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].efccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].efcm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].efcmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>       
                </tr>
                <tr>
                    <td>Enfermaria Extra 1</td>
                    <td class="subtotalcapacidade" ><%=leito[j].ee1 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].ee1cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].ee1ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].ee1cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].ee1cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>       
                </tr>
                <tr>
                    <td>Enfermaria Extra 2</td>
                    <td class="subtotalcapacidade" ><%=leito[j].ee2 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].ee2cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].ee2ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].ee2cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].ee2cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>       
                </tr>
                <tr>
                    <td>Isolamento</td>
                    <td class="subtotalcapacidade" ><%=leito[j].iss %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].isscc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].issccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].isscm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].isscmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>       
                </tr>
                <tr>
                    <td>Macas</td>
                    <td class="subtotalcapacidade" ><%=leito[j].macas %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].macascc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].macasccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].macascm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].macascmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>       
                </tr>
                <tr>
                    <td>Total</td>
                    <td id="resultadocapacidade"></td>
                    <td id="resultadocamas"></td>
                    <td id="resultadocamasocupados"></td>
                    <td id="resultadocamasvagas"></td>
                    <td id="resultadomacas"></td>
                    <td id="resultadomacasocupados"></td>
                    <td id="resultadomacasvagas"></td> 
                    <td id="resultadomacasparada"></td>             
                </tr>
                <p>Data Ultima Atualização: <%=leito[j].dataatualizacao %></p>
                <p>Hora Ultima Atualização: <%=leito[j].horaatualizacao %></p>
                <% } %>	
                <% } %>
    
            </tbody>
        </table>
        <% } %>	
        <% } %>
        <br>
        <br>
        <br>

<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.2/js/dataTables.select.min.js" ></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
 $(document).ready(function() {
        $('#mytable').DataTable( {
            dom: 'Bfrtip',
            "scrollX": true,
           
            
        pageLength: 50,
        buttons: [       
            {
                "extend": "copyHtml5",
                "text": "COPIAR",
                header: false
            },          
            {
                "extend": "pdf",
                "text": "PDF",
                header: false
            },
            {
                "extend": "excelHtml5",
                "text": "EXCEL",
                header: false
            },
            {
                "extend": "print",
                "text": "IMPRIMIR",
                header: false
            }
        ],language: {
            buttons: {
                copyTitle: 'Copiado para área de transferência',
                copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                copySuccess: {
                    _: '%d linhas copiadas',
                    1: '1 linha copiada'
                }
            },
            "paginate": {
                "previous": "Anterior",
                "next": "Próximo"
            },
            "search": "Pesquisar:"
        },
        select: true
    } );
} );
$('#mytable tbody tr').each(function(i){
            tr=$(this);
            qtdcamas=tr.children('td:eq(2)').html();
            qtdcamasocupadas = tr.children('td:eq(3)').html();
            qtdmacas=tr.children('td:eq(5)').html();
            qtdmacasocupadas = tr.children('td:eq(6)').html();
            qtdbercos = tr.children('td:eq(8)').html();
            qtdbercoscupadas = tr.children('td:eq(9)').html();
            var valorcamasvazias = 0;
            var valormacasvazias = 0;
            var valorbercosvazios = 0
            valorcamasvazias = qtdcamas - qtdcamasocupadas;
            valormacasvazias = qtdmacas - qtdmacasocupadas;
            valorbercosvazios = qtdbercos - qtdbercoscupadas;
            tr.children('td:eq(4)').html(valorcamasvazias);
            tr.children('td:eq(7)').html(valormacasvazias);
            tr.children('td:eq(10)').html(valorbercosvazios);

});

$(function() {
    var soma = 0;
    $( ".subtotalcapacidade" ).each( function() {
        soma += Number( $( this ).html() );
    } );
    $( "#resultadocapacidade" ).text( soma );

    var soma1 = 0;
    $( ".subtotalqtdcamas" ).each( function() {
        soma1 += Number( $( this ).html() );
    } );
    $( "#resultadocamas" ).text( soma1 );

    var soma2 = 0;
    $( ".subtotalqtdcamasocupado" ).each( function() {
        soma2 += Number( $( this ).html() );
    } );
    $( "#resultadocamasocupados" ).text( soma2 );

    var soma3 = 0;
    $( ".subtotalqtdcamasvago" ).each( function() {
        soma3 += Number( $( this ).html() );
    } );
    $( "#resultadocamasvagas" ).text( soma3 );

    var soma4 = 0;
    $( ".subtotalmacas" ).each( function() {
        soma4 += Number( $( this ).html() );
    } );
    $( "#resultadomacas" ).text( soma4 );

    var soma5 = 0;
    $( ".subtotalmacasocupadas" ).each( function() {
        soma5 += Number( $( this ).html() );
    } );
    $( "#resultadomacasocupados" ).text( soma5 );

    var soma6 = 0;
    $( ".subtotalmacasvagas" ).each( function() {
        soma6 += Number( $( this ).html() );
    } );
    $( "#resultadomacasvagas" ).text( soma6 );

    var soma7 = 0;
    $( ".subtotalmacasparada" ).each( function() {
        soma7 += Number( $( this ).html() );
    } );
    $( "#resultadomacasparada" ).text( soma7 );
} );
</script>
<%- include('../home/footer'); %>
</body>
</html>
