<%- include('./cabecalhoregulacao'); %>
    <h2>Central leito UAI São Jorge</h2>
    
        <% if(id.length > 0) { %>
            <% for(var i = 0; i < id.length; i++) {%>
        <table class="table table-striped" style="width: 100%;" id="mytable">
            <input name="usuario" type="hidden" value="<%=id[i].id_usuario %>">
            <thead>
                <tr>
                    <th>Setor</th>
                    <th></th>
                    <th>Capacidade</th>
                    <th></th>
                    <th>Quantidade de Camas</th>
                    <th></th>
                    <th>Quantidade de Camas Ocupadas</th>
                    <th></th>
                    <th>Quantidade de Camas Vagas</th>
                    <th></th>
                    <th>Quantidade de Macas</th>
                    <th></th>
                    <th>Quantidade de Macas Ocupadas</th>
                    <th></th>
                    <th>Quantidade de Macas Vagas</th>
                </tr>
            </thead>
            <tbody>   
                <% if(leito.length > 0) { %>
                    <% for(var j = 0; j < leito.length; j++) {%> 
                <tr>
                    <td>Sala de Emergência 1 Covid</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].sec1 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].sec1cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].sec1ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].sec1cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].sec1cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Sala de Emergência 2 Covid</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].sec2 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].sec2cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].sec2ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].sec2cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].sec2cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Sala de Emergência 3 Covid</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].sec3 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].sec3cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].sec3ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].sec3cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].sec3cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Enfermaria 1 Covid</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].ec1 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].ec1cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].ec1ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].ec1cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].ec1cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Enfermaria 2 Covid</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].ec2 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].ec2cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].ec2ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].ec2cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].ec2cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Enfermaria 3 Covid</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].ec3 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].ec3cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].ec3ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].ec3cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].ec3cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Enfermaria 4 Covid</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].ec4 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].ec4cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].ec4ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].ec4cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].ec4cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Enfermaria 5 Covid</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].ec5 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].ec5cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].ec5ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].ec5cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].ec5cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Enfermaria 6 Covid</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].ec6 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].ec6cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].ec6ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].ec6cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].ec6cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Enfermaria 7 Covid</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].ec7 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].ec7cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].ec7ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].ec7cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].ec7cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Enfermaria 8 Covid</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].ec8 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].ec8cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].ec8ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].ec8cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].ec8cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Enfermaria 9 Covid</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].ec9 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].ec9cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].ec9ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].ec9cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].ec9cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Enfermaria 10 Covid</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].ec10 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].ec10cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].ec10ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].ec10cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].ec10cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Sala de Emergência</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].se %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].secc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].seccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].secm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].secmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Enfermaria 1</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].e1 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].e1cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].e1ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].e1cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].e1cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Enfermaria 2</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].e2 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].e2cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].e2ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].e2cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].e2cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Enfermaria 3</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].e3 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].e3cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].e3ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].e3cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].e3cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Enfermaria 4</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].e4 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].e4cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].e4ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].e4cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].e4cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                <tr>
                    <td>Enfermaria 5</td>
                   <td><label hidden>/Capacidade: </label></td>
                    <td  ><%=leito[j].e5 %></td>
                   <td><label hidden>/Quantidade de Camas: </label></td>
                    <td class="subtotalqtdcamas"><%=leito[j].e5cc %></td>
                   <td><label hidden>/Quantidade de Camas Ocupadas: </label></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].e5ccv %></td>
                   <td><label hidden>/Quantidade de Camas Vagas: </label></td>
                    <td class="subtotalqtdcamasvago"></td>
                   <td><label hidden>/Quantidade de Macas: </label></td>
                    <td class="subtotalmacas"><%=leito[j].e5cm %></td>
                   <td><label hidden>/Quantidade de Macas Ocupadas: </label></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].e5cmv %></td>
                   <td><label hidden>/Quantidade de Macas Vagas: </label></td>
                    <td class="subtotalmacasvagas"></td>
                   
                </tr>
                
                <p>Data Ultima Atualização: <%=leito[j].dataatualizacao %></p>
                <p>Hora Ultima Atualização: <%=leito[j].horaatualizacao %></p>
                <% } %>	
                <% } %>
                <% } %>	
                <% } %>
                <tfoot>
                    <tr>
                        <td>Total</td>
                       <td><label hidden>/Resultado Capacidade: </label></td>
                        <td class="resultadocapacidade"></td>
                       <td><label hidden>/Resultado Quantidade de Camas: </label></td>
                        <td class="resultadocamas"></td>
                       <td><label hidden>/Resultado Quantidade de Camas Ocupadas: </label></td>
                        <td class="resultadocamasocupados"></td>
                       <td><label hidden>/Resultado Quantidade de Camas Vagas: </label></td>
                        <td class="resultadocamasvagas"></td>
                       <td><label hidden>/Resultado Quantidade de Macas: </label></td>
                        <td class="resultadomacas"></td>
                       <td><label hidden>/Resultado Quantidade de Macas Ocupadas: </label></td>
                        <td class="resultadomacasocupados"></td>
                       <td><label hidden>/Resultado Quantidade de Macas Vagas: </label></td>
                        <td class="resultadomacasvagas"></td>
                       
                                   
                    </tr>
                </tfoot>
            </table>
           
            <br>
            <br>
            <br>
    
    <!-- Importando o jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.2/js/dataTables.select.min.js" ></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
    <!-- Importando o js do bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
               $('#mytable').DataTable( {
                   dom: 'Bfrtip',
                   order:false,
                   "scrollX": true,  
     
               pageLength: 50,
               buttons: [       
                   {
                       "extend": "copyHtml5",
                       "text": "COPIAR",
                       header: false,
                       footer:true
                   },          
                   {
                       "extend": "pdf",
                       "text": "PDF",
                       header: false,
                       footer:true
                   },
                   {
                       "extend": "excelHtml5",
                       "text": "EXCEL",
                       header: false,
                       footer:true
                   },
                   {
                       "extend": "print",
                       "text": "IMPRIMIR",
                       header: false,
                       footer:true
                   }
               ],language: {
                   buttons: {
                       copyTitle: 'Copiado para área de transferência',
                       copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                       copySuccess: {
                           _: '%d linhas copiadas',
                           1: '1 linha copiada'
                       }
                   },
                   "paginate": {
                       "previous": "Anterior",
                       "next": "Próximo"
                   },
                   "search": "Pesquisar:"
               },
               select: true,
               "footerCallback": function ( row, data, start, end, display ) {
                   var api = this.api(), data;
    
                   // Remove the formatting to get integer data for summation
                   var intVal = function ( i ) {
                       return typeof i === 'string' ?
                           i.replace(/[\$,]/g, '')*1 :
                           typeof i === 'number' ?
                               i : 0;
                   };
    
                   // Total over all pages
                   total = api
                       .column( 2 )
                       .data()
                       .reduce( function (a, b) {
                           return intVal(a) + intVal(b);
                       }, 0 );
    
                   // Total over this page
                   pageTotal = api
                       .column( 2, { page: 'current'} )
                       .data()
                       .reduce( function (a, b) {
                           return intVal(a) + intVal(b);
                       }, 0 );
    
                   // Update footer
                   $( api.column( 2 ).footer() ).html(
                     pageTotal // +' ( ₱'+ total + ')' ouput the total of all pages //
                   );
               
               // Total over all pages
               total = api
                       .column( 4 )
                       .data()
                       .reduce( function (a, b) {
                           return intVal(a) + intVal(b);
                       }, 0 );
    
                   // Total over this page
                   pageTotal = api
                       .column( 4, { page: 'current'} )
                       .data()
                       .reduce( function (a, b) {
                           return intVal(a) + intVal(b);
                       }, 0 );
    
                   // Update footer
                   $( api.column( 4 ).footer() ).html(
                     pageTotal // +' ( ₱'+ total + ')' ouput the total of all pages //
                   );
                   // Total over all pages
               total = api
                       .column( 6 )
                       .data()
                       .reduce( function (a, b) {
                           return intVal(a) + intVal(b);
                       }, 0 );
    
                   // Total over this page
                   pageTotal = api
                       .column( 6, { page: 'current'} )
                       .data()
                       .reduce( function (a, b) {
                           return intVal(a) + intVal(b);
                       }, 0 );
    
                   // Update footer
                   $( api.column( 6 ).footer() ).html(
                     pageTotal // +' ( ₱'+ total + ')' ouput the total of all pages //
                   );
                   // Total over all pages
               total = api
                       .column( 8 )
                       .data()
                       .reduce( function (a, b) {
                           return intVal(a) + intVal(b);
                       }, 0 );
    
                   // Total over this page
                   pageTotal = api
                       .column( 8, { page: 'current'} )
                       .data()
                       .reduce( function (a, b) {
                           return intVal(a) + intVal(b);
                       }, 0 );
    
                   // Update footer
                   $( api.column( 8 ).footer() ).html(
                     pageTotal // +' ( ₱'+ total + ')' ouput the total of all pages //
                   );
                   // Total over all pages
               total = api
                       .column( 10 )
                       .data()
                       .reduce( function (a, b) {
                           return intVal(a) + intVal(b);
                       }, 0 );
    
                   // Total over this page
                   pageTotal = api
                       .column( 10, { page: 'current'} )
                       .data()
                       .reduce( function (a, b) {
                           return intVal(a) + intVal(b);
                       }, 0 );
    
                   // Update footer
                   $( api.column( 10 ).footer() ).html(
                     pageTotal // +' ( ₱'+ total + ')' ouput the total of all pages //
                   );
                   // Total over all pages
               total = api
                       .column( 12 )
                       .data()
                       .reduce( function (a, b) {
                           return intVal(a) + intVal(b);
                       }, 0 );
    
                   // Total over this page
                   pageTotal = api
                       .column( 12, { page: 'current'} )
                       .data()
                       .reduce( function (a, b) {
                           return intVal(a) + intVal(b);
                       }, 0 );
    
                   // Update footer
                   $( api.column( 12 ).footer() ).html(
                     pageTotal // +' ( ₱'+ total + ')' ouput the total of all pages //
                   );
                   // Total over all pages
               total = api
                       .column( 14 )
                       .data()
                       .reduce( function (a, b) {
                           return intVal(a) + intVal(b);
                       }, 0 );
    
                   // Total over this page
                   pageTotal = api
                       .column( 14, { page: 'current'} )
                       .data()
                       .reduce( function (a, b) {
                           return intVal(a) + intVal(b);
                       }, 0 );
    
                   // Update footer
                   $( api.column( 14 ).footer() ).html(
                     pageTotal // +' ( ₱'+ total + ')' ouput the total of all pages //
                   );
                   // Total over all pages
               total = api
                       .column( 16 )
                       .data()
                       .reduce( function (a, b) {
                           return intVal(a) + intVal(b);
                       }, 0 );
    
                   // Total over this page
                   pageTotal = api
                       .column( 16, { page: 'current'} )
                       .data()
                       .reduce( function (a, b) {
                           return intVal(a) + intVal(b);
                       }, 0 );
    
                   // Update footer
                   $( api.column( 16 ).footer() ).html(
                     pageTotal // +' ( ₱'+ total + ')' ouput the total of all pages //
                   );
               }
       } );
   } );
       $('#mytable tbody tr').each(function(i){
                    tr=$(this);
                   qtdcamas=tr.children('td:eq(4)').html();
                   qtdcamasocupadas = tr.children('td:eq(6)').html();
                   qtdmacas=tr.children('td:eq(10)').html();
                   qtdmacasocupadas = tr.children('td:eq(12)').html();
                  
                   var valorcamasvazias = 0;
                   var valormacasvazias = 0;
                   var valorbercosvazios = 0
                   valorcamasvazias = qtdcamas - qtdcamasocupadas;
                   valormacasvazias = qtdmacas - qtdmacasocupadas;
          
                   tr.children('td:eq(8)').html(valorcamasvazias);
                   tr.children('td:eq(14)').html(valormacasvazias);
                  
       
       });
       
       
       
       </script>
       <%- include('../home/footer'); %>
       </body>
       </html>
       