<%- include('./cabecalhoregulacao'); %>
    <h2>Central leito UAI Roosevelt</h2>
    
        <% if(id.length > 0) { %>
            <% for(var i = 0; i < id.length; i++) {%>
        <table class="table table-striped" style="width: 100%;" id="mytable">
            <input name="usuario" type="hidden" value="<%=id[i].id_usuario %>">
            <thead>
            <tr>
                <th>Setor</th>
                <th>Capacidade</th>
                <th>Quantidade de Camas</th>
                <th>Quantidade de Camas Ocupadas</th>
                <th>Quantidade de Camas Vagas</th>
                <th>Quantidade de Macas</th>
                <th>Quantidade de Macas Ocupadas</th>
                <th>Quantidade de Macas Vagas</th>
                <th>Quantidade de Macas Paradas</th>
            </tr>
            </thead>
            <tbody>   
                <% if(leito.length > 0) { %>
                    <% for(var j = 0; j < leito.length; j++) {%> 
                <tr>
                    <td>Sala de Emergência Covid 1</td>
                    <td class="subtotalcapacidade" ><%=leito[j].se1c %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].se1cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].se1ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].se1cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].se1cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada"><%=leito[j].macaparada %></td>    
                </tr>
                <tr>
                    <td>Sala de Emergência Covid 2</td>
                    <td class="subtotalcapacidade" ><%=leito[j].se2c %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].se2cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].se2ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].se2cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].se2cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Sala de Emergência Covid 3</td>
                    <td class="subtotalcapacidade" ><%=leito[j].se3c %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].se3cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].se3ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].se3cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].se3cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Sala de Emergência Covid 4</td>
                    <td class="subtotalcapacidade" ><%=leito[j].se4c %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].se4cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].se4ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].se4cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].se4cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Sala de Emergência Covid 5</td>
                    <td class="subtotalcapacidade" ><%=leito[j].se5c %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].se5cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].se5ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].se5cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].se5cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Sala de Emergência Covid 6</td>
                    <td class="subtotalcapacidade" ><%=leito[j].se6c %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].se6cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].se6ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].se6cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].se6cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Sala de Estabilização</td>
                    <td class="subtotalcapacidade" ><%=leito[j].se %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].secc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].seccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].secm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].secmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Paliativo</td>
                    <td class="subtotalcapacidade" ><%=leito[j].pa %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].pacc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].paccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].pacm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].pacmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Isolamento 1 (Baixa Suspeição)</td>
                    <td class="subtotalcapacidade" ><%=leito[j].is1 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].is1cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].is1ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].is1cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].is1cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Isolamento 2 (Baixa Suspeição)</td>
                    <td class="subtotalcapacidade" ><%=leito[j].is2 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].is2cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].is2ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].is2cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].is2cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Isolamento 3 (Alta Suspeição)</td>
                    <td class="subtotalcapacidade" ><%=leito[j].is3 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].is3cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].is3ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].is3cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].is3cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Isolamento 4 (Alta Suspeição)</td>
                    <td class="subtotalcapacidade" ><%=leito[j].is4 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].is4cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].is4ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].is4cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].is4cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Isolamento 5 (Alta Suspeição)</td>
                    <td class="subtotalcapacidade" ><%=leito[j].is5 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].is5cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].is5ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].is5cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].is5cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Enfermaria 7 (Covid)</td>
                    <td class="subtotalcapacidade" ><%=leito[j].e7 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].e7cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].e7ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].e7cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].e7cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Enfermaria 8 (Covid)</td>
                    <td class="subtotalcapacidade" ><%=leito[j].e8 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].e8cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].e8ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].e8cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].e8cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Enfermaria 9 (Covid)</td>
                    <td class="subtotalcapacidade" ><%=leito[j].e9 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].e9cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].e9ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].e9cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].e9cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Enfermaria 11 (Covid)</td>
                    <td class="subtotalcapacidade" ><%=leito[j].e11 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].e11cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].e11ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].e11cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].e11cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Enfermaria 12 (Covid)</td>
                    <td class="subtotalcapacidade" ><%=leito[j].e12 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].e12cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].e12ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].e12cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].e12cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Enfermaria 13 (Covid)</td>
                    <td class="subtotalcapacidade" ><%=leito[j].e13 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].e13cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].e13ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].e13cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].e13cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Enfermaria 14 (Covid)</td>
                    <td class="subtotalcapacidade" ><%=leito[j].e14 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].e14cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].e14ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].e14cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].e14cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Enfermaria 15 (Covid)</td>
                    <td class="subtotalcapacidade" ><%=leito[j].e15 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].e15cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].e15ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].e15cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].e15cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Enfermaria 16 (Covid)</td>
                    <td class="subtotalcapacidade" ><%=leito[j].e16 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].e16cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].e16ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].e16cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].e16cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Enfermaria 17 (Covid)</td>
                    <td class="subtotalcapacidade" ><%=leito[j].e17 %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].e17cc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].e17ccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].e17cm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].e17cmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Corredor</td>
                    <td class="subtotalcapacidade" ><%=leito[j].corredor %></td>
                    <td class="subtotalqtdcamas"><%=leito[j].corredorcc %></td>
                    <td class="subtotalqtdcamasocupado"><%=leito[j].corredorccv %></td>
                    <td class="subtotalqtdcamasvago"></td>
                    <td class="subtotalmacas"><%=leito[j].corredorcm %></td>
                    <td class="subtotalmacasocupadas"><%=leito[j].corredorcmv %></td>
                    <td class="subtotalmacasvagas"></td> 
                    <td class="subtotalmacasparada">0</td>    
                </tr>
                <tr>
                    <td>Total</td>
                    <td id="resultadocapacidade"></td>
                    <td id="resultadocamas"></td>
                    <td id="resultadocamasocupados"></td>
                    <td id="resultadocamasvagas"></td>
                    <td id="resultadomacas"></td>
                    <td id="resultadomacasocupados"></td>
                    <td id="resultadomacasvagas"></td>   
                    <td id="resultadomacasparada"></td>        
                </tr>
                <p>Data Ultima Atualização: <%=leito[j].dataatualizacao %></p>
                <p>Hora Ultima Atualização: <%=leito[j].horaatualizacao %></p>
                <% } %>	
                <% } %>
    
            </tbody>
        </table>
        <% } %>	
        <% } %>
        <br>
        <br>
        <br>

<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.2/js/dataTables.select.min.js" ></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
 $(document).ready(function() {
        $('#mytable').DataTable( {
            dom: 'Bfrtip',
            "scrollX": true,
            order: ([ 3, 'asc']),
            
        pageLength: 50,
        buttons: [       
            {
                "extend": "copyHtml5",
                "text": "COPIAR",
                header: false
            },          
            {
                "extend": "pdf",
                "text": "PDF",
                header: false
            },
            {
                "extend": "excelHtml5",
                "text": "EXCEL",
                header: false
            },
            {
                "extend": "print",
                "text": "IMPRIMIR",
                header: false
            }
        ],language: {
            buttons: {
                copyTitle: 'Copiado para área de transferência',
                copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                copySuccess: {
                    _: '%d linhas copiadas',
                    1: '1 linha copiada'
                }
            },
            "paginate": {
                "previous": "Anterior",
                "next": "Próximo"
            },
            "search": "Pesquisar:"
        },
        select: true
    } );
} );

$('#mytable tbody tr').each(function(i){
            tr=$(this);
            qtdcamas=tr.children('td:eq(2)').html();
            qtdcamasocupadas = tr.children('td:eq(3)').html();
            qtdmacas=tr.children('td:eq(5)').html();
            qtdmacasocupadas = tr.children('td:eq(6)').html();
            var valorcamasvazias = 0;
            var valormacasvazias = 0;
            valorcamasvazias = qtdcamas - qtdcamasocupadas;
            valormacasvazias = qtdmacas - qtdmacasocupadas;
            tr.children('td:eq(4)').html(valorcamasvazias);
            tr.children('td:eq(7)').html(valormacasvazias);
});

$(function() {
    var soma = 0;
    $( ".subtotalcapacidade" ).each( function() {
        soma += Number( $( this ).html() );
    } );
    $( "#resultadocapacidade" ).text( soma );

    var soma1 = 0;
    $( ".subtotalqtdcamas" ).each( function() {
        soma1 += Number( $( this ).html() );
    } );
    $( "#resultadocamas" ).text( soma1 );

    var soma2 = 0;
    $( ".subtotalqtdcamasocupado" ).each( function() {
        soma2 += Number( $( this ).html() );
    } );
    $( "#resultadocamasocupados" ).text( soma2 );

    var soma3 = 0;
    $( ".subtotalqtdcamasvago" ).each( function() {
        soma3 += Number( $( this ).html() );
    } );
    $( "#resultadocamasvagas" ).text( soma3 );

    var soma4 = 0;
    $( ".subtotalmacas" ).each( function() {
        soma4 += Number( $( this ).html() );
    } );
    $( "#resultadomacas" ).text( soma4 );

    var soma5 = 0;
    $( ".subtotalmacasocupadas" ).each( function() {
        soma5 += Number( $( this ).html() );
    } );
    $( "#resultadomacasocupados" ).text( soma5 );

    var soma6 = 0;
    $( ".subtotalmacasvagas" ).each( function() {
        soma6 += Number( $( this ).html() );
    } );
    $( "#resultadomacasvagas" ).text( soma6 );

    var soma7 = 0;
    $( ".subtotalmacasparada" ).each( function() {
        soma7 += Number( $( this ).html() );
    } );
    $( "#resultadomacasparada" ).text( soma7 );
} );
</script>
<%- include('../home/footer'); %>
</body>
</html>
