<!DOCTYPE HTML>
<%- include('./cabecalhoregulacao'); %>
<div class="container">
<% if(id.length > 0) { %>
    <% for(var i = 0; i < id.length; i++) {%>
       
<form action="/updatecim" method="post">
    <% if(paciente.length > 0) { %>
        <% for(var j = 0; j < paciente.length; j++) {%>
                <div>
                    <h2>Editar Paciente</h2>
                    <input type="hidden" name="idusuario" value="<%=id[i].id_usuario %>">  
					  
                </div>
                <div >
                    <div class="form-group">
                        <input type="hidden" name="id" class="form-control" placeholder="" value="<%=paciente[j].id_paciente %>" required>
                    </div>
                    <div class="form-group">
						<label for="susfacil">Susfacil</label>
                        <input type="text" name="susfacil" class="form-control" placeholder="Digite susfacil" value="<%=paciente[j].susfacil %>" required>
                    </div>
					<div class="form-group">
						<label for="prontuario">Prontuario</label>
                        <input type="text" name="prontuario" class="form-control" placeholder="prontuario" value="<%=paciente[j].prt %>" required>
                    </div>
                    <div class="form-group">
						<label for="susfacil">Paciente</label>
                        <input type="text" name="paciente" class="form-control"  placeholder="Digite Nome" value="<%=paciente[j].paciente %>" required>
                    </div>

                    <div class="form-group">
						<label for="susfacil">Idade</label>
                        <input type="text" name="idade" id="idade" onchange="verificaidade(this.value)" class="form-control"  placeholder="Digite idade" value="<%=paciente[j].idade %>" required>
					</div>
					<div class="form-group">
						<label for="ECF" id="ecf3">ECF</label>
						<select  onchange="verificaecf(this.value)" class="form-control" id="ecf2" name="ecf2">
							<option value="" disabled selected hidden>ECF</option>
							<option value="0" <%=(paciente[j].ecf == '0')?'selected':''%>>Não aplicado</option>
							<option value="1" <%=(paciente[j].ecf == '1')?'selected':''%>>1</option>
							<option value="2" <%=(paciente[j].ecf == '2')?'selected':''%>>2</option>
							<option value="3" <%=(paciente[j].ecf == '3')?'selected':''%>>3</option>
							<option value="4" <%=(paciente[j].ecf == '4')?'selected':''%>>4</option>
							<option value="5" <%=(paciente[j].ecf == '5')?'selected':''%>>5</option>
							<option value="6" <%=(paciente[j].ecf == '6')?'selected':''%>>6</option>
							<option value="7" <%=(paciente[j].ecf == '7')?'selected':''%>>7</option>
							<option value="8" <%=(paciente[j].ecf == '8')?'selected':''%>>8</option>
							<option value="9" <%=(paciente[j].ecf == '9')?'selected':''%>>9</option>
							<option value="10"<%=(paciente[j].ecf == '10')?'selected':''%>>10</option>
						</select>
						<input type="text" id="ecf"  name="ecf" class="form-control" placeholder="ECF">
					</div>
					<div class="form-group">
						<label for="spcit" id="spict2">Spict</label>
                        <input type="text" id="spict" name="spcit" class="form-control" placeholder="Spict" value="<%=paciente[j].spict %>">
					</div>
					<div class="form-group">
						<div class="form-check">
							<input  type="checkbox" name="dispositivo" id="svd"  class="form-check-input" onClick="check1()" value="svd" <%=(paciente[j].svd == 'SVD')?'checked':''%>>
							<label class="form-check-label"  id="svd2" for="Dormonid">SVD</label>
							<input  id="svd3"  type="hidden" name="svd3">
						</div>
						<div class="form-check">
							<input type="checkbox" name="dispositivo" id="sne"  class="form-check-input" onClick="check1()" value="sne" <%=(paciente[j].sne == 'SNE')?'checked':''%>>
							<label class="form-check-label"  id="sne2" for="sne2">SNE</label>
							<input  id="sne3"  type="hidden" name="sne3">
						</div>
						<div class="form-check">
							<input type="checkbox" name="dispositivo" id="avp"  class="form-check-input" onClick="check1()" value="avp" <%=(paciente[j].avp == 'AVP')?'checked':''%>>
							<label class="form-check-label"  id="avp2" for="avp2">AVP</label>
							<input  id="avp3"  type="hidden" name="avp3">
						</div>
						<div class="form-check">
							<input type="checkbox" name="dispositivo" id="cvc"  class="form-check-input" onClick="check1()" value="cvc" <%=(paciente[j].cvc == 'CVC')?'checked':''%>>
							<label class="form-check-label"  id="cvc2" for="Propofol2">CVC</label>
							<input  id="cvc3"  type="hidden" name="cvc3">
						</div>
					</div>
					<div class="form-group">
						<label for="paliativos" id="paliativo2">Paliativos</label>
                        <select class="form-control" id="paliativos" name="paliativos" placeholder="">
							<option value="sim" <%=(paciente[j].paliativo == 'sim')?'selected':''%> >Sim</option>
							<option value="nao" <%=(paciente[j].paliativo == 'nao')?'selected':''%>>Não</option>
                        </select>
                        <input type="hidden" name="paliativo" id="paliativo">
					</div>
					<div class="form-group">
						<label for="susfacil">Tipos de leito</label>
                        <select class="form-control" id="leitos" name="leitos" placeholder="">
							<option value="Enfermaria" <%=(paciente[j].leito == 'Enfermaria')?'selected':''%>>Enfermaria</option>
							<option value="Sala de Emergência" <%=(paciente[j].leito == 'Sala de Emergência')?'selected':''%>>Sala de Emergência</option>
                        </select>
                        <input type="hidden" name="leito" id="leito">
					</div>
					<div class="form-group">
						<label for="data">Data Exame</label>
						<input type="text" name="data" id="data" class="form-control" value="<%=paciente[j].dataexame %>" required>
					</div>
					<div class="form-group">
						<label for="susfacil">Exame</label>
						<select class="form-control" id="exame" name="exame">
							<option value="aguardando" <%=(paciente[j].exame == 'aguardando')?'selected':''%> >Aguardando</option>
							<option value="positivo" <%=(paciente[j].exame == 'positivo')?'selected':''%>>Positivo</option>
							<option value="negativo" <%=(paciente[j].exame == 'negativo')?'selected':''%>>Negativo</option>
						</select>
						<input type="hidden" name="covid" id="covid">
					  </div>
                </div>
                <div>
                    <% } %>	
                <% } %> 
                    <a href="/cadastrarpacientecim?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </div>
</form>
<br>
					<br>
					<br>
<% } %>	
                <% } %> 
            </div>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
$("#leitos").on('change', function(e){
     var exame = $(this).val();
     document.getElementById('leito').value = exame;
});
$("#exame").on('change', function(e){
     var exame = $(this).val();
     document.getElementById('covid').value = exame;
});
$("#paliativos").on('change', function(e){
     var paliativo = $(this).val();
     document.getElementById('paliativo').value = paliativo;
});
$("#ecf2").on('change', function(e){
     var ecf = $(this).val();
     document.getElementById('ecf').value = ecf;
});
$(document).ready(function(){
      $('#data').mask('00/00/0000');
      });
function verificadispositivo(value){
	var input = document.getElementById("svd");
	var input2 = document.getElementById("sne");
	var input3 = document.getElementById("avp");
	var input4 = document.getElementById("cvc");
	var label = document.getElementById("svd2");
	var label2 = document.getElementById("sne2");
	var label3 = document.getElementById("avp2");
	var label4 = document.getElementById("cvc2");
	

  if(value == 'nao'){
    input.style.display = "none";
	input2.style.display = "none";
	input3.style.display = "none";
	input4.style.display = "none";
	label.style.display = "none";
	label2.style.display = "none";
	label3.style.display = "none";
	label4.style.display = "none";
	input.value = "Não Aplicado"
	input2.value = "Não Aplicado"
	input3.value = "Não Aplicado"
	input4.value = "Não Aplicado"
  }else if(value == 'sim'){
    input.style.display = "inline";
	input2.style.display = "inline";
	input3.style.display = "inline";
	input4.style.display = "inline";
	label.style.display = "inline";
	label2.style.display = "inline";
	label3.style.display = "inline";
	label4.style.display = "inline";
  }
};
function verificaecf(value){
	
	var input = document.getElementById("spict");
	var label = document.getElementById("spict");
	

  if(value == 6 || value == 7 || value == 8){
    input.style.display = "inline";
	label.style.display = "inline";
  }else{
    input.style.display = "none";
	label.style.display = "none";
  }
  if(value == 9 || value == 10){
	  var paliativo = 'sim';
	  document.getElementById('paliativos').style.display = 'none'
	  document.getElementById('paliativo2').style.display = 'none'
	  document.getElementById('paliativo').value = paliativo;
  }
};
function verificaidade(value){
	var input = document.getElementById("ecf2");
	var input2 = document.getElementById("ecf3");
  if(value < 60 ){
    input.style.display = "none";
	input2.style.display = "none";
	document.getElementById('ecf').value = 0;
  }else{
    input.style.display = "block";
	input2.style.display = "block";
  }
};
window.onload = function() {

  document.getElementById('spict').style.display = 'none';
  document.getElementById('spict2').style.display = 'none';
  var paliativo = document.getElementById('paliativos').value;
  var exame = document.getElementById('exame').value;
  var leito = document.getElementById('leitos').value;
  document.getElementById('paliativo').value = paliativo;
  document.getElementById('covid').value = exame;
  document.getElementById('leito').value = leito;
  var pacote = document.getElementsByName('dispositivo');
  for (var i = 0; i < pacote.length; i++){
	if ( pacote[i].checked == true) {
		if(pacote[i].value == "svd"){
			  var Pacote_i = "SVD";
			  document.getElementById('svd3').value = Pacote_i;
		  }else if (pacote[i].value == "sne") {
			  var Pacote_ii = "SNE";
			  document.getElementById('sne3').value = Pacote_ii;
		  }else if (pacote[i].value == "avp") {
			  var Pacote_iii = "AVP";
			  document.getElementById('avp3').value = Pacote_iii;
		  }else if (pacote[i].value == "cvc") {
			  var Pacote_iiii = "CVC";
			  document.getElementById('cvc3').value = Pacote_iiii;
		  }
		} else if ( pacote[i].checked == false) {
		if(pacote[i].value == "svd"){
			  var Pacote_i = "Não Aplicado";
			  document.getElementById('svd3').value = Pacote_i;
		  }else if (pacote[i].value == "sne") {
			  var Pacote_ii = "Não Aplicado";
			  document.getElementById('sne3').value = Pacote_ii;
		  }else if (pacote[i].value == "avp") {
			  var Pacote_iii = "Não Aplicado";
			  document.getElementById('avp3').value = Pacote_iii;
		  }else if (pacote[i].value == "cvc") {
			  var Pacote_iiii = "Não Aplicado";
			  document.getElementById('cvc3').value = Pacote_iiii;
		  }
		}
 	 }
	  var input = document.getElementById("ecf2");
	var input2 = document.getElementById("idade");

	document.getElementById('ecf').value = input.value;
	  verificaidade(idade.value);
	 verificaecf(input.value);

};

function check1(){

var pacote = document.getElementsByName('dispositivo');
  for (var i = 0; i < pacote.length; i++){
	  if ( pacote[i].checked ) {
		  if(pacote[i].value == "svd"){
			  var Pacote_i = "SVD";
			  document.getElementById('svd3').value = Pacote_i;
		  }else if (pacote[i].value == "sne") {
			  var Pacote_ii = "SNE";
			  document.getElementById('sne3').value = Pacote_ii;
		  }else if (pacote[i].value == "avp") {
			  var Pacote_iii = "AVP";
			  document.getElementById('avp3').value = Pacote_iii;
		  }else if (pacote[i].value == "cvc") {
			  var Pacote_iiii = "CVC";
			  document.getElementById('cvc3').value = Pacote_iiii;
		  }
		}
	}
	var estado = false;
	for (var i = 0; i < pacote.length; i++) {
		if ( pacote[i].checked == estado ) {
		  if(pacote[i].value == "svd"){
			  var Pacote_i = "Não Aplicado";
			  document.getElementById('svd3').value = Pacote_i;
		  }else if (pacote[i].value == "sne") {
			  var Pacote_ii = "Não Aplicado";
			  document.getElementById('sne3').value = Pacote_ii;
		  }else if (pacote[i].value == "avp") {
			  var Pacote_iii = "Não Aplicado";
			  document.getElementById('avp3').value = Pacote_iii;
		  }else if (pacote[i].value == "cvc") {
			  var Pacote_iiii = "Não Aplicado";
			  document.getElementById('cvc3').value = Pacote_iiii;
		  }
		}
    }
    
}


</script>
<%- include('../home/footer'); %>
</body>
</html>