<!DOCTYPE HTML>
<%- include('./cabecalhoregulacao'); %>

<div id="mobile" class="container">
<% if(id.length > 0) { %>
    <% for(var i = 0; i < id.length; i++) {%>
		<!-- Edit Product Modal-->
<form action="/updaterespluizote" style="padding-left: 1%; padding-right: 1%;" method="post">
	<% if(paciente.length > 0) { %>
        <% for(var j = 0; j < paciente.length; j++) {%>
            <div >
                <div >
                    <h2>Editar Dispositivo Luizote </h2>
                    <input type="hidden" name="idusuario" value="<%=id[i].id_usuario %>">  
					<input type="hidden" name="profissional" value="<%=id[i].profissional %>">  
                </div>
                <div >
					<div class="form-group">
                        <input type="hidden" name="idpaciente" class="form-control" placeholder="" value="<%=paciente[j].id_paciente%>" required >
                    </div>
                    <div class="form-group"
						<label for="paciente">Paciente</label>
                        <input disabled type="text" name="paciente" class="form-control" value="<%=paciente[j].paciente %>" required >
                    </div>
                    <div class="form-group">
						<label for="paciente">Tipo de leito</label>
						<select class="form-control" id="leito" name="leito" required>
							<option value="maca" <%=(paciente[j].acomodacao == 'maca')?'selected':''%>>Maca</option>
							<option value="leito" <%=(paciente[j].acomodacao == 'leito')?'selected':''%>>Leito</option>
						</select>
                    </div>
					<input  id="leito2"  type="hidden" name="leito2">
					<div class="form-group">
						<label for="paciente">Dispositivo</label>
						<select class="form-control" onchange="verifica(this.value)" id="dispositivo" name="dispositivo" required>
							<option value="Ar Ambiente" <%=(paciente[j].dispositivo == 'Ar Ambiente')?'selected':''%>>Ar Ambiente</option>
							<option value="Cateter O2" <%=(paciente[j].dispositivo == 'Cateter O2')?'selected':''%>>Cateter O2</option>
							<option value="Cateter O2 + VNI" <%=(paciente[j].dispositivo == 'Cateter O2 + VNI')?'selected':''%>>Cateter O2 + VNI</option>
							<option value="Mascara Reservatorio + VNI" <%=(paciente[j].dispositivo == 'Mascara Reservatorio + VNI')?'selected':''%>>Mascara Reservatorio + VNI</option>
                            <option value="Mascara Reservatorio" <%=(paciente[j].dispositivo == 'Mascara Reservatorio')?'selected':''%>>Mascara Reservatório</option>
                            <option value="Ventilacao Mecanica" <%=(paciente[j].dispositivo == 'Ventilacao Mecanica')?'selected':''%>>Ventilação Mecânica</option>
						</select>
                    </div>
					<input  id="dispositivo2"  type="hidden" name="dispositivo2">
					<div class="form-group">
						<label for="o2label" id="o2label">Fluxo de O2</label>
                        <input type="text" name="o2" id="o2" class="form-control" value="<%=paciente[j].fluxo_de_o2 %>">
                    </div>
                    <div class="form-group">
						<label for="paciente">Drogas Vasoativas</label>
						<select class="form-control" onchange="verificadroga(this.value)" id="droga" name="droga" required>
							<option value="sim" <%=(paciente[j].droga == 'sim')?'selected':''%> >Sim</option>
							<option value="nao" <%=(paciente[j].droga == 'nao')?'selected':''%>>Não</option>
						</select>
						<input  id="drogas"  type="hidden" name="drogas">
						<div class="form-check">
							<input  type="checkbox" name="DVA" id="Noradrenalina"  class="form-check-input" onClick="check()" value="Noradrenalina" <%=(paciente[j].nora == 'Noradrenalina')?'checked':''%>>
							<label class="form-check-label"  id="Noradrenalina2" for="Noradrenalina">Noradrenalina</label>
							<input  id="nora"  type="hidden" name="nora">
					
							<label class="form-check-label"  id="Noradrenalina3" for="Noradrenalina"> ---  Vazão Noradrenalina</label>
							<input  id="vazaonora"  type="text" name="vazaonora"  value="<%=paciente[j].vazaonora %>">
						</div>
						<div class="form-check">
							<input type="checkbox" name="DVA" id="Adrenalina"  class="form-check-input" onClick="check()" value="Adrenalina" <%=(paciente[j].adrenalina == 'Adrenalina')?'checked':''%>>
							<label class="form-check-label"  id="Adrenalina2" for="Adrenalina">Adrenalina</label>
							<input  id="adre"  type="hidden" name="adre" >
						
							<label class="form-check-label"  id="Adrenalin3" for="Adrenalina"> ---  Vazão Adrenalina</label>
							<input  id="vazaoadre"  type="text" name="vazaoadre"  value="<%=paciente[j].vazaoadre %>">
						</div>
						<div class="form-check">
							<input type="checkbox" name="DVA" id="Bicarbonato"  class="form-check-input" onClick="check()" value="Bicarbonato" <%=(paciente[j].bicarbonato == 'Bicarbonato')?'checked':''%>>
							<label class="form-check-label"  id="Bicarbonato2" for="Bicarbonato">Bicarbonato</label>
							<input  id="bic"  type="hidden" name="bica">
				
							<label class="form-check-label"  id="Bicarbonato3" for="Bicarbonato"> ---  Vazão Bicarbonato</label>
							<input  id="vazaobica"  type="text" name="vazaobica"  value="<%=paciente[j].vazaobica %>">
						</div>
                    </div>
					<div class="form-group">
						<label for="paciente" id="fio22">Fio2</label>
                        <input type="text" name="fio2" id="fio2" class="form-control" value="<%=paciente[j].fio2 %>" >
                    </div>
					<div class="form-group">
						<label for="paciente" id="peep2">PEEP</label>
                        <input type="text" name="peep" id="peep" class="form-control" value="<%=paciente[j].peep %>" >
                    </div>
					<div class="form-group">
						<label for="paciente">Sedação</label>
						<select class="form-control" onchange="verificasedacao(this.value)" id="sedacao" name="sedacao" required>
							<option value="sim" <%=(paciente[j].sedacao == 'sim')?'selected':''%> >Sim</option>
							<option value="nao" <%=(paciente[j].sedacao == 'nao')?'selected':''%>>Não</option>
						</select>
						<div class="form-check">
							<input  type="checkbox" name="sedacao2" id="Dormonid"  class="form-check-input" onClick="check1()" value="Dormonid" <%=(paciente[j].dormonid == 'Dormonid')?'checked':''%>>
							<label class="form-check-label"  id="Dormonid2" for="Dormonid">Dormonid</label>
							<input  id="Dormonid3"  type="hidden" name="Dormonid3">
							<label class="form-check-label"  id="Dormonid4" for="Dormonid"> ---  Vazão Dormonid</label>
							<input  id="vazaoDormonid"  type="text" name="vazaoDormonid"  value="<%=paciente[j].vazaoDormonid %>">
						</div>
						<div class="form-check">
							<input type="checkbox" name="sedacao2" id="Fentanil"  class="form-check-input" onClick="check1()" value="Fentanil" <%=(paciente[j].fentanil == 'Fentanil')?'checked':''%>>
							<label class="form-check-label"  id="Fentanil2" for="Fentanil2">Fentanil</label>
							<input  id="Fentanil3"  type="hidden" name="Fentanil3">
							<label class="form-check-label"  id="Fentanil4" for="Fentanil"> ---  Vazão Fentanil</label>
							<input  id="vazaoFentanil"  type="text" name="vazaoFentanil"  value="<%=paciente[j].vazaoFentanil %>">
						</div>
						<div class="form-check">
							<input type="checkbox" name="sedacao2" id="Rocuronio"  class="form-check-input" onClick="check1()" value="Rocuronio" <%=(paciente[j].rocuronio == 'Rocuronio')?'checked':''%>>
							<label class="form-check-label"  id="Rocuronio2" for="Rocuronio2">Rocuronio</label>
							<input  id="Rocuronio3"  type="hidden" name="Rocuronio3">
							<label class="form-check-label"  id="Rocuronio4" for="Rocuronio"> ---  Vazão Rocuronio</label>
							<input  id="vazaoRocuronio"  type="text" name="vazaoRocuronio"  value="<%=paciente[j].vazaoRocuronio %>">
						</div>
						<div class="form-check">
							<input type="checkbox" name="sedacao2" id="Propofol"  class="form-check-input" onClick="check1()" value="Propofol" <%=(paciente[j].propofol == 'Propofol')?'checked':''%>>
							<label class="form-check-label"  id="Propofol2" for="Propofol2">Propofol</label>
							<input  id="Propofol3"  type="hidden" name="Propofol3">
							<label class="form-check-label"  id="Propofol4" for="Propofol"> ---  Vazão Propofol</label>
							<input  id="vazaoPropofol"  type="text" name="vazaoPropofol"  value="<%=paciente[j].vazaoPropofol %>">
						</div>
					</div>
					<div class="form-group">
						<label for="paciente" id="glasgow2">Glasgow</label>
                        <input type="text" id="glasgow" name="glasgow" class="form-control" value="<%=paciente[j].glasgow %>">
                    </div>
					<div class="form-group">
						<label for="paciente">Quantidades de Bics</label>
                        <input type="text" name="bics" class="form-control" value="<%=paciente[j].bic %>" required>
                    </div>
                </div>
                <div >
                    <input type="hidden" name="id" class="product_id">
                    <a href="/respiracaoluizote?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </div>
            </div>
</form>
		<% } %>	
			<% } %>
			<% } %>	
			<% } %>
			<br>
					<br>
					<br>
</div>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<%- include('../home/footer'); %>
</body>
</html>
<script type="text/javascript">
$(function(){
	$(window).on('resize load', function() {
  if ($(window).width() <= 768) { 
    $("#mobile").removeClass("container");
  }
  else {
    $("#mobile").addClass("container");
  }
});
});
	$("#leito").on('change', function(e){
		 var leito = document.getElementById('leito').value;
		 document.getElementById('leito2').value = leito;
	});
	
	$("#dispositivo").on('change', function(f){
		 var dispositivo = document.getElementById('dispositivo').value;
		 document.getElementById('dispositivo2').value = dispositivo;
	});
	
	$("#droga").on('change', function(f){
		 var droga = document.getElementById('droga').value;
		 document.getElementById('drogas').value = droga;
	});
	
	
	function verifica(value){
		var input = document.getElementById("fio2");
		var input2 = document.getElementById("peep");
		var input3 = document.getElementById("o2");
		var input4 = document.getElementById("glasgow");
		var label5 = document.getElementById("o2label");
		var label6 = document.getElementById("glasgow2");
		var label7 = document.getElementById("fio22");
		var label8 = document.getElementById("peep2");
	
	  if(value == 'Cateter O2' || value == 'Mascara Reservatorio' ){
		input.style.display = "none";
		input2.style.display = "none";
		input4.style.display = "inline";
		input3.style.display = "inline";
		label5.style.display = "inline";
		label7.style.display = "none";
		label8.style.display = "none";
		label6.style.display = "inline";
		input.value = "";
		input2.value= "";
		input.value = 'Não Aplicado';
		input2.value = 'Não Aplicado';
	  }else if(value == 'Cateter O2 + VNI' || value == 'Mascara Reservatorio + VNI' ){
		input.style.display = "none";
		input2.style.display = "none";
		input4.style.display = "inline";
		input3.style.display = "inline";
		label5.style.display = "inline";
		label7.style.display = "none";
		label8.style.display = "none";
		label6.style.display = "inline";
		input.value = "";
		input2.value= "";
		input.value = 'Não Aplicado';
		input2.value = 'Não Aplicado';
	  }else if(value == 'Ventilacao Mecanica'){
		input.style.display = "inline";
		input2.style.display = "inline";
		input3.style.display = "none";
		input4.style.display = "none";
		label5.style.display = "none";
		label7.style.display = "inline";
		label8.style.display = "inline";
		label6.style.display = "none";
		input3.value= "";
		input4.value = "";
		input3.value = 'Não Aplicado';
		input4.value = 'Não Aplicado';
	  } else if(value == "Ar Ambiente"){
		input.style.display = "none";
		input2.style.display = "none";
		input3.style.display = "none";
		input4.style.display = "inline";
		label5.style.display = "none";
		label7.style.display = "none";
		label8.style.display = "none";
		label6.style.display = "inline"; 
		input.value = "";
		input2.value= "";
		input3.value= "";
		input3.value = 'Não Aplicado';
		input.value = 'Não Aplicado';
		input2.value = 'Não Aplicado';
	  }
	};
	
	function verificasedacao(value){
		var input = document.getElementById("Dormonid");
		var input2 = document.getElementById("Fentanil");
		var input3 = document.getElementById("Rocuronio");
		var input4 = document.getElementById("Propofol");
		var label = document.getElementById("Dormonid2");
		var label2 = document.getElementById("Fentanil2");
		var label3 = document.getElementById("Rocuronio2");
		var label4 = document.getElementById("Propofol2");
		var input5 = document.getElementById("vazaoDormonid");
		var input6 = document.getElementById("vazaoFentanil");
		var input7 = document.getElementById("vazaoRocuronio");
		var input8 = document.getElementById("vazaoPropofol");
		var label5 = document.getElementById("Dormonid4");
		var label6 = document.getElementById("Fentanil4");
		var label7 = document.getElementById("Rocuronio4");
		var label8 = document.getElementById("Propofol4");
	
	  if(value == 'nao'){
		input.style.display = "none";
		input2.style.display = "none";
		input3.style.display = "none";
		input4.style.display = "none";
		label.style.display = "none";
		label2.style.display = "none";
		label3.style.display = "none";
		label4.style.display = "none";
		input5.style.display = "none";
		input6.style.display = "none";
		input7.style.display = "none";
		input8.style.display = "none";
		label5.style.display = "none";
		label6.style.display = "none";
		label7.style.display = "none";
		label8.style.display = "none";
		var pacote = document.getElementsByName('sedacao2');
		var estado = false;
		  for (var i = 0; i < pacote.length; i++){
			pacote[i].checked == estado;
			  if(pacote[i].value == "Dormonid"){
				  var Pacote_i = "Não Usado";
				  document.getElementById('Dormonid3').value = Pacote_i;
				  input5.value="-";
			  }else if (pacote[i].value == "Fentanil") {
				  var Pacote_ii = "Não Usado";
				  document.getElementById('Fentanil3').value = Pacote_ii;
				  input6.value="-";
			  }else if (pacote[i].value == "Rocuronio") {
				  var Pacote_iii = "Não Usado";
				  document.getElementById('Rocuronio3').value = Pacote_iii;
				  input7.value="-";
			  }else if (pacote[i].value == "Propofol") {
				  var Pacote_iiii = "Não Usado";
				  document.getElementById('Propofol3').value = Pacote_iiii;
				  input8.value="-";
			  }
		  }
	  }else if(value == 'sim'){
		input.style.display = "inline";
		input2.style.display = "inline";
		input3.style.display = "inline";
		input4.style.display = "inline";
		label.style.display = "inline";
		label2.style.display = "inline";
		label3.style.display = "inline";
		label4.style.display = "inline";
		
	  }
	};
	
	
	function verificadroga(value){
		var input = document.getElementById("Noradrenalina");
		var input2 = document.getElementById("Adrenalina");
		var label = document.getElementById("Noradrenalina2");
		var label2 = document.getElementById("Adrenalina2");
		var input3 = document.getElementById("Bicarbonato");
		var label3 = document.getElementById("Bicarbonato2");
		var input4 = document.getElementById("vazaonora");
		var input5 = document.getElementById("vazaoadre");
		var label4 = document.getElementById("Noradrenalina3");
		var label5 = document.getElementById("Adrenalin3");
		var input6 = document.getElementById("vazaobica");
		var label6 = document.getElementById("Bicarbonato3");
		
	
	  if(value == 'nao'){
		input.style.display = "none";
		input2.style.display = "none";
		input3.style.display = "none";
		label.style.display = "none";
		label2.style.display = "none";
		label3.style.display = "none";
		input4.style.display = "none";
		input5.style.display = "none";
		input6.style.display = "none";
		label4.style.display = "none";
		label5.style.display = "none";
		label6.style.display = "none";
		var pacote = document.getElementsByName('DVA');
		var estado = false;
		for (var i = 0; i < pacote.length; i++){
			pacote[i].checked == estado;
			  if(pacote[i].value == "Noradrenalina"){
				  var Pacote_i = "Não Usado";
				  document.getElementById('nora').value = Pacote_i;
				  input4.value="-";
			  }else if (pacote[i].value == "Adrenalina") {
				  var Pacote_ii = "Não Usado";
				  document.getElementById('adre').value = Pacote_ii;
				  input5.value="-";
			  }
			  else if (pacote[i].value == "Bicarbonato") {
				  var Pacote_iii = "Não Usado";
				  document.getElementById('bic').value = Pacote_iii;
				  input6.value="-";
			  }
		  }
	  }else if(value == 'sim'){
		input.style.display = "inline";
		input2.style.display = "inline";
		input3.style.display = "inline";
		label.style.display = "inline";
		label2.style.display = "inline";
		label3.style.display = "inline";
		
	  }
	};
	window.onload = function() {
	  document.getElementById('fio2').style.display = 'none';
	  document.getElementById('peep').style.display = 'none';
	  document.getElementById('o2').style.display = 'none';
	  document.getElementById('Noradrenalina').style.display = 'none';
	  document.getElementById('Adrenalina').style.display = 'none';
	  document.getElementById('Noradrenalina2').style.display = 'none';
	  document.getElementById('Adrenalina2').style.display = 'none';
	  document.getElementById('Bicarbonato').style.display = 'none';
	  document.getElementById('Bicarbonato2').style.display = 'none';
	  document.getElementById('Dormonid').style.display = 'none';
	  document.getElementById('Dormonid2').style.display = 'none';
	  document.getElementById('Fentanil').style.display = 'none';
	  document.getElementById('Fentanil2').style.display = 'none';
	  document.getElementById('Rocuronio').style.display = 'none';
	  document.getElementById('Rocuronio2').style.display = 'none';
	  document.getElementById('Propofol').style.display = 'none';
	  document.getElementById('Propofol2').style.display = 'none';
	  document.getElementById('glasgow').style.display = 'none';
	  document.getElementById('o2label').style.display ='none';
	  document.getElementById("glasgow2").style.display ='none';
	  document.getElementById("fio22").style.display ='none';
	  document.getElementById("peep2").style.display ='none';
	
	  var dispositivo = document.getElementById("dispositivo").value;
	  verifica(dispositivo);
	  document.getElementById('dispositivo2').value = dispositivo;
	  var sedacao = document.getElementById("sedacao").value;
	  verificasedacao(sedacao);
		var droga = document.getElementById("droga").value;
		verificadroga(droga);
		document.getElementById('drogas').value = droga;
	var leito = document.getElementById("leito").value;
		document.getElementById('leito2').value = leito;
		check();
		check1();
	};
	function check(){
	var input4 = document.getElementById("vazaonora");
	var input5 = document.getElementById("vazaoadre");
	var label4 = document.getElementById("Noradrenalina3");
	var label5 = document.getElementById("Adrenalin3");
	var input6 = document.getElementById("vazaobica");
	var label6 = document.getElementById("Bicarbonato3");
		
	var pacote = document.getElementsByName('DVA');
	  for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked ) {
			  if(pacote[i].value == "Noradrenalina"){
				label4.style.display = "inline";
				input4.style.display = "inline";
				  var Pacote_i = "Noradrenalina";
				  document.getElementById('nora').value = Pacote_i;
				
			  }else if (pacote[i].value == "Adrenalina") {
				input5.style.display = "inline";
				label5.style.display = "inline";
				  var Pacote_ii = "Adrenalina";
				  document.getElementById('adre').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "Bicarbonato") {
				input6.style.display = "inline";
				label6.style.display = "inline";
				  var Pacote_iii = "Bicarbonato";
				  document.getElementById('bic').value = Pacote_iii;
				
			  }
			}
		  }
		var estado = false;
		for (var i = 0; i < pacote.length; i++){
		  if ( pacote[i].checked == estado ) {
			  if(pacote[i].value == "Noradrenalina"){
				label4.style.display = "none";
				input4.style.display = "none";
				input4.value="-";
				  var Pacote_i = "Não Aplicado";
				  document.getElementById('nora').value = Pacote_i;
				 
			  }else if (pacote[i].value == "Adrenalina") {
				input5.style.display = "none";
				label5.style.display = "none";
				input5.value="-";
				  var Pacote_ii = "Não Aplicado";
				  document.getElementById('adre').value = Pacote_ii;
				
			  }
			  else if (pacote[i].value == "Bicarbonato") {
				input6.style.display = "none";
				label6.style.display = "none";
				input6.value="-";
				  var Pacote_iii = "Não Aplicado";
				  document.getElementById('bic').value = Pacote_iii;
				 
			  }
			}
		  }
	}
	
	function check1(){
		var input5 = document.getElementById("vazaoDormonid");
		var input6 = document.getElementById("vazaoFentanil");
		var input7 = document.getElementById("vazaoRocuronio");
		var input8 = document.getElementById("vazaoPropofol");
		var label5 = document.getElementById("Dormonid4");
		var label6 = document.getElementById("Fentanil4");
		var label7 = document.getElementById("Rocuronio4");
		var label8 = document.getElementById("Propofol4");
		
	var pacote = document.getElementsByName('sedacao2');
	for (var i = 0; i < pacote.length; i++){
			if ( pacote[i].checked  == true) {
				if(pacote[i].value == "Dormonid"){
					input5.style.display = "inline";
					label5.style.display = "inline";
					var Pacote_i = "Dormonid";
					document.getElementById('Dormonid3').value = Pacote_i;
					
				}
			}
			if ( pacote[i].checked  == true) { 
				if (pacote[i].value == "Fentanil") {
				input6.style.display = "inline";
				label6.style.display = "inline";
					var Pacote_ii = "Fentanil";
					document.getElementById('Fentanil3').value = Pacote_ii;
					
				}
			}
			if ( pacote[i].checked  == true) {  
				if (pacote[i].value == "Rocuronio") {
				input7.style.display = "inline";
				label7.style.display = "inline";
					var Pacote_iii = "Rocuronio";
					document.getElementById('Rocuronio3').value = Pacote_iii;
					
				}
			}
			if ( pacote[i].checked  == true) { 
				if (pacote[i].value == "Propofol") {
				label8.style.display = "inline";
				input8.style.display = "inline";
					var Pacote_iiii = "Propofol";
					document.getElementById('Propofol3').value = Pacote_iiii;
					
				}
			} 
			if ( pacote[i].checked  == false) {
				if(pacote[i].value == "Dormonid"){
				input5.style.display = "none";
				label5.style.display = "none";
				input5.value="-";
				  var Pacote_i = "Não Aplicado";
				  document.getElementById('Dormonid3').value = Pacote_i;
				 
				}
			}
			if ( pacote[i].checked  == false) { 
				  if (pacote[i].value == "Fentanil") {
				input6.style.display = "none";
				label6.style.display = "none";
				input6.value="-";
				  var Pacote_ii = "Não Aplicado";
				  document.getElementById('Fentanil3').value = Pacote_ii;
				 
				 }
			}
			if ( pacote[i].checked  == false) { 
				 if (pacote[i].value == "Rocuronio") {
				input7.style.display = "none";
				label7.style.display = "none";
				input7.value="-";
				  var Pacote_iii = "Não Aplicado";
				  document.getElementById('Rocuronio3').value = Pacote_iii;
				 
				 }
			  }
			if ( pacote[i].checked  == false) { 
				 if (pacote[i].value == "Propofol") {
				label8.style.display = "none";
				input8.style.display = "none";
				input8.value="-";
				  var Pacote_iiii = "Não Aplicado";
				  document.getElementById('Propofol3').value = Pacote_iiii;
				 
				 }
			  }
		}
	}
	
	</script>