<%- include('./cabecalhoregulacao'); %>

    <h2>Relatorio Paciente Enfermaria Covid</h2>

    <br>
    <div>
        <% if(id.length > 0) { %>
            <% for(var i = 0; i < id.length; i++) {%>
                <input name="usuario" type="hidden" value="<%=id[i].id_usuario %>">
        <table  class="table table-striped" id="mytable">
            <thead>
                <tr>
                    <th hidden>id</th>
                    <th>Unidade</th>
                    <th>Nome</th>
                    <th>SusFacil</th>
                    <th>Idade</th>
                    <th>Dispositivo Ventilatorio</th>
                    <th>Fluxo de O2</th>
                    <th>Glasgow</th>
                    <th>Temperatura</th>
                    <th>PA Sistolica</th>
                    <th>Frequência Cardiaca</th>
                    <th>Frequência Respiratoria</th>
                    <th>Saturação de O2</th>
                    <th>Nivel de Alerta</th>
                    <th></th>
                    <th>NEWs</th>
                    <th>ECF</th>
                    <th>Spict</th>
                    <th>Paliativo</th>
                    <th>Data Exame</th>
                    <th>Resultado de Exame</th>
                </tr>
            </thead>
            <tbody>   
                    <% if(paciente.length > 0) { %>
                        <% for(var j = 0; j < paciente.length; j++) {%> 
                    <tr>
                        <td hidden><label hidden>/ID: </label><%=paciente[j].id_paciente %></td>
                        <td><label hidden>/Unidade: </label><%=paciente[j].unidade %></td>
                        <td><label hidden>/Nome: </label><%=paciente[j].paciente %></td>
                        <td><label hidden>/SusFacil: </label><%=paciente[j].susfacil %></td>
                        <td><label hidden>/Idade: </label><%=paciente[j].idade %></td>
                        <td><label hidden>/Dispositivo: </label><%=paciente[j].dispositivo %></td>
                        <td><label hidden>/Fluxo de O2: </label><%=paciente[j].fluxo_de_o2 %></td>
                        <td><label hidden>/Glasgow: </label><%=paciente[j].glasgow %></td>
                        <td><label hidden for="">/Temperatura: </label><%=paciente[j].temp %></td>
                        <td><label hidden for="">/PA Sistolica: </label><%=paciente[j].sistolica %></td>
                        <td><label hidden for="">/Frequência Cardiaca: </label><%=paciente[j].fc %></td>
                        <td><label hidden for="">/Frequência Respiratoria: </label><%=paciente[j].fr %></td>
                        <td><label hidden for="">/Saturação de O2: </label><%=paciente[j].sat %></td>
                        <td><label hidden for="">/Nivel de Alerta: </label><%=paciente[j].alerta %></td>
                        <td><label hidden>/News: </label></td>
                        <td><%=paciente[j].news %></td>
                        <td><label hidden>/ECF: </label><%=paciente[j].ecf %></td>
                        <td><label hidden>/Spict: </label><%=paciente[j].spict %></td>
                        <td><label hidden>/Paliativo: </label><%=paciente[j].paliativo %></td>
                        <td><label hidden>/Data Exame: </label><%=paciente[j].dataexame %></td>
                        <td><label hidden>/Exame: </label><%=paciente[j].exame %></td>
                    </tr>
                <% } %>	
                <% } %>
    
            </tbody>
        </table>
        <% } %>	
        <% } %>
        <br>
					<br>
					<br>
    </div>
        

    


<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.2/js/dataTables.select.min.js" ></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.bootstrap4.min.js"></script>
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    $('#mytable').DataTable( {
        dom: 'Bfrtip',
        "scrollX": true,
        order: ([[ 17, 'asc'],[ 15, 'asc' ] , [ 14, 'desc' ]]),
        pageLength: 50,
        buttons: [       
            {
                "extend": "copyHtml5",
                "text": "COPIAR",
                header: false
            },          
            {
                "extend": "pdf",
                "text": "PDF",
                header: false
            },
            {
                "extend": "excelHtml5",
                "text": "EXCEL",
                header: false
            },
            {
                "extend": "print",
                "text": "IMPRIMIR",
                header: false
            }
        ],language: {
            buttons: {
                copyTitle: 'Copiado para área de transferência',
                copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                copySuccess: {
                    _: '%d linhas copiadas',
                    1: '1 linha copiada'
                }
            },
            "paginate": {
                "previous": "Anterior",
                "next": "Próximo"
            },
            "search": "Pesquisar:"
        },
        select: true
    } );
} );

</script>

<%- include('../home/footer'); %>
</body>
</html>