<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Portal de Pacientes</title>
		
		<!-- JQuery -->
		<script src="/js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="/css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.buttons.css"/>
		<!-- favicon -->
		<link rel="shortcut icon" href="/images/favicon.ico" />
	</head>

	<body>

		<nav class="navbar navbar-default navbar-static-top">
			
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<img id="img" src="/images/logo.png" />
					<img id="portal" src="/images/portal.png" />
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<% if(id.length > 0) { %>
							<% for(var i = 0; i < id.length; i++) {%>
								
									<% if(id[i].usuario== 'cida'){%>
										<div class="btn-group">
											<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
											  Uai Planalto
											</button>
											<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/newsplanalto?id=<%=id[i].id_usuario %>">News</a></button>
												<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacienteplanalto?id=<%=id[i].id_usuario %>">Pacientes</a></button>
												<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaoplanalto?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
												<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicoplanalto?id=<%=id[i].id_usuario %>">Historico</a></button>
												<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluaiplanalto?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
												<br>
											</div>
										</div>
										<div class="btn-group">
											<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
											Uai Luizote
											</button>
											<div class="dropdown-menu" >
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/newsluizote?id=<%=id[i].id_usuario %>">News</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacienteluizote?id=<%=id[i].id_usuario %>">Pacientes</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaoluizote?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicoluizote?id=<%=id[i].id_usuario %>">Historico</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluailuizote?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
													<br>
												</div>
										  </div>	
										  <div class="btn-group">
											<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
											Uai Martins
											</button>
											<div class="dropdown-menu" >
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/newsmartins?id=<%=id[i].id_usuario %>">News</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacientemartins?id=<%=id[i].id_usuario %>">Pacientes</a></button>
												<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaomartins?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicomartins?id=<%=id[i].id_usuario %>">Historico</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluaimartins?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
													<br>
												</div>
										  </div>	
										  <div class="btn-group">
											<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
											Uai Roosevelt
											</button>
											<div class="dropdown-menu" >
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/newsroosevelt?id=<%=id[i].id_usuario %>">News</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacienteroosevelt?id=<%=id[i].id_usuario %>">Pacientes</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaoroosevelt?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicoroosevelt?id=<%=id[i].id_usuario %>">Historico</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluairoosevelt?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
													<br>
												</div>
										  </div>	
										  <div class="btn-group">
											<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
											Uai Tibery
											</button>
											<div class="dropdown-menu" >
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success"href="/newstibery?id=<%=id[i].id_usuario %>">News</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacientetibery?id=<%=id[i].id_usuario %>">Pacientes</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaotibery?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicotibery?id=<%=id[i].id_usuario %>">Historico</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluaitibery?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
													<br>
												</div>
										  </div>	
										  <div class="btn-group">
											<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
											Uai Morumbi
											</button>
											<div class="dropdown-menu" >
												<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/newsmorumbi?id=<%=id[i].id_usuario %>">News</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacientemorumbi?id=<%=id[i].id_usuario %>">Pacientes</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaomorumbi?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicomorumbi?id=<%=id[i].id_usuario %>">Historico</a></button>
													<br>
												<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluaimorumbi?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
													<br>
											</div>
										  </div>
											<div class="btn-group">
												<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
												Regulação
												</button>
												<div class="dropdown-menu" >
													<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatoriouti?id=<%=id[i].id_usuario %>">Relatorio UTI</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioenfermaria?id=<%=id[i].id_usuario %>">Relatorio Enfermaria</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centralenfermaria?id=<%=id[i].id_usuario %>">Central de leitos Enfermaria</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluti?id=<%=id[i].id_usuario %>">Central de leitos UTI</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluai?id=<%=id[i].id_usuario %>">Central de Leitos UAI</a></button>
														<br>
												</div>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
												Administrativo
												</button>
												<div class="dropdown-menu" >
													<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmplanalto?id=<%=id[i].id_usuario %>">Relatorio Administrativo Planalto</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmluizote?id=<%=id[i].id_usuario %>">Relatorio Administrativo Luizote</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmmartins?id=<%=id[i].id_usuario %>">Relatorio Administrativo Martins</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmroosevelt?id=<%=id[i].id_usuario %>">Relatorio Administrativo Roosevelt</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmtibery?id=<%=id[i].id_usuario %>">Relatorio Administrativo Tibery</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmmorumbi?id=<%=id[i].id_usuario %>">Relatorio Administrativo Morumbi</a></button>
													<br>
												</div>
											</div>
											<div class="btn-group">
												<button type="button" href="/sair" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
												Sair
												</button>
												<div class="dropdown-menu" >
													<button class="btn btn-success dropdown-item"><a class="btn btn-success" href="/sair"">SAIR</a></button>
												</div>
											</div>
										<% } %>
										<% if(id[i].usuario== 'admin'){%>
											<div class="btn-group">
												<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
												  Uai Planalto
												</button>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/newsplanalto?id=<%=id[i].id_usuario %>">News</a></button>
													<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacienteplanalto?id=<%=id[i].id_usuario %>">Pacientes</a></button>
													<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaoplanalto?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
													<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicoplanalto?id=<%=id[i].id_usuario %>">Historico</a></button>
													<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluaiplanalto?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
													<br>
												</div>
											</div>
											<div class="btn-group">
												<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
												Uai Luizote
												</button>
												<div class="dropdown-menu" >
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/newsluizote?id=<%=id[i].id_usuario %>">News</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacienteluizote?id=<%=id[i].id_usuario %>">Pacientes</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaoluizote?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicoluizote?id=<%=id[i].id_usuario %>">Historico</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluailuizote?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
														<br>
													</div>
											  </div>	
											  <div class="btn-group">
												<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
												Uai Martins
												</button>
												<div class="dropdown-menu" >
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/newsmartins?id=<%=id[i].id_usuario %>">News</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacientemartins?id=<%=id[i].id_usuario %>">Pacientes</a></button>
													<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaomartins?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicomartins?id=<%=id[i].id_usuario %>">Historico</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluaimartins?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
														<br>
													</div>
											  </div>	
											  <div class="btn-group">
												<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
												Uai Roosevelt
												</button>
												<div class="dropdown-menu" >
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/newsroosevelt?id=<%=id[i].id_usuario %>">News</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacienteroosevelt?id=<%=id[i].id_usuario %>">Pacientes</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaoroosevelt?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicoroosevelt?id=<%=id[i].id_usuario %>">Historico</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluairoosevelt?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
														<br>
													</div>
											  </div>	
											  <div class="btn-group">
												<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
												Uai Tibery
												</button>
												<div class="dropdown-menu" >
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success"href="/newstibery?id=<%=id[i].id_usuario %>">News</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacientetibery?id=<%=id[i].id_usuario %>">Pacientes</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaotibery?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicotibery?id=<%=id[i].id_usuario %>">Historico</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluaitibery?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
														<br>
													</div>
											  </div>	
											  <div class="btn-group">
												<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
												Uai Morumbi
												</button>
												<div class="dropdown-menu" >
													<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/newsmorumbi?id=<%=id[i].id_usuario %>">News</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacientemorumbi?id=<%=id[i].id_usuario %>">Pacientes</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaomorumbi?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicomorumbi?id=<%=id[i].id_usuario %>">Historico</a></button>
														<br>
													<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluaimorumbi?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
														<br>
												</div>
											</div>
												<div class="btn-group">
													<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
													Regulação
													</button>
													<div class="dropdown-menu" >
														<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatoriouti?id=<%=id[i].id_usuario %>">Relatorio UTI</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioenfermaria?id=<%=id[i].id_usuario %>">Relatorio Enfermaria</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centralenfermaria?id=<%=id[i].id_usuario %>">Central de leitos Enfermaria</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluti?id=<%=id[i].id_usuario %>">Central de leitos UTI</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluai?id=<%=id[i].id_usuario %>">Central de Leitos UAI</a></button>
															<br>
													</div>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
													Administrativo
													</button>
													<div class="dropdown-menu" >
														<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmplanalto?id=<%=id[i].id_usuario %>">Relatorio Administrativo Planalto</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmluizote?id=<%=id[i].id_usuario %>">Relatorio Administrativo Luizote</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmmartins?id=<%=id[i].id_usuario %>">Relatorio Administrativo Martins</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmroosevelt?id=<%=id[i].id_usuario %>">Relatorio Administrativo Roosevelt</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmtibery?id=<%=id[i].id_usuario %>">Relatorio Administrativo Tibery</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmmorumbi?id=<%=id[i].id_usuario %>">Relatorio Administrativo Morumbi</a></button>
														<br>
													</div>
												</div>
												<div class="btn-group">
													<button type="button" href="/sair" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
													Sair
													</button>
													<div class="dropdown-menu" >
														<button class="btn btn-success dropdown-item"><a class="btn btn-success" href="/sair"">SAIR</a></button>
													</div>
												</div>
											<% } %>
											<% if(id[i].usuario== 'sheyla'){%>
												<div class="btn-group">
													<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
													  Uai Planalto
													</button>
													<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/newsplanalto?id=<%=id[i].id_usuario %>">News</a></button>
														<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacienteplanalto?id=<%=id[i].id_usuario %>">Pacientes</a></button>
														<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaoplanalto?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
														<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicoplanalto?id=<%=id[i].id_usuario %>">Historico</a></button>
														<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluaiplanalto?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
														<br>
													</div>
												</div>
												<div class="btn-group">
													<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
													Uai Luizote
													</button>
													<div class="dropdown-menu" >
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/newsluizote?id=<%=id[i].id_usuario %>">News</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacienteluizote?id=<%=id[i].id_usuario %>">Pacientes</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaoluizote?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicoluizote?id=<%=id[i].id_usuario %>">Historico</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluailuizote?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
															<br>
														</div>
												  </div>	
												  <div class="btn-group">
													<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
													Uai Martins
													</button>
													<div class="dropdown-menu" >
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/newsmartins?id=<%=id[i].id_usuario %>">News</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacientemartins?id=<%=id[i].id_usuario %>">Pacientes</a></button>
														<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaomartins?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicomartins?id=<%=id[i].id_usuario %>">Historico</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluaimartins?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
															<br>
														</div>
												  </div>	
												  <div class="btn-group">
													<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
													Uai Roosevelt
													</button>
													<div class="dropdown-menu" >
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/newsroosevelt?id=<%=id[i].id_usuario %>">News</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacienteroosevelt?id=<%=id[i].id_usuario %>">Pacientes</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaoroosevelt?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicoroosevelt?id=<%=id[i].id_usuario %>">Historico</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluairoosevelt?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
															<br>
														</div>
												  </div>	
												  <div class="btn-group">
													<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
													Uai Tibery
													</button>
													<div class="dropdown-menu" >
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/newstibery?id=<%=id[i].id_usuario %>">News </a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacientetibery?id=<%=id[i].id_usuario %>">Pacientes</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaotibery?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicotibery?id=<%=id[i].id_usuario %>">Historico</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluaitibery?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
															<br>
														</div>
												  </div>	
												  <div class="btn-group">
													<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
													Uai Morumbi
													</button>
													<div class="dropdown-menu" >
														<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/newsmorumbi?id=<%=id[i].id_usuario %>">News</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/cadastrarpacientemorumbi?id=<%=id[i].id_usuario %>">Pacientes</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/respiracaomorumbi?id=<%=id[i].id_usuario %>">Dispositivo</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/historicomorumbi?id=<%=id[i].id_usuario %>">Historico</a></button>
															<br>
														<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluaimorumbi?id=<%=id[i].id_usuario %>">Central de Leitos</a></button>
															<br>
													</div>
												</div>
													<div class="btn-group">
														<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
														Regulação
														</button>
														<div class="dropdown-menu" >
															<br>
															<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatoriouti?id=<%=id[i].id_usuario %>">Relatorio UTI</a></button>
																<br>
															<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioenfermaria?id=<%=id[i].id_usuario %>">Relatorio Enfermaria</a></button>
																<br>
															<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centralenfermaria?id=<%=id[i].id_usuario %>">Central de leitos Enfermaria</a></button>
																<br>
															<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluti?id=<%=id[i].id_usuario %>">Central de leitos UTI</a></button>
																<br>
															<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/centraluai?id=<%=id[i].id_usuario %>">Central de Leitos UAI</a></button>
																<br>
														</div>
													</div>
													<div class="btn-group">
														<button type="button" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
														Administrativo
														</button>
														<div class="dropdown-menu"  >
															<br>
															<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmplanalto?id=<%=id[i].id_usuario %>">Relatorio Administrativo Planalto</a></button>
																<br>
															<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmluizote?id=<%=id[i].id_usuario %>">Relatorio Administrativo Luizote</a></button>
																<br>
															<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmmartins?id=<%=id[i].id_usuario %>">Relatorio Administrativo Martins</a></button>
																<br>
															<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmroosevelt?id=<%=id[i].id_usuario %>">Relatorio Administrativo Roosevelt</a></button>
																<br>
															<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmtibery?id=<%=id[i].id_usuario %>">Relatorio Administrativo Tibery</a></button>
																<br>
															<button class="btn btn-success dropdown-item" ><a class="btn btn-success" href="/relatorioadmmorumbi?id=<%=id[i].id_usuario %>">Relatorio Administrativo Morumbi</a></button>
															<br>
														</div>
													</div>
													<div class="btn-group">
														<button type="button" href="/sair" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
														Sair
														</button>
														<div class="dropdown-menu" >
															<button class="btn btn-success dropdown-item"><a class="btn btn-success" href="/sair"">SAIR</a></button>
														</div>
													</div>
												<% } %>
												<% if(id[i].enfermeiro==1){%>
									<% if(id[i].unidade==1){%>
										<li><a href="/newsplanalto?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/cadastrarpacienteplanalto?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/cadastrarpaciente.png" /><br><br><button class="btn btn-sm btn-primary">Pacientes</button></a></li>
										<li><a href="/respiracaoplanalto?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/historicoplanalto?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/historico.png" /><br><br><button class="btn btn-sm btn-primary">Historico</button></a></li>
										<li><a href="/centraluaiplanalto?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/central.png" /><br><br><button class="btn btn-sm btn-primary">Central de Leitos</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==2){%>
										<li><a href="/newsluizote?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/cadastrarpacienteluizote?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/cadastrarpaciente.png" /><br><br><button class="btn btn-sm btn-primary">Pacientes</button></a></li>
										<li><a href="/respiracaoluizote?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/historicoluizote?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/historico.png" /><br><br><button class="btn btn-sm btn-primary">Historico</button></a></li>
										<li><a href="/centraluailuizote?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/central.png" /><br><br><button class="btn btn-sm btn-primary">Central de Leitos</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==3){%>
										<li><a href="/newsmartins?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/cadastrarpacientemartins?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/cadastrarpaciente.png" /><br><br><button class="btn btn-sm btn-primary">Pacientes</button></a></li>
										<li><a href="/respiracaomartins?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/historicomartins?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/historico.png" /><br><br><button class="btn btn-sm btn-primary">Historico</button></a></li>
										<li><a href="/centraluaimartins?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/central.png" /><br><br><button class="btn btn-sm btn-primary">Central de Leitos</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==4){%>
										<li><a href="/newsroosevelt?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/cadastrarpacienteroosevelt?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/cadastrarpaciente.png" /><br><br><button class="btn btn-sm btn-primary">Pacientes</button></a></li>
										<li><a href="/respiracaoroosevelt?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/historicoroosevelt?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/historico.png" /><br><br><button class="btn btn-sm btn-primary">Historico</button></a></li>
										<li><a href="/centraluairoosevelt?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/central.png" /><br><br><button class="btn btn-sm btn-primary">Central de Leitos</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==5){%>
										<li><a href="/newsmorumbi?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/cadastrarpacientemorumbi?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/cadastrarpaciente.png" /><br><br><button class="btn btn-sm btn-primary">Pacientes</button></a></li>
										<li><a href="/respiracaomorumbi?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/historicomorumbi?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/historico.png" /><br><br><button class="btn btn-sm btn-primary">Historico</button></a></li>
										<li><a href="/centraluaimorumbi?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/central.png" /><br><br><button class="btn btn-sm btn-primary">Central de Leitos</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==6){%>
										<li><a href="/newstibery?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/cadastrarpacientetibery?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/cadastrarpaciente.png" /><br><br><button class="btn btn-sm btn-primary">Pacientes</button></a></li>
										<li><a href="/respiracaotibery?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/historicotibery?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/historico.png" /><br><br><button class="btn btn-sm btn-primary">Historico</button></a></li>
										<li><a href="/centraluaitibery?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/central.png" /><br><br><button class="btn btn-sm btn-primary">Central de Leitos</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==7){%>
										<li><a href="/newssaojorge?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/cadastrarpacientesaojorge?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/cadastrarpaciente.png" /><br><br><button class="btn btn-sm btn-primary">Pacientes</button></a></li>
										<li><a href="/respiracaosaojorge?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/historicosaojorge?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/historico.png" /><br><br><button class="btn btn-sm btn-primary">Historico</button></a></li>
										<li><a href="/centraluaisaojorge?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/central.png" /><br><br><button class="btn btn-sm btn-primary">Central de Leitos</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==8){%>
										<li><a href="/newspampulha?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/cadastrarpacientepampulha?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/cadastrarpaciente.png" /><br><br><button class="btn btn-sm btn-primary">Pacientes</button></a></li>
										<li><a href="/respiracaopampulha?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/historicopampulha?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/historico.png" /><br><br><button class="btn btn-sm btn-primary">Historico</button></a></li>
										<li><a href="/centraluaipampulha?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/central.png" /><br><br><button class="btn btn-sm btn-primary">Central de Leitos</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==9){%>
										<li><a href="/newscim?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/cadastrarpacientecim?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/cadastrarpaciente.png" /><br><br><button class="btn btn-sm btn-primary">Pacientes</button></a></li>
										<li><a href="/respiracaocim?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/historicocim?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/historico.png" /><br><br><button class="btn btn-sm btn-primary">Historico</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
						<% } %>
							<% } %>	
								<% } %>
						<% if(id.length > 0) { %>
							<% for(var i = 0; i < id.length; i++) {%>
								<% if(id[i].tecenfermagem==1){%>
									<% if(id[i].unidade==1){%>
										<li><a href="/newsplanalto?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==2){%>
										<li><a href="/newsluizote?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==3){%>
										<li><a href="/newsmartins?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==4){%>
										<li><a href="/newsroosevelt?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==5){%>
										<li><a href="/newsmorumbi?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==6){%>
										<li><a href="/newstibery?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==7){%>
										<li><a href="/newssaojorge?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==8){%>
										<li><a href="/newspampulha?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==9){%>
										<li><a href="/newscim?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/news.png" /><br><br><button class="btn btn-sm btn-primary">NEWs</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
						<% } %>
							<% } %>	
								<% } %>
						<% if(id.length > 0) { %>
							<% for(var i = 0; i < id.length; i++) {%>
								<% if(id[i].fisioterapeuta==1){%>
									<% if(id[i].unidade==1){%>
										<li><a href="/respiracaoplanalto?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==2){%>
										<li><a href="/respiracaoluizote?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==3){%>
										<li><a href="/respiracaomartins?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==4){%>
										<li><a href="/respiracaoroosevelt?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==5){%>
										<li><a href="/respiracaomorumbi?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==6){%>
										<li><a href="/respiracaotibery?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==7){%>
										<li><a href="/respiracaosaojorge?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==8){%>
										<li><a href="/respiracaopampulha?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
									<% if(id[i].unidade==9){%>
										<li><a href="/respiracaocim?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Dispositivo</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
									<% } %>
						<% } %>
							<% } %>	
								<% } %>
						<% if(id.length > 0) { %>
							<% for(var i = 0; i < id.length; i++) {%>
								<% if(id[i].operador==1){%>
										<li><a href="/relatoriouti?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio.png" /><br><br><button class="btn btn-sm btn-primary">Sala Emergência</button></a></li>
										<li><a href="/relatorioenfermaria?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio2.png" /><br><br><button class="btn btn-sm btn-primary">Enfermaria</button></a></li>
										<li><a href="/centralenfermaria?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio2.png" /><br><br><button class="btn btn-sm btn-primary">Central de Leitos Enfermaria</button></a></li>
										<li><a href="/centraluti?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio2.png" /><br><br><button class="btn btn-sm btn-primary">Central de Leitos UTI</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
						<% } %>
							<% } %>	
								<% } %>
								<% if(id.length > 0) { %>
									<% for(var i = 0; i < id.length; i++) {%>
										<% if(id[i].administrativo ==1){%>
											<% if(id[i].unidade==1){%>
												<li><a href="/relatorioadmplanalto?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Relatorio Administrativo</button></a></li>
												<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
											<% } %>
											<% if(id[i].unidade==2){%>
												<li><a href="/relatorioadmluizote?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Relatorio Administrativo</button></a></li>
												<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
											<% } %>
											<% if(id[i].unidade==3){%>
												<li><a href="/relatorioadmmartins?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Relatorio Administrativo</button></a></li>
												<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
											<% } %>
											<% if(id[i].unidade==4){%>
												<li><a href="/relatorioadmroosevelt?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Relatorio Administrativo</button></a></li>
												<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
											<% } %>
											<% if(id[i].unidade==5){%>
												<li><a href="/relatorioadmmorumbi?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Relatorio Administrativo</button></a></li>
												<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
											<% } %>
											<% if(id[i].unidade==6){%>
												<li><a href="/relatorioadmtibery?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Relatorio Administrativo</button></a></li>
												<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
											<% } %>
											<% if(id[i].unidade==7){%>
												<li><a href="/relatorioadmsaojorge?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Relatorio Administrativo</button></a></li>
												<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
											<% } %>
											<% if(id[i].unidade==8){%>
												<li><a href="/relatorioadmpampulha?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Relatorio Administrativo</button></a></li>
												<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
											<% } %>
											<% if(id[i].unidade==9){%>
												<li><a href="/relatorioadmcim?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/dispositivo.png" /><br><br><button class="btn btn-sm btn-primary">Relatorio Administrativo</button></a></li>
												<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
											<% } %>
								<% } %>
									<% } %>	
										<% } %>
						
						<% if(id.length > 0) { %>
							<% for(var i = 0; i < id.length; i++) {%>
								<% if(id[i].hmu==1){%>
									<li><a href="/relatoriouti?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio.png" /><br><br><button class="btn btn-sm btn-primary">Sala Emergência</button></a></li>
										<li><a href="/relatorioenfermaria?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio2.png" /><br><br><button class="btn btn-sm btn-primary">Enfermaria</button></a></li>
										<li><a href="/centralhmu?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio2.png" /><br><br><button class="btn btn-sm btn-primary">Central de Leitos</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
						<% } %>
							<% } %>	
								<% } %>
						<% if(id.length > 0) { %>
							<% for(var i = 0; i < id.length; i++) {%>
								<% if(id[i].cim==1){%>
									<li><a href="/relatoriouti?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio.png" /><br><br><button class="btn btn-sm btn-primary">Sala Emergência</button></a></li>
										<li><a href="/relatorioenfermaria?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio2.png" /><br><br><button class="btn btn-sm btn-primary">Enfermaria</button></a></li>
										<li><a href="/centralcim?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio2.png" /><br><br><button class="btn btn-sm btn-primary">Central de Leitos</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
						<% } %>
							<% } %>	
								<% } %>
						<% if(id.length > 0) { %>
							<% for(var i = 0; i < id.length; i++) {%>
								<% if(id[i].anexo==1){%>
									<li><a href="/relatoriouti?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio.png" /><br><br><button class="btn btn-sm btn-primary">Sala Emergência</button></a></li>
										<li><a href="/relatorioenfermaria?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio2.png" /><br><br><button class="btn btn-sm btn-primary">Enfermaria</button></a></li>
										<li><a href="/centralanexo?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio2.png" /><br><br><button class="btn btn-sm btn-primary">Central de Leitos</button></a></li>
										<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
						<% } %>
							<% } %>	
								<% } %>
								<% if(id.length > 0) { %>
									<% for(var i = 0; i < id.length; i++) {%>
										<% if(id[i].usuario=='admhmu'){%>
											<li><a href="/relatoriouti?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio.png" /><br><br><button class="btn btn-sm btn-primary">Sala Emergência</button></a></li>
											<li><a href="/relatorioenfermaria?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio2.png" /><br><br><button class="btn btn-sm btn-primary">Enfermaria</button></a></li>
												<li><a href="/centraladmhmu?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio2.png" /><br><br><button class="btn btn-sm btn-primary">Central de Leitos</button></a></li>
												<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
								<% } %>
									<% } %>	
										<% } %>
										<% if(id.length > 0) { %>
											<% for(var i = 0; i < id.length; i++) {%>
												<% if(id[i].usuario=='admanexo'){%>
													<li><a href="/relatoriouti?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio.png" /><br><br><button class="btn btn-sm btn-primary">Sala Emergência</button></a></li>
													<li><a href="/relatorioenfermaria?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio2.png" /><br><br><button class="btn btn-sm btn-primary">Enfermaria</button></a></li>
														<li><a href="/centraladmanexo?id=<%=id[i].id_usuario %>"><img id="sair" src="/images/relatorio2.png" /><br><br><button class="btn btn-sm btn-primary">Central de Leitos</button></a></li>
														<li><a href="/sair"><img id="sair" src="/images/sair.png" /><br><br><button class="btn btn-sm btn-primary">Sair</button></a></li>
										<% } %>
											<% } %>	
												<% } %>
					</ul>
				</div>
			</div>
		</nav>
<div class="container">
<% if(id.length > 0) { %>
    <% for(var i = 0; i < id.length; i++) {%>
       
<form action="/updateplanalto" method="post">
    <% if(paciente.length > 0) { %>
        <% for(var j = 0; j < paciente.length; j++) {%>
			<div>
				<h2>Editar Paciente</h2>
				<input type="hidden" name="idusuario" value="<%=id[i].id_usuario %>">  
				  
			</div>
			<div >
				<div class="form-group">
					<input type="hidden" name="id" class="form-control" placeholder="" value="<%=paciente[j].id_paciente %>" required>
				</div>
				<div class="form-group">
					<label for="susfacil">Susfacil</label>
					<input type="text" name="susfacil" class="form-control" placeholder="Digite susfacil" value="<%=paciente[j].susfacil %>" required>
				</div>
				<div class="form-group">
					<label for="prontuario">Prontuario</label>
					<input type="text" name="prontuario" class="form-control" placeholder="prontuario" value="<%=paciente[j].prt %>" required>
				</div>
				<div class="form-group">
					<label for="susfacil">Paciente</label>
					<input type="text" name="paciente" class="form-control"  placeholder="Digite Nome" value="<%=paciente[j].paciente %>" required>
				</div>

				<div class="form-group">
					<label for="susfacil">Idade</label>
					<input type="text" name="idade" class="form-control"  placeholder="Digite idade" value="<%=paciente[j].idade %>" required>
				</div>
				<div class="form-group">
					<label for="ECF">ECF</label>
					<input type="number" onchange="verificaecf(this.value)" name="ecf" class="form-control" placeholder="ECF" value="<%=paciente[j].ecf %>">
				</div>
				<div class="form-group">
					<label for="spcit" id="spict2">Spict</label>
					<input type="text" id="spict" name="spcit" class="form-control" placeholder="Spict" value="<%=paciente[j].spict %>">
				</div>
				<div class="form-group">
					<div class="form-check">
						<input  type="checkbox" name="dispositivo" id="svd"  class="form-check-input" onClick="check1()" value="svd" <%=(paciente[j].svd == 'SVD')?'checked':''%>>
						<label class="form-check-label"  id="svd2" for="Dormonid">SVD</label>
						<input  id="svd3"  type="hidden" name="svd3">
					</div>
					<div class="form-check">
						<input type="checkbox" name="dispositivo" id="sne"  class="form-check-input" onClick="check1()" value="sne" <%=(paciente[j].sne == 'SNE')?'checked':''%>>
						<label class="form-check-label"  id="sne2" for="sne2">SNE</label>
						<input  id="sne3"  type="hidden" name="sne3">
					</div>
					<div class="form-check">
						<input type="checkbox" name="dispositivo" id="avp"  class="form-check-input" onClick="check1()" value="avp" <%=(paciente[j].avp == 'AVP')?'checked':''%>>
						<label class="form-check-label"  id="avp2" for="avp2">AVP</label>
						<input  id="avp3"  type="hidden" name="avp3">
					</div>
					<div class="form-check">
						<input type="checkbox" name="dispositivo" id="cvc"  class="form-check-input" onClick="check1()" value="cvc" <%=(paciente[j].cvc == 'CVC')?'checked':''%>>
						<label class="form-check-label"  id="cvc2" for="Propofol2">CVC</label>
						<input  id="cvc3"  type="hidden" name="cvc3">
					</div>
				</div>
				<div class="form-group">
					<label for="paliativos" id="paliativo2">Paliativos</label>
					<select class="form-control" id="paliativos" name="paliativos" placeholder="">
						<option value="sim" <%=(paciente[j].paliativo == 'sim')?'selected':''%> >Sim</option>
						<option value="nao" <%=(paciente[j].paliativo == 'nao')?'selected':''%>>Não</option>
					</select>
					<input type="hidden" name="paliativo" id="paliativo">
				</div>
				<div class="form-group">
					<label for="susfacil">Tipos de leito</label>
					<select class="form-control" id="leitos" name="leitos" placeholder="">
						<option value="Enfermaria" <%=(paciente[j].leito == 'Enfermaria')?'selected':''%>>Enfermaria</option>
						<option value="Sala de Emergência" <%=(paciente[j].leito == 'Sala de Emergência')?'selected':''%>>Sala de Emergência</option>
					</select>
					<input type="hidden" name="leito" id="leito">
				</div>
				<div class="form-group">
					<label for="susfacil">Exame</label>
					<select class="form-control" id="exame" name="exame">
						<option value="aguardando" <%=(paciente[j].exame == 'aguardando')?'selected':''%> >Aguardando</option>
						<option value="positivo" <%=(paciente[j].exame == 'positivo')?'selected':''%>>Positivo</option>
						<option value="negativo" <%=(paciente[j].exame == 'negativo')?'selected':''%>>Negativo</option>
					</select>
					<input type="hidden" name="covid" id="covid">
				  </div>
			</div>
			<div>
                    <% } %>	
                <% } %> 
				
                    <a href="/cadastrarpacienteplanalto?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </div>
</form>
<% } %>	
                <% } %> 
            </div>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
$("#leitos").on('change', function(e){
     var exame = $(this).val();
     document.getElementById('leito').value = exame;
});
$("#exame").on('change', function(e){
     var exame = $(this).val();
     document.getElementById('covid').value = exame;
});
$("#paliativos").on('change', function(e){
     var paliativo = $(this).val();
     document.getElementById('paliativo').value = paliativo;
});


function verificadispositivo(value){
	var input = document.getElementById("svd");
	var input2 = document.getElementById("sne");
	var input3 = document.getElementById("avp");
	var input4 = document.getElementById("cvc");
	var label = document.getElementById("svd2");
	var label2 = document.getElementById("sne2");
	var label3 = document.getElementById("avp2");
	var label4 = document.getElementById("cvc2");
	

  if(value == 'nao'){
    input.style.display = "none";
	input2.style.display = "none";
	input3.style.display = "none";
	input4.style.display = "none";
	label.style.display = "none";
	label2.style.display = "none";
	label3.style.display = "none";
	label4.style.display = "none";
  }else if(value == 'sim'){
    input.style.display = "inline";
	input2.style.display = "inline";
	input3.style.display = "inline";
	input4.style.display = "inline";
	label.style.display = "inline";
	label2.style.display = "inline";
	label3.style.display = "inline";
	label4.style.display = "inline";
  }
};
function verificaecf(value){
	var input = document.getElementById("spict");
	var label = document.getElementById("spict");
	console.log(value);

  if(value == 6 || value == 7 || value == 8){
    input.style.display = "inline";
	label.style.display = "inline";
  }else{
    input.style.display = "none";
	label.style.display = "none";
  }
  if(value == 9 || value == 10){
	  var paliativo = 'sim';
	  document.getElementById('paliativos').style.display = 'none'
	  document.getElementById('paliativo2').style.display = 'none'
	  document.getElementById('paliativo').value = paliativo;
  }
};
window.onload = function() {

  document.getElementById('spict').style.display = 'none';
  document.getElementById('spict2').style.display = 'none';
  var paliativo = document.getElementById('paliativos').value;
  var exame = document.getElementById('exame').value;
  var leito = document.getElementById('leitos').value;
  document.getElementById('paliativo').value = paliativo;
  document.getElementById('covid').value = exame;
  document.getElementById('leito').value = leito;
  var pacote = document.getElementsByName('dispositivo');
  for (var i = 0; i < pacote.length; i++){
	if ( pacote[i].checked == true) {
		if(pacote[i].value == "svd"){
			  var Pacote_i = "SVD";
			  document.getElementById('svd3').value = Pacote_i;
		  }else if (pacote[i].value == "sne") {
			  var Pacote_ii = "SNE";
			  document.getElementById('sne3').value = Pacote_ii;
		  }else if (pacote[i].value == "avp") {
			  var Pacote_iii = "AVP";
			  document.getElementById('avp3').value = Pacote_iii;
		  }else if (pacote[i].value == "cvc") {
			  var Pacote_iiii = "CVC";
			  document.getElementById('cvc3').value = Pacote_iiii;
		  }
		} 
 	 }
};

function check1(){

var pacote = document.getElementsByName('dispositivo');
  for (var i = 0; i < pacote.length; i++){
	  if ( pacote[i].checked ) {
		  if(pacote[i].value == "svd"){
			  var Pacote_i = "SVD";
			  document.getElementById('svd3').value = Pacote_i;
		  }else if (pacote[i].value == "sne") {
			  var Pacote_ii = "SNE";
			  document.getElementById('sne3').value = Pacote_ii;
		  }else if (pacote[i].value == "avp") {
			  var Pacote_iii = "AVP";
			  document.getElementById('avp3').value = Pacote_iii;
		  }else if (pacote[i].value == "cvc") {
			  var Pacote_iiii = "CVC";
			  document.getElementById('cvc3').value = Pacote_iiii;
		  }
		}
	}
	var estado = false;
	for (var i = 0; i < pacote.length; i++) {
		if ( pacote[i].checked == estado ) {
		  if(pacote[i].value == "svd"){
			  var Pacote_i = "";
			  document.getElementById('svd3').value = Pacote_i;
		  }else if (pacote[i].value == "sne") {
			  var Pacote_ii = "";
			  document.getElementById('sne3').value = Pacote_ii;
		  }else if (pacote[i].value == "avp") {
			  var Pacote_iii = "";
			  document.getElementById('avp3').value = Pacote_iii;
		  }else if (pacote[i].value == "cvc") {
			  var Pacote_iiii = "";
			  document.getElementById('cvc3').value = Pacote_iiii;
		  }
		}
    }
    
}


</script>
</body>
</html>