<%- include('./cabecalhoregulacao'); %>
<div class="container">
<% if(id.length > 0) { %>
    <% for(var i = 0; i < id.length; i++) {%>
		<form action="/updatenewsmorumbi" method="post">
			<input type="hidden" name="idusuario" value="<%=id[i].id_usuario %>"> 
		<% if(paciente.length > 0) { %>
			<% for(var j = 0; j < paciente.length; j++) {%>
		
			<div tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				 aria-hidden="true">
				<div  role="document">
					<div >
						<div >
							<h5  id="exampleModalLabel">NEWs</h5>
						</div>
						<div >
							<div class="form-group">
								<input type="hidden" name="id" class="form-control" placeholder="" value="<%=paciente[j].id_paciente %>" required>
							</div>
							<div class="form-group">
								<label for="fr">Frequência Respiratória</label>
								<input type="number" id="fr" name="fr" class="form-control" placeholder="Frequência Respiratória" required>
							</div>
							<div class="form-group">
								<label for="sat">Saturação de O2</label>
								<input type="number" name="sat"  id="sat" class="form-control" placeholder="Saturação de O2" required>
							</div>
							<div class="form-group">
								<label for="o2">Uso de O2</label>
								<select class="form-control" id="opcao2" name="opcao2" required>
									<option value="" disabled selected hidden>Uso de O2</option>
									<option value="sim">Sim</option>
									<option value="nao">Não</option>
								</select>
								<input type="hidden" name="o2"  id="uso02" class="form-control" placeholder="Uso de O2" required>
							</div>
							<div class="form-group">
								<label for="temp">Temperatura</label>
								<input type="text" name="temp"  id="temp" class="form-control" placeholder="Temperatura" required>
							</div>
							<div class="form-group">
								<label for="sistolica">PA Sistolica</label>
								<input type="number" name="sistolica" id="pa" class="form-control" placeholder="PA Sistolica" required>
							</div>
							<div class="form-group">
								<label for="fc">Frequencia Cardiaca</label>
								<input type="number" name="fc"  id="fc" class="form-control" placeholder="Frequencia Cardiaca" required>
							</div>
							
							<div class="form-group">
								<label for="opcao">Nivel Consciencia</label>
								<select class="form-control" id="opcao" name="opcao" required>
									<option value="" disabled selected hidden>Nivel Consciencia</option>
									<option value="alerta">Alerta</option>
									<option value="verbal">Estimulo Verbal</option>
									<option value="doloroso">Estimulo Doloroso</option>
									<option value="aresponsivo">Sem Resposta</option>
								</select>
								<input  id="ment"  type="hidden" name="covid">
							</div>
							
							<div  class="form-group">
								<button onclick="calcular()" type="button" class="btn btn-primary">Somar news</button>
							</div>
							<div>
								<label for="news">News</label>
								<input  type="text" id="news" name="news"  class="form-control" required>
							</div>
							<div id="hora" class="form-group">
								<input  type="hidden" id="horas" name="horas"  class="form-control">
								<input  type="hidden" id="data" name="data"  class="form-control">
							</div>
							</div>
						<div >
							<a href="/newsmorumbi?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
							<button type="submit" class="btn btn-primary">Atualizar</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<% } %>	
			<% } %>
			<% } %>	
			<% } %>
			<br>
					<br>
					<br>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<%- include('./footer'); %>
</body>
</html>
<script type="text/javascript">
$(document).ready(function(){
      $('#temp').mask('00.0');
      });

   $("#opcao").on('change', function(e){
     var exame = document.getElementById('opcao').value;
     document.getElementById('ment').value = exame;
});

$("#opcao2").on('change', function(e){
     var o2 = document.getElementById('opcao2').value;
     document.getElementById('uso02').value = o2;
});

function pad(s){
		return (s<10) ? '0' + s :s;
	}
function novaHora(){
	
	var date = new Date();
	document.getElementById('horas').value= [date.getHours(), date.getMinutes()].map(pad).join(':');
	document.getElementById('data').value = date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear();
}
novaHora();


function calcular(){
	var resultadofr;
	var fr = document.getElementById('fr').value;
	
	if(fr<=8){
		resultadofr = 3;
	}
	if(fr>=9&&fr<=11){
		resultadofr = 1;
	}
	if(fr>=12&&fr<=20){
		resultadofr	= 0;
	}
	if(fr>=21&&fr<=24){
		resultadofr = 2;
	}
	if(fr>=25){
		resultadofr = 3;
	}
	
	var resultadosat;
	var sat = document.getElementById('sat').value;
	
	if(sat<=91){
		resultadosat = 3;
	}
	if(sat>=92&&sat<=93){
		resultadosat = 2;
	}
	if(sat>=94&&sat<95){
		resultadosat	= 1;
	}
	if(sat>=95){
		resultadosat = 0;
	}
	
	var resultadoo2;
	var o2 = document.getElementById('uso02').value;
	
	if(o2 == 'sim'){
		resultadoo2 = 2;
	}
	if(o2 == 'nao'){
		resultadoo2 = 0;
	}
	
	var resultadotemp;
	var temp = document.getElementById('temp').value;
	
	if(temp<=35){
		resultadotemp = 3;
	}
	if(temp>=35.1&&temp<=36){
		resultadotemp = 1;
	}
	if(temp>=36.1&&temp<=38){
		resultadotemp	= 0;
	}
	if(temp>=38.1&&temp<=39){
		resultadotemp = 1;
	}
	if(temp>=39.1){
		resultadotemp = 2;
	}

	var resultadopa;
	var pa = document.getElementById('pa').value;
	
	if(pa<=90){
		resultadopa = 3;
	}
	if(pa>=91&&pa<=100){
		resultadopa = 2;
	}
	if(pa>=101&&pa<=110){
		resultadopa	= 1;
	}
	if(pa>=111&&pa<=219){
		resultadopa = 0;
	}
	if(pa>=220){
		resultadopa = 3;
	}

	
	var resultadofc;
	var fc = document.getElementById('fc').value;
	
	if(fc<=40){
		resultadofc = 3;
	}
	if(fc>=41&&fc<=50){
		resultadofc = 1;
	}
	if(fc>=51&&fc<=90){
		resultadofc	= 0;
	}
	if(fc>=91&&fc<=110){
		resultadofc = 1;
	}
	if(fc>=111&&fc<=130){
		resultadofc = 2;
	}
	if(fc>=131){
		resultadofc = 3;
	}

	
	var resultadoment;
	var ment = document.getElementById('opcao').value;
	
	if(ment == "alerta"){
		resultadoment = 0;
	}
	if(ment == "verbal"){
		resultadoment = 3;
	}
	if(ment == "doloroso"){
		resultadoment = 3;
	}
	if(ment == "aresponsivo"){
		resultadoment = 3;
	}
	
	var score = resultadofr + resultadosat + resultadoo2 + resultadotemp + resultadofc + resultadofc + resultadoment;
	console.log(resultadoment);
	document.getElementById('news').value = score;
	// resultadofc,resultadofc,resultadotemp,resultadoo2,resultadosat,resultadofr
}

</script>