<%- include('./cabecalhoregulacao'); %>


<div class="container">
<% if(id.length > 0) { %>
    <% for(var i = 0; i < id.length; i++) {%>
	<% if(paciente.length > 0) { %>
        <% for(var j = 0; j < paciente.length; j++) {%>
            <div >
                <div >
                    <h2>Sinais Vitais </h2>
                    <input type="hidden" name="idusuario" value="<%=id[i].id_usuario %>">  
                </div>
                <div >
					<div class="form-group">
						<label for="">Paciente</label>
                        <input disabled type="text" name="paciente" class="form-control" value="<%=paciente[j].paciente %>" >
                    </div>
                    <div class="form-group">
						<label for="">Frequencia Respiratorio</label>
						<input disabled type="text" id="fr" name="fr" class="form-control" value="<%=paciente[j].fr %>">
					</div>
					<div class="form-group">
						<label for="">Saturação</label>
						<input disabled type="text" name="sat"  id="sat" class="form-control" value="<%=paciente[j].sat %>">
					</div>
					<div class="form-group">
						<label for="">Uso de O2</label>
						<input disabled type="text" name="o2"  id="uso02" class="form-control" value="<%=paciente[j].o2 %>">
					</div>
					<div class="form-group">
						<label for="">Temperatura</label>
						<input disabled type="text" name="temp"  id="temp" class="form-control" value="<%=paciente[j].temp %>">
					</div>
					<div class="form-group">
						<label for="">Pa sistolica</label>
						<input disabled type="text" name="pa" id="pa" class="form-control" value="<%=paciente[j].sistolica %>">
					</div>
					<div class="form-group">
						<label for="">Frequencia Cardiaca</label>
						<input disabled type="text" name="fc"  id="fc" class="form-control" value="<%=paciente[j].fc %>">
					</div>
					<div class="form-group">
						<label for="">Nivel Consciencia</label>
						<input disabled type="text" name="alerta"  id="alerta" class="form-control" value="<%=paciente[j].alerta %>">
					</div>
					<div  class="form-group">
						<a href="/newsroosevelt?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
					</div>
				</div>
		</div>
</div>
<% } %>
<% } %>
<% } %>
<% } %>
<br>
					<br>
					<br>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<%- include('./footer'); %>
</body>
</html>
<script type="text/javascript">

$("#leito").on('change', function(e){
     var leito = document.getElementById('leito').value;
     document.getElementById('leito2').value = leito;
});

$("#dispositivo").on('change', function(f){
     var dispositivo = document.getElementById('dispositivo').value;
     document.getElementById('dispositivo2').value = dispositivo;
});

function verifica(value){
	var input = document.getElementById("fio2");
	var input2 = document.getElementById("peep");
	var input3 = document.getElementById("o2");

  if(value != 'Ventilacao Mecanica'){
    input.style.display = "none";
	input2.style.display = "none";
	input3.style.display = "inline";
  }else if(value == 'Ventilacao Mecanica'){
    input.style.display = "inline";
	input2.style.display = "inline";
	input3.style.display = "none";
  }
};

function verificasedacao(value){
	var input = document.getElementById("Dormonid");
	var input2 = document.getElementById("Fentanil");
	var input3 = document.getElementById("Rocuronio");
	var input4 = document.getElementById("Propofol");
	var label = document.getElementById("Dormonid2");
	var label2 = document.getElementById("Fentanil2");
	var label3 = document.getElementById("Rocuronio2");
	var label4 = document.getElementById("Propofol2");
	

  if(value == 'nao'){
    input.style.display = "none";
	input2.style.display = "none";
	input3.style.display = "none";
	input4.style.display = "none";
	label.style.display = "none";
	label2.style.display = "none";
	label3.style.display = "none";
	label4.style.display = "none";
  }else if(value == 'sim'){
    input.style.display = "inline";
	input2.style.display = "inline";
	input3.style.display = "inline";
	input4.style.display = "inline";
	label.style.display = "inline";
	label2.style.display = "inline";
	label3.style.display = "inline";
	label4.style.display = "inline";
  }
};


function verificadroga(value){
	var input = document.getElementById("Noradrenalina");
	var input2 = document.getElementById("Adrenalina");
	var label = document.getElementById("Noradrenalina2");
	var label2 = document.getElementById("Adrenalina2");
	

  if(value == 'nao'){
    input.style.display = "none";
	input2.style.display = "none";
	label.style.display = "none";
	label2.style.display = "none";
  }else if(value == 'sim'){
    input.style.display = "inline";
	input2.style.display = "inline";
	label.style.display = "inline";
	label2.style.display = "inline";
  }
};
window.onload = function() {
  document.getElementById('fio2').style.display = 'none';
  document.getElementById('peep').style.display = 'none';
  document.getElementById('o2').style.display = 'none';
  document.getElementById('Noradrenalina').style.display = 'none';
  document.getElementById('Adrenalina').style.display = 'none';
  document.getElementById('Noradrenalina2').style.display = 'none';
  document.getElementById('Adrenalina2').style.display = 'none';
  document.getElementById('Dormonid').style.display = 'none';
  document.getElementById('Dormonid2').style.display = 'none';
  document.getElementById('Fentanil').style.display = 'none';
  document.getElementById('Fentanil2').style.display = 'none';
  document.getElementById('Rocuronio').style.display = 'none';
  document.getElementById('Rocuronio2').style.display = 'none';
  document.getElementById('Propofol').style.display = 'none';
  document.getElementById('Propofol2').style.display = 'none';


};
function check(){

var pacote = document.getElementsByName('DVA');
  for (var i = 0; i < pacote.length; i++){
	  if ( pacote[i].checked ) {
		  if(pacote[i].value == "Noradrenalina"){
			  var Pacote_i = "NoraAdrenalina";
			  document.getElementById('nora').value = Pacote_i;
		  }else if (pacote[i].value == "adrenalina") {
			  var Pacote_ii = "adrenalina";
			  document.getElementById('adre').value = Pacote_ii;
		  }
		}
  	}
}

function check1(){

var pacote = document.getElementsByName('sedacao2');
  for (var i = 0; i < pacote.length; i++){
	  if ( pacote[i].checked ) {
		  if(pacote[i].value == "Dormonid"){
			  var Pacote_i = "Dormonid";
			  document.getElementById('Dormonid3').value = Pacote_i;
		  }else if (pacote[i].value == "Fentanil") {
			  var Pacote_ii = "Fentanil";
			  document.getElementById('Fentanil3').value = Pacote_ii;
		  }else if (pacote[i].value == "Rocuronio") {
			  var Pacote_iii = "Rocuronio";
			  document.getElementById('Rocuronio3').value = Pacote_iii;
		  }else if (pacote[i].value == "Propofol") {
			  var Pacote_iiii = "Propofol";
			  document.getElementById('Propofol3').value = Pacote_iiii;
		  }
		}
  	}
}
</script>