<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">

		
		<title>ScoreSystem</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.buttons.css"/>
	

		<!--Fontawesome CDN-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<!-- favicon -->
		<link rel="shortcut icon" href="/images/favicon.ico" />
	</head>

		<body>

			<nav class="navbar navbar-default">
				<div id="nav">
				  <!-- Brand and toggle get grouped for better mobile display -->
				  <div class="navbar-header">
					 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					 <span class="sr-only">Toggle navigation</span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
					</button>
					 <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
					 ScoreSystem
				  </a>
				</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
						<% if(id.length > 0) { %>
							<% for(var i = 0; i < id.length; i++) {%>
											<% if(id[i].usuario== 'cida'){%>
												<li class="btn-success">
													<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Planalto</a>
													<ul class="dropdown-menu">
														<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteplanalto?id=<%=id[i].id_usuario %>">Uai Planalto</a></li>
														<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalluizote?id=<%=id[i].id_usuario %>">Historico</a></li>
													</ul>
												</li>
												<li class="btn-success">
													<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Luizote</a>
													<ul class="dropdown-menu">
														<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteluizote?id=<%=id[i].id_usuario %>">Uai Luizote</a></li>
														<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalluizote?id=<%=id[i].id_usuario %>">Historico</a></li>
													</ul>
												</li>
												<li class="btn-success">
													<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Martins</a>
													<ul class="dropdown-menu">
														<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientemartins?id=<%=id[i].id_usuario %>">Uai Martins</a></li>
														<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmartins?id=<%=id[i].id_usuario %>">Historico</a></li>
													</ul>
												</li>
												<li class="btn-success">
													<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Roosevelt</a>
													<ul class="dropdown-menu">
														<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteroosevelt?id=<%=id[i].id_usuario %>">Uai Roosevelt</a></li>
														<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalroosevelt?id=<%=id[i].id_usuario %>">Historico</a></li>
													</ul>
												</li>
												<li class="btn-success">
													<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tibery</a>
													<ul class="dropdown-menu">
														<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientetibery?id=<%=id[i].id_usuario %>">Uai Tibery</a></li>
														<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentaltibery?id=<%=id[i].id_usuario %>">Historico</a></li>
													</ul>
												</li>
												<li class="btn-success">
													<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Morumbi</a>
													<ul class="dropdown-menu">
														<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientemorumbi?id=<%=id[i].id_usuario %>">Uai Morumbi</a></li>
														<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmorumbi?id=<%=id[i].id_usuario %>">Historico</a></li>
													</ul>
												</li>
												<li class="btn-success">
													<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">São Jorge</a>
													<ul class="dropdown-menu">
														<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientesaojorge?id=<%=id[i].id_usuario %>">Uai São Jorge</a></li>
														<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalsaojorge?id=<%=id[i].id_usuario %>">Historico</a></li>
													</ul>
												</li>
												<li class="btn-success">
													<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pampulha</a>
													<ul class="dropdown-menu">
														<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientepampulha?id=<%=id[i].id_usuario %>">Uai Pampulha</a></li>
														<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmentalpampulha?id=<%=id[i].id_usuario %>">Historico</a></li>
													</ul>
												</li>
												<li class="btn-success"><a class="btn  btn-sm" href="/historicogeral?id=<%=id[i].id_usuario %>">Lista Geral</a></li>
													<li class="btn-success"><a class="btn  btn-sm" href="/sair">Sair</a></li>
													
													
										<% } %>
										<% if(id[i].usuario== 'supervplalui' || id[i].usuario== 'supervmarroose' || id[i].usuario== 'supervtibmorum'){%>
												
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Planalto</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteplanalto?id=<%=id[i].id_usuario %>">Uai Planalto</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalluizote?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Luizote</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteluizote?id=<%=id[i].id_usuario %>">Uai Luizote</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalluizote?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Martins</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientemartins?id=<%=id[i].id_usuario %>">Uai Martins</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmartins?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Roosevelt</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteroosevelt?id=<%=id[i].id_usuario %>">Uai Roosevelt</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalroosevelt?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tibery</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientetibery?id=<%=id[i].id_usuario %>">Uai Tibery</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentaltibery?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Morumbi</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientemorumbi?id=<%=id[i].id_usuario %>">Uai Morumbi</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmorumbi?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">São Jorge</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientesaojorge?id=<%=id[i].id_usuario %>">Uai São Jorge</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalsaojorge?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pampulha</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientepampulha?id=<%=id[i].id_usuario %>">Uai Pampulha</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmentalpampulha?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success"><a class="btn  btn-sm" href="/historicogeral?id=<%=id[i].id_usuario %>">Lista Geral</a></li>
												<li class="btn-success"><a class="btn  btn-sm" href="/sair">Sair</a></li>
												
												
									<% } %>
										<% if(id[i].usuario== 'sheylla'){%>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Planalto</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteplanalto?id=<%=id[i].id_usuario %>">Uai Planalto</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalluizote?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Luizote</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteluizote?id=<%=id[i].id_usuario %>">Uai Luizote</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalluizote?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Martins</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientemartins?id=<%=id[i].id_usuario %>">Uai Martins</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmartins?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Roosevelt</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteroosevelt?id=<%=id[i].id_usuario %>">Uai Roosevelt</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalroosevelt?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tibery</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientetibery?id=<%=id[i].id_usuario %>">Uai Tibery</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentaltibery?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Morumbi</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientemorumbi?id=<%=id[i].id_usuario %>">Uai Morumbi</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmorumbi?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">São Jorge</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientesaojorge?id=<%=id[i].id_usuario %>">Uai São Jorge</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalsaojorge?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pampulha</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientepampulha?id=<%=id[i].id_usuario %>">Uai Pampulha</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmentalpampulha?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success"><a class="btn  btn-sm" href="/historicogeral?id=<%=id[i].id_usuario %>">Lista Geral</a></li>
												<li class="btn-success"><a class="btn  btn-sm" href="/sair">Sair</a></li>
												
												
									<% } %>
										<% if(id[i].usuario== 'admin'){%>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Planalto</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteplanalto?id=<%=id[i].id_usuario %>">Uai Planalto</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalluizote?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Luizote</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteluizote?id=<%=id[i].id_usuario %>">Uai Luizote</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalluizote?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Martins</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientemartins?id=<%=id[i].id_usuario %>">Uai Martins</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmartins?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Roosevelt</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteroosevelt?id=<%=id[i].id_usuario %>">Uai Roosevelt</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalroosevelt?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tibery</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientetibery?id=<%=id[i].id_usuario %>">Uai Tibery</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentaltibery?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Morumbi</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientemorumbi?id=<%=id[i].id_usuario %>">Uai Morumbi</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmorumbi?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">São Jorge</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientesaojorge?id=<%=id[i].id_usuario %>">Uai São Jorge</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalsaojorge?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success">
												<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pampulha</a>
												<ul class="dropdown-menu">
													<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientepampulha?id=<%=id[i].id_usuario %>">Uai Pampulha</a></li>
													<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmentalpampulha?id=<%=id[i].id_usuario %>">Historico</a></li>
												</ul>
											</li>
											<li class="btn-success"><a class="btn  btn-sm" href="/historicogeral?id=<%=id[i].id_usuario %>">Lista Geral</a></li>
												<li class="btn-success"><a class="btn  btn-sm" href="/sair">Sair</a></li>
												
												
									<% } %>
									<% if(id[i].usuario== 'coordad' || id[i].usuario== 'supervad'){%>
										<li class="btn-success">
											<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Planalto</a>
											<ul class="dropdown-menu">
												<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteplanalto?id=<%=id[i].id_usuario %>">Uai Planalto</a></li>
												<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalluizote?id=<%=id[i].id_usuario %>">Historico</a></li>
											</ul>
										</li>
										<li class="btn-success">
											<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Luizote</a>
											<ul class="dropdown-menu">
												<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteluizote?id=<%=id[i].id_usuario %>">Uai Luizote</a></li>
												<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalluizote?id=<%=id[i].id_usuario %>">Historico</a></li>
											</ul>
										</li>
										<li class="btn-success">
											<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Martins</a>
											<ul class="dropdown-menu">
												<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientemartins?id=<%=id[i].id_usuario %>">Uai Martins</a></li>
												<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmartins?id=<%=id[i].id_usuario %>">Historico</a></li>
											</ul>
										</li>
										<li class="btn-success">
											<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Roosevelt</a>
											<ul class="dropdown-menu">
												<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteroosevelt?id=<%=id[i].id_usuario %>">Uai Roosevelt</a></li>
												<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalroosevelt?id=<%=id[i].id_usuario %>">Historico</a></li>
											</ul>
										</li>
										<li class="btn-success">
											<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tibery</a>
											<ul class="dropdown-menu">
												<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientetibery?id=<%=id[i].id_usuario %>">Uai Tibery</a></li>
												<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentaltibery?id=<%=id[i].id_usuario %>">Historico</a></li>
											</ul>
										</li>
										<li class="btn-success">
											<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Morumbi</a>
											<ul class="dropdown-menu">
												<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientemorumbi?id=<%=id[i].id_usuario %>">Uai Morumbi</a></li>
												<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmorumbi?id=<%=id[i].id_usuario %>">Historico</a></li>
											</ul>
										</li>
										<li class="btn-success">
											<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">São Jorge</a>
											<ul class="dropdown-menu">
												<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientesaojorge?id=<%=id[i].id_usuario %>">Uai São Jorge</a></li>
												<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalsaojorge?id=<%=id[i].id_usuario %>">Historico</a></li>
											</ul>
										</li>
										<li class="btn-success">
											<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pampulha</a>
											<ul class="dropdown-menu">
												<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientepampulha?id=<%=id[i].id_usuario %>">Uai Pampulha</a></li>
												<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmentalpampulha?id=<%=id[i].id_usuario %>">Historico</a></li>
											</ul>
										</li>
										<li class="btn-success"><a class="btn  btn-sm" href="/historicogeral?id=<%=id[i].id_usuario %>">Lista Geral</a></li>
											<li class="btn-success"><a class="btn  btn-sm" href="/sair">Sair</a></li>
											
											
								<% } %>
									<% if(id[i].usuario== 'coordinfantil' || id[i].usuario== 'supervinfantil'){%>
										<li class="btn-success">
											<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Planalto</a>
											<ul class="dropdown-menu">
												<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteplanalto?id=<%=id[i].id_usuario %>">Uai Planalto</a></li>
												<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalluizote?id=<%=id[i].id_usuario %>">Historico</a></li>
											</ul>
										</li>
										<li class="btn-success">
											<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Luizote</a>
											<ul class="dropdown-menu">
												<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteluizote?id=<%=id[i].id_usuario %>">Uai Luizote</a></li>
												<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalluizote?id=<%=id[i].id_usuario %>">Historico</a></li>
											</ul>
										</li>
										<li class="btn-success">
											<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Martins</a>
											<ul class="dropdown-menu">
												<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientemartins?id=<%=id[i].id_usuario %>">Uai Martins</a></li>
												<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmartins?id=<%=id[i].id_usuario %>">Historico</a></li>
											</ul>
										</li>
										<li class="btn-success">
											<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Roosevelt</a>
											<ul class="dropdown-menu">
												<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteroosevelt?id=<%=id[i].id_usuario %>">Uai Roosevelt</a></li>
												<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalroosevelt?id=<%=id[i].id_usuario %>">Historico</a></li>
											</ul>
										</li>
										<li class="btn-success">
											<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tibery</a>
											<ul class="dropdown-menu">
												<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientetibery?id=<%=id[i].id_usuario %>">Uai Tibery</a></li>
												<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentaltibery?id=<%=id[i].id_usuario %>">Historico</a></li>
											</ul>
										</li>
										<li class="btn-success">
											<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Morumbi</a>
											<ul class="dropdown-menu">
												<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientemorumbi?id=<%=id[i].id_usuario %>">Uai Morumbi</a></li>
												<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmorumbi?id=<%=id[i].id_usuario %>">Historico</a></li>
											</ul>
										</li>
										<li class="btn-success">
											<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">São Jorge</a>
											<ul class="dropdown-menu">
												<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientesaojorge?id=<%=id[i].id_usuario %>">Uai São Jorge</a></li>
												<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalsaojorge?id=<%=id[i].id_usuario %>">Historico</a></li>
											</ul>
										</li>
										<li class="btn-success">
											<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pampulha</a>
											<ul class="dropdown-menu">
												<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientepampulha?id=<%=id[i].id_usuario %>">Uai Pampulha</a></li>
												<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmentalpampulha?id=<%=id[i].id_usuario %>">Historico</a></li>
											</ul>
										</li>
										<li class="btn-success"><a class="btn  btn-sm" href="/historicogeral?id=<%=id[i].id_usuario %>">Lista Geral</a></li>
											<li class="btn-success"><a class="btn  btn-sm" href="/sair">Sair</a></li>
											
											
								<% } %>
								<% if(id[i].usuario== 'coordnorte' || id[i].usuario== 'supervnorte'){%>
									<li class="btn-success">
										<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Planalto</a>
										<ul class="dropdown-menu">
											<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteplanalto?id=<%=id[i].id_usuario %>">Uai Planalto</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalluizote?id=<%=id[i].id_usuario %>">Historico</a></li>
										</ul>
									</li>
									<li class="btn-success">
										<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Luizote</a>
										<ul class="dropdown-menu">
											<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteluizote?id=<%=id[i].id_usuario %>">Uai Luizote</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalluizote?id=<%=id[i].id_usuario %>">Historico</a></li>
										</ul>
									</li>
									<li class="btn-success">
										<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Martins</a>
										<ul class="dropdown-menu">
											<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientemartins?id=<%=id[i].id_usuario %>">Uai Martins</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmartins?id=<%=id[i].id_usuario %>">Historico</a></li>
										</ul>
									</li>
									<li class="btn-success">
										<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Roosevelt</a>
										<ul class="dropdown-menu">
											<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteroosevelt?id=<%=id[i].id_usuario %>">Uai Roosevelt</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalroosevelt?id=<%=id[i].id_usuario %>">Historico</a></li>
										</ul>
									</li>
									<li class="btn-success">
										<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tibery</a>
										<ul class="dropdown-menu">
											<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientetibery?id=<%=id[i].id_usuario %>">Uai Tibery</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentaltibery?id=<%=id[i].id_usuario %>">Historico</a></li>
										</ul>
									</li>
									<li class="btn-success">
										<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Morumbi</a>
										<ul class="dropdown-menu">
											<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientemorumbi?id=<%=id[i].id_usuario %>">Uai Morumbi</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmorumbi?id=<%=id[i].id_usuario %>">Historico</a></li>
										</ul>
									</li>
									<li class="btn-success">
										<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">São Jorge</a>
										<ul class="dropdown-menu">
											<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientesaojorge?id=<%=id[i].id_usuario %>">Uai São Jorge</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalsaojorge?id=<%=id[i].id_usuario %>">Historico</a></li>
										</ul>
									</li>
									<li class="btn-success">
										<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pampulha</a>
										<ul class="dropdown-menu">
											<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientepampulha?id=<%=id[i].id_usuario %>">Uai Pampulha</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmentalpampulha?id=<%=id[i].id_usuario %>">Historico</a></li>
										</ul>
									</li>
									<li class="btn-success"><a class="btn  btn-sm" href="/historicogeral?id=<%=id[i].id_usuario %>">Lista Geral</a></li>
										<li class="btn-success"><a class="btn  btn-sm" href="/sair">Sair</a></li>
										
										
							<% } %>
								<% if(id[i].usuario== 'coordoeste' || id[i].usuario== 'supervoeste'){%>
									<li class="btn-success">
										<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Planalto</a>
										<ul class="dropdown-menu">
											<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteplanalto?id=<%=id[i].id_usuario %>">Uai Planalto</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalluizote?id=<%=id[i].id_usuario %>">Historico</a></li>
										</ul>
									</li>
									<li class="btn-success">
										<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Luizote</a>
										<ul class="dropdown-menu">
											<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteluizote?id=<%=id[i].id_usuario %>">Uai Luizote</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalluizote?id=<%=id[i].id_usuario %>">Historico</a></li>
										</ul>
									</li>
									<li class="btn-success">
										<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Martins</a>
										<ul class="dropdown-menu">
											<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientemartins?id=<%=id[i].id_usuario %>">Uai Martins</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmartins?id=<%=id[i].id_usuario %>">Historico</a></li>
										</ul>
									</li>
									<li class="btn-success">
										<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Roosevelt</a>
										<ul class="dropdown-menu">
											<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacienteroosevelt?id=<%=id[i].id_usuario %>">Uai Roosevelt</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalroosevelt?id=<%=id[i].id_usuario %>">Historico</a></li>
										</ul>
									</li>
									<li class="btn-success">
										<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tibery</a>
										<ul class="dropdown-menu">
											<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientetibery?id=<%=id[i].id_usuario %>">Uai Tibery</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentaltibery?id=<%=id[i].id_usuario %>">Historico</a></li>
										</ul>
									</li>
									<li class="btn-success">
										<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Morumbi</a>
										<ul class="dropdown-menu">
											<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientemorumbi?id=<%=id[i].id_usuario %>">Uai Morumbi</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmorumbi?id=<%=id[i].id_usuario %>">Historico</a></li>
										</ul>
									</li>
									<li class="btn-success">
										<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">São Jorge</a>
										<ul class="dropdown-menu">
											<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientesaojorge?id=<%=id[i].id_usuario %>">Uai São Jorge</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalsaojorge?id=<%=id[i].id_usuario %>">Historico</a></li>
										</ul>
									</li>
									<li class="btn-success">
										<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pampulha</a>
										<ul class="dropdown-menu">
											<li class="btn-success"><a class="btn  btn-sm" href="/justificarpacientepampulha?id=<%=id[i].id_usuario %>">Uai Pampulha</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmentalpampulha?id=<%=id[i].id_usuario %>">Historico</a></li>
										</ul>
									</li>
									<li class="btn-success"><a class="btn  btn-sm" href="/historicogeral?id=<%=id[i].id_usuario %>">Lista Geral</a></li>
										<li class="btn-success"><a class="btn  btn-sm" href="/sair">Sair</a></li>
										
										
							<% } %>
								<%  if(id[i].smu == 1){%>
										<% if(id[i].unidade==1){%>
											<li class="btn-success"><a class="btn  btn-sm"  href="/cadastrarmentalplanalto?id=<%=id[i].id_usuario %>">Pacientes</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/addmentalplanalto?id=<%=id[i].id_usuario %>">Adicionar Paciente</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/destinomentalplanalto?id=<%=id[i].id_usuario %>">Destino</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalplanalto?id=<%=id[i].id_usuario %>">Historico</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/sair">Sair</a></li>
										<% } %>
										<% if(id[i].unidade==2){%>
											<li class="btn-success"><a class="btn  btn-sm"  href="/cadastrarmentalluizote?id=<%=id[i].id_usuario %>">Pacientes</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/addmentalluizote?id=<%=id[i].id_usuario %>">Adicionar Paciente</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/destinomentalluizote?id=<%=id[i].id_usuario %>">Destino</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalluizote?id=<%=id[i].id_usuario %>">Historico</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/sair">Sair</a></li>
										<% } %>
										<% if(id[i].unidade==3){%>
											<li class="btn-success"><a class="btn  btn-sm"  href="/cadastrarmentalmartins?id=<%=id[i].id_usuario %>">Pacientes</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/addmentalmartins?id=<%=id[i].id_usuario %>">Adicionar Paciente</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/destinomentalmartins?id=<%=id[i].id_usuario %>">Destino</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmartins?id=<%=id[i].id_usuario %>">Historico</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/sair">Sair</a></li>
										<% } %>
										<% if(id[i].unidade==4){%>
											<li class="btn-success"><a class="btn  btn-sm"  href="/cadastrarmentalroosevelt?id=<%=id[i].id_usuario %>">Pacientes</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/addmentalroosevelt?id=<%=id[i].id_usuario %>">Adicionar Paciente</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/destinomentalroosevelt?id=<%=id[i].id_usuario %>">Destino</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalroosevelt?id=<%=id[i].id_usuario %>">Historico</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/sair">Sair</a></li>
										<% } %>
										<% if(id[i].unidade==6){%>
											<li class="btn-success"><a class="btn  btn-sm"  href="/cadastrarmentaltibery?id=<%=id[i].id_usuario %>">Pacientes</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/addmentaltibery?id=<%=id[i].id_usuario %>">Adicionar Paciente</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/destinomentaltibery?id=<%=id[i].id_usuario %>">Destino</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentaltibery?id=<%=id[i].id_usuario %>">Historico</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/sair">Sair</a></li>
										<% } %>
										<% if(id[i].unidade==5){%>
											<li class="btn-success"><a class="btn  btn-sm"  href="/cadastrarmentalmorumbi?id=<%=id[i].id_usuario %>">Pacientes</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/addmentalmorumbi?id=<%=id[i].id_usuario %>">Adicionar Paciente</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/destinomentalmorumbi?id=<%=id[i].id_usuario %>">Destino</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmorumbi?id=<%=id[i].id_usuario %>">Historico</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/sair">Sair</a></li>
										<% } %>
										<% if(id[i].unidade==7){%>
											<li class="btn-success"><a class="btn  btn-sm"  href="/cadastrarmentalsaojorge?id=<%=id[i].id_usuario %>">Pacientes</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/addmentalsaojorge?id=<%=id[i].id_usuario %>">Adicionar Paciente</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/destinomentalsaojorge?id=<%=id[i].id_usuario %>">Destino</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalsaojorge?id=<%=id[i].id_usuario %>">Historico</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/sair">Sair</a></li>
										<% } %>
										<% if(id[i].unidade==8){%>
											<li class="btn-success"><a class="btn  btn-sm"  href="/cadastrarmentalpampulha?id=<%=id[i].id_usuario %>">Pacientes</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/addmentalpampulha?id=<%=id[i].id_usuario %>">Adicionar Paciente</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/destinomentalpampulha?id=<%=id[i].id_usuario %>">Destino</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/historicomentalmentalpampulha?id=<%=id[i].id_usuario %>">Historico</a></li>
											<li class="btn-success"><a class="btn  btn-sm"  href="/sair">Sair</a></li>			
										<% } %>
								<% } %>
							<% } %>
						<% } %>
					</ul>
				
					<ul class="nav navbar-nav navbar-right">
					</ul>
			 </div>
			 <!-- /.navbar-collapse -->
		   </div>
		<!-- /.container-fluid -->
	</nav>
	
	<script>
		$(document).ready(function() {
		$(".dropdown-toggle").dropdown();
	});
	</script>
	
	