<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">

		
		<title>ScoreSystem</title>
		
		<title>ScoreSystem</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<!-- incluindo css -->
		<link href="/css/style.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.buttons.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="//cdn.datatables.net/rowreorder/1.2.0/css/rowReorder.dataTables.min.css" />


		<!-- favicon -->
		<link rel="shortcut icon" href="/images/favicon.ico" />
	</head>

	<body>
		
		<nav class="navbar navbar-default">
			<div id="nav">
			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				 <span class="sr-only">Toggle navigation</span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				 </button>
				 <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
				 ScoreSystem
			  </a>
			</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
				<% if(id.length > 0) { %>
					<% for(var i = 0; i < id.length; i++) {%>
						<% if(id[i].gestao== 1){%>
							<li class="btn-success"><a class="btn   btn-sm" href="/centraluaiplanaltorelatorio?id=<%=id[i].id_usuario %>">Central de Leitos Planalto</a></li>
							<li class="btn-success"><a class="btn   btn-sm" href="/centraluailuizoterelatorio?id=<%=id[i].id_usuario %>">Central de Leitos Luizote</a></li>
							<li class="btn-success"><a class="btn   btn-sm" href="/centraluaimartinsrelatorio?id=<%=id[i].id_usuario %>">Central de Leitos Martins</a></li>
							<li class="btn-success"><a class="btn   btn-sm" href="/centraluairooseveltrelatorio?id=<%=id[i].id_usuario %>">Central de Leitos Roosevelt</a></li>
							<li class="btn-success"><a class="btn   btn-sm" href="/centraluaimorumbirelatorio?id=<%=id[i].id_usuario %>">Central de Leitos Morumbi</a></li>
							<li class="btn-success"><a class="btn   btn-sm" href="/centraluaitiberyrelatorio?id=<%=id[i].id_usuario %>">Central de Leitos Tibery</a></li>
							<li class="btn-success"><a class="btn   btn-sm" href="/centraluaisaojorgerelatorio?id=<%=id[i].id_usuario %>">Central de Leitos São Jorge</a></li>
							<li class="btn-success"><a class="btn   btn-sm" href="/centraluaipampulharelatorio?id=<%=id[i].id_usuario %>">Central de Leitos Pampulha</a></li>
							<li class="btn-success"><a class="btn  btn-sm" href="/sair">Sair</a></li>	
						<% } %>
					<% } %>	
				<% } %>
								
							</ul>
						</ul>
						<ul class="nav navbar-nav navbar-right">
						</ul>
					 </div>
					 <!-- /.navbar-collapse -->
				   </div>
				   <!-- /.container-fluid -->
				   </nav>
			
			<script>
				$(document).ready(function() {
				$(".dropdown-toggle").dropdown();
			});
			</script>