<%- include('./cabecalhogestao'); %>
<div id="mobile" class="container">

<form action="/editarleitotibery" style="padding-left: 1%; padding-right: 1%;" method="post">
                <h2>Quantidades de leitos UAI Tibery</h2> 
                <% if(id.length > 0) { %>
                    <% for(var i = 0; i < id.length; i++) {%>
                    <input type="hidden" name="idusuario" value="<%=id[i].id_usuario %>">     
                    <p hidden id="idunidade">  <%=id[i].unidade %>  
                        <% if(leito.length > 0) { %>
                            <% for(var j = 0; j < leito.length; j++) {%>
                        
                                <h3 for="posto">Sala de Emergência não covid</h3>
                                
                            <div class="form-group">
                                <label for="posto">Sala de Emergência não covid (Camas) Ocupados</label>
                                <input type="number" name="senccv" class="form-control" value="<%=leito[j].senccv %>">
                            </div>
                           
                            <div class="form-group">
                                <label for="posto">Sala de Emergência não covid (Macas) Ocupados</label>
                                <input type="number" name="sencmv" class="form-control" value="<%=leito[j].sencmv %>">
                            </div>                 
                        
                                <h3 for="posto">Consultorio Ambulatório 09</h3>
                               
                            <div class="form-group">
                                <label for="posto">Consultorio Ambulatório 09 (Camas) Ocupados</label>
                                <input type="number" name="ca9ccv" class="form-control" value="<%=leito[j].ca9ccv %>">
                            </div>
                               
                            <div class="form-group">
                                <label for="posto">Consultorio Ambulatório 09 (Macas) Ocupados</label>
                                <input type="number" name="ca9cmv" class="form-control" value="<%=leito[j].ca9cmv %>">
                            </div>                 
                        
                                <h3 for="posto">Consultorio Ambulatório 10</h3>
                                 
                            <div class="form-group">
                                <label for="posto">Consultorio Ambulatório 10 (Camas) Ocupados</label>
                                <input type="number" name="ca10ccv" class="form-control" value="<%=leito[j].ca10ccv %>">
                            </div>
                             
                            <div class="form-group">
                                <label for="posto">Consultorio Ambulatório 10 (Macas) Ocupados</label>
                                <input type="number" name="ca10cmv" class="form-control" value="<%=leito[j].ca10cmv %>">
                            </div>                 
                       
                                <h3 for="posto">Consultorio Ambulatório 18</h3>
                                 
                            <div class="form-group">
                                <label for="posto">Consultorio Ambulatório 18 (Camas) Ocupados</label>
                                <input type="number" name="ca18ccv" class="form-control" value="<%=leito[j].ca18ccv %>">
                            </div>
                             
                            <div class="form-group">
                                <label for="posto">Consultorio Ambulatório 18 (Macas) Ocupados</label>
                                <input type="number" name="ca18cmv" class="form-control" value="<%=leito[j].ca18cmv %>">
                            </div>                 
                      
                                <h3 for="posto">Consultorio Ambulatório 19</h3>
                                
                            <div class="form-group">
                                <label for="posto">Consultorio Ambulatório 19 (Camas) Ocupados</label>
                                <input type="number" name="ca19ccv" class="form-control" value="<%=leito[j].ca19ccv %>">
                            </div>
                            
                            <div class="form-group">
                                <label for="posto">Consultorio Ambulatório 19 (Macas) Ocupados</label>
                                <input type="number" name="ca19cmv" class="form-control" value="<%=leito[j].ca19cmv %>">
                            </div>                 
                       
                                <h3 for="posto">Consultorio Ambulatório 20</h3>
                               
                            <div class="form-group">
                                <label for="posto">Consultorio Ambulatório 20 (Camas) Ocupados</label>
                                <input type="number" name="ca20ccv" class="form-control" value="<%=leito[j].ca20ccv %>">
                            </div>  
                             
                            <div class="form-group">
                                <label for="posto">Consultorio Ambulatório 20 (Macas) Ocupados</label>
                                <input type="number" name="ca20cmv" class="form-control" value="<%=leito[j].ca20cmv %>">
                            </div>              
                       
                                <h3 for="posto">Consultorio Faturamento</h3>
                                
                            <div class="form-group">
                                <label for="posto">Consultorio Faturamento (Camas) Ocupados</label>
                                <input type="number" name="cfccv" class="form-control" value="<%=leito[j].cfccv %>">
                            </div>
                           
                            <div class="form-group">
                                <label for="posto">Consultorio Faturamento (Macas) Ocupados</label>
                                <input type="number" name="cfcmv" class="form-control" value="<%=leito[j].cfcmv %>">
                            </div>                 
                       
                                <h3 for="posto">Enfermaria 1</h3>
                                
                            <div class="form-group">
                                <label for="posto">Enfermaria 1 (Camas) Ocupados</label>
                                <input type="number" name="e1ccv" class="form-control" value="<%=leito[j].e1ccv %>">
                            </div>
                             
                            <div class="form-group">
                                <label for="posto">Enfermaria 1 (Macas) Ocupados</label>
                                <input type="number" name="e1cmv" class="form-control" value="<%=leito[j].e1cmv %>">
                            </div>                 
                       
                                <h3 for="posto">Enfermaria 2</h3>
                                
                            <div class="form-group">
                                <label for="posto">Enfermaria 2 (Camas) Ocupados</label>
                                <input type="number" name="e2ccv" class="form-control" value="<%=leito[j].e2ccv %>">
                            </div>
                              
                            <div class="form-group">
                                <label for="posto">Enfermaria 2 (Macas) Ocupados</label>
                                <input type="number" name="e2cmv" class="form-control" value="<%=leito[j].e2cmv %>">
                            </div>                 
                       
                                <h3 for="posto">Enfermaria 3</h3>
                                
                            <div class="form-group">
                                <label for="posto">Enfermaria 3 (Camas) Ocupados</label>
                                <input type="number" name="e3ccv" class="form-control" value="<%=leito[j].e3ccv %>">
                            </div>
                              
                            <div class="form-group">
                                <label for="posto">Enfermaria 3 (Macas) Ocupados</label>
                                <input type="number" name="e3cmv" class="form-control" value="<%=leito[j].e3cmv %>">
                            </div>                 
                        
                                <h3 for="posto">Enfermaria 4</h3>
                                
                            <div class="form-group">
                                <label for="posto">Enfermaria 4 (Camas) Ocupados</label>
                                <input type="number" name="e4ccv" class="form-control" value="<%=leito[j].e4ccv %>">
                            </div>
                              
                            <div class="form-group">
                                <label for="posto">Enfermaria 4 (Macas) Ocupados</label>
                                <input type="number" name="e4cmv" class="form-control" value="<%=leito[j].e4cmv %>">
                            </div>                 
                       
                                <h3 for="posto">Anexo Enfermaria 1</h3>
                                 
                            <div class="form-group">
                                <label for="posto">Anexo Enfermaria 1 (Camas) Ocupados</label>
                                <input type="number" name="aeccv" class="form-control" value="<%=leito[j].aeccv %>">
                            </div>
                           
                            <div class="form-group">
                                <label for="posto">Anexo Enfermaria 1 (Macas) Ocupados</label>
                                <input type="number" name="aecmv" class="form-control" value="<%=leito[j].aecmv %>">
                            </div>                 
                        
                                <h3 for="posto">Isolamento</h3>
                                
                            <div class="form-group">
                                <label for="posto">Isolamento (Camas) Ocupados</label>
                                <input type="number" name="isccv" class="form-control" value="<%=leito[j].isccv %>">
                            </div>
                              
                            <div class="form-group">
                                <label for="posto">Isolamento (Macas) Ocupados</label>
                                <input type="number" name="iscmv" class="form-control" value="<%=leito[j].iscmv %>">
                            </div>                 
                        
                                <h3 for="posto">Sala Laranja Contigência</h3>
                                
                            <div class="form-group">
                                <label for="posto">Sala Laranja Contigência (Camas) Ocupados</label>
                                <input type="number" name="slcccv" class="form-control" value="<%=leito[j].slcccv %>">
                            </div>
                             
                            <div class="form-group">
                                <label for="posto">Sala Laranja Contigência (Macas) Ocupados</label>
                                <input type="number" name="slccmv" class="form-control" value="<%=leito[j].slccmv %>">
                            </div>                 
                      
                                <h3 for="posto">Enfermaria Contigência 1</h3>
                                 
                            <div class="form-group">
                                <label for="posto">Enfermaria Contigência 1 (Camas) Ocupados</label>
                                <input type="number" name="ec1ccv" class="form-control" value="<%=leito[j].ec1ccv %>">
                            </div>
                             
                            <div class="form-group">
                                <label for="posto">Enfermaria Contigência 1 (Macas) Ocupados</label>
                                <input type="number" name="ec1cmv" class="form-control" value="<%=leito[j].ec1cmv %>">
                            </div>                 
                        
                                <h3 for="posto">Enfermaria Contigência 2</h3>
                                
                            <div class="form-group">
                                <label for="posto">Enfermaria Contigência 2 (Camas) Ocupados</label>
                                <input type="number" name="ec2ccv" class="form-control" value="<%=leito[j].ec2ccv %>">
                            </div>
                              
                            <div class="form-group">
                                <label for="posto">Enfermaria Contigência 2 (Macas) Ocupados</label>
                                <input type="number" name="ec2cmv" class="form-control" value="<%=leito[j].ec2cmv %>">
                            </div>                 
                      
                                <h3 for="posto">Observção Contigência </h3>
                                
                            <div class="form-group">
                                <label for="posto">Observção Contigência  (Camas) Ocupados</label>
                                <input type="number" name="occcv" class="form-control" value="<%=leito[j].occcv %>">
                            </div>
                               
                            <div class="form-group">
                                <label for="posto">Observção Contigência  (Macas) Ocupados</label>
                                <input type="number" name="occmv" class="form-control" value="<%=leito[j].occmv %>">
                            </div>  
                            <div class="form-group">
                                <label for="posto">Maca Parada</label>
                                <input type="number" name="mr" class="form-control" value="<%=leito[j].macaparada %>">
                            </div>               
                        
                            <div id="hora" class="form-group">
                                <input  type="hidden" id="horas" name="horas"  class="form-control">
                                <input  type="hidden" id="data" name="data"  class="form-control">
                            </div>
                    
                <div>
                    <a href="homeregulacao?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
                <% } %>	
                <% } %> 
                <% } %>	
                
                <% } %> 
                <br>
					<br>
					<br>
</form>
</div>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<%- include('../home/footer'); %>
</body>
</html>
<script>
    $(function(){
	$(window).on('resize load', function() {
  if ($(window).width() <= 768) { 
    $("#mobile").removeClass("container");
  }
  else {
    $("#mobile").addClass("container");
  }
});
});
    function pad(s){
		return (s<10) ? '0' + s :s;
	}
function novaHora(){
	
	var date = new Date();
	document.getElementById('horas').value= [date.getHours(), date.getMinutes()].map(pad).join(':');
	document.getElementById('data').value = date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear();
}
novaHora();
</script>