<%- include('./cabecalhogestao'); %>
<div id="mobile" class="container">

<form action="/editarleitoroosevelt" style="padding-left: 1%; padding-right: 1%;" method="post">
                <h2>Quantidades de leitos UAI Roosevelt</h2> 
            
                <% if(id.length > 0) { %>
                    <% for(var i = 0; i < id.length; i++) {%>
                    <input type="hidden" name="idusuario" value="<%=id[i].id_usuario %>">     
                   
                        <% if(leito.length > 0) { %>
                            <% for(var j = 0; j < leito.length; j++) {%>
                        
                                <h3 for="posto">Sala de Emergência Covid 1</h3>
                                
                            <div class="form-group">
                                <label for="posto">Sala de Emergência Covid 1 (Camas) Ocupados</label>
                                <input type="number" name="se1ccv" class="form-control" value="<%=leito[j].se1ccv %>">
                            </div>
                              
                            <div class="form-group">
                                <label for="posto">Sala de Emergência Covid 1 (Macas) Ocupados</label>
                                <input type="number" name="se1cmv" class="form-control" value="<%=leito[j].se1cmv %>">
                            </div>                 
                        
                                <h3 for="posto">Sala de Emergência Covid 2</h3>
                               
                            <div class="form-group">
                                <label for="posto">Sala de Emergência Covid 2 (Camas) Ocupados</label>
                                <input type="number" name="se2ccv" class="form-control" value="<%=leito[j].se2ccv %>">
                            </div>
                            
                            <div class="form-group">
                                <label for="posto">Sala de Emergência Covid 2 (Macas) Ocupados</label>
                                <input type="number" name="se2cmv" class="form-control" value="<%=leito[j].se2cmv %>">
                            </div>                 
                        
                                <h3 for="posto">Sala de Emergência Covid 3</h3>
                                
                            <div class="form-group">
                                <label for="posto">Sala de Emergência Covid 3 (Camas) Ocupados</label>
                                <input type="number" name="se3ccv" class="form-control" value="<%=leito[j].se3ccv %>">
                            </div>
                              
                            <div class="form-group">
                                <label for="posto">Sala de Emergência Covid 3 (Macas) Ocupados</label>
                                <input type="number" name="se3cmv" class="form-control" value="<%=leito[j].se3cmv %>">
                            </div>                 
                       
                                <h3 for="posto">Sala de Emergência Covid 4</h3>
                                
                            <div class="form-group">
                                <label for="posto">Sala de Emergência Covid 4 (Camas) Ocupados</label>
                                <input type="number" name="se4ccv" class="form-control" value="<%=leito[j].se4ccv %>">
                            </div>
                              
                            <div class="form-group">
                                <label for="posto">Sala de Emergência Covid 4 (Macas) Ocupados</label>
                                <input type="number" name="se4cmv" class="form-control" value="<%=leito[j].se4cmv %>">
                            </div>                 
                       
                                <h3 for="posto">Sala de Emergência Covid 5</h3>
                               
                            <div class="form-group">
                                <label for="posto">Sala de Emergência Covid 5 (Camas) Ocupados</label>
                                <input type="number" name="se5ccv" class="form-control" value="<%=leito[j].se5ccv %>">
                            </div>
                              
                            <div class="form-group">
                                <label for="posto">Sala de Emergência Covid 5 (Macas) Ocupados</label>
                                <input type="number" name="se5cmv" class="form-control" value="<%=leito[j].se5cmv %>">
                            </div>                 
                       
                                <h3 for="posto">Sala de Emergência Covid 6</h3>
                                
                            <div class="form-group">
                                <label for="posto">Sala de Emergência Covid 6 (Camas) Ocupados</label>
                                <input type="number" name="se6ccv" class="form-control" value="<%=leito[j].se6ccv %>">
                            </div>  
                            
                            <div class="form-group">
                                <label for="posto">Sala de Emergência Covid 6 (Macas) Ocupados</label>
                                <input type="number" name="se6cmv" class="form-control" value="<%=leito[j].se6cmv %>">
                            </div>              
                        
                                <h3 for="posto">Sala Estabilização</h3>
                                
                           
                            <div class="form-group">
                                <label for="posto">Sala Estabilização (Camas) Ocupados</label>
                                <input type="number" name="seccv" class="form-control" value="<%=leito[j].seccv %>">
                            </div>
                             
                            <div class="form-group">
                                <label for="posto">Sala Estabilização (Macas) Ocupados</label>
                                <input type="number" name="secmv" class="form-control" value="<%=leito[j].secmv %>">
                            </div>                 
                        
                                <h3 for="posto">Paliativo</h3>
                                
                            <div class="form-group">
                                <label for="posto">Paliativo (Camas) Ocupados</label>
                                <input type="number" name="paccv" class="form-control" value="<%=leito[j].paccv %>">
                            </div>
                               
                            <div class="form-group">
                                <label for="posto">Paliativo (Macas) Ocupados</label>
                                <input type="number" name="pacmv" class="form-control" value="<%=leito[j].pacmv %>">
                            </div>                 
                      
                                <h3 for="posto">Isolamento 1 (Baixa Suspeição)</h3>
                                 
                            <div class="form-group">
                                <label for="posto">Isolamento 1 (Baixa Suspeição) (Camas) Ocupados</label>
                                <input type="number" name="is1ccv" class="form-control" value="<%=leito[j].is1ccv %>">
                            </div>
                              
                            <div class="form-group">
                                <label for="posto">Isolamento 1 (Baixa Suspeição) (Macas) Ocupados</label>
                                <input type="number" name="is1cmv" class="form-control" value="<%=leito[j].is1cmv %>">
                            </div>                 
                      
                                <h3 for="posto">Isolamento 2 (Baixa Suspeição)</h3>
                                
                            <div class="form-group">
                                <label for="posto">Isolamento 2 (Baixa Suspeição)(Camas) Ocupados</label>
                                <input type="number" name="is2ccv" class="form-control" value="<%=leito[j].is2ccv %>">
                            </div>
                             
                            <div class="form-group">
                                <label for="posto">Isolamento 2 (Baixa Suspeição) (Macas) Ocupados</label>
                                <input type="number" name="is2cmv" class="form-control" value="<%=leito[j].is2cmv %>">
                            </div>                 
                       
                                <h3 for="posto">Isolamento 3 (Alta Suspeição)</h3>
                                
                            <div class="form-group">
                                <label for="posto">Isolamento 3 (Alta Suspeição) (Camas) Ocupados</label>
                                <input type="number" name="is3ccv" class="form-control" value="<%=leito[j].is3ccv %>">
                            </div>
                              
                            <div class="form-group">
                                <label for="posto">Isolamento 3 (Alta Suspeição) (Macas) Ocupados</label>
                                <input type="number" name="is3cmv" class="form-control" value="<%=leito[j].is3cmv %>">
                            </div>                 
                        
                                <h3 for="posto">Isolamento 4 (Alta Suspeição)</h3>
                                
                            <div class="form-group">
                                <label for="posto">Isolamento 4 (Alta Suspeição) (Camas) Ocupados</label>
                                <input type="number" name="is4ccv" class="form-control" value="<%=leito[j].is4ccv %>">
                            </div>
                              
                            <div class="form-group">
                                <label for="posto">Isolamento 4 (Alta Suspeição) (Macas) Ocupados</label>
                                <input type="number" name="is4cmv" class="form-control" value="<%=leito[j].is4cmv %>">
                            </div>                 
                        
                                <h3 for="posto">Isolamento 5 (Alta Suspeição) </h3>
                                
                            <div class="form-group">
                                <label for="posto">Isolamento 5 (Alta Suspeição) (Camas) Ocupados</label>
                                <input type="number" name="is5ccv" class="form-control" value="<%=leito[j].is5ccv %>">
                            </div>
                               
                            <div class="form-group">
                                <label for="posto">Isolamento 5 (Alta Suspeição) (Macas) Ocupados</label>
                                <input type="number" name="is5cmv" class="form-control" value="<%=leito[j].is5cmv %>">
                            </div>                 
                        
                                <h3 for="posto">Enfermaria 7 Covid </h3>
                                
                            <div class="form-group">
                                <label for="posto">Enfermaria 7 Covid (Camas) Ocupados</label>
                                <input type="number" name="e7ccv" class="form-control" value="<%=leito[j].e7ccv %>">
                            </div>
                              
                            <div class="form-group">
                                <label for="posto">Enfermaria 7 Covid (Macas) Ocupados</label>
                                <input type="number" name="e7cmv" class="form-control" value="<%=leito[j].e7cmv %>">
                            </div>                 
                        
                                <h3 for="posto">Enfermaria 8 Covid</h3>
                                
                            <div class="form-group">
                                <label for="posto">Enfermaria 8 Covid  (Camas) Ocupados</label>
                                <input type="number" name="e8ccv" class="form-control" value="<%=leito[j].e8ccv %>">
                            </div>
                              
                            <div class="form-group">
                                <label for="posto">Enfermaria 8 Covid (Macas) Ocupados</label>
                                <input type="number" name="e8cmv" class="form-control" value="<%=leito[j].e8cmv %>">
                            </div>                 
                      
                                <h3 for="posto">Enfermaria 9 Covid </h3>
                                
                            <div class="form-group">
                                <label for="posto">Enfermaria 9 Covid (Camas) Ocupados</label>
                                <input type="number" name="e9ccv" class="form-control" value="<%=leito[j].e9ccv %>">
                            </div>
                           
                            <div class="form-group">
                                <label for="posto">Enfermaria 9 Covid (Macas) Ocupados</label>
                                <input type="number" name="e9cmv" class="form-control" value="<%=leito[j].e9cmv %>">
                            </div>                 
                        
                                <h3 for="posto">Enfermaria 11 Covid </h3>
                                
                            <div class="form-group">
                                <label for="posto">Enfermaria 11 Covid (Camas) Ocupados</label>
                                <input type="number" name="e11ccv" class="form-control" value="<%=leito[j].e11ccv %>">
                            </div>
                              
                            <div class="form-group">
                                <label for="posto">Enfermaria 11 Covid (Macas) Ocupados</label>
                                <input type="number" name="e11cmv" class="form-control" value="<%=leito[j].e11cmv %>">
                            </div>                 
                       
                                <h3 for="posto">Enfermaria 12 Covid </h3>
                               
                            <div class="form-group">
                                <label for="posto">Enfermaria 12 Covid (Camas) Ocupados</label>
                                <input type="number" name="e12ccv" class="form-control" value="<%=leito[j].e12ccv %>">
                            </div>
                               
                            <div class="form-group">
                                <label for="posto">Enfermaria 12 Covid (Macas) Ocupados</label>
                                <input type="number" name="e12cmv" class="form-control" value="<%=leito[j].e12cmv %>">
                            </div>                 
                        
                                <h3 for="posto">Enfermaria 13 Covid </h3>
                                
                            <div class="form-group">
                                <label for="posto">Enfermaria 13 Covid  (Camas) Ocupados</label>
                                <input type="number" name="e13ccv" class="form-control" value="<%=leito[j].e13ccv %>">
                            </div>
                               
                            <div class="form-group">
                                <label for="posto">Enfermaria 13 Covid  (Macas) Ocupados</label>
                                <input type="number" name="e13cmv" class="form-control" value="<%=leito[j].e13cmv %>">
                            </div>                 
                       
                                <h3 for="posto">Enfermaria 14 Covid </h3>
                                
                            <div class="form-group">
                                <label for="posto">Enfermaria 14 Covid  (Camas) Ocupados</label>
                                <input type="number" name="e14ccv" class="form-control" value="<%=leito[j].e14ccv %>">
                            </div>
                               
                            <div class="form-group">
                                <label for="posto">Enfermaria 14 Covid  (Macas) Ocupados</label>
                                <input type="number" name="e14cmv" class="form-control" value="<%=leito[j].e14cmv %>">
                            </div>                 
                        
                                <h3 for="posto">Enfermaria 15 Covid </h3>
                                
                            <div class="form-group">
                                <label for="posto">Enfermaria 15 Covid  (Camas) Ocupados</label>
                                <input type="number" name="e15ccv" class="form-control" value="<%=leito[j].e15ccv %>">
                            </div>
                             
                            <div class="form-group">
                                <label for="posto">Enfermaria 15 Covid  (Macas) Ocupados</label>
                                <input type="number" name="e15cmv" class="form-control" value="<%=leito[j].e15cmv %>">
                            </div>                 
                       
                                <h3 for="posto">Enfermaria 16 Covid </h3>
                               
                            <div class="form-group">
                                <label for="posto">Enfermaria 16 Covid  (Camas) Ocupados</label>
                                <input type="number" name="e16ccv" class="form-control" value="<%=leito[j].e16ccv %>">
                            </div>
                           
                            <div class="form-group">
                                <label for="posto">Enfermaria 16 Covid  (Macas) Ocupados</label>
                                <input type="number" name="e16cmv" class="form-control" value="<%=leito[j].e16cmv %>">
                            </div>                 
                        
                                <h3 for="posto">Enfermaria 17 Covid </h3>
                                 
                            <div class="form-group">
                                <label for="posto">Enfermaria 17 Covid  (Camas) Ocupados</label>
                                <input type="number" name="e17ccv" class="form-control" value="<%=leito[j].e17ccv %>">
                            </div>
                               
                            <div class="form-group">
                                <label for="posto">Enfermaria 17 Covid  (Macas) Ocupados</label>
                                <input type="number" name="e17cmv" class="form-control" value="<%=leito[j].e17cmv %>">
                            </div>                 
                        
                                <h3 for="posto">Corredor </h3>
                                 
                            <div class="form-group">
                                <label for="posto">Corredor  (Camas) Ocupados</label>
                                <input type="number" name="corredorccv" class="form-control" value="<%=leito[j].corredorccv %>">
                            </div>
                              
                            <div class="form-group">
                                <label for="posto">Corredor  (Macas) Ocupados</label>
                                <input type="number" name="corredorcmv" class="form-control" value="<%=leito[j].corredorcmv %>">
                            </div>                 
                        
                            <div class="form-group">
                                <label for="posto">Maca Parada</label>
                                <input type="number" name="mr" class="form-control" value="<%=leito[j].macaparada %>">
                            </div>
                            <div id="hora" class="form-group">
                                <input  type="hidden" id="horas" name="horas"  class="form-control">
                                <input  type="hidden" id="data" name="data"  class="form-control">
                            </div>
                    
                <div>
                    <a href="homeregulacao?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
                <% } %>	
                <% } %> 
                <% } %>	
                <% } %> 
                <br>
					<br>
					<br>
</form>
</div>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<%- include('../home/footer'); %>
</body>
</html>
<script>
    $(function(){
	$(window).on('resize load', function() {
  if ($(window).width() <= 768) { 
    $("#mobile").removeClass("container");
  }
  else {
    $("#mobile").addClass("container");
  }
});
});
    function pad(s){
		return (s<10) ? '0' + s :s;
	}
function novaHora(){
	
	var date = new Date();
	document.getElementById('horas').value= [date.getHours(), date.getMinutes()].map(pad).join(':');
	document.getElementById('data').value = date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear();
}
novaHora();
</script>