<%- include('../cabecalhokaban'); %>

<div id="mobile" class="container">

<form action="/updatekabanmartins" style="padding-left: 1%; padding-right: 1%;" method="post">
				<% if(id.length > 0) { %>
					<% for(var i = 0; i < id.length; i++) {%>            
				<h2>Editar Paciente Martins</h2> 
				<% if(paciente.length > 0) { %>
					<% for(var j = 0; j < paciente.length; j++) {%>
                    <input type="hidden" name="idusuario" value="<%=id[i].id_usuario %>">     
                    <p hidden id="idunidade">  <%=id[i].unidade %>  
                <div>
					<div class="form-group">
                        <input type="hidden" name="idpaciente" class="form-control" value="<%=paciente[j].idpaciente %>" required>
                    </div>
					<div class="form-group">
						<label for="susfacil">SusFacil</label>
                        <input type="text" name="susfacil" class="form-control" value="<%=paciente[j].susfacil %>" required>
                    </div>
					<div class="form-group">
						<label for="prontuario">Prontuario</label>
                        <input type="text" name="prontuario" class="form-control" value="<%=paciente[j].prt %>" required>
                    </div>
                    <div class="form-group">
						<label for="paciente">Nome Paciente</label>
                        <input type="text" name="paciente" class="form-control" value="<%=paciente[j].nome %>" required>
                    </div>
					<div class="form-group">
						<label for="dn">Data de Nascimento</label>
                        <input type="text" id="dn" data-mask="00/00/0000" data-mask-selectonfocus="true" name="dn" class="form-control" value="<%=paciente[j].datanascimento %>" required >
                    </div>
					<div class="form-group">
						<label for="dn">Idade</label>
                        <input  type="text" id="idade" name="idade" class="form-control" value="<%=paciente[j].idade %>" >
                    </div>
					<div class="form-group">
						<label for="da">Data de Admissão</label>
                        <input type="text" id="da" data-mask="00/00/0000" data-mask-selectonfocus="true" name="da" class="form-control" value="<%=paciente[j].dataentrada %>" required >
                    </div>
					<div class="form-group">
                        <input readonly="readonly"  type="hidden" id="qtdi" name="qtdi" class="form-control" placeholder="Quantidade de dias Internados" >
                    </div>
					<div class="form-group">
						<label for="medico">Medico</label>
                        <input type="text" id="medico" name="medico" class="form-control" value="<%=paciente[j].medico %>">
					</div>
					<div class="form-group">
						<label for="ECF" id="ecf3">ECF</label>
						<select  onchange="verificaecf(this.value)"  class="form-control" id="ecf2" name="ecf2">
							<option value="" disabled selected hidden>ECF</option>
							<option value="0" <%=(paciente[j].ECF == '0')?'selected':''%>>Não aplicado</option>
							<option value="1" <%=(paciente[j].ECF == '1')?'selected':''%>>1</option>
							<option value="2" <%=(paciente[j].ECF == '2')?'selected':''%>>2</option>
							<option value="3" <%=(paciente[j].ECF == '3')?'selected':''%>>3</option>
							<option value="4" <%=(paciente[j].ECF == '4')?'selected':''%>>4</option>
							<option value="5" <%=(paciente[j].ECF == '5')?'selected':''%>>5</option>
							<option value="6" <%=(paciente[j].ECF == '6')?'selected':''%>>6</option>
							<option value="7" <%=(paciente[j].ECF == '7')?'selected':''%>>7</option>
							<option value="8" <%=(paciente[j].ECF == '8')?'selected':''%>>8</option>
							<option value="9" <%=(paciente[j].ECF == '9')?'selected':''%>>9</option>
							<option value="10"<%=(paciente[j].ECF == '10')?'selected':''%>>10</option>
						</select>
						<input type="hidden" id="ecf"  name="ecf" class="form-control"  value="<%=paciente[j].ECF %>">
					</div>
					<div class="form-group">
						<label for="spcit" id="spict2">Spict</label>
                        <input type="text" id="spict" name="spcit" class="form-control" value="<%=paciente[j].spict %>">
					</div>
					<div class="form-group">
						<label for="setor">Setor</label>
                        <select class="form-control" id="setor" name="setor">
                            <option value="" disabled selected hidden>Setor</option>
							<option value="Enfermaria" <%=(paciente[j].comodo == 'Enfermaria')?'selected':''%>>Enfermaria</option>
							<option value="Sala de Emergência" <%=(paciente[j].comodo == 'Sala de Emergência')?'selected':''%>>Sala de Emergência</option>
							<option value="Observação" <%=(paciente[j].comodo == 'Observação')?'selected':''%>>Observação</option>
                        </select>
                        <input type="hidden" name="setor2" id="setor2"  value="<%=paciente[j].comodo %>">
					</div>
					<div class="form-group">
						<label for="dieta">Dieta</label>
						<select class="form-control" id="dieta" name="dieta" required>
							<option value="" disabled selected hidden>Dieta</option>
							<option value="BRANDA" <%=(paciente[j].dieta == 'BRANDA')?'selected':''%>>BRANDA</option>
							<option value="BRANDA + HEP"<%=(paciente[j].dieta == 'BRANDA + HEP')?'selected':''%>>BRANDA + HEP</option>
							<option value="BRANDA + LAX"<%=(paciente[j].dieta == 'BRANDA + LAX')?'selected':''%>>BRANDA + LAX</option>
							<option value="BRANDA + NEF"<%=(paciente[j].dieta == 'BRANDA + NEF')?'selected':''%>>BRANDA + NEF</option>
							<option value="BRANDA DM"<%=(paciente[j].dieta == 'BRANDA DM')?'selected':''%>>BRANDA DM</option>
							<option value="IRC"<%=(paciente[j].dieta == 'IRC')?'selected':''%>>IRC</option>
							<option value="DM"<%=(paciente[j].dieta == 'DM')?'selected':''%>>DM</option>
							<option value="DM + HEP + NEF"<%=(paciente[j].dieta == 'DM + HEP + NEF')?'selected':''%>>DM + HEP + NEF</option>
							<option value="DM + LAX"<%=(paciente[j].dieta == 'DM + LAX')?'selected':''%>>DM + LAX</option>
							<option value="DM + NEF"<%=(paciente[j].dieta == 'DM + NEF')?'selected':''%>>DM + NEF</option>
							<option value="HPS"<%=(paciente[j].dieta == 'HPS')?'selected':''%>>HPS</option>
							<option value="HPS + DM"<%=(paciente[j].dieta == 'HPS + DM')?'selected':''%>>HPS + DM</option>
							<option value="HPS + HEP"<%=(paciente[j].dieta == 'HPS + HEP')?'selected':''%>>HPS + HEP </option>
							<option value="HPS  + LAX"<%=(paciente[j].dieta == 'HPS  + LAX')?'selected':''%>>HPS  + LAX</option>
							<option value="HIPOLIPIDICA"<%=(paciente[j].dieta == 'HIPOLIPIDICA')?'selected':''%>>HIPOLIPIDICA</option>
							<option value="LÍQUIDA"<%=(paciente[j].dieta == 'LÍQUIDA')?'selected':''%>>LÍQUIDA</option>
							<option value="LIVRE"<%=(paciente[j].dieta == 'LIVRE')?'selected':''%>>LIVRE</option>
							<option value="LIVRE + LAX"<%=(paciente[j].dieta == 'LIVRE + LAX')?'selected':''%>>LIVRE + LAX</option>
							<option value="LIVRE POBRE K"<%=(paciente[j].dieta == '"LIVRE POBRE K')?'selected':''%>>LIVRE POBRE K</option>
							<option value="PASTOSA"<%=(paciente[j].dieta == 'PASTOSA')?'selected':''%>>PASTOSA</option>
							<option value="PASTOSA + OVO"<%=(paciente[j].dieta == 'PASTOSA + OVO')?'selected':''%>>PASTOSA + OVO</option>
							<option value="PASTOSA DM SEM RESÍDUOS" <%=(paciente[j].dieta == 'PASTOSA DM SEM RESÍDUOS')?'selected':''%>>Pastosa DM sem resíduos</option>
							<option value="PASTOSA SEM RESÍDUOS" <%=(paciente[j].dieta == 'PASTOSA SEM RESÍDUOS')?'selected':''%>>Pastosa sem resíduos</option>
							<option value="SNE 1.0"<%=(paciente[j].dieta == 'SNE 1.0')?'selected':''%>>SNE 1.0</option>
							<option value="SNE 1.5"<%=(paciente[j].dieta == 'SNE 1.5')?'selected':''%>>SNE 1.5</option>
							<option value="DIBEN 1.0"<%=(paciente[j].dieta == 'DIBEN 1.0')?'selected':''%>>DIBEN 1.0</option>
							<option value="OBSTIPANTE"<%=(paciente[j].dieta == 'OBSTIPANTE')?'selected':''%>>OBSTIPANTE</option>
							<option value="BRANDA HIPOLIPIDICA" <%=(paciente[j].dieta == 'BRANDA HIPOLIPIDICA')?'selected':''%>>BRANDA HIPOLIPIDICA</option>
							<option value="HIPOLIPIDICA/HPS" <%=(paciente[j].dieta == 'HIPOLIPIDICA/HPS')?'selected':''%>>HIPOLIPIDICA/HPS</option>
							<option value="HIPOLIPIDICA/DM" <%=(paciente[j].dieta == 'HIPOLIPIDICA/DM')?'selected':''%>>HIPOLIPIDICA/DM</option>
							<option value="LIQUIDA SEM RESÍDUOS" <%=(paciente[j].dieta == 'LIQUIDA SEM RESÍDUOS')?'selected':''%>>LIQUIDA SEM RESÍDUOS</option>
							<option value="ZERO"<%=(paciente[j].dieta == 'ZERO')?'selected':''%>>ZERO</option>
						</select>
						<input type="hidden" id="dieta2"  name="dieta2" class="form-control" value="<%=paciente[j].dieta %>" >
					</div>
					<div class="form-group">
						<label for="paliativos" id="paliativo2">Paliativos</label>
                        <select class="form-control" id="paliativos" name="paliativos">
                            <option value="" disabled selected hidden>Paliativo</option>
							<option value="Sim" <%=(paciente[j].paliativo == 'SIM')?'selected':''%> >Sim</option>
							<option value="Não" <%=(paciente[j].paliativo == 'Não')?'selected':''%>>Não</option>
                        </select>
                        <input type="hidden" name="paliativo" id="paliativo"  value="<%=paciente[j].paliativo %>">
					</div>
					<div class="form-group">
						<label for="diagnostico">Diagnóstico</label>
                        <input type="text" name="diagnostico" class="form-control" value="<%=paciente[j].diagnostico %>" required>
                    </div>
					<div class="form-group">
						<label for="especialidade">Especialidade</label>
						<select class="form-control" id="especialidades" name="especialidades">
                            <option value="" disabled selected hidden>Especialidade</option>
							<option value="Clinica" <%=(paciente[j].especialidade == 'Clinica')?'selected':''%>>Clinica</option>
							<option value="Traumatologia" <%=(paciente[j].especialidade == 'Traumatologia')?'selected':''%>>Traumatologia</option>
							<option value="Pediatria" <%=(paciente[j].especialidade == 'Pediatria')?'selected':''%>>Pediatria</option>
							<option value="Psiquiatria" <%=(paciente[j].especialidade == 'Psiquiatria')?'selected':''%>>Psiquiatria</option>
							<option value="Cirurgico" <%=(paciente[j].especialidade == 'Cirurgico')?'selected':''%>>Cirurgico</option>
                        </select> 
                        <input type="hidden" id="especialidade" name="especialidade" class="form-control"  value="<%=paciente[j].especialidade %>" required>
                    </div>
					<div class="form-group">
						<label for="observacao">Observação</label>
                        <input type="text" name="observacao" class="form-control" value="<%=paciente[j].observacao %>" required>
                    </div>
					<div class="form-group">
						<label for="banho">Banho</label>
						<select class="form-control" id="banhos" name="banhos">
                            <option value="" disabled selected hidden>Horario Banho</option>
							<option value="Manhã" <%=(paciente[j].banho == 'Manhã')?'selected':''%>>Manha</option>
							<option value="Tarde" <%=(paciente[j].banho == 'Tarde')?'selected':''%>>Tarde</option>
							<option value="Noite" <%=(paciente[j].banho == 'Noite')?'selected':''%>>Noite</option>
                        </select>
                        <input type="hidden" id="banho" name="banho" class="form-control"  value="<%=paciente[j].banho %>" required>
                    </div>
					<div class="form-group">
						<label for="mobilidade">Mobilidade</label>
						<select class="form-control" id="mobilidades" name="mobilidades">
                            <option value="" disabled selected hidden>Mobilidade</option>
							<option value="Acamado" <%=(paciente[j].mobilidade == 'Acamado')?'selected':''%>>Acamado</option>
							<option value="Auxílio" <%=(paciente[j].mobilidade == 'Auxílio')?'selected':''%>>Auxílio</option>
							<option value="Aspersão" <%=(paciente[j].mobilidade == 'Aspersão')?'selected':''%>>Aspersão</option>
                        </select>
                        <input type="hidden" id="mobilidade" name="mobilidade" class="form-control"  value="<%=paciente[j].mobilidade %>" required>
                    </div>
					<div class="form-group">
						<label for="round">Round</label>
						<select class="form-control" id="rounds" name="rounds" required>
                            <option value="" disabled selected hidden>Round</option>
							<option value="Sim" <%=(paciente[j].round == 'Sim')?'selected':''%>>Sim</option>
							<option value="Não" <%=(paciente[j].round == 'Não')?'selected':''%>>Não</option>
                        </select>
                        <input type="hidden" id="round" name="round" class="form-control"  value="<%=paciente[j].round %>" >
                    </div>
					<div class="form-group">
						<label for="round">Plano de Alta</label>
						<select class="form-control" id="altas" name="altas" required>
                            <option value="" disabled selected hidden>Plano de Alta</option>
							<option value="Sim" <%=(paciente[j].planoalta == 'Sim')?'selected':''%>>Sim</option>
							<option value="Não" <%=(paciente[j].planoalta == 'Não')?'selected':''%>>Não</option>
                        </select>
                        <input type="hidden" id="alta" name="alta" class="form-control"  value="<%=paciente[j].planoalta %>" >
                    </div>
					<div class="form-group">
						<label id="metas">Meta para o Dia</label>
						<input type="text" id="metas" name="metas" class="form-control" value="<%=paciente[j].metas %>" >
                    </div>
					<div class="form-group">
						<label for="round">Pendências</label>
						<select class="form-control" onchange="verificapendencia(this.value)" id="pendencia" name="pendencia" required>
							<option value="" disabled selected hidden>Pendências</option>
							<option value="Sim" <%=(paciente[j].pendencias == 'Sim')?'selected':''%>>Sim</option>
							<option value="Não" <%=(paciente[j].pendencias == 'Não')?'selected':''%>>Não</option>
                        </select>
                        <input type="hidden" id="pendencias" name="pendencias" class="form-control"  value="<%=paciente[j].pendencias %>" >
                    </div>
					<div class="form-group">
						<label id="labelexames">Aguarda Agendamento de Exame</label>
						<select class="form-control" onchange="verificaagendamentoexame(this.value)" id="agenexame" name="agenexame" >
							<option value="" disabled selected hidden>Agendamento de Exame</option>
							<option value="Sim" <%=(paciente[j].agenexames == 'Sim')?'selected':''%>>Sim</option>
							<option value="Não" <%=(paciente[j].agenexames == 'Não')?'selected':''%>>Não</option>
                        </select>
                        <input type="hidden" id="agenexames" name="agenexames" class="form-control"  value="<%=paciente[j].agenexames %>" >
						<label id="labelexamess">Descrição Agendamento de Exame</label>
						<input type="text" id="descexame" name="descexame" class="form-control"  value="<%=paciente[j].descexame %>" >
                    </div>
					<div class="form-group">
						<label id="labellaudo">Aguarda Avaliação de Laudo</label>
						<select class="form-control" onchange="verificalaudoexame(this.value)" id="laudos" name="laudos" >
							<option value="" disabled selected hidden>Avaliação de Laudo</option>
							<option value="Sim" <%=(paciente[j].laudo == 'Sim')?'selected':''%>>Sim</option>
							<option value="Não" <%=(paciente[j].laudo == 'Não')?'selected':''%>>Não</option>
                        </select>
                        <input type="hidden" id="laudo" name="laudo" class="form-control"  value="<%=paciente[j].laudo %>" >
						<label id="labellaudos">Descrição Avaliação de Laudo</label>
						<input type="text" id="desclaudo" name="desclaudo" class="form-control"  value="<%=paciente[j].desclaudo %>" >
                    </div>
					<div class="form-group">Aguarda OxigenoTerapia
						<label id="labeloxigenio">Aguarda OxigenoTerapia</label>
						<select class="form-control" id="oxigenio" name="oxigenio" >
							<option value="" disabled selected hidden>Aguarda OxigenoTerapia</option>
							<option value="Sim" <%=(paciente[j].oxigenios == 'Sim')?'selected':''%>>Sim</option>
							<option value="Não" <%=(paciente[j].oxigenios == 'Não')?'selected':''%>>Não</option>
                        </select>
                        <input type="hidden" id="oxigenios" name="oxigenios" class="form-control"  value="<%=paciente[j].oxigenios %>" >
                    </div>
					<div class="form-group">
						<label id="labelcasa">Aguarda Melhor em Casa</label>
						<select class="form-control" id="casa" name="casa" >
							<option value="" disabled selected hidden>Melhor em Casa</option>
							<option value="Sim" <%=(paciente[j].casas == 'Sim')?'selected':''%>>Sim</option>
							<option value="Não" <%=(paciente[j].casas == 'Não')?'selected':''%>>Não</option>
                        </select>
                        <input type="hidden" id="casas" name="casas" class="form-control"  value="<%=paciente[j].casas %>" >
                    </div>
					<div class="form-group">
						<label id="labelespecialista">Aguarda Avaliação Especialista</label>
						<select class="form-control" onchange="verificaespecialista(this.value)" id="avespecialista" name="avespecialista" >
							<option value="" disabled selected hidden>Avaliação Especialista</option>
							<option value="Sim" <%=(paciente[j].avespecialistas == 'Sim')?'selected':''%>>Sim</option>
							<option value="Não" <%=(paciente[j].avespecialistas == 'Não')?'selected':''%>>Não</option>
                        </select>
                        <input type="hidden" id="avespecialistas" name="avespecialistas" class="form-control"  value="<%=paciente[j].avespecialistas %>" >
						<label id="labelespecialistas">Descrição Pendencia Avaliação Especialista</label>
						<input type="text" id="descespecialista" name="descespecialista" class="form-control"  value="<%=paciente[j].descespecialista %>" >
                    </div>
					<div class="form-group">
						<label id="labelcoleta">Aguarda Coleta de Exame Laboratorial</label>
						<select class="form-control" id="coleta" name="coleta" >
							<option value="" disabled selected hidden>Coleta de Exame Laboratorial</option>
							<option value="Sim" <%=(paciente[j].coleta == 'Sim')?'selected':''%>>Sim</option>
							<option value="Não" <%=(paciente[j].coleta == 'Não')?'selected':''%>>Não</option>
                        </select>
                        <input type="hidden" id="coletas" name="coletas" class="form-control"  value="<%=paciente[j].coleta %>" >
                    </div>
					<div class="form-group">
						<label id="labelresultado">Aguarda Resultado de Exame Laboratorial</label>
						<select class="form-control" id="resultadolab" name="resultadolab" >
							<option value="" disabled selected hidden>Resultado de Exame Laboratorial</option>
							<option value="Sim" <%=(paciente[j].resultadolabs == 'Sim')?'selected':''%>>Sim</option>
							<option value="Não" <%=(paciente[j].resultadolabs == 'Não')?'selected':''%>>Não</option>
                        </select>
                        <input type="hidden" id="resultadolabs" name="resultadolabs" class="form-control"  value="<%=paciente[j].resultadolabs %>" >
                    </div>
					<div class="form-group">
						<label id="labeltransferencia">Transferência Agendada</label>
						<select class="form-control" onchange="verificatransferencia(this.value)" id="transferencia" name="transferencia" >
							<option value="" disabled selected hidden>Transferência Agendada</option>
							<option value="Sim" <%=(paciente[j].transferencias == 'Sim')?'selected':''%>>Sim</option>
							<option value="Não" <%=(paciente[j].transferencias == 'Não')?'selected':''%>>Não</option>
                        </select>
                        <input type="hidden" id="transferencias" name="transferencias" class="form-control"  value="<%=paciente[j].transferencias %>" >
						<label id="labeltransferencias">Descrição Transferência Agendada</label>
						<input type="text" id="desctransferencia" name="desctransferencia" class="form-control"  value="<%=paciente[j].desctransferencia %>" >
                    </div>
					<div class="form-group">
						<label id="labelhemo">Aguarda Hemotransfusão</label>
						<select class="form-control" id="hemo" name="hemo" >
							<option value="" disabled selected hidden>Hemotransfusão</option>
							<option value="Sim" <%=(paciente[j].hemos == 'Sim')?'selected':''%>>Sim</option>
							<option value="Não" <%=(paciente[j].hemos == 'Não')?'selected':''%>>Não</option>
                        </select>
                        <input type="hidden" id="hemos" name="hemos" class="form-control"  value="<%=paciente[j].hemos %>" >
                    </div>
					<div class="form-group">
						<label for="mental">Saude mental  </label>
                        <label class="switch">
							<input id="mental" type="checkbox" <%=(paciente[j].mental == 'true')?'checked':''%>>
							<span class="slider round"></span>
						  </label>
						  <input type="hidden" id="mental2" name="mental2" class="form-control"  value="<%=paciente[j].mental %>">
                    </div>
					<div class="form-group">
						<label id="labelexame">Unidade de Referência</label>
						<select  class="form-control" id="exame" name="exame">
							<option value="" disabled selected hidden>Unidade de Referência</option>
							<option value="Caps Oeste" <%=(paciente[j].referencia == 'Caps Oeste')?'selected':''%>>Caps Oeste</option>
							<option value="Caps Leste" <%=(paciente[j].referencia == 'Caps Leste')?'selected':''%>>Caps Leste</option>
							<option value="Caps Norte" <%=(paciente[j].referencia == 'Caps Norte')?'selected':''%>>Caps Norte</option>
							<option value="Caps Infantil" <%=(paciente[j].referencia == 'Caps Infantil')?'selected':''%>>Caps Infantil</option>
							<option value="Caps AD" <%=(paciente[j].referencia == 'Caps AD')?'selected':''%>>Caps AD</option>
						</select>
					  </div>
					  <input type="hidden" id="referencia"  name="referencia" class="form-control" value="<%=paciente[j].referencia %>">
					<div class="form-group">
						<label for="covid">Sindrome Respiratória Aguda Grave  </label>
                        <label class="switch">
							<input id="covid" type="checkbox" <%=(paciente[j].covid == 'true')?'checked':''%>>
							<span class="slider round"></span>
						  </label>
						  <input type="hidden" id="covid2" name="covid2" class="form-control"  value="<%=paciente[j].covid %>" >
                    </div>
					<div class="form-group">
						<label id="dataexames" for="data">Data Exame</label>
						<input type="text" name="dataexame"  id="dataexame" class="form-control" placeholder="Data Exame" value="<%=paciente[j].dataexame %>" >
					</div>
					<div class="form-group">
						<label id="exames" for="exame">Exame</label>
						<select  class="form-control" id="exame3" name="exame3" >
							<option value="" disabled selected hidden>Exame</option>
							<option value="Aguardando" <%=(paciente[j].exame == 'Aguardando')?'selected':''%>>Aguardando</option>
							<option value="Positivo" <%=(paciente[j].exame == 'Positivo')?'selected':''%>>Positivo</option>
							<option value="Negativo" <%=(paciente[j].exame == 'Negativo')?'selected':''%>>Negativo</option>
						</select>
                      </div>
                      <input  type="hidden" name="exame4" id="exame4" value="<%=paciente[j].exame %>">
					</div>
					
					 <input  type="hidden" id="data" name="data"  class="form-control">
				 </div>
                </div>
                <div>
                    <a href="/kabanpacientemartins?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
                    <button type="submit" class="btn btn-success">Salvar</button>
					<br>
					<br>
					<br>
                </div>
                <% } %>	
                <% } %> 
				<% } %>	
                <% } %> 
</form>
</div>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
$(function(){
	$(window).on('resize load', function() {
  if ($(window).width() <= 768) { 
    $("#mobile").removeClass("container");
  }
  else {
    $("#mobile").addClass("container");
  }
});
});
function pad(s){
		return (s<10) ? '0' + s :s;
	}
function novaHora(){
	
	var date = new Date();
	document.getElementById('data').value = date.getDate() +'-'+ (date.getMonth() + 1) +'-'+ date.getFullYear() +' '+ date.getHours()+':'+date.getMinutes()+':'+date.getSeconds() ;
}
novaHora();
$("#paliativos").on('change', function(e){
     var paliativo = $(this).val();
     document.getElementById('paliativo').value = paliativo;
});
$("#exame3").on('change', function(e){
	var exame = $(this).val();
	document.getElementById('exame4').value = exame;
});

$("#dieta").on('change', function(e){
     var dieta = $(this).val();
     document.getElementById('dieta2').value = dieta;
});

$("#ecf2").on('change', function(e){
     var ecf = $(this).val();
     document.getElementById('ecf').value = ecf;
});

$("#especialidades").on('change', function(e){
     var especialidade = $(this).val();
     document.getElementById('especialidade').value = especialidade;
});

$("#banhos").on('change', function(e){
     var banho = $(this).val();
     document.getElementById('banho').value = banho;
});

$("#setor").on('change', function(e){
     var setor = $(this).val();
     document.getElementById('setor2').value = setor;
});

$("#mobilidades").on('change', function(e){
     var mobilidade = $(this).val();
     document.getElementById('mobilidade').value = mobilidade;
});


$("#rounds").on('change', function(e){
     var rounds = $(this).val();
     document.getElementById('round').value = rounds;
});

$("#altas").on('change', function(e){
     var altas = $(this).val();
     document.getElementById('alta').value = altas;
});

$("#pendencia").on('change', function(e){
     var pendencia = $(this).val();
     document.getElementById('pendencias').value = pendencia;
});

$("#agenexame").on('change', function(e){
     var agenexame = $(this).val();
     document.getElementById('agenexames').value = agenexame;
});


$("#laudos").on('change', function(e){
     var laudos = $(this).val();
     document.getElementById('laudo').value = laudos;
});


$("#oxigenio").on('change', function(e){
     var oxigenio = $(this).val();
     document.getElementById('oxigenios').value = oxigenio;
});


$("#casa").on('change', function(e){
     var casa = $(this).val();
     document.getElementById('casas').value = casa;
});


$("#avespecialista").on('change', function(e){
     var avespecialista = $(this).val();
     document.getElementById('avespecialistas').value = avespecialista;
});


$("#coleta").on('change', function(e){
     var coleta = $(this).val();
     document.getElementById('coletas').value = coleta;
});


$("#resultadolab").on('change', function(e){
     var resultadolab = $(this).val();
     document.getElementById('resultadolabs').value = resultadolab;
});


$("#transferencia").on('change', function(e){
     var transferencia = $(this).val();
     document.getElementById('transferencias').value = transferencia;
});


$("#hemo").on('change', function(e){
     var hemo = $(this).val();
     document.getElementById('hemos').value = hemo;
});


$("#mental").on('change', function(e){
	if ($(this).is(':checked')) {
    	$(this).attr('value', 'true');
	}
	else {
		$(this).attr('value', 'false');
	}
	 mental = $(this).val();
	 document.getElementById('mental2').value = mental;

	 if(mental == 'true'){
		 document.getElementById("exame").style.display = 'inline';
		 document.getElementById("labelexame").style.display = 'inline';
		 
	 }
	 else{
		document.getElementById("exame").style.display = 'none';
		document.getElementById("labelexame").style.display = 'none';
	 }
    
});

$("#exame").on('change', function(e){
     var exame = $(this).val();
     document.getElementById('referencia').value = exame;
});

$("#covid").on('change', function(e){
	if ($(this).is(':checked')) {
    	$(this).attr('value', 'true');
	}
	else {
		$(this).attr('value', 'false');
	}
     var covid = $(this).val();
     document.getElementById('covid2').value = covid;
	 if(covid == 'true'){
		

		 document.getElementById("dataexames").style.display = 'inline';
		 document.getElementById("dataexame").style.display = 'inline';
		 document.getElementById("exame3").style.display = 'inline';
		 document.getElementById("exames").style.display = 'inline';
		 
	 }
	 else{


		document.getElementById("dataexames").style.display = 'none';
		 document.getElementById("dataexame").style.display = 'none';
		 document.getElementById("exame3").style.display = 'none';
		 document.getElementById("exames").style.display = 'none';
	 }
});

function verificaecf(value){
	var input = document.getElementById("spict");
	var label = document.getElementById("spict2");
	
  if(value == 6 || value == 7 || value == 8){
    input.style.display = "inline";
	label.style.display = "inline";
	document.getElementById('paliativos').style.display = 'inline'
	  document.getElementById('paliativo2').style.display = 'inline'
  }else{
    input.style.display = "none";
	label.style.display = "none";
	document.getElementById('paliativos').style.display = 'inline'
	  document.getElementById('paliativo2').style.display = 'inline'
	input.value= "Não aplicado"
  }
  if(value == 9 || value == 10){
	   var paliativo = 'Sim';
	  document.getElementById('paliativos').style.display = 'none'
	  document.getElementById('paliativo2').style.display = 'none'
	  input.value= "Não aplicado"
	  document.getElementById('paliativo').value = paliativo;
  }
};
function verificaidade(value){
	var input = document.getElementById("ecf2");
	var input2 = document.getElementById("ecf3");

  if(value < 60 ){
    input.style.display = "none";
	input2.style.display = "none";
	document.getElementById('ecf').value = 0;
  }else{
    input.style.display = "block";
	input2.style.display = "block";
  }
};
$(document).ready(function(){
      $('#dataexame').mask('00/00/0000');
	 	 
      });

	  function verificapendencia(value){

var label1 = document.getElementById("labelexames");
var input1 = document.getElementById("agenexame");
var input3 = document.getElementById("laudos");
var label2 = document.getElementById("labellaudo");
var input5 = document.getElementById("oxigenio");
var label3 = document.getElementById("labeloxigenio");
var input6 = document.getElementById("casa");
var label4 = document.getElementById("labelcasa");
var input7 = document.getElementById("avespecialista");
var label5 = document.getElementById("labelespecialista");
var label6 = document.getElementById("labelcoleta");
var input9 = document.getElementById("coleta");
var label7 = document.getElementById("labelresultado");
var input10 = document.getElementById("resultadolab");
var label8 = document.getElementById("labeltransferencia");
var input11 = document.getElementById("transferencia");
var label9 = document.getElementById("labelhemo");
var input12 = document.getElementById("hemo");
var campo1 = document.getElementById("agenexames");
var campo2 = document.getElementById("descexame");
var campo3 = document.getElementById("laudo");
var campo4 = document.getElementById("desclaudo");
var campo5 = document.getElementById("oxigenios");
var campo6 = document.getElementById("casas");
var campo7 = document.getElementById("avespecialistas");
var campo8 = document.getElementById("descespecialista");
var campo9 = document.getElementById("coletas");
var campo10 = document.getElementById("resultadolabs");
var campo11 = document.getElementById("transferencias");
var campo12 = document.getElementById("desctransferencia");
var campo13 = document.getElementById("hemos");



if(value == "Sim" ){
input1.style.display = "inline";
input3.style.display = "inline";
input5.style.display = "inline";
input6.style.display = "inline";
input7.style.display = "inline";
input9.style.display = "inline";
input10.style.display = "inline";
input11.style.display = "inline";
input12.style.display = "inline";
label1.style.display = "inline";
label2.style.display = "inline";
label3.style.display = "inline";
label4.style.display = "inline";
label5.style.display = "inline";
label6.style.display = "inline";
label7.style.display = "inline";
label8.style.display = "inline";
label9.style.display = "inline";
campo1.value = "";
campo2.value = "";
campo3.value = "";
campo4.value = "";
campo5.value = "";
campo6.value = "";
campo7.value = "";
campo8.value = "";
campo9.value = "";
campo10.value = "";
campo11.value = "";
campo12.value = "";
campo13.value = "";
}else{
input1.style.display = "none";
input3.style.display = "none";
input5.style.display = "none";
input6.style.display = "none";
input7.style.display = "none";
input9.style.display = "none";
input10.style.display = "none";
input11.style.display = "none";
input12.style.display = "none";
label1.style.display = "none";
label2.style.display = "none";
label3.style.display = "none";
label4.style.display = "none";
label5.style.display = "none";
label6.style.display = "none";
label7.style.display = "none";
label8.style.display = "none";
label9.style.display = "none";
campo1.value = "Não";
campo2.value = "Não";
campo3.value = "Não";
campo4.value = "Não";
campo5.value = "Não";
campo6.value = "Não";
campo7.value = "Não";
campo8.value = "Não";
campo9.value = "Não";
campo10.value = "Não";
campo11.value = "Não";
campo12.value = "Não";
campo13.value = "Não";

}
};

function verificaagendamentoexame(value){
var input2 = document.getElementById("descexame");
var label2 = document.getElementById("labelexamess");
	if(value == "Sim" ){
		input2.style.display = "inline";
		label2.style.display = "inline";
		input2.value = ""
	}
	else{
		input2.style.display = "none";
		label2.style.display = "none";
		input2.value = "Não"
	}
}
function verificalaudoexame(value){
	var input4 = document.getElementById("desclaudo");
	var label4 = document.getElementById("labellaudos");
	if(value == "Sim" ){
		input4.style.display = "inline";
		label4.style.display = "inline";
		input4.value = ""
	}
	else{
		input4.style.display = "none";
		label4.style.display = "none";
		input4.value = "Não"
	}
}
function verificaespecialista(value){
	var input8 = document.getElementById("descespecialista");
	var label8 = document.getElementById("labelespecialistas");
	if(value == "Sim" ){
		input8.style.display = "inline";
		label8.style.display = "inline";
		input8.value = ""
	}
	else{
		input8.style.display = "none";
		label8.style.display = "none";
		input8.value = "Não"
	}
}
function verificatransferencia(value){
	var input13 = document.getElementById("desctransferencia");
	var label13 = document.getElementById("labeltransferencias");
	if(value == "Sim" ){
		input13.style.display = "inline";
		label13.style.display = "inline";
		input13.value = ""
	}
	else{
		input13.style.display = "none";
		label13.style.display = "none";
		input13.value = "Não"
	}
}

window.onload = function() {
  
$("#leitos").on('change', function(e){
     var leito = $(this).val();
     document.getElementById('leito').value = leito;
});

$("#paliativos").on('change', function(e){
     var paliativo = $(this).val();
     document.getElementById('paliativo').value = paliativo;
});

$("#ecf2").on('change', function(e){
     var ecf = $(this).val();
     document.getElementById('ecf').value = ecf;
});

$("#especialidades").on('change', function(e){
     var especialidade = $(this).val();
     document.getElementById('especialidade').value = especialidade;
});

$("#setor").on('change', function(e){
     var setor = $(this).val();
     document.getElementById('setor2').value = setor;
});

$("#banhos").on('change', function(e){
     var banho = $(this).val();
     document.getElementById('banho').value = banho;
});

$("#mobilidades").on('change', function(e){
     var mobilidade = $(this).val();
     document.getElementById('mobilidade').value = mobilidade;
});

		 document.getElementById("labelexames").style.display = 'none';
		 document.getElementById("labelexamess").style.display = 'none';
		 document.getElementById("agenexame").style.display = 'none';
		 document.getElementById("descexame").style.display = 'none';
		 document.getElementById("laudos").style.display = 'none';
		 document.getElementById("labellaudo").style.display = 'none';
		 document.getElementById("labellaudos").style.display = 'none';
		 document.getElementById("desclaudo").style.display = 'none';
		 document.getElementById("oxigenio").style.display = 'none';
		 document.getElementById("labeloxigenio").style.display = 'none';
		 document.getElementById("casa").style.display = 'none';
		 document.getElementById("labelcasa").style.display = 'none';
		 document.getElementById("avespecialista").style.display = 'none';
		 document.getElementById("labelespecialista").style.display = 'none';
		 document.getElementById("labelespecialistas").style.display = 'none';
		 document.getElementById("descespecialista").style.display = 'none';
		 document.getElementById("labelcoleta").style.display = 'none';
		 document.getElementById("coleta").style.display = 'none';
		 document.getElementById("labelresultado").style.display = 'none';
		 document.getElementById("resultadolab").style.display = 'none';
		 document.getElementById("labeltransferencia").style.display = 'none';
		 document.getElementById("labeltransferencias").style.display = 'none';
		 document.getElementById("transferencia").style.display = 'none';
		 document.getElementById("labelhemo").style.display = 'none';
		 document.getElementById("hemo").style.display = 'none';
		 document.getElementById("desctransferencia").style.display = 'none';
		 var pendencia = document.getElementById("pendencias").value;
		verificapendencia(pendencia);
		var transferencia = document.getElementById("desctransferencia").value;
		verificatransferencia(transferencia);
		var agenexame = document.getElementById("descexame").value;
		verificaagendamentoexame(agenexame);
		var laudo = document.getElementById("desclaudo").value;
		verificalaudoexame(laudo);
		var especialista = document.getElementById("descespecialista").value;
		verificaespecialista(especialista);
};
$(function() {
	selectmental = document.getElementById('mental');
    if ($(selectmental).is(':checked')) {
    	$(selectmental).attr('value', 'true');
	}
	else {
		$(selectmental).attr('value', 'false');
	}
	 mental = $(selectmental).val();
	 document.getElementById('mental2').value = mental;
	
	 if(mental == 'true'){
		 document.getElementById("exame").style.display = 'inline';
		 document.getElementById("labelexame").style.display = 'inline';
		 
	 }
	 else{
		document.getElementById("exame").style.display = 'none';
		document.getElementById("labelexame").style.display = 'none';
	 }
    
});
$(function() {
	selectcovid = document.getElementById('covid');
    if ($(selectcovid).is(':checked')) {
    	$(selectcovid).attr('value', 'true');
	}
	else {
		$(selectcovid).attr('value', 'false');
	}
     var covid = $(selectcovid).val();
	
     document.getElementById('covid2').value = covid;
	 if(covid == 'true'){


		 document.getElementById("dataexames").style.display = 'inline';
		 document.getElementById("dataexame").style.display = 'inline';
		 document.getElementById("exame3").style.display = 'inline';
		 document.getElementById("exames").style.display = 'inline';
		 
	 }
	 else{

		document.getElementById("dataexames").style.display = 'none';
		 document.getElementById("dataexame").style.display = 'none';
		 document.getElementById("exame3").style.display = 'none';
		 document.getElementById("exames").style.display = 'none';
	 }
});
</script>
<%- include('../../home/footer'); %>
</body>
</html>