<%- include('../cabecalhokaban'); %>

<div id="mobile" class="container">

<form action="/updatemartins" style="padding-left: 1%; padding-right: 1%;" method="post">
                <h2>Editar paciente Martins</h2> 
                <% if(id.length > 0) { %>
                    <% for(var i = 0; i < id.length; i++) {%>
                    <input type="hidden" name="idusuario" value="<%=id[i].id_usuario %>">     
                    <p hidden id="idunidade">  <%=id[i].unidade %>  
                <div>
					<div class="form-group">
						<label for="susfacil">SusFacil</label>
                        <input type="text" name="susfacil" class="form-control" placeholder="SusFacil" required>
                    </div>
					<div class="form-group">
						<label for="prontuario">Prontuario</label>
                        <input type="text" name="prontuario" class="form-control" placeholder="Prontuario" required>
                    </div>
                    <div class="form-group">
						<label for="paciente">Nome Paciente</label>
                        <input type="text" name="paciente" class="form-control" placeholder="Nome Paciente" required>
                    </div>
					<div class="form-group">
						<label for="dn">Data de Nascimento</label>
                        <input type="date" id="dn" name="dn" class="form-control" placeholder="Data de Nascimento" required>
                    </div>
					<div class="form-group">
						<label for="idade">Idade</label>
                        <input type="text" id="idade" name="idade" class="form-control" placeholder="Idade" required>
                    </div>
					<div class="form-group">
						<label for="da">Data de Admissão</label>
                        <input type="date" id="da" name="da" class="form-control" placeholder="Data de Admissão" required>
                    </div>
					<div class="form-group">
						<label for="qtdi">Quantidade de dias Internados</label>
                        <input type="text" id="qtdi" name="qtdi" class="form-control" placeholder="Quantidade de dias Internados" required>
                    </div>
					<div class="form-group">
						<label for="ECF" id="ecf3">ECF</label>
						<select  onchange="verificaecf(this.value)"  class="form-control" id="ecf2" name="ecf2">
							<option value="" disabled selected hidden>ECF</option>
							<option value="0">Não aplicado</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
						<input type="hidden" id="ecf"  name="ecf" class="form-control" placeholder="ECF">
					</div>
					<div class="form-group">
						<label for="spcit" id="spict2">Spict</label>
                        <input type="text" id="spict" name="spcit" class="form-control" placeholder="Spict">
					</div>
					<div class="form-group">
						<label for="Dispositivo">Dispositivo</label>
						<select class="form-control" onchange="verificadispositivo(this.value)" id="dispositivo2" name="dispositivo2" required>
							<option value="" disabled selected hidden>Dispositivo</option>
							<option value="sim">Sim</option>
							<option value="nao">Não</option>
                        </select>
                        <input type="hidden" name="dispositivo"   id="dispositivo" class="form-control" placeholder="Dispositivo" >
						<div class="form-check">
							<input  type="checkbox" name="dispositivo" id="svd"  class="form-check-input" onClick="check1()" value="svd">
							<label class="form-check-label"  id="svd2" for="Dormonid">SVD</label>
							<input  id="svd3"  type="hidden" name="svd3">
							<label class="form-check-label"  id="datasvd" for="datasvd"> ---  Data SVD</label>
							<input  id="datasvd2"  type="text" name="datasvd">
						</div>
						<div class="form-check">
							<input type="checkbox" name="dispositivo" id="sne"  class="form-check-input" onClick="check1()" value="sne">
							<label class="form-check-label"  id="sne2" for="sne2">SNE</label>
							<input  id="sne3"  type="hidden" name="sne3">
							<label class="form-check-label"  id="datasne" for="datasne"> ---  Data SNE</label>
							<input  id="datasne2"  type="text" name="datasne">
						</div>
						<div class="form-check">
							<input type="checkbox" name="dispositivo" id="avp"  class="form-check-input" onClick="check1()" value="avp">
							<label class="form-check-label"  id="avp2" for="avp2">AVP</label>
							<input  id="avp3"  type="hidden" name="avp3">
							<label class="form-check-label"  id="dataavp" for="dataavp"> ---  Data AVP</label>
							<input  id="dataavp2"  type="text" name="dataavp">
						</div>
						<div class="form-check">
							<input type="checkbox" name="dispositivo" id="cvc"  class="form-check-input" onClick="check1()" value="cvc">
							<label class="form-check-label"  id="cvc2" for="Propofol2">CVC</label>
							<input  id="cvc3"  type="hidden" name="cvc3">
							<label class="form-check-label"  id="datacvc" for="datacvc"> ---  Data CVC</label>
							<input  id="datacvc2"  type="text" name="datacvc">
						</div>
					</div>
					<div class="form-group">
						<label for="leitos">Tipo de leito</label>
                        <select class="form-control" id="leitos" name="leitos" required>
                            <option value="" disabled selected hidden>Leito</option>
							<option value="Enfermaria">Enfermaria</option>
							<option value="Sala de Emergência">Sala de Emergência</option>
                        </select>
                        <input type="hidden" name="leito" id="leito">
					</div>
					<div class="form-group">
						<label for="paliativos" id="paliativo2">Paliativos</label>
                        <select class="form-control" id="paliativos" name="paliativos">
                            <option value="" disabled selected hidden>Paliativo</option>
							<option value="sim">Sim</option>
							<option value="nao">Não</option>
                        </select>
                        <input type="hidden" name="paliativo" id="paliativo">
					</div>
					<div class="form-group">
						<label for="diagnostico">Diagnóstico</label>
                        <input type="text" name="diagnostico" class="form-control" placeholder="Diagnóstico" required>
                    </div>
					<div class="form-group">
						<label for="especialidade">Especialidade</label>
						<select class="form-control" id="especialidades" name="especialidades">
                            <option value="" disabled selected hidden>Especialidade</option>
							<option value="clinica">Clinica</option>
							<option value="traumatologia">Traumatologia</option>
							<option value="pediatria">Pediatria</option>
							<option value="psquiatria">Psquiatria</option>
							<option value="cirurgico">Cirurgico</option>
                        </select> 
                        <input type="hidden" id="especialidade" name="especialidade" class="form-control" placeholder="Especialidade" required>
                    </div>
					<div class="form-group">
						<label for="observacao">Observação</label>
                        <input type="text" name="observacao" class="form-control" placeholder="Observação" required>
                    </div>
					<div class="form-group">
						<label for="banho">Banho</label>
						<select class="form-control" id="banhos" name="banhos">
                            <option value="" disabled selected hidden>Horario Banho</option>
							<option value="manha">Manha</option>
							<option value="tarde">Tarde</option>
							<option value="noite">Noite</option>
                        </select>
                        <input type="hidden" id="banho" name="banho" class="form-control" placeholder="Banho" required>
                    </div>
					<div class="form-group">
						<label for="mobilidade">Mobilidade</label>
						<select class="form-control" id="mobilidades" name="mobilidades">
                            <option value="" disabled selected hidden>Mobilidade</option>
							<option value="acamado">Acamando</option>
							<option value="auxilio">Auxílio</option>
							<option value="aspersao">Aspersão</option>
                        </select>
                        <input type="hidden" id="mobilidade" name="mobilidade" class="form-control" placeholder="Mobilidade" required>
                    </div>
					<div class="form-group">
						<label for="pendencias">Pendencias</label>
                        <input type="text" name="pendencias" class="form-control" placeholder="Pendencias" required>
                    </div>
                </div>
                <div>
                    <a href="kabanpacientemartins?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
                    <button type="submit" class="btn btn-success">Salvar</button>
					<br>
					<br>
					<br>
                </div>
                <% } %>	
                <% } %> 
</form>
</div>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
$(function(){
	$(window).on('resize load', function() {
  if ($(window).width() <= 768) { 
    $("#mobile").removeClass("container");
  }
  else {
    $("#mobile").addClass("container");
  }
});
});

$('#datasvd2').mask('00/00/0000');
$('#datasne2').mask('00/00/0000');
$('#dataavp2').mask('00/00/0000');
$('#datacvc2').mask('00/00/0000');

$("#leitos").on('change', function(e){
     var leito = $(this).val();
     document.getElementById('leito').value = leito;
});

$("#paliativos").on('change', function(e){
     var paliativo = $(this).val();
     document.getElementById('paliativo').value = paliativo;
});

$("#ecf2").on('change', function(e){
     var ecf = $(this).val();
     document.getElementById('ecf').value = ecf;
});

$("#especialidades").on('change', function(e){
     var especialidade = $(this).val();
     document.getElementById('especialidade').value = especialidade;
});

$("#banhos").on('change', function(e){
     var banho = $(this).val();
     document.getElementById('banho').value = banho;
});

$("#mobilidades").on('change', function(e){
     var mobilidade = $(this).val();
     document.getElementById('mobilidade').value = mobilidade;
});

function getAge(birth) {
  const current = new Date()
  let diff = current.getFullYear() - birth.getFullYear()
  if (
    new Date(current.getFullYear(), current.getMonth(), current.getDate()) <
    new Date(current.getFullYear(), birth.getMonth(), birth.getDate())
  )
    diff--
  return diff
}
const birthField = document.querySelector('#dn')
const ageField = document.querySelector('#idade')
birthField.addEventListener('change', (event) => {
  const date = new Date(event.target.value)
  ageField.value = getAge(date) + ' anos'
})

function difDias(dias){
	const current = new Date()
	var timeDiff = Math.abs(current.getTime() - (dias.getTime()));
	var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
	 console.log(diffDays);
	 return diffDays
}
    const daField = document.querySelector('#da')
	const idadeField = document.querySelector('#qtdi')
	daField.addEventListener('change', (event) => {
  	const dias = new Date(event.target.value)
	idadeField.value = difDias(dias) + ' dia'
})

function verificadispositivo(value){
	var input = document.getElementById("svd");
	var input2 = document.getElementById("sne");
	var input3 = document.getElementById("avp");
	var input4 = document.getElementById("cvc");
	var input5 = document.getElementById("svd3");
	var input6 = document.getElementById("sne3");
	var input7 = document.getElementById("avp3");
	var input8 = document.getElementById("cvc3");
	var label = document.getElementById("svd2");
	var label2 = document.getElementById("sne2");
	var label3 = document.getElementById("avp2");
	var label4 = document.getElementById("cvc2");
	var input9 = document.getElementById("datasvd");
	var input10 = document.getElementById("datasne");
	var input11 = document.getElementById("dataavp");
	var input12 = document.getElementById("datacvc");
	var label5 = document.getElementById("datasvd2");
	var label6 = document.getElementById("datasne2");
	var label7 = document.getElementById("datacvc2");
	var label8 = document.getElementById("dataavp2");
	

  if(value == 'nao'){
    input.style.display = "none";
	input2.style.display = "none";
	input3.style.display = "none";
	input4.style.display = "none";
	label.style.display = "none";
	label2.style.display = "none";
	label3.style.display = "none";
	label4.style.display = "none";
	input5.value = "Não Aplicado"
	input6.value = "Não Aplicado"
	input7.value = "Não Aplicado"
	input8.value = "Não Aplicado"
	input9.value = "Não Aplicado"
	input10.value = "Não Aplicado"
	input11.value = "Não Aplicado"
	input12.value = "Não Aplicado"
	input9.style.display = "none"
	input10.style.display = "none"
	input11.style.display = "none"
	input12.style.display = "none"
	label5.style.display = "none";
	label6.style.display = "none";
	label7.style.display = "none";
	label8.style.display = "none";
	
  }else if(value == 'sim'){
    input.style.display = "inline";
	input2.style.display = "inline";
	input3.style.display = "inline";
	input4.style.display = "inline";
	label.style.display = "inline";
	label2.style.display = "inline";
	label3.style.display = "inline";
	label4.style.display = "inline";
  }
};
function verificaecf(value){
	var input = document.getElementById("spict");
	var label = document.getElementById("spict2");
	
  if(value == 6 || value == 7 || value == 8){
    input.style.display = "inline";
	label.style.display = "inline";
	document.getElementById('paliativos').style.display = 'inline'
	  document.getElementById('paliativo2').style.display = 'inline'
  }else{
    input.style.display = "none";
	label.style.display = "none";
	document.getElementById('paliativos').style.display = 'inline'
	  document.getElementById('paliativo2').style.display = 'inline'
	input.value= "Não aplicado"
  }
  if(value == 9 || value == 10){
	  var paliativo = 'sim';
	  document.getElementById('paliativos').style.display = 'none'
	  document.getElementById('paliativo2').style.display = 'none'
	  input.value= "Não aplicado"
	  document.getElementById('paliativo').value = paliativo;
  }
};
function verificaidade(value){
	var input = document.getElementById("ecf2");
	var input2 = document.getElementById("ecf3");

  if(value < 60 ){
    input.style.display = "none";
	input2.style.display = "none";
	document.getElementById('ecf').value = 0;
  }else{
    input.style.display = "block";
	input2.style.display = "block";
  }
};

window.onload = function() {
  document.getElementById('svd').style.display = 'none';
  document.getElementById('svd2').style.display = 'none';
  document.getElementById('sne').style.display = 'none';
  document.getElementById('sne2').style.display = 'none';
  document.getElementById('avp').style.display = 'none';
  document.getElementById('avp2').style.display = 'none';
  document.getElementById('cvc').style.display = 'none';
  document.getElementById('cvc2').style.display = 'none';
  document.getElementById('spict').style.display = 'none';
  document.getElementById('spict2').style.display = 'none';
  document.getElementById('datasvd').style.display = 'none';
  document.getElementById('datasvd2').style.display = 'none';
  document.getElementById('datasne').style.display = 'none';
  document.getElementById('datasne2').style.display = 'none';
  document.getElementById('dataavp').style.display = 'none';
  document.getElementById('dataavp2').style.display = 'none';
  document.getElementById('datacvc').style.display = 'none';
  document.getElementById('datacvc2').style.display = 'none';
  
};

function check1(){

	var input9 = document.getElementById("datasvd");
	var input10 = document.getElementById("datasne");
	var input11 = document.getElementById("dataavp");
	var input12 = document.getElementById("datacvc");
	var label5 = document.getElementById("datasvd2");
	var label6 = document.getElementById("datasne2");
	var label7 = document.getElementById("datacvc2");
	var label8 = document.getElementById("dataavp2");

var pacote = document.getElementsByName('dispositivo');
  for (var i = 0; i < pacote.length; i++){
	  if ( pacote[i].checked ) {
		  if(pacote[i].value == "svd"){
			input9.style.display = "inline"
			label5.style.display = "inline";
			  var Pacote_i = "SVD";
			  document.getElementById('svd3').value = Pacote_i;
		  }else if (pacote[i].value == "sne") {
			input10.style.display = "inline"
			label6.style.display = "inline";
			  var Pacote_ii = "SNE";
			  document.getElementById('sne3').value = Pacote_ii;
		  }else if (pacote[i].value == "avp") {
			input11.style.display = "inline"
			label8.style.display = "inline";
			  var Pacote_iii = "AVP";
			  document.getElementById('avp3').value = Pacote_iii;
		  }else if (pacote[i].value == "cvc") {
			input12.style.display = "inline"
			label7.style.display = "inline";
			  var Pacote_iiii = "CVC";
			  document.getElementById('cvc3').value = Pacote_iiii;
		  }
		}
  	}
	 
	 var estado = false;
	for (var i = 0; i < pacote.length; i++) {
		if ( pacote[i].checked == estado ) {
		  if(pacote[i].value == "svd"){
			input9.style.display = "none"
			label5.style.display = "none";
			input9.value = "Não Aplicado"
			  var Pacote_i = "Não Aplicado";
			  document.getElementById('svd3').value = Pacote_i;
		  }else if (pacote[i].value == "sne") {
			input10.style.display = "none"
			label6.style.display = "none";
			input10.value = "Não Aplicado"
			  var Pacote_ii = "Não Aplicado";
			  document.getElementById('sne3').value = Pacote_ii;
		  }else if (pacote[i].value == "avp") {
			input11.style.display = "none"
			label8.style.display = "none";
			input11.value = "Não Aplicado"
			  var Pacote_iii = "Não Aplicado";
			  document.getElementById('avp3').value = Pacote_iii;
		  }else if (pacote[i].value == "cvc") {
			input12.style.display = "none"
			label7.style.display = "none";
			input12.value = "Não Aplicado"
			  var Pacote_iiii = "Não Aplicado";
			  document.getElementById('cvc3').value = Pacote_iiii;
		  }
		}
	}
}
</script>
<%- include('../../home/footer'); %>
</body>
</html>