<%- include('../cabecalhomentalurgencia'); %>
<div class="container">


        <% if(id.length > 0) { %>
            <% for(var i = 0; i < id.length; i++) {%>
       
                <h2>Pacientes</h2>
				<input id="usuario" name="usuario" type="hidden" value="<%=id[i].id_usuario %>">
                <table class="table table-striped" id="mytable">
					<input id="usuario" name="usuario" type="hidden" value="<%=id[i].id_usuario %>">
					
                    <thead>
                    <tr>
						<th hidden>id</th>
                        <th>Prontuario</th>
                        <th>Nome</th>
                        <th>Idade</th>
                        <th>Diagnóstico</th>
                        <th>Unidade de Referência</th>
                        <th></th>
                    </tr>
					</thead>
                    <tbody>    
						<% if(mental.length > 0) { %>
							<% for(var j = 0; j < mental.length; j++) {%>
								
                        <tr>
							<td hidden><%=mental[j].id_paciente %></td>
                            <th><%=mental[j].prt %></th>
                            <td><%=mental[j].paciente %></td>
                            <td><%=mental[j].idade %></td>
                            <td><%=mental[j].diagnostico %></td>
                            <td><%=mental[j].referencia %></td>
                            <td>
                                <a href="" onclick="setaDadosModal('<%=mental[j].id_paciente %>'), setaDadosModal2('<%=id[i].id_usuario %>')" class="btn btn-sm btn-danger delete"  data-toggle="modal" data-target="#BaixaModal">Saida</a>
                            </td>
						</tr>
						<% } %>	
						<% } %>
                    </tbody>
				</table>
                <br>
                <br>
                <br>
        
                

              <!-- Delete Product Modal-->
              <form id="add-row-form" action="/baixamentalroosevelt" method="POST">
                <div class="modal fade" id="BaixaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="myModalLabel">Baixa Paciente</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <select  class="form-control"   id="baixaselect" name="baixaselect">
                                    <option value=""></option>
                                    <option value="Urgência anexo">Urgência anexo</option>
                                    <option value="Urgência UFU">Urgência UFU</option>
                                    <option value="Evasão">Evasão</option>
                                    <option value="CAPS ad">CAPS ad</option>
                                    <option value="CAPS i">CAPS i</option>
                                    <option value="CAPS Norte">CAPS Norte</option>
                                    <option value="CAPS Leste">CAPS Leste</option>
                                    <option value="CAPS infanto juvenil">CAPS infanto juvenil</option>
                                </select>
                                <br>
                                <input type="hidden" name="campo" id="campo">
								<input type="hidden" name="campo2" id="campo2">
                                <input type="hidden" name="baixa" id="baixa">
                              </div>
                              <input  type="hidden" name="covid" id="covid">
                              <input  type="hidden" id="data" name="data"  class="form-control">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn btn-success">Destino</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        <% } %>	
            <% } %>
        </div>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.2/js/dataTables.select.min.js" ></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.bootstrap4.min.js"></script>
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<%- include('../../home/footer'); %>
</body>
</html>
<script>
$(document).ready(function() {
    $('#mytable').DataTable( {
        dom: 'Bfrtip',
        order: ([ 2, 'asc']),
        pageLength: 50,
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'pdfHtml5',
            'print'
        ],
        select: true
    } );
} );

function setaDadosModal(valor) {
    document.getElementById('campo').value = valor;
}

function setaDadosModal2(valor) {
    document.getElementById('campo2').value = valor;
}
$("#baixaselect").on('change', function(e){
    var baixa = $(this).val();
    document.getElementById('baixa').value = baixa;
});
function novaHora(){
	var date = new Date();
		var data = date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear();
		document.getElementById('data').value = data;
	
}
novaHora();
</script>