<%- include('../cabecalhokaban'); %>
<div id="mobile" class="container">
<% if(id.length > 0) { %>
    <% for(var i = 0; i < id.length; i++) {%>
		<form action="/updateexameroosevelt" style="padding-left: 1%; padding-right: 1%;" method="post">
			<input type="hidden" name="idusuario" value="<%=id[i].id_usuario %>"> 
		<% if(evento.length > 0) { %>
			<% for(var j = 0; j < evento.length; j++) {%>
		
			<div tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				 aria-hidden="true">
				<div  role="document">
					<div >
						<div >
							<h5  id="exampleModalLabel">Editar Exames Roosevelt</h5>
						</div>
						<div>
							<div class="form-group">
								<input type="hidden" name="idevento" class="form-control" value="<%=evento[j].idevento %>" >
							</div>
							<div class="form-group">
								<label for="">Nome Paciente</label>
								<input type="text" name="paciente" class="form-control" value="<%=evento[j].paciente %>" >
							</div>
							<div class="form-group">
								<label for="">Descrição Exame</label>
								<input type="text" name="title" class="form-control" value="<%=evento[j].title %>" >
							</div>
							<div class="form-group">
								<label for="">Data</label>
								<input  type="text" id="data" name="data"  class="form-control" placeholder="Digite a data novamento">
							</div>
							<div class="form-group">
								<label for="">Hora</label>
								<input  type="text" id="hora" name="hora"  class="form-control" placeholder="Digite o horario novamente">
							</div>
							<input  type="hidden" id="dataformatada" name="dataformatada"  class="form-control">
							<% } %>	
							<% } %> 				
						</div>
						<div>
							<a href="/kabanpacienteroosevelt?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
							<button type="submit" class="btn btn-success">Salvar</button>
							<br>
							<br>
							<br>
						</div>
					
						<% } %>	
						<% } %> 
						 
		</form>
		</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
		<script>
	
	$(document).ready(function(){
		  $('#data').mask('00/00/0000');
		  $('#hora').mask('00:00');
		  });
	$("#hora").on('change', function(e){
		const input = document.getElementById('data').value;
		const datas = input.replace(/(\d{1,2})\/(\d{1,2})\/(\d{4})/, '$3-$2-$1');

		const inputs = document.getElementById('hora').value;
		const horas = inputs.replace(/(\d{1,2})\/(\d{1,2})/, '$1:$2');

		let dataformatada = datas + ' ' + horas;
		document.getElementById('dataformatada').value = dataformatada;
	});
			
	
		</script>