<%- include('../cabecalhokaban'); %>

<div id="mobile" class="container">

<form action="/updatekabanluizote" style="padding-left: 1%; padding-right: 1%;" method="post">
				<% if(id.length > 0) { %>
					<% for(var i = 0; i < id.length; i++) {%>            
				<h2>Editar Paciente Luizote</h2> 
				<% if(paciente.length > 0) { %>
					<% for(var j = 0; j < paciente.length; j++) {%>
                    <input type="hidden" name="idusuario" value="<%=id[i].id_usuario %>">     
                    <p hidden id="idunidade">  <%=id[i].unidade %>  
                <div>
					<div class="form-group">
                        <input type="hidden" name="idpaciente" class="form-control" value="<%=paciente[j].idpaciente %>" required>
                    </div>
					<div class="form-group">
						<label for="susfacil">SusFacil</label>
                        <input type="text" name="susfacil" class="form-control" value="<%=paciente[j].susfacil %>" required>
                    </div>
					<div class="form-group">
						<label for="prontuario">Prontuario</label>
                        <input type="text" name="prontuario" class="form-control" value="<%=paciente[j].prt %>" required>
                    </div>
                    <div class="form-group">
						<label for="paciente">Nome Paciente</label>
                        <input type="text" name="paciente" class="form-control" value="<%=paciente[j].nome %>" required>
                    </div>
					<div class="form-group">
						<label for="dn">Data de Nascimento</label>
                        <input type="date" id="dn" name="dn" class="form-control" value="<%=paciente[j].datanascimento %>" required>
                    </div>
					<div class="form-group">
						<label for="idade">Idade</label>
                        <input readonly="readonly" type="text" id="idade" name="idade" class="form-control" value="<%=paciente[j].idade %>" required>
                    </div>
					<div class="form-group">
						<label for="da">Data de Admissão</label>
                        <input type="date" id="da" name="da" class="form-control" value="<%=paciente[j].dataentrada %>" required>
                    </div>
					<div class="form-group">
						<label for="qtdi">Quantidade de dias Internados</label>
                        <input readonly="readonly" type="text" id="qtdi" name="qtdi" class="form-control" value="<%=paciente[j].qtddiasinternados %>" required>
                    </div>
					<div class="form-group">
						<label for="ECF" id="ecf3">ECF</label>
						<select  onchange="verificaecf(this.value)"  class="form-control" id="ecf2" name="ecf2">
							<option value="" disabled selected hidden>ECF</option>
							<option value="0" <%=(paciente[j].ECF == '0')?'selected':''%>>Não aplicado</option>
							<option value="1" <%=(paciente[j].ECF == '1')?'selected':''%>>1</option>
							<option value="2" <%=(paciente[j].ECF == '2')?'selected':''%>>2</option>
							<option value="3" <%=(paciente[j].ECF == '3')?'selected':''%>>3</option>
							<option value="4" <%=(paciente[j].ECF == '4')?'selected':''%>>4</option>
							<option value="5" <%=(paciente[j].ECF == '5')?'selected':''%>>5</option>
							<option value="6" <%=(paciente[j].ECF == '6')?'selected':''%>>6</option>
							<option value="7" <%=(paciente[j].ECF == '7')?'selected':''%>>7</option>
							<option value="8" <%=(paciente[j].ECF == '8')?'selected':''%>>8</option>
							<option value="9" <%=(paciente[j].ECF == '9')?'selected':''%>>9</option>
							<option value="10"<%=(paciente[j].ECF == '10')?'selected':''%>>10</option>
						</select>
						<input type="hidden" id="ecf"  name="ecf" class="form-control"  value="<%=paciente[j].ECF %>">
					</div>
					<div class="form-group">
						<label for="spcit" id="spict2">Spict</label>
                        <input type="text" id="spict" name="spcit" class="form-control" value="<%=paciente[j].spict %>">
					</div>
					<div class="form-group">
						<label for="setor">Setor</label>
                        <select class="form-control" id="setor" name="setor">
                            <option value="" disabled selected hidden>Setor</option>
							<option value="Enfermaria" <%=(paciente[j].setor == 'Enfermaria')?'selected':''%>>Enfermaria</option>
							<option value="Sala de Emergência" <%=(paciente[j].setor == 'Sala de Emergência')?'selected':''%>>Sala de Emergência</option>
							<option value="Observação" <%=(paciente[j].setor == 'Observação')?'selected':''%>>Observação</option>
                        </select>
                        <input type="hidden" name="setor2" id="setor2">
					</div>
					<div class="form-group">
						<label for="paliativos" id="paliativo2">Paliativos</label>
                        <select class="form-control" id="paliativos" name="paliativos">
                            <option value="" disabled selected hidden>Paliativo</option>
							<option value="sim" <%=(paciente[j].paliativo == 'sim')?'selected':''%> >Sim</option>
							<option value="nao" <%=(paciente[j].paliativo == 'nao')?'selected':''%>>Não</option>
                        </select>
                        <input type="hidden" name="paliativo" id="paliativo"  value="<%=paciente[j].paliativo %>">
					</div>
					<div class="form-group">
						<label for="diagnostico">Diagnóstico</label>
                        <input type="text" name="diagnostico" class="form-control" value="<%=paciente[j].diagnostico %>" required>
                    </div>
					<div class="form-group">
						<label for="especialidade">Especialidade</label>
						<select class="form-control" id="especialidades" name="especialidades">
                            <option value="" disabled selected hidden>Especialidade</option>
							<option value="clinica" <%=(paciente[j].especialidade == 'clinica')?'selected':''%>>Clinica</option>
							<option value="traumatologia" <%=(paciente[j].especialidade == 'traumatologia')?'selected':''%>>Traumatologia</option>
							<option value="pediatria" <%=(paciente[j].especialidade == 'pediatria')?'selected':''%>>Pediatria</option>
							<option value="psquiatria" <%=(paciente[j].especialidade == 'psquiatria')?'selected':''%>>Psquiatria</option>
							<option value="cirurgico" <%=(paciente[j].especialidade == 'cirurgico')?'selected':''%>>Cirurgico</option>
                        </select> 
                        <input type="hidden" id="especialidade" name="especialidade" class="form-control"  value="<%=paciente[j].especialidade %>" required>
                    </div>
					<div class="form-group">
						<label for="observacao">Observação</label>
                        <input type="text" name="observacao" class="form-control" value="<%=paciente[j].observacao %>" required>
                    </div>
					<div class="form-group">
						<label for="banho">Banho</label>
						<select class="form-control" id="banhos" name="banhos">
                            <option value="" disabled selected hidden>Horario Banho</option>
							<option value="manha" <%=(paciente[j].banho == 'manha')?'selected':''%>>Manha</option>
							<option value="tarde" <%=(paciente[j].banho == 'tarde')?'selected':''%>>Tarde</option>
							<option value="noite" <%=(paciente[j].banho == 'noite')?'selected':''%>>Noite</option>
                        </select>
                        <input type="hidden" id="banho" name="banho" class="form-control"  value="<%=paciente[j].banho %>" required>
                    </div>
					<div class="form-group">
						<label for="mobilidade">Mobilidade</label>
						<select class="form-control" id="mobilidades" name="mobilidades">
                            <option value="" disabled selected hidden>Mobilidade</option>
							<option value="acamado" <%=(paciente[j].mobilidade == 'acamado')?'selected':''%>>Acamando</option>
							<option value="auxilio" <%=(paciente[j].mobilidade == 'auxilio')?'selected':''%>>Auxílio</option>
							<option value="aspersao" <%=(paciente[j].mobilidade == 'aspersao')?'selected':''%>>Aspersão</option>
                        </select>
                        <input type="hidden" id="mobilidade" name="mobilidade" class="form-control"  value="<%=paciente[j].mobilidade %>" required>
                    </div>
					<div class="form-group">
						<label for="pendencias">Pendencias</label>
                        <input type="text" name="pendencias" class="form-control" value="<%=paciente[j].pendencias %>" required>
                    </div>
                </div>
                <div>
                    <a href="/kabanpacienteluizote?id=<%=id[i].id_usuario %>" class="btn btn-md btn-info edit">Voltar</a>
                    <button type="submit" class="btn btn-success">Salvar</button>
					<br>
					<br>
					<br>
                </div>
                <% } %>	
                <% } %> 
				<% } %>	
                <% } %> 
</form>
</div>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
$(function(){
	$(window).on('resize load', function() {
  if ($(window).width() <= 768) { 
    $("#mobile").removeClass("container");
  }
  else {
    $("#mobile").addClass("container");
  }
});
});

$('#datasvd2').mask('00/00/0000');
$('#datasne2').mask('00/00/0000');
$('#dataavp2').mask('00/00/0000');
$('#datacvc2').mask('00/00/0000');

$("#paliativos").on('change', function(e){
     var paliativo = $(this).val();
     document.getElementById('paliativo').value = paliativo;
});

$("#ecf2").on('change', function(e){
     var ecf = $(this).val();
     document.getElementById('ecf').value = ecf;
});

$("#especialidades").on('change', function(e){
     var especialidade = $(this).val();
     document.getElementById('especialidade').value = especialidade;
});

$("#banhos").on('change', function(e){
     var banho = $(this).val();
     document.getElementById('banho').value = banho;
});

$("#setor").on('change', function(e){
     var setor = $(this).val();
     document.getElementById('setor2').value = setor;
});

$("#mobilidades").on('change', function(e){
     var mobilidade = $(this).val();
     document.getElementById('mobilidade').value = mobilidade;
});

function getAge(birth) {
  const current = new Date()
  let diff = current.getFullYear() - birth.getFullYear()
  if (
    new Date(current.getFullYear(), current.getMonth(), current.getDate()) <
    new Date(current.getFullYear(), birth.getMonth(), birth.getDate())
  )
    diff--
  return diff
}
const birthField = document.querySelector('#dn')
const ageField = document.querySelector('#idade')
birthField.addEventListener('change', (event) => {
  const date = new Date(event.target.value)
  ageField.value = getAge(date) + ' anos'
})

function difDias(dias){
	const current = new Date()
	var timeDiff = Math.abs(current.getTime() - (dias.getTime()));
	var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
	 console.log(diffDays);
	 return diffDays
}
    const daField = document.querySelector('#da')
	const idadeField = document.querySelector('#qtdi')
	daField.addEventListener('change', (event) => {
  	const dias = new Date(event.target.value)
	idadeField.value = difDias(dias) + ' dia'
})

function verificadispositivo(value){
	var input = document.getElementById("svd");
	var input2 = document.getElementById("sne");
	var input3 = document.getElementById("avp");
	var input4 = document.getElementById("cvc");
	var input5 = document.getElementById("svd3");
	var input6 = document.getElementById("sne3");
	var input7 = document.getElementById("avp3");
	var input8 = document.getElementById("cvc3");
	var label = document.getElementById("svd2");
	var label2 = document.getElementById("sne2");
	var label3 = document.getElementById("avp2");
	var label4 = document.getElementById("cvc2");
	var input9 = document.getElementById("datasvd");
	var input10 = document.getElementById("datasne");
	var input11 = document.getElementById("dataavp");
	var input12 = document.getElementById("datacvc");
	var label5 = document.getElementById("datasvd2");
	var label6 = document.getElementById("datasne2");
	var label7 = document.getElementById("datacvc2");
	var label8 = document.getElementById("dataavp2");
	

  if(value == 'nao'){
    input.style.display = "none";
	input2.style.display = "none";
	input3.style.display = "none";
	input4.style.display = "none";
	label.style.display = "none";
	label2.style.display = "none";
	label3.style.display = "none";
	label4.style.display = "none";
	input5.value = "Não Aplicado"
	input6.value = "Não Aplicado"
	input7.value = "Não Aplicado"
	input8.value = "Não Aplicado"
	input9.value = "Não Aplicado"
	input10.value = "Não Aplicado"
	input11.value = "Não Aplicado"
	input12.value = "Não Aplicado"
	input9.style.display = "none"
	input10.style.display = "none"
	input11.style.display = "none"
	input12.style.display = "none"
	label5.style.display = "none";
	label6.style.display = "none";
	label7.style.display = "none";
	label8.style.display = "none";
	
  }else if(value == 'sim'){
    input.style.display = "inline";
	input2.style.display = "inline";
	input3.style.display = "inline";
	input4.style.display = "inline";
	label.style.display = "inline";
	label2.style.display = "inline";
	label3.style.display = "inline";
	label4.style.display = "inline";
  }
};
function verificaecf(value){
	var input = document.getElementById("spict");
	var label = document.getElementById("spict2");
	
  if(value == 6 || value == 7 || value == 8){
    input.style.display = "inline";
	label.style.display = "inline";
	document.getElementById('paliativos').style.display = 'inline'
	  document.getElementById('paliativo2').style.display = 'inline'
  }else{
    input.style.display = "none";
	label.style.display = "none";
	document.getElementById('paliativos').style.display = 'inline'
	  document.getElementById('paliativo2').style.display = 'inline'
	input.value= "Não aplicado"
  }
  if(value == 9 || value == 10){
	  var paliativo = 'sim';
	  document.getElementById('paliativos').style.display = 'none'
	  document.getElementById('paliativo2').style.display = 'none'
	  input.value= "Não aplicado"
	  document.getElementById('paliativo').value = paliativo;
  }
};
function verificaidade(value){
	var input = document.getElementById("ecf2");
	var input2 = document.getElementById("ecf3");

  if(value < 60 ){
    input.style.display = "none";
	input2.style.display = "none";
	document.getElementById('ecf').value = 0;
  }else{
    input.style.display = "block";
	input2.style.display = "block";
  }
};

window.onload = function() {
  document.getElementById('svd').style.display = 'none';
  document.getElementById('svd2').style.display = 'none';
  document.getElementById('sne').style.display = 'none';
  document.getElementById('sne2').style.display = 'none';
  document.getElementById('avp').style.display = 'none';
  document.getElementById('avp2').style.display = 'none';
  document.getElementById('cvc').style.display = 'none';
  document.getElementById('cvc2').style.display = 'none';
  document.getElementById('spict').style.display = 'none';
  document.getElementById('spict2').style.display = 'none';
  document.getElementById('datasvd').style.display = 'none';
  document.getElementById('datasvd2').style.display = 'none';
  document.getElementById('datasne').style.display = 'none';
  document.getElementById('datasne2').style.display = 'none';
  document.getElementById('dataavp').style.display = 'none';
  document.getElementById('dataavp2').style.display = 'none';
  document.getElementById('datacvc').style.display = 'none';
  document.getElementById('datacvc2').style.display = 'none';
  
$("#leitos").on('change', function(e){
     var leito = $(this).val();
     document.getElementById('leito').value = leito;
});

$("#paliativos").on('change', function(e){
     var paliativo = $(this).val();
     document.getElementById('paliativo').value = paliativo;
});

$("#ecf2").on('change', function(e){
     var ecf = $(this).val();
     document.getElementById('ecf').value = ecf;
});

$("#especialidades").on('change', function(e){
     var especialidade = $(this).val();
     document.getElementById('especialidade').value = especialidade;
});

$("#setor").on('change', function(e){
     var setor = $(this).val();
     document.getElementById('setor2').value = setor;
});

$("#banhos").on('change', function(e){
     var banho = $(this).val();
     document.getElementById('banho').value = banho;
});

$("#mobilidades").on('change', function(e){
     var mobilidade = $(this).val();
     document.getElementById('mobilidade').value = mobilidade;
});
};

function check1(){

	var input9 = document.getElementById("datasvd");
	var input10 = document.getElementById("datasne");
	var input11 = document.getElementById("dataavp");
	var input12 = document.getElementById("datacvc");
	var label5 = document.getElementById("datasvd2");
	var label6 = document.getElementById("datasne2");
	var label7 = document.getElementById("datacvc2");
	var label8 = document.getElementById("dataavp2");

var pacote = document.getElementsByName('dispositivo');
  for (var i = 0; i < pacote.length; i++){
	  if ( pacote[i].checked ) {
		  if(pacote[i].value == "svd"){
			input9.style.display = "inline"
			label5.style.display = "inline";
			  var Pacote_i = "SVD";
			  document.getElementById('svd3').value = Pacote_i;
		  }else if (pacote[i].value == "sne") {
			input10.style.display = "inline"
			label6.style.display = "inline";
			  var Pacote_ii = "SNE";
			  document.getElementById('sne3').value = Pacote_ii;
		  }else if (pacote[i].value == "avp") {
			input11.style.display = "inline"
			label8.style.display = "inline";
			  var Pacote_iii = "AVP";
			  document.getElementById('avp3').value = Pacote_iii;
		  }else if (pacote[i].value == "cvc") {
			input12.style.display = "inline"
			label7.style.display = "inline";
			  var Pacote_iiii = "CVC";
			  document.getElementById('cvc3').value = Pacote_iiii;
		  }
		}
  	}
	 
	 var estado = false;
	for (var i = 0; i < pacote.length; i++) {
		if ( pacote[i].checked == estado ) {
		  if(pacote[i].value == "svd"){
			input9.style.display = "none"
			label5.style.display = "none";
			input9.value = "Não Aplicado"
			  var Pacote_i = "Não Aplicado";
			  document.getElementById('svd3').value = Pacote_i;
		  }else if (pacote[i].value == "sne") {
			input10.style.display = "none"
			label6.style.display = "none";
			input10.value = "Não Aplicado"
			  var Pacote_ii = "Não Aplicado";
			  document.getElementById('sne3').value = Pacote_ii;
		  }else if (pacote[i].value == "avp") {
			input11.style.display = "none"
			label8.style.display = "none";
			input11.value = "Não Aplicado"
			  var Pacote_iii = "Não Aplicado";
			  document.getElementById('avp3').value = Pacote_iii;
		  }else if (pacote[i].value == "cvc") {
			input12.style.display = "none"
			label7.style.display = "none";
			input12.value = "Não Aplicado"
			  var Pacote_iiii = "Não Aplicado";
			  document.getElementById('cvc3').value = Pacote_iiii;
		  }
		}
	}
}
</script>
<%- include('../../home/footer'); %>
</body>
</html>