<%- include('../cabecalhokaban'); %>
    <h2>Info UAI Luizote</h2>
    
        <% if(id.length > 0) { %>
            <% for(var i = 0; i < id.length; i++) {%>
                <input name="usuario" type="hidden" id="usuario" value="<%=id[i].id_usuario %>">
                <table class="table table-bordered" style="width: 100%;" id="mytable">
                    <thead>
                        <tr>
                            <th style="width:110px">Quantidades</th>
                            <th style="width:50px">QTD</th>
                        </tr>
                    </thead>
                    <tbody>  
                        <% if(inter.length > 0) { %>
                            <% for(var a = 0; a < inter.length; a++) {%>
                        <tr> 
                            <td style="width:110px">Quantidade de pacientes Internados no dia</td>
                            <td style="width:50px" id="int"><%=inter[a].Inernação %></td>   
                        </tr>
                        <% } %>	
                        <% } %>
                        <% if(clinico.length > 0) { %>
                            <% for(var b = 0; b < clinico.length; b++) {%>
                        <tr> 
                            <td style="width:110px">Quantidade de pacientes Clinicos</td>
                            <td style="width:50px"><%=clinico[b].Clinica %></td>   
                        </tr>
                        <% } %>	
                        <% } %>
                        <% if(tto.length > 0) { %>
                            <% for(var c = 0; c < tto.length; c++) {%>
                        <tr> 
                            <td style="width:110px">Quantidade de pacientes Traumatologia</td>
                            <td style="width:50px" id="cli"><%=tto[c].Traumatologia %></td>   
                        </tr>
                        <% } %>	
                        <% } %>
                        <% if(psq.length > 0) { %>
                            <% for(var d = 0; d < psq.length; d++) {%>
                        <tr> 
                            <td style="width:110px">Quantidade de pacientes Psquiatria</td>
                            <td style="width:50px"><%=psq[d].Psquiatria %></td>   
                        </tr>
                        <% } %>	
                        <% } %>
                        <% if(ped.length > 0) { %>
                            <% for(var e = 0; e < ped.length; e++) {%>
                        <tr> 
                            <td style="width:110px">Quantidade de pacientes pediatria</td>
                            <td style="width:50px"><%=ped[e].Pediatria %></td>   
                        </tr>
                        <% } %>	
                        <% } %>
                        <% if(cirur.length > 0) { %>
                            <% for(var f = 0; f < cirur.length; f++) {%>
                        <tr> 
                            <td style="width:110px">Quantidade de pacientes Cirurgico</td>
                            <td style="width:50px"><%=cirur[f].Cirurgico %></td>   
                        </tr>
                        <% } %>	
                        <% } %>
                        <% if(obser.length > 0) { %>
                            <% for(var g = 0; g < obser.length; g++) {%>
                        <tr> 
                            <td style="width:110px">Quantidade de pacientes em Observaçao</td>
                            <td style="width:50px"><%=obser[g].Observação %></td>   
                        </tr>
                        <% } %>	
                        <% } %>
                        <% if(evasao.length > 0) { %>
                            <% for(var h = 0; h < evasao.length; h++) {%>
                        <tr> 
                            <td style="width:110px">Quantidade de Evasão</td>
                            <td style="width:50px"><%=evasao[h].Evasão %></td>   
                        </tr>
                        <% } %>	
                        <% } %>
                        <% if(alta.length > 0) { %>
                            <% for(var k = 0; k < alta.length; k++) {%>
                        <tr> 
                            <td style="width:110px">Quantidade de Altas</td>
                            <td style="width:50px"><%=alta[k].Altas %></td>   
                        </tr>
                        <% } %>	
                        <% } %>
                        <% if(obito.length > 0) { %>
                            <% for(var l = 0; l < obito.length; l++) {%>
                        <tr> 
                            <td style="width:110px">Quantidade de Obitos</td>
                            <td style="width:50px"><%=obito[l].Obitos %></td>   
                        </tr>
                        <% } %>	
                        <% } %>
                        <% if(transf.length > 0) { %>
                            <% for(var m = 0; m < transf.length; m++) {%>
                        <tr> 
                            <td style="width:110px">Quantidade de Transferência</td>
                            <td style="width:50px"><%=transf[m].Transferência %></td>   
                        </tr>
                        <% } %>	
                        <% } %>
                    </tbody>
                </table>
       
        <% } %>	
                <% } %>
<!-- Importando o jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.2/js/dataTables.select.min.js" ></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>

<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $('#mytable').DataTable( {
            dom: 'Bfrtip',
            "scrollX": true,
            fixedHeader: true,
        pageLength: 50,
        buttons: [       
            {
                "extend": "copyHtml5",
                "text": "COPIAR",
                header: false
            },          
            {
                "extend": "pdf",
                "text": "PDF",
                header: false
            },
            {
                "extend": "excelHtml5",
                "text": "EXCEL",
                header: false
            },
            {
                "extend": "print",
                "text": "IMPRIMIR",
                header: false
            }
        ],language: {
            buttons: {
                copyTitle: 'Copiado para área de transferência',
                copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                copySuccess: {
                    _: '%d linhas copiadas',
                    1: '1 linha copiada'
                }
            },
            "paginate": {
                "previous": "Anterior",
                "next": "Próximo"
            },
            "search": "Pesquisar:"
        },
        select: true
    } );
} );


    </script>
</body>
</html>
