<%- include('../cabecalhokaban'); %>
<% if(id.length > 0) { %>
    <% for(var i = 0; i < id.length; i++) {%>
    <h2>Central leito UAI São Jorge</h2>
    <a href="kabanpacientesaojorge?id=<%=id[i].id_usuario %>"><button class="btn btn-success"  >Voltar Paciente</button></a>
        <br>
        <br>
      
        <table class="table table-striped" style="width: 100%;" id="mytable">
            <input name="usuario" type="hidden" id="usuario" value="<%=id[i].id_usuario %>">
            <thead>
                <tr>

                    <th>ID</th>
                   
                    <th>Paciente</th>
                   
                    <th>Setor</th>
                   
                    <th>Leito</th>

                    <th>Acomodação</th>
                  
                </tr>
            </thead>
            <tbody>   
                <% if(leito.length > 0) { %>
                    <% for(var j = 0; j < leito.length; j++) {%>
                <tr>

                    <td><%=leito[j].idpaciente %></td>
                   
                    <td><%=leito[j].nome %></td>
                   
                    <td><%=leito[j].setor %></td>    
                    
                    <td><%=leito[j].leito %></td>   

                    <td><%=leito[j].acomodacao %></td>   
                </tr>
                <% } %>	
                <% } %>
            </tbody>
        </table>
        <form id="add-row-form" action="/atualizarleitosaojorge" method="POST">
       <div class="modal fade" id="DescModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                         <h3 class="modal-title">Atualização Setor</h3>
                    </div>
                
                    <div class="modal-body">
                                           
                        <div class="form-group">
                            <label for="posto"> Nome Paciente</label>
                            <input type="text" name="nome" id="nome" class="form-control paciente"  >
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="idpaciente" id="idpaciente" class="form-control id"  >
                        </div> 
                        <div class="form-group">
                            <label for="posto"> Setor</label>
                            <select name="setor" id="setor" class="form-control setor" required >
                                <option ></option> 
                            </select>
                            <input type="hidden" name="setor2" id="setor2" class="form-control setor2"  >
                        </div> 
                        <div class="form-group">
                            <label for="posto"> Leito</label>
                            <select name="leito" id="leito" class="form-control leito" required>
                                <option></option>  
                            </select>
                            <input type="hidden" name="leito2" id="leito2" class="form-control leito2"  >
                        </div> 
                        <div class="form-group">
                            <label for="posto"> Acomodação</label>
                            <select name="acomodacao" id="acomodacao" class="form-control leito" required >
                                <option></option>  
                            </select>
                            <input type="hidden" name="acomodacao2" id="acomodacao2" class="form-control acomodacao2"  >
                        </div> 
                        
                    <input  type="hidden" class="form-control idusuario"  name="idusuario" id="idusuario">
                           
                    <div class="modal-footer">
                        <input type="submit" value="Atualizar" class="btn btn-success">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog-->
        </div>
    </form>
        <br>
        <br>
        <br>
        <% } %>	
        <% } %>
<!-- Importando o jQuery -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.2/js/dataTables.select.min.js" ></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>



<!-- Importando o js do bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>   
$(document).ready(function() {
    $("input[type=submit]").prop("disabled", true);
 obj = [];
    $.ajax({
        type: "GET",
        data: obj,
        contentType: 'application/json',
        url: '/buscarsetorsaojorge',
        success: function(obj) {  
            if (obj.length > 0){
                var option = '<option>Selecione o Leito </option>';
                for (var i=0;i<obj.length;i++){
                var setor = obj[i].setor;
                option += '<option value="'+setor+'">'+setor+'</option>';
            }
			  $('#setor').html(option).show();
            }
        }
    });
});

$("#setor").on('change', function(e){
    var select = document.getElementById("setor");
    var opcaoValor = select.options[select.selectedIndex].value;
    data = [];
    $.ajax({
        type: "GET",
        data: { valor: opcaoValor},
        contentType: 'application/json',
        url: '/buscarleitossaojorge',
        success: function(data) {  
            if (data.length > 0){
                var option = '<option>Selecione o Leito </option>';
                for (var i=0;i<data.length;i++){
                var leito = data[i].leitos;
                option += '<option value="'+leito+'">'+leito+'</option>';
            }
			  $('#leito').html(option).show();
            }
        }
    });
});

$("#leito").on('change', function(e){
    var select = document.getElementById("setor");
    var opcaoValor =  select.options[select.selectedIndex].value;
    var selectleito = document.getElementById("leito");
    var opcaoValorleito =  selectleito.options[selectleito.selectedIndex].value;
    dataleito = [];
    $.ajax({
        type: "GET",
        data: { valorleito: opcaoValorleito, valorsetor: opcaoValor},
        contentType: 'application/json',
        url: '/buscaracomodacaosaojorge',
        success: function(dataleito) {  
            if (dataleito.length > 0){
                var option = '<option>Selecione a Acomodação </option>';
                for (var i=0;i<dataleito.length;i++){
                var acomodacao = dataleito[i].acomodacao;
                option += '<option value="'+acomodacao+'">'+acomodacao+'</option>';
            }
			  $('#acomodacao').html(option).show();
            }
        }
    });
});

$("#setor").on('change', function(e){
	var setor = document.getElementById('setor').value;
	document.getElementById('setor2').value = setor;
});

$("#leito").on('change', function(e){
	var leito = document.getElementById('leito').value;
	document.getElementById('leito2').value = leito;
});

$("#acomodacao").on('change', function(e){
	var acomodacao = document.getElementById('acomodacao').value;
	document.getElementById('acomodacao2').value = acomodacao;
    variavelacomodacao = document.getElementById('acomodacao2').value;
    if (variavelacomodacao != null) {
        $("input[type=submit]").prop("disabled", false);
    }
});

$('#mytable').on('dblclick', 'tr', function () {
        var idpaciente = "";
        var leito = "";
        var setor = "";
        var nome = "";
        var idusuario = "";
        
        var tableData = $(this).children("td").map(function()         {
         return $(this).text();
         }).get();
         idusuario = document.getElementById('usuario').value;
         setor2 =$.trim(tableData[2]);
         leito2 =$.trim(tableData[3]);
         nome =$.trim(tableData[1]);
         idpaciente =$.trim(tableData[0]);
         $('input.setor2').val(setor2);
         $('input.leito2').val(leito2);
         $('input.id').val(idpaciente);
         $('input.paciente').val(nome);
         $('input.idusuario').val(idusuario);
        $('#DescModal').modal("show");
    });


 $(document).ready(function() {
        $('#mytable').DataTable( {
            dom: 'Bfrtip',
            order:false,
            "scrollX": true,  
   
        pageLength: 50,
        buttons: [       
            {
                "extend": "copyHtml5",
                "text": "COPIAR",
               
                footer:true
            },          
            {
                "extend": "pdf",
                "text": "PDF",
               
                footer:true
            },
            {
                "extend": "excelHtml5",
                "text": "EXCEL",
                messageTop: 'Kaban SaoJorge',
               
                footer:true
            },
            {
                "extend": "print",
                "text": "IMPRIMIR",
               
                footer:true
            },
        ],language: {
            buttons: {
                copyTitle: 'Copiado para área de transferência',
                copyKeys: 'Appuyez sur <i>ctrl</i> ou <i>\u2318</i> + <i>C</i> pour copier les données du tableau à votre presse-papiers. <br><br>Pour annuler, cliquez sur ce message ou appuyez sur Echap.',
                copySuccess: {
                    _: '%d linhas copiadas',
                    1: '1 linha copiada'
                }
            },
            "paginate": {
                "previous": "Anterior",
                "next": "Próximo"
            },
            "search": "Pesquisar:"
        },
        select: true
    });   
});

 </script>
<%- include('../../home/footer'); %>
</body>
</html>
