<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>ScoreSystem</title>
		
		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<!-- favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" />
	</head>

	<body onload="myFunction()">

		<nav class="navbar navbar-default navbar-static-top">
			<a class="navbar-brand navbar-left" href="#">
				<img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
				ScoreSystem
				<% if(id.length > 0) { %>
					<% for(var i = 0; i < id.length; i++) {%>
						<% if(id[i].id_usuario==1 || id[i].id_usuario==8){%>
				<div class="navbar-header">
					<select name="uai"  class="selectpicker" id="uai">
						<option value="Planalto">Planalto</option>
						<option value="Luizote">Luizote</option>
						<option value="Roosevelt">Roosevelt</option>
						<option value="Martins">Martins</option>
						<option value="Morumbi">Morumbi</option>
						<option value="Tibery">Tibery</option>
					</select>
				</div>
				<% } %>
				<% } %>
				<% } %>
				<% if(id.length > 0) { %>
					<% for(var i = 0; i < id.length; i++) {%>
						<% if(id[i].unidade==1){%>
				<div class="navbar-header">
					<select name="uai" selected  class="selectpicker" id="uai">
						<option value="Planalto">Planalto</option>
					</select>
				</div>
				<% } %>
				<% } %>
				<% } %>
				<% if(id.length > 0) { %>
					<% for(var i = 0; i < id.length; i++) {%>
						<% if(id[i].unidade==2){%>
				<div class="navbar-header">
					<select name="uai" selected  class="selectpicker" id="uai">
						<option value="Luizote">Luizote</option>
					</select>
				</div>
				<% } %>
				<% } %>
				<% } %>
				<% if(id.length > 0) { %>
					<% for(var i = 0; i < id.length; i++) {%>
						<% if(id[i].unidade==3){%>
				<div class="navbar-header">
					<select name="uai" selected  class="selectpicker" id="uai">
						<option value="Martins">Martins</option>
					</select>
				</div>
				<% } %>
				<% } %>
				<% } %>
				<% if(id.length > 0) { %>
					<% for(var i = 0; i < id.length; i++) {%>
						<% if(id[i].unidade==4){%>
				<div class="navbar-header">
					<select name="uai" selected  class="selectpicker" id="uai">
						<option value="Roosevelt">Roosevelt</option>
					</select>
				</div>
				<% } %>
				<% } %>
				<% } %>
				<% if(id.length > 0) { %>
					<% for(var i = 0; i < id.length; i++) {%>
						<% if(id[i].unidade==5){%>
				<div class="navbar-header">
					<select name="uai" selected  class="selectpicker" id="uai">
						<option value="Morumbi">Morumbi</option>
					</select>
				</div>
				<% } %>
				<% } %>
				<% } %>
				<% if(id.length > 0) { %>
					<% for(var i = 0; i < id.length; i++) {%>
						<% if(id[i].unidade==6){%>
				<div class="navbar-header">
					<select name="uai" selected  class="selectpicker" id="uai">
						<option value="Tibery">Tibery</option>
					</select>
				</div>
				<% } %>
				<% } %>
				<% } %>
			</a>
			
	
				<div id="navbar" class="collapse navbar-collapse navbar-right">
					<ul class="nav navbar-nav navbar-right">
						<% if(id.length > 0) { %>
							<% for(var i = 0; i < id.length; i++) {%>
								<% if(id[i].autorizacao==1){%>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="paciente?id=<%=id[i].id_usuario %>">Cadastrar Exames</a></button>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="pacientes?id=<%=id[i].id_usuario %>">Relatorio Exames</a></button>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="status?id=<%=id[i].id_usuario %>">Status Covid</a></button>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="/sair">Sair</a></button>
						<% } %>
							<% } %>	
								<% } %>
								<% if(id.length > 0) { %>
									<% for(var i = 0; i < id.length; i++) {%>
										<% if(id[i].autorizacao==5){%>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="paciente?id=<%=id[i].id_usuario %>">Cadastrar Exames</a></button>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="pacientes?id=<%=id[i].id_usuario %>">Relatorio Exames</a></button>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="status?id=<%=id[i].id_usuario %>">Status Covid</a></button>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="obito?id=<%=id[i].id_usuario %>">Obito</a></button>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="rouparia?id=<%=id[i].id_usuario %>">Rouparia</a></button>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="isolamento?id=<%=id[i].id_usuario %>">Isolamento</a></button>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="sepse?id=<%=id[i].id_usuario %>">Sepse</a></button>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="indicador?id=<%=id[i].id_usuario %>">Indicador</a></button>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="lixo?id=<%=id[i].id_usuario %>">Lixo Hospitalar</a></button>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="/sair">Sair</a></button>
								<% } %>
									<% } %>	
										<% } %>
										<% if(id.length > 0) { %>
											<% for(var i = 0; i < id.length; i++) {%>
												<% if(id[i].autorizacao==3){%>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="obito?id=<%=id[i].id_usuario %>">Obito</a></button>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="isolamento?id=<%=id[i].id_usuario %>">Isolamento</a></button>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="sepse?id=<%=id[i].id_usuario %>"></a>Sepse</button>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="/sair">Sair</a></button>
										<% } %>
											<% } %>	
												<% } %>
							<% if(id.length > 0) { %>
								<% for(var i = 0; i < id.length; i++) {%>
									<% if(id[i].autorizacao==2){%>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="pacientes?id=<%=id[i].id_usuario %>">Relatorio Exames</a></button>
									<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="/sair">Sair</a></button>
							<% } %>
								<% } %>	
								<% } %>	
								<% if(id.length > 0) { %>
						        	<% for(var i = 0; i < id.length; i++) {%>
							        	<% if(id[i].autorizacao==4){%>
						        	<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="paciente?id=<%=id[i].id_usuario %>">Cadastrar Exames</a></button>
						        	<button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="pacientes?id=<%=id[i].id_usuario %>">Relatorio Exames</a></button>
                                    <button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="status?id=<%=id[i].id_usuario %>">Status Covid</a></button>
							        <button class="btn btn-success btn-sm dropdown-item" ><a class="btn btn-success btn-sm" href="/sair">Sair</a></button>
					            <% } %>
						        	<% } %>	
							            <% } %>
										
					</ul>
				</div>
			</nav>
			<script>
				$("#uai").on('change', function(e){
				myFunction();
		   });
			</script>
			
