<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">

		
			
		<title>ScoreSystem</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<!-- incluindo css -->
		<link href="/css/style.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.buttons.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous"></script>
		<!--Get your own code calendar-->
		<link href='/css/fullcalendar.min.css' rel='stylesheet' />
		<link href='/css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
		<link href='/css/personalizado.css' rel='stylesheet' />
		
		
		<!-- favicon -->
		<link rel="shortcut icon" href="/images/favicon.ico" />
	</head>

	<body>
		
		<nav class="navbar navbar-default">
			<div id="nav">
			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				 <span class="sr-only">Toggle navigation</span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				 </button>
				 <a href="#" data-toggle="modal" data-target="#trocarmodulo" id="modulo" ><img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""></a>
				 <% if(id.length > 0) { %>
					<% for(var i = 0; i < id.length; i++) {%>
						
						<input type="hidden" name="id" id="id" value="<%=id[i].id_usuario %>">
			  </a>
			</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
			
						<% if(id[i].kamban== 1){%>
							<% if(id[i].admin== 1){%>
							<li class="btn-success">
								<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Uai Planalto</a>
								<ul class="dropdown-menu">
									<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacienteplanalto?id=<%=id[i].id_usuario %>">Pacientes</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/exameplanalto?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
									
									<li class="btn-success"><a class="btn   btn-sm" href="/fugulinplanalto?id=<%=id[i].id_usuario %>">Fugulin</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/newskabanplanalto?id=<%=id[i].id_usuario %>">News</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/tissplanalto?id=<%=id[i].id_usuario %>">TISS</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/dispositivoplanalto?id=<%=id[i].id_usuario %>">Dispositivo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/historicokabanplanalto?id=<%=id[i].id_usuario %>">Historico Paciente</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatorioadmkabanplanalto?id=<%=id[i].id_usuario %>">Relatório Administrativo</a></li>
								
									<li class="btn-success"><a class="btn   btn-sm" href="/relatoriokabanplanalto?id=<%=id[i].id_usuario %>">Relatório</a></li>
								</ul>
							 </li>
							 <li class="btn-success">
								<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Uai Luizote</a>
								<ul class="dropdown-menu">
									
									<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacienteluizote?id=<%=id[i].id_usuario %>">Pacientes</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/exameluizote?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
									
									<li class="btn-success"><a class="btn   btn-sm" href="/fugulinluizote?id=<%=id[i].id_usuario %>">Fugulin</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/newskabanluizote?id=<%=id[i].id_usuario %>">News</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/tissluizote?id=<%=id[i].id_usuario %>">TISS</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/dispositivoluizote?id=<%=id[i].id_usuario %>">Dispositivo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/historicokabanluizote?id=<%=id[i].id_usuario %>">Historico Paciente</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatorioadmkabanluizote?id=<%=id[i].id_usuario %>">Relatório Administrativo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatoriokabanluizote?id=<%=id[i].id_usuario %>">Relatório</a></li>
								</ul>
							 </li>
							 <li class="btn-success">
								<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Uai Martins</a>
								<ul class="dropdown-menu">
									<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacientemartins?id=<%=id[i].id_usuario %>">Pacientes</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/examemartins?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
									
									<li class="btn-success"><a class="btn   btn-sm" href="/fugulinmartins?id=<%=id[i].id_usuario %>">Fugulin</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/newskabanmartins?id=<%=id[i].id_usuario %>">News</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/tissmartins?id=<%=id[i].id_usuario %>">TISS</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/dispositivomartins?id=<%=id[i].id_usuario %>">Dispositivo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/historicokabanmartins?id=<%=id[i].id_usuario %>">Historico Paciente</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatorioadmkabanmartins?id=<%=id[i].id_usuario %>">Relatório Administrativo</a></li>
								
									<li class="btn-success"><a class="btn   btn-sm" href="/relatoriokabanmartins?id=<%=id[i].id_usuario %>">Relatório</a></li>
								</ul>
							 </li>
							 <li class="btn-success">
								<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Uai Roosevelt</a>
								<ul class="dropdown-menu">
									<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacienteroosevelt?id=<%=id[i].id_usuario %>">Pacientes</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/exameroosevelt?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
									
									<li class="btn-success"><a class="btn   btn-sm" href="/fugulinroosevelt?id=<%=id[i].id_usuario %>">Fugulin</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/newskabanroosevelt?id=<%=id[i].id_usuario %>">News</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/tissroosevelt?id=<%=id[i].id_usuario %>">TISS</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/dispositivoroosevelt?id=<%=id[i].id_usuario %>">Dispositivo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/historicokabanroosevelt?id=<%=id[i].id_usuario %>">Historico Paciente</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatorioadmkabanroosevelt?id=<%=id[i].id_usuario %>">Relatório Administrativo</a></li>
								
									<li class="btn-success"><a class="btn   btn-sm" href="/relatoriokabanroosevelt?id=<%=id[i].id_usuario %>">Relatório</a></li>
								</ul>
							 </li>
							 <li class="btn-success">
								<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Uai Tibery</a>
								<ul class="dropdown-menu">
									<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacientetibery?id=<%=id[i].id_usuario %>">Pacientes</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/exametibery?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
									
									<li class="btn-success"><a class="btn   btn-sm" href="/fugulintibery?id=<%=id[i].id_usuario %>">Fugulin</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/newskabantibery?id=<%=id[i].id_usuario %>">News</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/tisstibery?id=<%=id[i].id_usuario %>">TISS</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/dispositivotibery?id=<%=id[i].id_usuario %>">Dispositivo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/historicokabantibery?id=<%=id[i].id_usuario %>">Historico Paciente</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatorioadmkabantibery?id=<%=id[i].id_usuario %>">Relatório Administrativo</a></li>
								
									<li class="btn-success"><a class="btn   btn-sm" href="/relatoriokabantibery?id=<%=id[i].id_usuario %>">Relatório</a></li>
								</ul>
							 </li>
							 <li class="btn-success">
								<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Uai Morumbi</a>
								<ul class="dropdown-menu">
									<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacientemorumbi?id=<%=id[i].id_usuario %>">Pacientes</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/examemorumbi?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
									
									<li class="btn-success"><a class="btn   btn-sm" href="/fugulinmorumbi?id=<%=id[i].id_usuario %>">Fugulin</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/newskabanmorumbi?id=<%=id[i].id_usuario %>">News</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/tissmorumbi?id=<%=id[i].id_usuario %>">TISS</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/dispositivomorumbi?id=<%=id[i].id_usuario %>">Dispositivo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/historicokabanmorumbi?id=<%=id[i].id_usuario %>">Historico Paciente</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatorioadmkabanmorumbi?id=<%=id[i].id_usuario %>">Relatório Administrativo</a></li>
								
									<li class="btn-success"><a class="btn   btn-sm" href="/relatoriokabanmorumbi?id=<%=id[i].id_usuario %>">Relatório</a></li>
								</ul>
							 </li>
							 <li class="btn-success">
								<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> São Jorge</a>
								<ul class="dropdown-menu">
									<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacientesaojorge?id=<%=id[i].id_usuario %>">Pacientes</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/examesaojorge?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
									
									<li class="btn-success"><a class="btn   btn-sm" href="/fugulinsaojorge?id=<%=id[i].id_usuario %>">Fugulin</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/newskabansaojorge?id=<%=id[i].id_usuario %>">News</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/tisssaojorge?id=<%=id[i].id_usuario %>">TISS</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/dispositivosaojorge?id=<%=id[i].id_usuario %>">Dispositivo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/historicokabansaojorge?id=<%=id[i].id_usuario %>">Historico Paciente</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatorioadmkabansaojorge?id=<%=id[i].id_usuario %>">Relatório Administrativo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatoriosaojorge?id=<%=id[i].id_usuario %>">Relatório</a></li>
								</ul>
							 </li>
							 <li class="btn-success">
								<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Pampulha</a>
								<ul class="dropdown-menu">
									<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacientepampulha?id=<%=id[i].id_usuario %>">Pacientes</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/examepampulha?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
									
									<li class="btn-success"><a class="btn   btn-sm" href="/fugulinpampulha?id=<%=id[i].id_usuario %>">Fugulin</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/newskabanpampulha?id=<%=id[i].id_usuario %>">News</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/tisspampulha?id=<%=id[i].id_usuario %>">TISS</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/dispositivopampulha?id=<%=id[i].id_usuario %>">Dispositivo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/historicokabanpampulha?id=<%=id[i].id_usuario %>">Historico Paciente</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatorioadmkabanpampulha?id=<%=id[i].id_usuario %>">Relatório Administrativo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatoriopampulha?id=<%=id[i].id_usuario %>">Relatório</a></li>
								</ul>
							 </li>
							 <li class="btn-success"><a class="btn  btn-sm" href="/sair">Sair</a></li>
							 <% } %>
						<% if(id[i].enfermeiro==1){%>
							<% if(id[i].unidade==1){%>
								<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacienteplanalto?id=<%=id[i].id_usuario %>">Pacientes</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/exameplanalto?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
									
									<li class="btn-success"><a class="btn   btn-sm" href="/fugulinplanalto?id=<%=id[i].id_usuario %>">Fugulin</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/newskabanplanalto?id=<%=id[i].id_usuario %>">News</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/tissplanalto?id=<%=id[i].id_usuario %>">TISS</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/dispositivoplanalto?id=<%=id[i].id_usuario %>">Dispositivo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/historicokabanplanalto?id=<%=id[i].id_usuario %>">Historico Paciente</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatoriokabanplanalto?id=<%=id[i].id_usuario %>">Relatório</a></li>
					
								<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
							<% } %>
							<% if(id[i].unidade==2){%>
								<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacienteluizote?id=<%=id[i].id_usuario %>">Pacientes</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/exameluizote?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
									
									<li class="btn-success"><a class="btn   btn-sm" href="/fugulinluizote?id=<%=id[i].id_usuario %>">Fugulin</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/newskabanluizote?id=<%=id[i].id_usuario %>">News</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/tissluizote?id=<%=id[i].id_usuario %>">TISS</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/dispositivoluizote?id=<%=id[i].id_usuario %>">Dispositivo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/historicokabanluizote?id=<%=id[i].id_usuario %>">Historico Paciente</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatoriokabanluizote?id=<%=id[i].id_usuario %>">Relatório</a></li>
					
								<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
							<% } %>
							<% if(id[i].unidade==3){%>
								<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacientemartins?id=<%=id[i].id_usuario %>">Pacientes</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/examemartins?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
									
									<li class="btn-success"><a class="btn   btn-sm" href="/fugulinmartins?id=<%=id[i].id_usuario %>">Fugulin</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/newskabanmartins?id=<%=id[i].id_usuario %>">News</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/tissmartins?id=<%=id[i].id_usuario %>">TISS</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/dispositivomartins?id=<%=id[i].id_usuario %>">Dispositivo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/historicokabanmartins?id=<%=id[i].id_usuario %>">Historico Paciente</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatorikabanomartins?id=<%=id[i].id_usuario %>">Relatório</a></li>
					
								<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
							<% } %>
							<% if(id[i].unidade==4){%>
								<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacienteroosevelt?id=<%=id[i].id_usuario %>">Pacientes</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/exameroosevelt?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
									
									<li class="btn-success"><a class="btn   btn-sm" href="/fugulinroosevelt?id=<%=id[i].id_usuario %>">Fugulin</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/newskabanroosevelt?id=<%=id[i].id_usuario %>">News</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/tissroosevelt?id=<%=id[i].id_usuario %>">TISS</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/dispositivoroosevelt?id=<%=id[i].id_usuario %>">Dispositivo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/historicokabanroosevelt?id=<%=id[i].id_usuario %>">Historico Paciente</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatoriokabanroosevelt?id=<%=id[i].id_usuario %>">Relatório</a></li>
					
								<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
							<% } %>
							<% if(id[i].unidade==5){%>
								<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacientemorumbi?id=<%=id[i].id_usuario %>">Pacientes</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/examemorumbi?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
									
									<li class="btn-success"><a class="btn   btn-sm" href="/fugulinmorumbi?id=<%=id[i].id_usuario %>">Fugulin</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/newskabanmorumbi?id=<%=id[i].id_usuario %>">News</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/tissmorumbi?id=<%=id[i].id_usuario %>">TISS</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/dispositivomorumbi?id=<%=id[i].id_usuario %>">Dispositivo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/historicokabanmorumbi?id=<%=id[i].id_usuario %>">Historico Paciente</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatoriokabanmorumbi?id=<%=id[i].id_usuario %>">Relatório</a></li>
					
								<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
							<% } %>
							<% if(id[i].unidade==6){%>
								<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacientetibery?id=<%=id[i].id_usuario %>">Pacientes</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/exametibery?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
									
									<li class="btn-success"><a class="btn   btn-sm" href="/fugulintibery?id=<%=id[i].id_usuario %>">Fugulin</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/newskabantibery?id=<%=id[i].id_usuario %>">News</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/tisstibery?id=<%=id[i].id_usuario %>">TISS</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/dispositivotibery?id=<%=id[i].id_usuario %>">Dispositivo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/historicokabantibery?id=<%=id[i].id_usuario %>">Historico Paciente</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatoriokabantibery?id=<%=id[i].id_usuario %>">Relatório</a></li>
					
								<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
							<% } %>
							<% if(id[i].unidade==7){%>
								<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacientesaojorge?id=<%=id[i].id_usuario %>">Pacientes</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/examesaojorge?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
									
									<li class="btn-success"><a class="btn   btn-sm" href="/fugulinsaojorge?id=<%=id[i].id_usuario %>">Fugulin</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/newskabansaojorge?id=<%=id[i].id_usuario %>">News</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/tisssaojorge?id=<%=id[i].id_usuario %>">TISS</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/dispositivosaojorge?id=<%=id[i].id_usuario %>">Dispositivo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/historicokabansaojorge?id=<%=id[i].id_usuario %>">Historico Paciente</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatoriokabansaojorge?id=<%=id[i].id_usuario %>">Relatório</a></li>
					
								<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
							<% } %>
							<% if(id[i].unidade==8){%>
								<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacientepampulha?id=<%=id[i].id_usuario %>">Pacientes</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/examepampulha?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
									
									<li class="btn-success"><a class="btn   btn-sm" href="/fugulinpampulha?id=<%=id[i].id_usuario %>">Fugulin</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/newskabanpampulha?id=<%=id[i].id_usuario %>">News</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/tisspampulha?id=<%=id[i].id_usuario %>">TISS</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/dispositivopampulha?id=<%=id[i].id_usuario %>">Dispositivo</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/historicokabanpampulha?id=<%=id[i].id_usuario %>">Historico Paciente</a></li>

									<li class="btn-success"><a class="btn   btn-sm" href="/relatoriokabanpampulha?id=<%=id[i].id_usuario %>">Relatório</a></li>
					
								<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
							<% } %>
							<% } %>
							<% if(id[i].tecenfermagem==1){%>
								<% if(id[i].unidade==1){%>
										
										<li class="btn-success"><a class="btn   btn-sm" href="/newskabanplanalto?id=<%=id[i].id_usuario %>">News</a></li>
	
										<li class="btn-success"><a class="btn   btn-sm" href="/relatorioplanalto?id=<%=id[i].id_usuario %>">Relatório</a></li>
						
									<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
								<% } %>
								<% if(id[i].unidade==2){%>
									
										<li class="btn-success"><a class="btn   btn-sm" href="/newskabanluizote?id=<%=id[i].id_usuario %>">News</a></li>
		
										<li class="btn-success"><a class="btn   btn-sm" href="/relatorioluizote?id=<%=id[i].id_usuario %>">Relatório</a></li>
						
									<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
								<% } %>
								<% if(id[i].unidade==3){%>
										
										<li class="btn-success"><a class="btn   btn-sm" href="/newskabanmartins?id=<%=id[i].id_usuario %>">News</a></li>
		
										<li class="btn-success"><a class="btn   btn-sm" href="/relatoriomartins?id=<%=id[i].id_usuario %>">Relatório</a></li>
						
									<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
								<% } %>
								<% if(id[i].unidade==4){%>
										
										<li class="btn-success"><a class="btn   btn-sm" href="/newskabanroosevelt?id=<%=id[i].id_usuario %>">News</a></li>
		
										<li class="btn-success"><a class="btn   btn-sm" href="/relatorioroosevelt?id=<%=id[i].id_usuario %>">Relatório</a></li>
						
									<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
								<% } %>
								<% if(id[i].unidade==5){%>
										
										<li class="btn-success"><a class="btn   btn-sm" href="/newskabanmorumbi?id=<%=id[i].id_usuario %>">News</a></li>
		
										<li class="btn-success"><a class="btn   btn-sm" href="/relatoriomorumbi?id=<%=id[i].id_usuario %>">Relatório</a></li>
						
									<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
								<% } %>
								<% if(id[i].unidade==6){%>
										
										<li class="btn-success"><a class="btn   btn-sm" href="/newskabantibery?id=<%=id[i].id_usuario %>">News</a></li>
	
										<li class="btn-success"><a class="btn   btn-sm" href="/relatoriotibery?id=<%=id[i].id_usuario %>">Relatório</a></li>
						
									<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
								<% } %>
								<% if(id[i].unidade==7){%>
										
										<li class="btn-success"><a class="btn   btn-sm" href="/newskabansaojorge?id=<%=id[i].id_usuario %>">News</a></li>
	
										<li class="btn-success"><a class="btn   btn-sm" href="/relatoriosaojorge?id=<%=id[i].id_usuario %>">Relatório</a></li>
						
									<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
								<% } %>
								<% if(id[i].unidade==8){%>
										
										<li class="btn-success"><a class="btn   btn-sm" href="/newskabanpampulha?id=<%=id[i].id_usuario %>">News</a></li>
	
										<li class="btn-success"><a class="btn   btn-sm" href="/relatoriopampulha?id=<%=id[i].id_usuario %>">Relatório</a></li>
						
									<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
								<% } %>
								<% } %>
								<% if(id[i].ssocial==1){%>
									<% if(id[i].unidade==1){%>
										<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacienteplanalto?id=<%=id[i].id_usuario %>">Pacientes</a></li>
		
											<li class="btn-success"><a class="btn   btn-sm" href="/exameplanalto?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
		
											<li class="btn-success"><a class="btn   btn-sm" href="/relatorioplanalto?id=<%=id[i].id_usuario %>">Relatório</a></li>
							
										<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
									<% } %>
									<% if(id[i].unidade==2){%>
										<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacienteluizote?id=<%=id[i].id_usuario %>">Pacientes</a></li>
		
											<li class="btn-success"><a class="btn   btn-sm" href="/exameluizote?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
		
											<li class="btn-success"><a class="btn   btn-sm" href="/relatorioluizote?id=<%=id[i].id_usuario %>">Relatório</a></li>
							
										<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
									<% } %>
									<% if(id[i].unidade==3){%>
										<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacientemartins?id=<%=id[i].id_usuario %>">Pacientes</a></li>
		
											<li class="btn-success"><a class="btn   btn-sm" href="/examemartins?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
		
											<li class="btn-success"><a class="btn   btn-sm" href="/relatoriomartins?id=<%=id[i].id_usuario %>">Relatório</a></li>
							
										<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
									<% } %>
									<% if(id[i].unidade==4){%>
										<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacienteroosevelt?id=<%=id[i].id_usuario %>">Pacientes</a></li>
		
											<li class="btn-success"><a class="btn   btn-sm" href="/exameroosevelt?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
		
											<li class="btn-success"><a class="btn   btn-sm" href="/relatorioroosevelt?id=<%=id[i].id_usuario %>">Relatório</a></li>
							
										<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
									<% } %>
									<% if(id[i].unidade==5){%>
										<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacientemorumbi?id=<%=id[i].id_usuario %>">Pacientes</a></li>
		
											<li class="btn-success"><a class="btn   btn-sm" href="/examemorumbi?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
		
											<li class="btn-success"><a class="btn   btn-sm" href="/relatoriomorumbi?id=<%=id[i].id_usuario %>">Relatório</a></li>
							
										<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
									<% } %>
									<% if(id[i].unidade==6){%>
										<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacientetibery?id=<%=id[i].id_usuario %>">Pacientes</a></li>
		
											<li class="btn-success"><a class="btn   btn-sm" href="/exametibery?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
		
											<li class="btn-success"><a class="btn   btn-sm" href="/relatoriotibery?id=<%=id[i].id_usuario %>">Relatório</a></li>
							
										<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
									<% } %>
									<% if(id[i].unidade==7){%>
										<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacientesaojorge?id=<%=id[i].id_usuario %>">Pacientes</a></li>
		
											<li class="btn-success"><a class="btn   btn-sm" href="/examesaojorge?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
		
											<li class="btn-success"><a class="btn   btn-sm" href="/relatoriosaojorge?id=<%=id[i].id_usuario %>">Relatório</a></li>
							
										<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
									<% } %>
									<% if(id[i].unidade==8){%>
										<li class="btn-success"><a class="btn   btn-sm" href="/kabanpacientepampulha?id=<%=id[i].id_usuario %>">Pacientes</a></li>
		
											<li class="btn-success"><a class="btn   btn-sm" href="/examepampulha?id=<%=id[i].id_usuario %>">Lista de Exames</a></li>
		
											<li class="btn-success"><a class="btn   btn-sm" href="/relatoriopampulha?id=<%=id[i].id_usuario %>">Relatório</a></li>
							
										<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
									<% } %>
									<% } %>
									<% if(id[i].administrativo==1){%>
										<% if(id[i].unidade==1){%>
											<li class="btn-success"><a class="btn   btn-sm" href="/relatorioadmkabanplanalto?id=<%=id[i].id_usuario %>">Relatório Administrativo</a></li>
								
											<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
										<% } %>
										<% if(id[i].unidade==2){%>
											<li class="btn-success"><a class="btn   btn-sm" href="/relatorioadmkabanluizote?id=<%=id[i].id_usuario %>">Relatório Administrativo</a></li>
								
											<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
										<% } %>
										<% if(id[i].unidade==3){%>
											<li class="btn-success"><a class="btn   btn-sm" href="/relatorioadmkabanmartins?id=<%=id[i].id_usuario %>">Relatório Administrativo</a></li>
								
											<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
										<% } %>
										<% if(id[i].unidade==4){%>
											<li class="btn-success"><a class="btn   btn-sm" href="/relatorioadmkabanroosevelt?id=<%=id[i].id_usuario %>">Relatório Administrativo</a></li>
								
											<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
										<% } %>
										<% if(id[i].unidade==5){%>
											<li class="btn-success"><a class="btn   btn-sm" href="/relatorioadmkabanmorumbi?id=<%=id[i].id_usuario %>">Relatório Administrativo</a></li>
								
											<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
										<% } %>
										<% if(id[i].unidade==6){%>
											<li class="btn-success"><a class="btn   btn-sm" href="/relatorioadmkabantibery?id=<%=id[i].id_usuario %>">Relatório Administrativo</a></li>
								
											<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
										<% } %>
										<% if(id[i].unidade==7){%>
											<li class="btn-success"><a class="btn   btn-sm" href="/relatorioadmkabansaojorge?id=<%=id[i].id_usuario %>">Relatório Administrativo</a></li>
								
											<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
										<% } %>
										<% if(id[i].unidade==8){%>
											<li class="btn-success"><a class="btn   btn-sm" href="/relatorioadmkabanpampulha?id=<%=id[i].id_usuario %>">Relatório Administrativo</a></li>
								
											<li class="btn-success"><a class="btn   btn-sm" href="/sair">Sair</a></li>
										<% } %>
										<% } %>
				<% } %>
					<% } %>	
						<% } %>
							</ul>
						</ul>
						<ul class="nav navbar-nav navbar-right">
						</ul>
					 </div>
					 <!-- /.navbar-collapse -->
				   </div>
				   <!-- /.container-fluid -->
				   </nav>
			
							<!-- Delete Product Modal-->
		<form id="add-row-form2" action="/trocarmodulo" method="POST">
			<div class="modal fade" id="trocarmodulo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h2 class="modal-title" id="myModalLabel">Selecione o modulo</h2>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
									aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">
							<input type="hidden" name="usuario2" id="usuario2" placeholder="Usuário" class="form-control" autocomplete="off" required />
							<input type="hidden" name="senha2" id="senha2" placeholder="Senha" class="form-control" required />
							<div class="input-group form-group">
			
								<select onChange="update()" id="funcao"  class="form-control form-control-lg"  style="width: 100%;" required>
									<option></option>
								</select>
								<input  type="hidden" name="cargo" id="cargo">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
							<button type="submit" class="btn btn-success">Entrar</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
			<script>
				
		   function update() {
		var select = document.getElementById('funcao');
		var option = select.options[select.selectedIndex];

		var opcao = option.value;
		document.getElementById('cargo').value = opcao;
	
	}

	update();
		   $("#modulo").click(function(){
	var id = document.getElementById("id").value;
	console.log(id);
	
	obj = [];
    $.ajax({
        type: "GET",
        data: {id: id},
        contentType: 'application/json',
        url: '/modulo',
        success: function(obj) { 
				console.log(obj);
            if (obj.length > 0){
				document.getElementById("usuario2").value=obj[0].usuario;
				document.getElementById("senha2").value=obj[0].senha; 
                var option = '<option>Selecione o modulo </option>';
				if(obj[0].kamban == 1){
					var kamban = "kamban";
               		option += '<option value="'+kamban+'">'+kamban+'</option>';
				}
				if(obj[0].scih == 1){
					var SCIH = "SCIH";
               		option += '<option value="'+SCIH+'">'+SCIH+'</option>';
				}
				if(obj[0].regulacao == 1){
					var regulacao = "Regulacao Covid";
               		option += '<option value="'+regulacao+'">'+regulacao+'</option>';
				}
				if(obj[0].smh == 1){
					var smh = "SM Hospitalidade";
               		option += '<option value="'+smh+'">'+smh+'</option>';
				}
				if(obj[0].smu == 1){
					var smu = "SM Urgência";
               		option += '<option value="'+smu+'">'+smu+'</option>';
				}
				if(obj[0].gestao == 1){
					var gestao = "Gestão de Leitos";
               		option += '<option value="'+gestao+'">'+gestao+'</option>';
				}
				if(obj[0].equipamentos == 1){
					var equipamentos = "Central de Equipamentos";
               		option += '<option value="'+equipamentos+'">'+equipamentos+'</option>';
				}
				if(obj[0].obstetricia == 1){
					var obstetricia = "Obstetricia";
               		option += '<option value="'+obstetricia+'">'+obstetricia+'</option>';
				}
               
            }
			  $('#funcao').html(option).show();
            }
    });
});
$(document).ready(function() {
				$(".dropdown-toggle").dropdown();
			});
			
			</script>
			